.med-library
	position relative 
	background #fff
	margin-bottom 20px
	padding 38px
	box-shadow 0 2px 4px rgba(0,64,76,.15)
	border-radius 3px
	zoom 1
	&:before, &:after
		content ""
		display table
	&:after
		clear both 
	&__list-wrap
		margin 0 -15px
	&__list
		position relative
		&:before
			content ""	 
			position absolute
			top 0
			left 0 
			width 100% 
			height 2px 
			background #FFF 
	&__item
		position relative
		margin 0 15px 
		padding 15px 0
		border-top 1px solid #d9ecf0
		&:after
			content ""
			display table
			clear both 
	&__link
		float left
		display inline-block
		vertical-align baseline
		padding-right 20px 
		color link_color 
		font-size 15px 
		@media only screen and (max-width: 1024px)
			-ms-word-wrap break-word 
			word-wrap break-word 
	&__number-of-articles
		position absolute
		top 50%
		right 0
		margin-top -10px   
		font-size 15px
		font-weight bold
		color green_base  
		&.disabled
			display none
.header-styled
	&.header-styled_notopmargin
        margin-top 0
        margin-bottom 10px
		.h1  
			color text_color 
.med-articles-list
	margin-bottom 45px
	padding 0 40px 
	zoom 1
	@media phone
		padding 0 30px
		margin-bottom 25px
.med-articles-list
    &.med-library-page  
        .article-list-item
            padding 30px 0px
            border-bottom 1px solid #c0d2d6
            &:last-child 
                border: none
            &:first-child 
                display block
            &__image
                width 206px
                height 133px
                overflow hidden
                border-radius border_radius_sm
                @media screen560
                	margin 0
                	margin-bottom 10px 
            &__right-column
                padding-left 226px
                @media screen560
                    padding-left: 0
            &__title
                font-size 18px
            @media tablet_desktop
                &__inner
                    position relative
        
.widget-diseases
    .diseases-body
        padding 12px 21px
        border-top 1px dashed text_blue
        border-bottom 1px dashed text_blue            

.widget-online-diagnostic 
    transition: border-color .2s ease,box-shadow .2s ease
    &:hover
        box-shadow 0 10px 15px #e3e4ed
        border-color green_base
    .online-diagnostic
        border-top 1px dashed text_blue
        &__link
            display block
            width 100% 
            height 100% 
        &__img
            display block
            margin 0 auto 
            max-width 100% 