$counter_radius = 55px
.row-counters
    margin 40px 0 130px
    padding 0 15% 
    @media only screen and (max-width 1024px)
        padding 0 6%
    @media only screen and (max-width 850px)
        padding 0 4%
        
    >div
        padding 0
        @media tablet
            padding 0
        &:nth-child(1)
            .counter
                &:before
                    sprite($stat_daily)
        &:nth-child(2)
            padding-left 4%
            @media tablet
                padding-left 5%
            @media (max-width 850px)
                padding 0 
            .counter
                &:before 
                    sprite($stat_doctors)
        &:nth-child(3)
            .counter
                float right
                padding-right 10px
                &:before
                    sprite($stat_reviews)
    
.counter
    position relative
    height $counter_radius
    padding-left ($counter_radius + 12)
    color #fff
    
    &:before
        content ''
        position absolute
        left 0
        top 0
            
    &__digits 
        font-size 36px
        font-weight 700
        line-height 1
        @media (max-width 850px)
            font-size 32px
    &__title
        font-size 18px
        line-height 1  
        @media tablet
            font-size 16px
    