.logo
    float left
    position relative
    font-size: 0
    z-index 5
    &.visible-xs   
        margin-top 3px
        margin-right 20px
    a
        text-decoration: none
        white-space: nowrap
        font-size: 0
        display: block
    &__image
        display: inline-block
        vertical-align: middle
        margin-right: 21px
        @media phone
            margin-right 8px
            max-width: 100%
            height: auto !important
    &__text
        font-size: 16px 
        font-weight: 700
        text-transform: uppercase
        color: #00829b
        display: inline-block
        vertical-align: middle
        span
            color: green_base 
        @media only screen and (max-width: 1120px)
            display none 
.navbar-main
    .logo
        margin-right 10px 
        padding-top 5px 
        padding-bottom 5px 
        @media phone
            display block 
            width: 65px