.pill
    &[class*="color-"] input:checked + span
        color #fff
    input
        position absolute
        opacity 0
    >span
        border-radius 12px
        text-decoration none
        padding 1px 10px
        display inline-block
        cursor pointer
        > span 
            line-height 1
        &:hover 
            background-color transparent
    &.with-icon
        >span
            position relative
            >span
                margin-right 15px
        input
            + span:after
                display none
                .ie7_html &
                    display block
                content ''
                position absolute
                top 50%
                right 5px
                sprite($close_white_16)
                margin-top -6.5px
                opacity .3
            + span:hover:after
                opacity .75
            &:checked 
                + span:after
                    display block
        &.icon-left > span
            >span
                margin-left 15px
                margin-right 0
                @media phone
                    margin-right 15px
                    margin-left 0
            &:after
                right auto
                left 5px
                @media phone
                    right 5px
                    left auto

    &.color-red input:checked
        + span
            &
            &:hover
            &:focus
                background-color #e11f2a
    &.color-green input:checked 
        + span
            &
            &:hover
            &:focus
                background-color #2fb45f
    &.color-blue input:checked 
        + span
            &
            &:hover
            &:focus
                background-color #0068b5
    @media phone
        &.color-red>span
            color #e11f2a
        &.color-green>span
            color #07A540
        &.color-blue>span
            color #0068b5
        input:checked+span
        input:checked+span:hover
        input:checked+span:focus
            color #fff


.pill-group
    label
        margin-bottom 2px
    >.with-icon
        margin-bottom 0
        input
            + span
                line-height 18px
        input:checked
            + span
                &
                &:hover
                &:focus
                    color white
                    background-color blue_base
    >ul
        .with-icon
            input
                + span
                    padding-left 17px
                    line-height 18px
            input:checked
                + span
                    &
                    &:hover
                    &:focus
                        color white
                        background-color green_base
.districts-check-list .pill-group
    >ul
        .with-icon
            input
                + span
                    padding-left 9px