.partners
    margin-top 15px
    &__fieldset
        border 1px solid #fff
        padding 10px 0 0 14px
        max-width 190px
        @media phone_tablet
            max-width 100px
            padding 10px 0 0 8px
    &__title
        font-size 10px
        color #fff
        padding 0 2px
    &__item
        display inline-block
        margin-right 4px
        margin-bottom 10px
    &__item > img
        border 0 none
