+e("fieldset").fieldset
    +e("legend").title Наши партнеры:
    +e("a").item(href="http://chernovetskyiinvestments.com/", title="", target="_blank", rel="nofollow")
        img(src="/i/partner-1.png", alt="")
    +e("a").item(href="http://socpartnerstvo.org/", title="", target="_blank", rel="nofollow")
        img(src="/i/partner-2.png", alt="")
    +e("a").item(href="http://eda.ua/", title="", target="_blank", rel="nofollow")
        img(src="/i/partner-3.png", alt="")