+b.direction
	+e.left
		+e.title Направление:
		+e("a").btn.js-clone(href='#select-specialization', data-toggle='modal') 
			span Выберите направление
			i.btn__close.js-clear 
	+e.right
		+e.text найдено 
			b 120 предложений
