
.direction
	background-color white
	border-radius 2px
	box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
	font-size 16px
	padding 0 20px
	margin-bottom 20px
	clearfix()
	@media phone
		padding 0 10px
	&__left
		float left
		@media phone
			float none
			display block
	&__title
		display inline-block
		line-height 55px
		padding-right 20px
	&__btn
		position relative
		display inline-block
		font-size 14px
		border 1px solid rgba(129, 169, 177, 0.7)
		border-radius 2px
		box-shadow: 0 2px 4px rgba(0, 64, 76, 0.08)
		width 266px
		padding 5px 15px
		color #77969c
		text-decoration none
		&:focus
			text-decoration none
			color #77969c
		&:hover
			color #77969c
		&:after
			content ''
			position absolute
			right 15px
			top 45%
			display block
			width 0
			height 0
			border 5px solid transparent 
			border-top 5px solid #77969c
		
		
			
		.btn__close
			display none
			margin 0 0 -3px 20px 
			cursor: pointer
			width: 12px
			height: 12px
			background url('i/icons/action-close.png')  no-repeat
		.is-active
			display inline-block
				
	&__right
		float right
		line-height 55px
		@media phone
			float left

.section-action
	&__item
		background-color white
		border-radius 2px
		box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
		margin-bottom 20px 
		clearfix()
	&__left
		float left
		width 18%
		margin 0 2% 
		@media phone
			width 100%
			float none
			margin 0
		.card__left-side
			float none
			width auto
			padding-left 0
			.card__image
				margin 3px auto 10px
		.rating
			@media phone
				display block
			
			.rating__value
				margin-right 5px
		
		.card__testimonials
			padding-top 5px
			
	.item-left__mod
		.rating
			@media only screen and (max-width: 450px)
				position static
				width auto
		.card__testimonials
			@media only screen and (max-width: 450px)
				position static
	&__middle
		float left
		width 48%
		padding 25px
		border-right 1px dashed #c0d2d6 
		border-left 1px dashed #c0d2d6 
		@media phone
			border-right none
			border-left none
			width 100%
			float none
			padding 0 10px
		.main-title
			&__link
				font-size 18px
				font-weight 700
				line-height 26px
				color blue_link
			&__clinic
				display block
				padding-top 5px 
				font-size 14px
				color text_color
			&__special
				line-height 18px
				color rgba(#5e6e71, 0.79)
			.about
				padding-top 15px
				&__item
					font-size 14px
					font-weight 400
					color text_color
					&:before
						content "- "
						display inline-block
						padding-right 5px
	&__right 
		padding 25px
		float left
		width 30%
		@media phone
			float none
			width 100%
			text-align center
			padding 10px 10px 25px 10px
			
		.right-info
			clearfix()
			&__benefit
				position relative
				padding 5px 20px 5px 39px
				border: 1px dashed green_base
				-webkit-border-radius 3px
				border-radius 3px
				color green_base
				font-size 16px
				font-weight 700 
				&:before
					content ''
					display inline-block
					background url('i/action-benefit.png')  no-repeat
					width 16px
					height 16px
					margin 0 10px -3px 0
				&.benefit__mod
					font-size 13px
					font-weight 400 
					color #86a8af
					border: 1px dashed #86a8af
					line-height 22px
					&:before
						background url('i/action-time.png')  no-repeat
						position absolute
						left -8px
						top 8px 
						height 18px
			&__price
				padding 8px 0
				&__old
					display inline-block
					text-decoration: line-through
					color #91b5bc
					font-size 13px
				&__new 
					display inline-block
					font-size 23px
					font-weight 700
					color text_color
					padding-left 5px
			&__btn
				background-color green_base
				border-radius 3px
				font-size 18px
				font-weight 700
				color white
				padding 5px 0 
				text-align center
				cursor pointer
				transition all .5s
				&:hover
					background-color #32b3a3 

//ACTION-ABOUT
.action-about 
	&__title
		position relative
		font-size 24px
		font-weight 700	
		color text_color
		margin-bottom 20px
		&:before
			content ''
			display inline-block
			background url('i/icons/in-promotions_small.png') center center  no-repeat
			width 43px
			height 43px
			margin 0 10px -7px 0
		&.title__clinics
			&:before
				background url('i/icons/in-clinic_small.png') center center  no-repeat
				width 40px
				height 35px 
		&.title__doctors
			&:before
				background url('i/icons/in-doc_small.png') center center  no-repeat
				width 38px
				height 45px
	&__in
		background-color white
		border-radius 2px
		box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
		margin-bottom 20px 
		padding 25px 20px
	&__text
		font-size 15px
		font-weight 400
		color text_color
		margin 0 0 15px 0
		&.text-info
			position relative
			padding 25px 25px 25px 70px
			background-color #e5f2f5
			border-radius 3px
			&:before
				content ''
				display inline-block
				position absolute
				left 40px
				top 27px 
				background url('i/cabinet/attention.png') center center 
				width 17px
				height 17px
				transform rotate(180deg)
	&__caption
		font-size 15px
		font-weight 700
		color text_color
		list-style none
		margin-bottom 15px
		padding 0
	&__caption-item
		position relative
		font-weight 400 
		margin-bottom 4px
		padding-left 20px
		line-height 2
		&:before
			content "•"
			position: absolute
			top: 2px
			left: 0
			font-size: 22px
			line-height: 24px
			color: #96b8bf
	.about-package
		 
		margin-bottom 30px 
		.package-title
			background-color #00829b
			border-top-left-radius 3px 
			border-top-right-radius 3px 
			clearfix()
			&__item	
				display inline-block
				color #FFF
				font-size 17px
				font-weight 700
				line-height 43px
				padding 0 29px
				&:first-child
					float left
					width 80%
				&:last-child
					float right
					width 20%
					text-align center
					border-left 1px solid rgba(#fff, 0.2)
		.package-content 
			border 1px solid rgba(0, 130, 155, 0.16)
			border-bottom-right-radius 3px
			border-bottom-left-radius 3px
			&__item
				clearfix()
			&__servise-title
				padding 0 29px
				background-color #e5f2f5
				font-weight 700
				line-height 43px
				font-size 15px
			.servise-content
				
				&__point
					position relative
					line-height 43px
					
					&:nth-child(2n-1)
						padding-left 49px
						float left
						width 80%
						&:before
							content "•"
							position: absolute
							top: 10px
							left: 29px
							font-size: 22px
							line-height: 24px
							color: #96b8bf
					&:nth-child(even)
						float right
						width 20%
						text-align center
						border-left 1px solid rgba(0, 130, 155, 0.16)	
					&.add-border
						border-bottom 1px solid rgba(0, 130, 155, 0.16)	
	
				
								
								
		
	.action-clinics
		background-color white
		border-radius 2px
		box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
		margin-bottom 20px
		.doctors-card
			.doctors-card__item
				border-radius none
				box-shadow none
				border none
				border-radius 0
				margin-bottom 0
				border-bottom 1px dashed rgba(#1d89a0, 0.45)
				clearfix()
				&:last-child
				    border-bottom none
				&:hover
					border-radius none
					box-shadow none
				.clinics-container
					float left
					width 65%
					@media phone
						float none
					@media screen560
						width 100%
					.favorite-title
						.favorite-title__link
							font-size 18px
							font-weight 700
							line-height 20px
							color #4b89d3 
						.small-card__footer
							.small-card__schedule
								clearfix()
								@media phone
									float left
			
	.action-doctors
		background-color white
		border-radius 2px
		box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
		margin-bottom 50px 
		font-size 14px
		font-weight 400 
		.doctors-card
			.doctors-card__item
				border-radius none
				box-shadow none
				border none
				border-radius 0
				margin-bottom 0
				border-bottom 1px dashed rgba(#1d89a0, 0.45)
				&:last-child
				    border-bottom none
				&:hover
					border-radius none
					box-shadow none
.link-more__mod
	border-top 1px dashed #96b8bf
					
				 
		  