+b.direction
    +e.left
        +e.title Направление:
        +e("a").btn(href='#select-specialization', data-toggle='modal') Выберите направление
    +e.right
        +e.text найдено 
            b 120 предложений
