.direction
	background-color white
	border-radius 2px
	box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
	font-size 16px
	padding 0 20px
	margin-bottom 20px
	clearfix()
	@media phone
		padding 0 10px
	&__left
		float left
		@media phone
			float none
			display block
	&__title
		display inline-block
		line-height 55px
		padding-right 20px
	&__btn
		position relative
		display inline-block
		font-size 14px
		border 1px solid rgba(129, 169, 177, 0.7)
		border-radius 2px
		box-shadow: 0 2px 4px rgba(0, 64, 76, 0.08)
		padding 5px 105px 5px 15px
		color #77969c
		text-decoration none
		&:after
			content ''
			position absolute
			right 15px
			top 45%
			display block
			width 0
			height 0
			border 5px solid transparent 
			border-top 5px solid #77969c
			
	&__right
		float right
		line-height 55px
		@media phone
			float left

.section-action
	&__item
		background-color white
		border-radius 2px
		box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
		margin-bottom 20px 
		clearfix()
	&__left
		float left
		width 20%
		
		.card__left-side
			.card__image
				margin 3px auto 10px
		.rating
			.rating__value
				margin-right 5px
		.card__testimonials
			padding-top 5px
	&__middle
		float left
		width 50%
		padding 25px
		border-right 1px dashed #c0d2d6 
		border-left 1px dashed #c0d2d6 
		.main-title
			&__link
				font-size 18px
				font-weight 700
				line-height 26px
				color blue_link
			&__clinic
				display block
				padding-top 5px 
				font-size 14px
				color text_color
			&__special
				line-height 18px
				color rgba(#5e6e71, 0.79)
			.about
				padding-top 15px
				&__item
					font-size 14px
					font-weight 400
					color text_color
					&:before
						content "- "
						display inline-block
						padding-right 5px
	&__right 
		padding 25px
		float left
		.right-info
			&__benefit
				position relative
				padding 5px 20px 5px 39px
				border: 1px dashed #35bfae 
				-webkit-border-radius 3px
				border-radius 3px
				color #35bfae 
				font-size 16px
				font-weight 700 
				&:before
					content ''
					display inline-block
					background url('i/action-benefit.png')  no-repeat
					width 16px
					height 16px
					margin 0 10px -3px 0
				&.benefit__mod
					font-size 13px
					font-weight 400 
					color #86a8af
					border: 1px dashed #86a8af
					line-height 22px
					&:before
						background url('i/action-time.png')  no-repeat
						position absolute
						left -8px
						top 8px 
						height 18px
			&__price
				padding 8px 0
				&__old
					display inline-block
					text-decoration: line-through
					color #91b5bc
					font-size 13px
				&__new
					display inline-block
					font-size 23px
					font-weight 700
					color text_color
					padding-left 5px
			&__btn
				background-color #35bfae
				border-radius 3px
				font-size 18px
				font-weight 700
				color white
				padding 5px 0 
				text-align center
				cursor pointer
				transition all .5s
				&:hover
					background-color #32b3a3
				
				  
				
		
				
				
					
		