.body-map
	margin-bottom 15px
	
.body-map_bg
	height 100% 
	background-color #e5f2f5
	border-radius 3px
.body-map__container
  position relative
  height 430px
  text-align center
  margin 0 auto 15px
  overflow hidden

.body-map__select
  margin-bottom 10px

.body-map__select-title
  display inline-block
  vertical-align middle
  margin-top -5px
.pill
    &.with-icon
      &.icon-left
        & > span
          & > span
            margin-right 15px
            margin-left 0
          &:after
            right 5px
            left auto
    &.color-red
      & > span
        color #e11f2a
    &.color-green
      & > span
        color #07a540
    &.color-blue
      & > span
        color #0068b5
.body-map_ie
  .body-map__bg
    img
      display none
    .body-map__bg_small
      display inline-block
  .body-map__main_detailed
    img
      display inline-block
    .body-map__bg_small
      display none

.body-map__select
  margin-bottom 10px

.body-map__select-title
  display inline-block
  vertical-align middle
  margin-top -5px

.body-map__container
  position relative
  height 430px
  text-align center
  margin 0 auto 15px
  overflow hidden

.body-map__main
  position absolute
  left 50%
  margin-left -99.5px
  top 0
  width 199px
  height 430px
  &.body-map__main_detailed
    left 0
    margin-left 0
    width 398px
    height 860px

.body-map__bg,
.body-map__zones,
.body-map__details
  position absolute
  left 0
  top 0
  width 100%
  height 100%

.body-map__bg
  text-align center
  letter-spacing 0
  font-size 0
  &:after
    content ""
    display inline-block
    height 100%
    width 0
    vertical-align middle
  & > img
    letter-spacing normal
    font-size 12px
    border 0 none
    margin 0 auto
    max-width 100%
    max-height 100%
    display inline-block
    vertical-align middle

.body-map__symptoms
  margin-bottom 5px
  text-align center

.body-map__controls
  position relative
  text-align center
  padding 10px 80px 0
  min-height 80px

.body-map__current
  display inline-block
  max-width 100%
  font-size 14px
  line-height 16px
  color #000
  text-decoration none
  span
    display inline

.body-map__rotate,
.body-map__zoom
  position absolute
  top 0
  width 40px
  height 40px
  background-repeat no-repeat
  cursor pointer

.body-map__rotate
  background-image url("i/icon-controls.png")
  left 0   
  &:hover
    opacity 0.7
  &:active
    opacity 0.7

.body-map__zoom
  background-image url("i/icon-zoom2.png")
  right 0 
  &:hover
    opacity 0.7
  &:active
    opacity 0.7

.body-map__zoom_out
  // background-position 0 -80px
  // &:hover
  //   background-position -40px -80px
  // &:active
  //   background-position -80px -80px
  	
.symptoms
  border 1px solid #ccc
  -webkit-border-radius 2px
  border-radius 2px
  height 533px
  overflow-y auto
  outline 0
  .jspHorizontalBar
    display none

.symptoms__list
  margin 0
  padding 0 10px 0 15px
  list-style none
  font-size 15px
  line-height 20px

.symptoms__list-item
  padding 8px 30px 9px 0
  border-bottom 1px dotted #ccc
  cursor pointer
  &.last-child
    border-bottom 0 none

.symptoms__list-item_selected
  background url("i/check.png") no-repeat right 8px
  font-weight bold

.symptoms-selected
  margin-bottom 15px
  .select2-container-multi
    .select2-choices
      .select2-search-field
        input
          &.select2-default
            border-color transparent!important
            padding-left 0!important
            padding-right 0!important
            
.jspContainer
  overflow hidden
  position relative

.jspPane
  position absolute

.jspVerticalBar
  position absolute
  top 0
  left none
  width 16px
  height 100%
  background red
  right 5px
  width 5px
  background 0
  .jspArrow
    height 16px
    &:focus
      outline 0

.jspHorizontalBar
  position absolute
  bottom 0
  left 0
  width 100%
  height 16px
  background red
  .jspCap
    float left
  .jspArrow
    width 16px
    float left
    height 100%

.jspCap
  display none

.jspTrack
  background #dde
  position relative
  background 0

.jspDrag
  background #bbd
  position relative
  top 0
  left 0
  cursor pointer
  background #00829b
  -webkit-border-radius 3px
  border-radius 3px
  opacity .2
  -ms-filter "alpha(opacity=20)" 
  filter "alpha(opacity=20)"
  -webkit-transition opacity .2s ease-in-out
  -moz-transition opacity .2s ease-in-out
  -o-transition opacity .2s ease-in-out
  -ms-transition opacity .2s ease-in-out
  transition opacity .2s ease-in-out

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
  float left
  height 100%

.jspArrow
  background #50506d
  text-indent -20000px
  display block
  cursor pointer
  padding 0
  margin 0
  &.jspDisabled 
    cursor default
    background #80808d

.jspCorner
  background #eeeef4
  float left
  height 100%