ul.owl.owl_schedule
    li.schedule-item.disabled
        +e.day Пн
        +e.date 14.10
        +e("ul").working-hours
            li: +e("a").hours-item.disabled(title="") 9:00–10:00
            li: +e("a").hours-item.disabled(title="") 10:00–11:00
            li: +e("a").hours-item.disabled(title="") 11:00–12:00
            li: +e("a").hours-item.disabled(title="") 12:00–13:00
            li: +e("a").hours-item.disabled(title="") 13:00–14:00
            li: +e("a").hours-item.disabled(title="") 14:00–15:00
            li: +e("a").hours-item.disabled(title="") 15:00–16:00
            li: +e("a").hours-item.disabled(title="") 16:00–17:00
            li: +e("a").hours-item.invisible(title="") 17:00–18:00
            li: +e("a").hours-item.invisible(title="") 18:00–19:00
    li.schedule-item.current
        +e.day Вт
        +e.date 15.10
        +e("ul").working-hours
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") 9:00–10:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") 10:00–11:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="660", data-doctor-request-set-date="1412294400000") 11:00–12:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="720", data-doctor-request-set-date="1412294400000") 12:00–13:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="780", data-doctor-request-set-date="1412294400000") 13:00–14:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="840", data-doctor-request-set-date="1412294400000") 14:00–15:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="900", data-doctor-request-set-date="1412294400000") 15:00–16:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="960", data-doctor-request-set-date="1412294400000") 16:00–17:00
            li: +e("a").hours-item.invisible(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="1020", data-doctor-request-set-date="1412294400000") 17:00–18:00
            li: +e("a").hours-item.invisible(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="1080", data-doctor-request-set-date="1412294400000") 18:00–19:00
    li.schedule-item
        +e.day Ср
        +e.date 16.10
        +e("ul").working-hours
            li: +e("a").hours-item.disabled(title="") 9:00–10:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 10:00–11:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 11:00–12:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 12:00–13:00
            li: +e("a").hours-item.invisible(title="") 13:00–14:00
            li: +e("a").hours-item.disabled(title="") 14:00–15:00
            li: +e("a").hours-item.disabled(title="") 15:00–16:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 16:00–17:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 17:00–18:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 18:00–19:00
    li.schedule-item
        +e.day Чт
        +e.date 17.10
        +e("ul").working-hours
            li: +e("a").hours-item.invisible(title="") 9:00–10:00
            li: +e("a").hours-item.invisible(title="") 10:00–11:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 11:00–12:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 12:00–13:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 13:00–14:00
            li: +e("a").hours-item.invisible(title="") 14:00–15:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 15:00–16:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 16:00–17:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 17:00–18:00
            li: +e("a").hours-item.invisible(title="") 18:00–19:00
    li.schedule-item
        +e.day Пт
        +e.date 18.10
        +e("ul").working-hours
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 9:00–10:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 10:00–11:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 11:00–12:00
            li: +e("a").hours-item.invisible(title="") 12:00–13:00
            li: +e("a").hours-item.disabled(title="") 13:00–14:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 14:00–15:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 15:00–16:00
            li: +e("a").hours-item.disabled(title="") 16:00–17:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 17:00–18:00
            li: +e("a").hours-item.invisible(title="") 18:00–19:00
    li.schedule-item
        +e.day Сб
        +e.date 19.10
        +e.message Нет приема
        //- +e("ul").working-hours
            li: +e("a").hours-item.invisible(title="") 9:00–10:00
            li: +e("a").hours-item.invisible(title="") 10:00–11:00
            li: +e("a").hours-item.invisible(title="") 11:00–12:00
            li: +e("a").hours-item.invisible(title="") 12:00–13:00
            li: +e("a").hours-item.invisible(title="") 13:00–14:00
            li: +e("a").hours-item.invisible(title="") 14:00–15:00
            li: +e("a").hours-item.invisible(title="") 15:00–16:00
            li: +e("a").hours-item.invisible(title="") 16:00–17:00
            li: +e("a").hours-item.invisible(title="") 17:00–18:00
            li: +e("a").hours-item.invisible(title="") 18:00–19:00
    li.schedule-item
        +e.day Вс
        +e.date 20.10
        +e("ul").working-hours
            li: +e("a").hours-item.invisible(title="") 9:00–10:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 10:00–11:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 11:00–12:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 12:00–13:00
            li: +e("a").hours-item.invisible(title="") 13:00–14:00
            li: +e("a").hours-item.invisible(title="") 14:00–15:00
            li: +e("a").hours-item.invisible(title="") 15:00–16:00
            li: +e("a").hours-item.invisible(title="") 16:00–17:00
            li: +e("a").hours-item.invisible(title="") 17:00–18:00
            li: +e("a").hours-item.invisible(title="") 18:00–19:00
    li.schedule-item
        +e.day Пн
        +e.date 21.10
        +e("ul").working-hours
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 9:00–10:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 10:00–11:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 11:00–12:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 12:00–13:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 13:00–14:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 14:00–15:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 15:00–16:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 16:00–17:00
            li: +e("a").hours-item.invisible(title="") 17:00–18:00
            li: +e("a").hours-item.invisible(title="") 18:00–19:00
    li.schedule-item
        +e.day Вт
        +e.date 22.10
        +e("ul").working-hours
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 9:00–10:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 10:00–11:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 11:00–12:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 12:00–13:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 13:00–14:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 14:00–15:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 15:00–16:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal") 16:00–17:00
            li: +e("a").hours-item.invisible(title="") 17:00–18:00
            li: +e("a").hours-item.invisible(title="") 18:00–19:00