.widget-articles 
    &__body
        padding 12px 21px
        border-top 1px dashed text_blue
        border-bottom 1px dashed text_blue
        &.without-border-bottom
            border-bottom 0
    &__item        
        position relative 
        padding-left 15px
        padding-bottom 5px 
        font-size 15px 
        font-weight normal
        line-height 19px
    &__link
        color blue_link     
        &:before
            content ""
            position absolute
            left 0  
            top 6px 
            display inline-block
            width 8px
            height 8px
            background-color #ddecef
            -webkit-border-radius 50% 
            border-radius 50% 