+e("ul")
  +e("li").item
    +e("a").link(href="#") Мои профиль
  +e("li").item
    +e("a").link(href="#") Мои записи
  +e("li").item
    +e("a").link(href="#") Мои отзывы
  +e("li").item
    +e("a").link(href="#") Избранное