.cabinet-aside
    position relative
    border 1px solid rgba(0, 130, 155, 0.5)
    border-radius 3px
    box-shadow 0 2px 4px rgba(0, 64, 76, 0.19)
    &__item
        color #00829b
        font-family 'PTSans', sans-serif
        font-size 16px
        font-weight 700
        line-height 12px
        text-transform uppercase
        padding 15px 0 15px 60px
        border-bottom 1px dotted rgba(#1d89a0, 0.45)
        a
        	text-decoration none
    .is-active
    	position absolute
        width 0
        height 0
        bottom -19px
        margin-left -10px
        border-style solid
        border-width 7px 10px 0
        border-color #2d535c transparent transparent 
    
        	
		
			
			