//layouts cabinet
body, html   
    height 100%            
.out
    height: 100%    
.wrapper
    min-height 100%  
    margin-bottom: -317px   
    &:after  
        content "" 
        display block
        height 317px
    
.footer__mod
    height 317px
.cabinet-row__mod
    padding-bottom 20px
.container__mod 
    margin-top 0
    margin-bottom 20px
    z-index: 3
    border-bottom 2px solid green_base 
.cabinet-enter__link
    position relative
    text-decoration none
    color #a8e3ee
    background-color transparent
    border 1px solid #a8e3ee
    border-radius 3px
    padding 2px 15px 2px 30px
    margin-left 15px
    &:hover
        color #FFF 
    .cabinet-enter__link-icon  
        &:before
            content ''
            background url('i/cabinet/cabinet-user.png')
            display inline-block
            width 13px
            height 15px
            position: absolute
            left 12px
            top 4px
.favorites-link__mod
    margin-top 3px
    @media phone_tablet
        padding-right 10px
         
.input-validation 
    &__field   
        border-color #e74a37  !important 
        -webkit-border-radius  3px 3px 0 0 !important  
        border-radius  3px 3px 0 0 !important      
    &__title 
        float right 
        margin-top -1px 
        width 283px
        -webkit-border-radius 0 0 3px 3px 
        border-radius 0 0 3px 3px 
        text-align center 
        background #e74a37  
        font-size 13px 
        color #FFF
        line-height 20px  


//grid cabinet 

.l-3
    width 242px
    float left
    padding-left 10px
    padding-right 10px 
    
.l-9
    width 100% 
    padding-left 256px  
    padding-right 10px 
.col-1
    width 100%

//cabinet
.cabinet-aside
    border 1px solid rgba(0, 130, 155, 0.5)
    border-radius 3px
    background-color white  
    box-shadow 0 2px 4px rgba(0, 64, 76, 0.19)
    &__item
        position relative
        font-family 'PT Sans', sans-serif
        font-size 16px
        font-weight 400
        line-height 12px
        text-transform uppercase
        padding 20px 0 14px 60px
        border-bottom 1px dotted rgba(#1d89a0, 0.45)
        &:hover
            color #00829b    
        &:last-child
            border-bottom 0
        &.is-active
            color rgba(#00829b, 0.94)
            font-weight 700
            &:after, &:before
                content ""
                border 8px solid transparent
                position absolute
                top 15px
                right -18px
                margin-left -12px
                width 0 
            &:before 
                border-left-color rgba(0, 130, 155, 0.8)
                border-width 9px
            &:after
                border-left-color white
                border-width 9px
                right -17px
        .qt-note
            color #91b5bc
            font-size 16px
            padding-left 20px 
            font-weight 700 
    &__link
        text-decoration none
        
        &-profile:after
            content ''
            position absolute
            left 30px
            top 14px
            display inline-block 
            width 17px
            height 19px
            background url('i/cabinet/profile-icon.png') no-repeat center left
            transition all 0.3s
        &-profile:hover:after
                background url('i/cabinet/profile-icon-hover.png') no-repeat center left
        &-profile.is-active:after
                background url('i/cabinet/profile-icon-hover.png') no-repeat center left 
                 
        &-note:after
            content ''
            position absolute
            left 28px
            top 14px
            display inline-block
            width 19px 
            height 19px
            background url('i/cabinet/pencil-icon.png') no-repeat center left
        &-note:hover:after
                background url('i/cabinet/pencil-icon-hover.png') no-repeat center left
        &-note.is-active:after
                background url('i/cabinet/pencil-icon-hover.png') no-repeat center left
                
        &-reviews:after
            content ''
            position absolute
            left 28px
            top 14px
            display inline-block
            width 19px
            height 20px
            background url('i/cabinet/star-icon.png') no-repeat
        &-reviews:hover:after
                background url('i/cabinet/star-icon-hover.png') no-repeat center left
        &-reviews.is-active:after
                background url('i/cabinet/star-icon-hover.png') no-repeat center left
                
                
        &-like:after 
            content ''
            position absolute
            left 28px
            top 17px
            display inline-block
            width 19px
            height 16px
            background url('i/cabinet/like-icon.png') no-repeat
        &-like:hover:after
                background url('i/cabinet/like-icon-hover.png') no-repeat center left
        &-like.is-active:after
                background url('i/cabinet/like-icon-hover.png') no-repeat center left

     
    
//profile
.cabinet-section 
    margin-bottom 40px
    &__header
        border-radius 3px 3px 0 0
        min-height 40px
        background-color #1d89a0
        color #FFF
        font-size 15px
        line-height 40px
        padding-left 30px
    &__content
        box-shadow 0 2px 4px rgba(0, 64, 76, 0.19)
        border 1px solid rgba(0, 130, 155, 0.5)
        border-radius 0 0 3px 3px 
        padding 30px 0 25px 0 
        background-color #FFF 
    .is-filled
        input
            background-color #edf6f7   
    .profile
        max-width 593px
        margin 0 auto
        padding-right 110px 
        font-size 0
    
        
         
        
        &__item
            position relative 
            margin-bottom 16px
            // overflow hidden
            // clearfix() 
            &:last-child
                margin-bottom 0 
            
            &.item__mod
                display none
            
        &__title
            // float left
            display inline-block
            width 200px
            
            font-size 15px
            color rgba(#5e6e71, 0.94)
            line-height 30px
        &__field-text
            // float right
            display inline-block
            width 283px
            height 33px
            background-color white
            border 1px solid rgba(22, 141, 164, 0.7)
            border-radius 3px
            color #91b5bc
            font-size 15px
            font-weight 700 
            padding 0 30px 0 15px
        &__field-select
            padding 0 0 0 15px 
        &__field-icon
            position absolute
            right 7px
            top 6px
            display inline-block
            width 20px
            height 20px
            cursor pointer 
            background url('i/cabinet/piker-calendar.png') no-repeat
               
            
        .field-text__child 
            position relative 
            padding 0 0 0 20px
            line-height 30px
            margin 0
            &:after
                content ''
                float right
                margin 12px 6px 0 0 
                display inline-block
                border 3px solid transparent
                border-top 6px solid #1d89a0 
                
        .section-choice__city
            height 177px 
            overflow hidden
            outline none
            padding 10px 0  
            .section-choice__item
                margin-right -10px  
            .jspContainer
                .jspPane
                    margin 0       
                .jspVerticalBar  
                    right 4px 
                    left auto  
                .jspDrag
                    background-color #a9d1da
                    border-radius 2px
                    width 5px 
                    right 2px  
                    left auto
                    margin-bottom 5px      
                .jspTrack
                    width 1px
                    background-color #a9d1da  
        .section-choice
            display none
            position absolute
            top 32px 
            z-index 2
            background-color #FFF  
            right 0
            width 283px
            border 1px solid rgba(22, 141, 164, 0.7)
            -webkit-border-radius 0 0 3px 3px  
            border-radius 0 0 3px 3px 
            color #91b5bc
            
            .section-choice__item 
                cursor pointer
                font-size 14px 
                padding 5px 10px 5px 20px  
                color #5e6e71
                &:hover
                    background-color #e5f2f5 
                    color #168da4
        .js-group
            display none
            // float right
            &:after
                content ''
                display: table
                clear: both
            *zoom: 1 
        .field-text__in
            position relative
            // display inline-block
            float right
            &:after
                content ''
                display: table
                clear: both
            *zoom: 1
        .field-text__group
            float right
            &:after
                content ''
                display: table
                clear: both
            *zoom: 1
        .field-text__mod
            margin-top 15px
        .is-open
            display block 
        .field-group
            margin-bottom 15px
        
            
        
            
        .piker-calendar 
            position absolute
            right 7px
            top 6px
            display inline-block
            width 20px
            height 20px
            cursor pointer 
            background url('i/cabinet/piker-calendar.png') no-repeat
        .profile-parol
            position absolute
            right -138px
            top 5px
            font-size 14px
            @media only screen and (max-width: 1150px) 
                font-size 11px
                right -105px 
                
            &__link
                color #4b89d3
                font-style italic
            &__icon
                display inline-block
                width 14px
                height 14px
                margin 0 5px -3px 0
                background url('i/cabinet/parol.png') no-repeat 
        .profile-tel
            right -158px
            @media only screen and (max-width: 1150px)  
                font-size 11px
                right -118px
            .profile-tel__icon
                display inline-block
                width 10px
                height 16px
                margin 0 6px -3px 0
                background url('i/cabinet/tel.png') no-repeat  
        .add-tel
            display none
            margin-top 15px
            transition all 0.5s  
            &.is-active
                display inline-block
        .add-tel__mod
            margin-left 200px   
        .btn-add-tel
            position relative
            float right
            width 283px
            height 33px
            background-color #1d89a0
            border-radius 3px
            color white
            font-size 15px
            font-weight 700
            line-height 33px
            cursor pointer
            padding-left 65px
            &:hover
                background-color #1b7f94
            span
                position absolute
                display inline-block
                left 34px
                top 6px
                width 21px
                height 21px
                background url('i/cabinet/add-tel.png') no-repeat
        
        .item-in__right
            float right
            // margin-left 200px
        .item-in__left
            float left
            width auto
        .child-field
            width 130px
            margin-left 22px
            &:nth-child(even)
                margin-left 0
        .child-calendar__mod
            right  159px 

            
    .profile-footer
        max-width 593px
        margin 0 auto
        padding-right 110px 
        &:after
            content ''
            display: table
            clear: both 
        
        
        &__btn
            display inline-block
            width 283px
            height 45px
            background-color green_base
            border-radius 3px
            text-decoration none
            text-align center
            line-height 45px
            text-shadow 0.5px 0.9px 0 rgba(48, 49, 49, 0.23)
            color #FFF 
            font-size 18px
            float right 
            &:hover 
                background-color #33b3a4
.form-radio
    width 283px
    float right 
    font-size 14px 
.modal-radio
    display none
.modal-radio + label
    margin-left 28px
    padding-right 30px
    position relative
    cursor pointer
    &:before
        content ''
        display inline-block
        background url('i/cabinet/checkbox.png') no-repeat
        position absolute
        left -30px
        top -1px
        width 20px
        height 20px 
.modal-radio:checked + label::before 
    background url('i/cabinet/checkbox-active.png') no-repeat 
    

            
 

hr 
    width 100%
    border none
    border-top 1px dotted rgba(#1d89a0, 0.45)
    color #fff
    background-color #fff
    height 1px  
    

    
              
            
// notes
.cabinet-notes__inner
    
    overflow-y auto
    @media phone_tablet
        width 600px
    .jspHorizontalBar  
        height 5px 
    .jspTrack
        background-color #a9d1da
        height 1px
    .jspDrag  
        background-color #a9d1da
        border-radius 2px 
        height 5px
        top -2px   
    .cabinet-notes 
        width 904px 
        outline none 
        margin-bottom 20px     
        box-shadow 0 2px 4px rgba(0, 64, 76, 0.19) 
        border-radius 3px 
        moz-border-radius 3px
        -webkit-border-radius 3px
        border-collapse separate 
        &__head
            tr
                height 42px
                background-color #1d89a0
                border 1px solid #1d89a0 
                color #FFF
                font-size 15px
                // line-height 12px   
                td
                    &:first-child
                        background-color #1d89a0
                        border-right 1px solid #1d89a0 
                        padding 0  
                        text-align right
                        border-top-left-radius 3px
                        moz-border-top-left-radius 3px
                        -webkit-border-top-left-radius 3px
                    &:nth-child(2)
                        text-align center 
                    &:last-child
                        background-color #1d89a0
                        border-left 1px solid #1d89a0  
                        border-top-right-radius 3px
                        moz-border-top-right-radius 3px
                        -webkit-border-top-right-radius 3px 
                          
        &__body
            font-size 15px
            border 1px solid rgba(0, 130, 155, 0.32) 
            tr
                height 65px 
                &:nth-child(even)
                    background-color rgba(245, 250, 252, 0.48)
                &:nth-child(odd)
                    background-color white
                &:last-child
                    td    
                        &:first-child
                            border-bottom 1px solid rgba(0, 130, 155, 0.32)
                            border-bottom-left-radius 3px
                            moz-border-bottom-left-radius 3px
                            -webkit-border-bottom-left-radius 3px 
                        &:nth-child(2)
                            border-bottom 1px solid rgba(0, 130, 155, 0.32)   
                        &:nth-child(3) 
                            border-bottom 1px solid rgba(0, 130, 155, 0.32)
                        &:nth-child(4)
                            border-bottom 1px solid rgba(0, 130, 155, 0.32)
                        &:last-child 
                            border-bottom 1px solid rgba(0, 130, 155, 0.32) 
                            border-bottom-right-radius 3px
                            moz-border-bottom-right-radius 3px
                            -webkit-border-bottom-right-radius 3px   
                td 
                    &:first-child
                        text-align right
                        border-bottom 1px dotted rgba(#1d89a0, 0.45)
                        border-left 1px solid rgba(0, 130, 155, 0.32) 
                          
                    &:nth-child(2)
                        text-align center
                        border-bottom 1px dotted rgba(#1d89a0, 0.45)  
                    &:nth-child(3)
                        width 195px 
                        border-bottom 1px dotted rgba(#1d89a0, 0.45)
                    &:nth-child(4)
                        border-bottom 1px dotted rgba(#1d89a0, 0.45)
                    &:last-child 
                        width 190px
                        border-bottom 1px dotted rgba(#1d89a0, 0.45)
                        border-right 1px solid rgba(0, 130, 155, 0.32)  
                    a 
                       color #4b89d3
                    span
                        font-size 14px
                        font-style italic 
                    .btn-edit
                        background-color green_base
                        border-radius 3px 
                        padding 10px 15px
                        text-shadow 0.5px 0.9px 0 rgba(48, 49, 49, 0.08)
                        color white
                        font-weight 700
                        text-decoration none
                        &:hover
                            background-color #33b3a4
                        
// otzivi
    .reviews
        margin-bottom 22px
        
    .cabinet-otzivi
        position relative
        color #FFF
        font-size 0
        &__left-side
            position relative
            background-color #1d89a0 
            display inline-block
            font-size 14px
            height 42px
            width 100%
            -webkit-border-radius 3px 4px 0 0  
            border-radius 3px 4px 0 0  
            line-height 42px
            padding-left 55px 
            &:before
                content ''
                display inline-block
                position absolute
                left 30px
                top 13px
                width 18px
                height 18px
                background url('i/cabinet/calendar-icon.png') no-repeat center
        &__right-side
            background-color green_base
            position absolute
            right 0
            top 0
            
            font-size 14px 
            vertical-align bottom 
            width 316px
            height 42px
            -webkit-border-radius 0 3px 0 0 
            border-radius 0 3px 0 0
        
            .otziv-ok
                &:after
                    content: " "
                    display: table
                    clear: both
                *zoom: 1
                &__item
                    position relative
                    line-height 42px
                    padding-left 45px
                    &:first-child
                        float left
                    &:last-child
                        float right
                        margin-right 18px
                &__icon-ok
                    position absolute
                    left 20px
                    top 13px
                    width 16px
                    height 16px
                    display block
                    background url('i/cabinet/ok-icon.png') no-repeat center
                &__icon-mod
                    position absolute
                    left 20px
                    top 13px
                    width 16px
                    height 16px
                    display block
                    background url('i/cabinet/rewiews-icon-moderation.png') no-repeat center
                &__icon-cancel
                    position absolute
                    left 20px
                    top 13px
                    width 16px
                    height 16px
                    display block
                    background url('i/cabinet/rewiews-icon-cancel.png') no-repeat center
                &__link
                    color #FFF
                    font-style italic
                    &:before
                        content ""
                        position absolute
                        left 20px
                        top 12px 
                        display block
                        background url('i/cabinet/pencil-icon-white.png') no-repeat center
                        width 16px
                        height 16px 
        .right-side__cancel 
            background-color #e2e3e3
            color #5e6e71 
            .otziv-ok__link
                color #5e6e71 
                font-style italic
                &:before
                    background url('i/cabinet/pencil-icon-cancel.png') no-repeat center
                    
    .comment
       border-left 1px solid rgba(0, 130, 155, 0.32)
       border-right 1px solid rgba(0, 130, 155, 0.32)
       border-bottom 1px solid rgba(0, 130, 155, 0.32)
       box-shadow 0 2px 4px rgba(0, 64, 76, 0.19)
       border-radius 0 0 3px 3px
       background-color #FFF 
       
       &__item
            // padding 15px 0px 17px 20px 
            border-bottom 1px dotted rgba(#1d89a0, 0.45)
            margin-right 0
            margin-left 0 
            overflow hidden
            background-color #fcfdfd
            &:last-child
                border-bottom none
            
            .left-side
                padding 15px 5px 15px 20px
                width 65%
                float left
                background-color #FFF  
                // padding-right 15px
                @media only screen and (max-width: 1050px)
                    width 60%
                @media only screen and (max-width: 992px)
                    width 100%
                @media phone
                    padding-right 10px  
                &__link
                   color #4b89d3
                   font-weight 700 
                   font-size 16px
                   margin-right 13px
                   display inline-block
                   margin-bottom 10px
                &__specialization
                    display inline-block
                &__recomend
                    color green_base
                    font-size 14px 
                    display block
                    margin-bottom 10px
                    &:before
                        content ''
                        display inline-block
                        width 16px
                        height 19px
                        margin-right 7px
                        margin-bottom -3px
                        background url('i/icons/like-box-like.png') no-repeat center
                &__norecomend
                    color #ff5858 
                    margin-bottom 10px
                    &:before
                        content ''
                        display inline-block
                        vertical-align middle  
                        width 16px
                        height 19px
                        margin-right 7px
                        margin-bottom -3px
                        background url('i/icons/like-box-dislike.png') no-repeat center
                          
            .doctor-right 
                padding 15px 0 5px 15px 
                padding-right 15px
                color #96b8bf
                
                width 35%
                float left 
                @media only screen and (max-width: 1050px)
                    width 40%
                @media only screen and (max-width: 992px)
                    width 100%
                @media tablet
                    padding-left 20px
                    padding-top 10px 
        &__clinica
            padding 20px 30px
            

//otzivi-edit
    .content-edit
        background #FFF 
        padding 0
        clearfix()
        
        &__in
            padding 0 30px 20px 
        &__row
            clearfix()
        &__wrap
            padding 20px 30px 30px 
            background-color #fcfdfd
                
        &__left
            width 50%
            float left
            @media only screen and (max-width: 1024px)
                width 100%
                float none
        &__right
            width 50%
            float left
            @media only screen and (max-width: 1024px)
                width 100%
                float none 
        &__title
            font-size 17px
            font-weight 700 
            margin-bottom 20px
        &__comment-in
            text-align center
            margin 30px 0 
        &__comment
            width 87%
            height 152px
            opacity 0.49
            background-color white
            border 1px solid rgba(22, 141, 164, 0.7)
            border-radius 3px
            resize none
            padding 15px 20px
            font-style italic
            color #91b5bc
            font-size 15px
            @media only screen and (max-width: 1024px)
                width 91%
        .rating-list
            .rating
                margin-bottom 0
            .rating__stars
                cursor pointer
                &:hover .edit__tooltip
                    display block
            
        .likebox
            margin-left 0
            &:after
                content: " "
                display: table
                clear: both
            *zoom: 1
            @media phone_tablet
                margin-bottom 20px 
                    
            &__like
                right 86px
                
            &__dislike
                right 58px
                top 2px
                cursor pointer
            .likebox__votes-mod
                &:before
                    background none
                
                    
            &__like   
                cursor pointer
            &__votes
                &:before
                    background none 
        .likebox-dislike__mod 
            background url('i/cabinet/cabinet-dislike.png') no-repeat center 
            width 24px
            height 26px
            display inline-block
            transition all 0.1s
            &:hover
                background url('i/cabinet/cabinet-dislike_hover.png') no-repeat center 
    
    .content-footer
        padding 20px 0
        text-align center 
        border-top 1px dotted rgba(#1d89a0, 0.45)
        background grey_base
        &__btn-edit
            display inline-block
            width 184px
            height 45px
            background-color green_base
            border-radius 3px
            color #FFF
            text-shadow 0.5px 0.9px 0 rgba(48, 49, 49, 0.23)
            font-size 18px
            vertical-align middle
            line-height 43px
            font-weight 700 
            margin-right 25px
            cursor pointer
            &:hover
                background-color #33b3a4
             
        &__link
            display inline-block
            color #4b89d3
            font-size 16px
        
    .edit-border
        border-left 1px dotted rgba(#1d89a0, 0.45)
        
        @media phone_tablet 
            border-left none  
        
//favorites
    .cabinet-section__favorites
        margin-bottom 24px
        // &:last-child
        //     margin-bottom 60px
    .favorite-header__mod
        padding-left 25px
    .content-favorites
        padding 0
        &__item
            padding 19px 20px 17px 20px
            position relative
            &:after
                content '' 
                clear both 
            *zoom 1 
            .favorites-left
                display inline-block
                width 60%
                &__link
                    
                    img
                        vertical-align top
                        float left
                .favorite-title
                    padding-left 95px
                    &__link
                        color #4b89d3
                        font-size 18px
                        font-weight: 700 
                        line-height 20px
                    .link-direction
                        padding-left 5px
                        @media only screen and (max-width: 1150px)
                            display block
                    
                    &__specialization
                        font-weight 700 
                        font-size 14px
                        color #5e6e71 
                        margin-top 5px
                    &__category
                        font-size 14px
                         
                    &__price
                        font-size 16px
                        padding-top 15px
                        display inline-block
                    &__price-num
                        font-weight 700
                        display inline-block
                    .address-info__mod
                        padding-top 7px
                        clearfix()  
                        .small-card__address
                            margin-right 25px
                            a.street-adress
                                outline none
                        .small-card__location
                            @media only screen and (max-width: 1150px)
                                display block 
            .favorites-right
                text-align right
                float right
                clearfix()
                &__value
                    display inline-block 
                    color #00829b
                    font-size 18px
                    font-weight 700
                    .rating__stars
                        display inline-block
                        margin-left 3px 
                &__info
                    margin-top 3px 
                &__link
                    color #4b89d3 
                    display inline-block
                    margin-left 15px
                    font-size 14px
                    font-weight normal 
                    padding-top 3px
                    vertical-align top
                    
                &__btn
                    position absolute
                    right 20px
                    bottom 19px 
                    text-align center
                    width 205px
                    height 38px
                    background-color green_base
                    border-radius 4px 
                    font-size 17px
                    line-height 38px
                    font-weight 700 
                    color #FFF 
                    cursor pointer
                    &:hover
                        background-color #33b3a4
                .favorites-block__mod
                    cursor pointer
                    margin-top 0
                    &:after
                        content: " "
                        display: table
                        clear: both
                    *zoom: 1
                    .favorites-block__star  
                        background-position -158px -245px
                        opacity 1
                    .text__mod
                        &:hover
                            border-bottom 1px dotted transparent
                            transition border-color .2s ease
                            

        .add-border
            border-bottom 1px dotted rgba(#1d89a0, 0.45)
            &:last-child
                border-bottom none
//no-favorites
.content-no-favorites
    padding 0
.favorites_history
    text-align center
    margin-bottom 17px
    background-color rgba(#eaf5f9, 0.48)
    padding 20px 
    &__icon
        display inline-block 
        padding 0 12px 5px 0   
    &__text 
        display inline-block   
        color #5e6e71
        font-size 15px
        &:before
            content ''
            display inline-block
            margin 0 12px -2px 0 
            background url('i/cabinet/attention.png') no-repeat center 
            width 17px
            height 17px
.no-favorites
    text-align center 
    opacity 0.25
    color #00829b
    font-size 30px 
    font-weight 700
    margin-bottom 23px    
         
.btn-favorites
    text-align center
    margin 37px 0  
    .btn-green 
         
        background-color green_base 
        border-radius 3px 
        padding 11px 45px
        text-shadow 0.5px 0.9px 0 rgba(48, 49, 49, 0.08)
        color white
        font-weight 700
        text-decoration none
        font-size 18px
        font-weight 700 
        &:hover
            background-color #33b3a4