+b.cabinet-aside
	+e("ul")
		+e("li").item
			+e("a").link(href="cabinet-profile.html").cabinet-aside__link-profile Мой профиль
		+e("li").item.is-active
			+e("a").link(href="cabinet-profile_notes.html").cabinet-aside__link-note.is-active Мои записи
			span.qt-note 12
		+e("li").item
			+e("a").link(href="cabinet-profile_otzivi.html").cabinet-aside__link-reviews Мои отзывы
		+e("li").item 
			+e("a").link(href="#").cabinet-aside__link-like Избранное 