form.js-location-lists
    fieldset
        input.form-control.input-sm.search__field.js-index-autocomplete(type="text", placeholder="Поиск по всем разделам сайта")
        button.search__button(type="submit") 
        +b.search-result(style="display: none;"): +i 
        .no-results-finder По запросу ничего не найдено!