form.js-form
    fieldset
        input.form-control.input-sm.search__field.js-search-input(type="text", placeholder="введите то, что ищите...")
        button.search__button.js-search-btn(type="submit")
+b.search-result.hidden: +i