.search
    position relative
    float right 
    margin 4px 0
    &__field
        display block
        width 428px 
        height 42px
        padding 0 40px 0 20px
        font-size 16px 
        line-height 2.9 
        background #fff
        border none
        z-index 6
        box-shadow none 
        placeholder(tomato, 16px)
        
        &:focus, &:active
            box-shadow none
            // color: tomato !important
                
        &:focus
            placeholder(transparent, 0px)
        @media phone
            width 100% 
    &__button
        position absolute
        top 50%
        right 12px
        margin-top -10px 
        border 0 none
        transition opacity 0.2s ease 
        background none
        background-image url('i/icons/search-main.png')
        width 21px
        height 21px
        background-repeat no-repeat 
        background-position 50% 50% 
        outline none
        transition all .2s ease-in-out
        box-sizing border-box 
        z-index 2 
.header__nav-right
    .search
        &__field
            border-radius 0 
