.feature
    margin-bottom 25px
    &__header
        vertical-align middle
        margin-bottom 10px
    &__icon
    &__title
        display inline-block
        @media phone
            display block 
            text-align center
    &__icon
        margin-right 15px
        @media phone
            margin-bottom 10px