case data.page
    when "doctors"
        | Бесплатный сервис поиска врачей
        p Найдите врача и запишитесь на прием. 
            a(href="#") Как это работает?
    when "countries"
        | Онлайн консультации и лечение за рубежом
    when "clinics"
        | Выберите клинику и запишитесь на прием
    when "diagnostics"
        | Выберите нужный вид диагностики и запишитесь на
    when "analyzes"
        h1 analyzes
    when "services"
        | Выберите интересующий 
    when "actions"
        | Выберите интересующюю вас акцию и сэкономьте
    
    
