.finder-title
    font-size 37px
    line-height 40px
    color #fff
    text-align center
    margin 0
    padding 50px 0 20px
    font-weight: 700 
    @media phone
        display none
    &.finder-title_mod
        padding 48px 0 19px 
    p
        font-size: 18px
        font-weight: 400
        line-height: 28px
        a
            border-bottom 1px dotted #fff
            color: #fff
            text-decoration none
            transition border-color .3s ease-in-out
            &:hover
                border-bottom-color: transparent 
    @media phone
        color blue_base
        font-size 24px