// .stickers
//     position relative
//     padding 30px 0
//     background-color #ffeaca
//     @media phone
//         padding 20px 0
//     &:before, &:after
//         content ""
//         position absolute
//         top 0
//         width 4px
//         height 100%
//         padding-bottom 6px
//         background-image url("i/stickers-corner.png")
//         background-repeat no-repeat
//         background-color #ffeaca
//         box-sizing content-box
//         -moz-box-sizing content-box
//         @media only screen and (max-width: 1130px)
//             display none
//     &:before
//         left -4px
//         background-position 0 bottom
//         border-radius 10px 0 0 0
//     &:after
//         right -4px
//         background-position -4px bottom
//         border-radius 0 10px 0 0
//     &__list
//         padding 0
//         margin-bottom 0 !important
//         list-style none
//     &-item
//         @media phone
//             margin-bottom 20px
//             &:last-child
//                 margin-bottom 0
//     &__content
//         position relative
//         height 190px
//         display block
//         background-color #fff
//         border-radius border_radius_sm
//         padding 15px 15px 15px 20px
//         text-decoration none
//         &:hover
//             text-decoration none
//         @media tablet
//             padding 10px
//         @media phone
//             height auto
//             padding 15px 15px 15px 20px
//     &__image
//         float left
//         margin 0 15px 13px 0
//         .icons
//             width 54px
//             height 54px
//             display block
//             background-color none
//         &_1
//             .icons
//                 background-position 0 -710px
//         &_2
//             .icons
//                 background-position 0 -770px
//         &_3
//             .icons
//                 background-position 0 -830px
//     &__title
//         overflow hidden
//         margin-top 5px
//         margin-bottom 18px
//         font-size 19px
//         line-height 1.2
//         font-weight bold
//         @media tablet
//             margin-top 0
//             margin-bottom 8px
//             font-size 16px
//         @media phone
//             margin-bottom 8px
//     &__description
//         font-size 16px
//         line-height 1.37
//         color #000
//         clear both
//         @media phone_tablet
//             font-size 14px