ul.livesearch.top-list
   span.last-child
   li.top-list__item
      a.top-list__item-link(href='#', title='')
         .top-list__picture
            img(src="i/new-search/icon-list-doctors.png", alt="")
         .top-list__left
            .top-list__title Врач нетрадиционной медицины   
         .top-list__right
            .top-list__subject Список врачей
   //- li.top-list__item
   //-    a.top-list__item-link(href='#', title='')
   //-       .top-list__picture
   //-          img(src="i/new-search/icon-list-diagnostic-centers.png", alt="")
   //-       .top-list__left
   //-          .top-list__title Кардиология  
   //-       .top-list__right
   //-          .top-list__subject Диагностические
   //-             | центры
   //- li.top-list__item
   //-    a.top-list__item-link(href='#', title='')
   //-       .top-list__picture
   //-          img(src="i/new-search/icon-servise.png", alt="")
   //-       .top-list__left
   //-          .top-list__title Реабилитация после удаления 
   //-             <br>межпозвоночной грыжи
   //-       .top-list__right
   //-          .top-list__subject Услуга
   //- li.top-list__item.main-items
   //-    a.top-list__item-link(href='#', title='')
   //-       .top-list__picture
   //-          img(src="i/new-search/doc.png", alt="" )
   //-       .top-list__left
   //-          .top-list__title  Калиниченко Владислав Петрович 
   //-             |<br>стоматолог
   //-       .top-list__right
   //-          .top-list__subject Врач
   li.top-list__item.main-items
      a.top-list__item-link(href='#', title='')
         .top-list__picture
            img(src="i/new-search/boris.png", alt="")
         .top-list__left
            .top-list__title Ортопедический институт Калиновского хирургия, пластическая хирургия 
         .top-list__right
            .top-list__subject Клиника
   li.top-list__item
      a.top-list__item-link(href='#', title='')
         .top-list__picture
            img(src="i/new-search/icon-servise.png", alt="")
         .top-list__left
            .top-list__title Лекарственная обработка задней стенки глотки и миндалин при острой респираторной вирусной
         .top-list__right
            .top-list__subject Услуга
   //- li.top-list__item
   //-    a.top-list__item-link(href='#', title='')
   //-       .top-list__picture
   //-          img(src="i/new-search/icon-disease.png", alt="")
   //-       .top-list__left
   //-          .top-list__title Аллергический контактный дерматит
   //-       .top-list__right
   //-          .top-list__subject Болезнь
   //- li.top-list__item
   //-    a.top-list__item-link(href='#', title='')
   //-       .top-list__picture
   //-          img(src="i/new-search/icon-article.png", alt="")
   //-       .top-list__left
   //-          .top-list__title Хронический калькулезный холецистит
   //-       .top-list__right
   //-          .top-list__subject Статья
   li.top-list__item.main-items
      a.top-list__item-link(href='#', title='')
         .top-list__picture
            img(src="i/new-search/sale.png", alt="" )
         .top-list__left
            .top-list__title 25% скидки на комплекс «Здоровая щитовидка»!
         .top-list__right
            .top-list__subject Акция
         





      //-    .top-list__item-image.thumb
      //-       img.ls__img(src='http://doc.ua/uploads/1/0/5/8/3/10583/35x35/resize_bg_imagecrop_ratiof_width_insert/1.jpg', alt='')
      //-    .top-list__item-title(style='padding-bottom: 0px;padding-top: 0px') Радецкая Валентина Валентиновна
      //- .specialty.article-list-item__date Онколог
      //- .top-list__rating
      //-    .rating.rating_size.pull-right
      //-       .rating__value.value 3.2
      //-       .rating__stars
      //-          .rating__stars-bg
      //-          .rating__stars-overlay(style='width: 70%;')
   //- li.top-list__item(data-index='doctor', data-id='4082')
   //-    a.top-list__item-link(href='/doctor-consultation.html', title='Каминский Валерий Валерьевич')
   //-       .top-list__item-image.thumb
   //-          img.ls__img(src='http://doc.ua/uploads/1/0/5/8/3/10583/35x35/resize_bg_imagecrop_ratiof_width_insert/1.jpg', alt='')
   //-       .top-list__item-title(style='padding-bottom: 0px;padding-top: 0px') Каминский Валерий Валерьевич
   //-    .specialty.article-list-item__date Стоматолог
   //-    .top-list__rating
   //-       .rating.rating_size.pull-right
   //-          .rating__value.value 4.7
   //-          .rating__stars
   //-             .rating__stars-bg
   //-             .rating__stars-overlay(style='width: 100%;')
   //- li.top-list__item(data-index='doctor', data-id='5121')
   //-    a.top-list__item-link(href='/doctor-consultation.html', title='Жаров  Валерий  Валерьевич')
   //-       .top-list__item-image.thumb
   //-          img.ls__img(src='http://doc.ua/uploads/1/0/5/8/3/10583/35x35/resize_bg_imagecrop_ratiof_width_insert/1.jpg', alt='')
   //-       .top-list__item-title(style='padding-bottom: 0px;padding-top: 0px') Жаров  Валерий  Валерьевич
   //-    .specialty.article-list-item__date Акушер-гинеколог, Гинеколог
   //-    .top-list__rating
   //-       .rating.rating_size.pull-right
   //-          .rating__value.value 3.9
   //-          .rating__stars
   //-             .rating__stars-bg
   //-             .rating__stars-overlay(style='width: 80%;')
   //- li.top-list__item(data-index='doctor', data-id='318')
   //-    a.top-list__item-link(href='/doctor-consultation.html', title='Валихновский Ростислав Любомирович')
   //-       .top-list__item-image.thumb
   //-          img.ls__img(src='http://doc.ua/uploads/1/0/5/8/3/10583/35x35/resize_bg_imagecrop_ratiof_width_insert/1.jpg', alt='')
   //-       .top-list__item-title(style='padding-bottom: 0px;padding-top: 0px') Валихновский Ростислав Любомирович
   //-    .specialty.article-list-item__date Пластический хирург, Хирург
   //-    .top-list__rating
   //-       .rating.rating_size.pull-right
   //-          .rating__value.value 4.9
   //-          .rating__stars
   //-             .rating__stars-bg
   //-             .rating__stars-overlay(style='width: 100%;')
   //- li.top-list__item(data-index='doctor', data-id='319')
   //-    a.top-list__item-link(href='/doctor-consultation.html', title='Валихновский Тарас Любомирович')
   //-       .top-list__item-image.thumb
   //-       .top-list__item-title(style='padding-bottom: 0px;padding-top: 0px') Валихновский Тарас Любомирович
   //-    .specialty.article-list-item__date Пластический хирург, Хирург
   //- li.top-list__item(data-index='doctor', data-id='3070')
   //-    a.top-list__item-link(href='/doctor-consultation.html', title='Валишевский  Орест  Владимирович')
   //-       .top-list__item-image.thumb
   //-          img.ls__img(src='http://doc.ua/uploads/1/0/5/8/3/10583/35x35/resize_bg_imagecrop_ratiof_width_insert/1.jpg', alt='')
   //-       .top-list__item-title(style='padding-bottom: 0px;padding-top: 0px') Валишевский  Орест  Владимирович
   //-    .specialty.article-list-item__date УЗИ-специалист
   //-    .top-list__rating
   //-       .rating.rating_size.pull-right
   //-          .rating__value.value 4.3
   //-          .rating__stars
   //-             .rating__stars-bg
   //-             .rating__stars-overlay(style='width: 91%;')
   //- li.top-list__item(data-index='doctor', data-id='3521')
   //-    a.top-list__item-link(href='/doctor-consultation.html', title='Вальковец Ирина Лукашевна')
   //-       .top-list__item-image.thumb
   //-          img.ls__img(src='http://doc.ua/uploads/1/0/5/8/3/10583/35x35/resize_bg_imagecrop_ratiof_width_insert/1.jpg', alt='')
   //-       .top-list__item-title(style='padding-bottom: 0px;padding-top: 0px') Вальковец Ирина Лукашевна
   //-    .specialty.article-list-item__date Психолог
   //-    .top-list__rating
   //-       .rating.rating_size.pull-right
   //-          .rating__value.value 2.9
   //-          .rating__stars
   //-             .rating__stars-bg
   //-             .rating__stars-overlay(style='width: 60%;')
   //- li.top-list__item(data-index='doctor', data-id='4861')
   //-    a.top-list__item-link(href='/doctor-consultation.html', title='Валанцевич  Надежда  Дмитриевна ')
   //-       .top-list__item-image.thumb
   //-          img.ls__img(src='http://doc.ua/uploads/1/0/5/8/3/10583/35x35/resize_bg_imagecrop_ratiof_width_insert/1.jpg', alt='')
   //-       .top-list__item-title(style='padding-bottom: 0px;padding-top: 0px') Валанцевич  Надежда  Дмитриевна
   //-    .specialty.article-list-item__date Педиатр
   //-    .top-list__rating
   //-       .rating.rating_size.pull-right
   //-          .rating__value.value 4.1
   //-          .rating__stars
   //-             .rating__stars-bg
   //-             .rating__stars-overlay(style='width: 80%;')
   //- li.top-list__item(data-index='doctor', data-id='25')
   //-    a.top-list__item-link(href='/doctor-consultation.html', title='Ильченко  Валерий Викторович')
   //-       .top-list__item-image.thumb
   //-          img.ls__img(src='http://doc.ua/uploads/1/0/5/8/3/10583/35x35/resize_bg_imagecrop_ratiof_width_insert/1.jpg', alt='')
   //-       .top-list__item-title(style='padding-bottom: 0px;padding-top: 0px') Ильченко  Валерий Викторович
   //-    .specialty.article-list-item__date Проктолог, Хирург, Эндоскопист
   //-    .top-list__rating
   //-       .rating.rating_size.pull-right
   //-          .rating__value.value 4.8
   //-          .rating__stars
   //-             .rating__stars-bg
   //-             .rating__stars-overlay(style='width: 100%;')
   //- li.top-list__item(data-index='doctor', data-id='106')
   //-    a.top-list__item-link(href='/doctor-consultation.html', title='Денисюк  Валентин Иванович')
   //-       .top-list__item-image.thumb
   //-          img.ls__img(src='http://doc.ua/uploads/1/0/5/8/3/10583/35x35/resize_bg_imagecrop_ratiof_width_insert/1.jpg', alt='')
   //-       .top-list__item-title(style='padding-bottom: 0px;padding-top: 0px') Денисюк  Валентин Иванович
   //-    .specialty.article-list-item__date Стоматолог
   //-    .top-list__rating
   //-       .rating.rating_size.pull-right
   //-          .rating__value.value 4.5
   //-          .rating__stars
   //-             .rating__stars-bg
   //-             .rating__stars-overlay(style='width: 91%;')
   .more-toggle.show.more-toggle_mod
      span.more-toggle__found 
         span.more-toggle__hidden Найдено 
         span.more-toggle__found-number 10 
         | результатов
      a.more-toggle__link(href='/search?query=%D0%B2%D0%B0%D0%BB', data-toggle='class')
         span
            span.more_link Все результаты