.navbar-main
    .container
        position relative
    @media phone
        border-bottom 2px solid #e5f2f5
    .navbar-header
        float left
        &__title
            padding-top 5px
            color #a8e3ee
            font-size 14px
    .select7
        &__caret
            border-color header_icons_color transparent transparent
        &__current
            padding-right 10px
            
    .navbar-header, .phones, .feedback a:first-child
        margin-right 45px
        @media phone_tablet
            margin-right: 15px
    .user-panel-menu__button
        -webkit-border-radius 2px 
        border-radius 2px 
        @media phone_tablet
            display: none
    .favorites-link
        @media phone_tablet
            padding-right: 0
    .user-panel
        float right
        
        >div, >a
            float right
    // @media phone_tablet
    //     .user-panel
    //         float left
    //         margin-right 100px
    //         margin-top 10px
    .navbar-toggle
        .icon-bar + .icon-bar
            margin-top: 4px