.navbar-main
    .container
        position relative
    @media phone
        border-bottom 2px solid #e5f2f5
    .navbar-header
        float left
        &__title
            padding-top 5px
            color #a8e3ee
            font-size 14px
    .select7
        &__caret
            border-color header_icons_color transparent transparent
        &__current
            padding-right 10px
            
    .navbar-header, .phones, .feedback a:first-child
        margin-right 45px

    .user-panel
        float right
        >div, >a
            float right
    @media phone_tablet
        .user-panel
            float left
            margin-right 100px
            margin-top 10px
