.navbar-main
    padding 5px 0
    padding-bottom 4px 
    text-align right
    background-color white
    border none 
    // transition all .2s ease-in-out
    clearfix()
    @media phone
        border-bottom 2px solid #e5f2f5
    .container
        &__left-side
            float left
            width 60% 
        &__right-side
            float right
            width 40% 
        @media phone
            &__left-side, &__right-side
                display block
                width 100% 
    .navbar-header
        float left
        position relative
        display inline-block
        vertical-align middle 
        margin-right 45px
        // margin-left 30px 
        margin-left 20px 
        margin-top 2px 
        // max-width 175px 
        // width 100% 
        margin-right 0 !important
        text-align left
        @media only screen and (max-width: 1120px)
            margin-left 20px 
        @media phone_tablet
            margin-right: 15px
        @media phone 
            max-width 145px
        &__title
            padding-top 5px
            color #a8e3ee
            font-size 14px
            
        &__loc-icon
            position absolute
            vertical-align baseline 
            width: 14px
            height: 20px
            background: url(i/new-search/local.svg)
            background-repeat: no-repeat
            background-position: 100% 100%
            -webkit-background-size: cover
            -o-background-size: cover
            background-size: cover
            bottom 0px
            left -5px
    .select7
        &__caret
            margin-left 8px
            border-color blue_base transparent transparent
        &__current
            color #0099a8
        &__option
            color text_color

    .user-panel-menu__button
        -webkit-border-radius 2px 
        border-radius 2px 
        @media phone_tablet
            display: none  
    .favorites-link
        @media phone_tablet
            padding-right: 0
        @media only screen and (max-width: 768px)
            display none
    .user-panel
        float right
        >div, >a
            float right
    .navbar-toggle
        .icon-bar + .icon-bar
            margin-top: 4px
    .navbar-toggle
        .icon-bar
            background-color blue_base
            .lock &
                background-color #95d8e5 
        // .icon-bar:focus
        //     background-color #95d8e5 

.navbar-main.navbar-main_inner
    // padding-top 10px 
    padding 4px 0 3px 
    text-align right
    background-color white
    border none
    .container
        position relative
        width auto 
        padding-right 0 
        
.navbar-mobile
    .menu
        width 100% 
    .search
        &:hover
            background none
    .search__field
        display block
        margin-top 10px
        line-height 2 
        padding 0 40px 0 15px 
    .search__button
        margin -13px 0px 0 0
        height 37px 
        padding 0px 15px
    .mobile-menu
        @media only screen and (max-height: 320px)
            padding 15px 0        
        @media only screen and (min-height: 321px)
            padding 30px 0
    @media phone 
        .search-result .livesearch.top-list
            max-width 706px 
            width 100%
        
    
.navbar-fixed-top
    &.navbar-main
        padding 4px 0 2px 
        transition transform .4s
        transform translateY(-100%)
        border-bottom 2px solid rgba(62,191,172,0.7) 
        @media phone
            transition none
            border 0
            padding 6px 0 
    .logo
        margin-right 33px
        @media only screen and (max-height: 1030px)
            margin-right 0 
        @media phone
            margin-right 8px 
            &__image
                margin-right 0 
    .navbar-header
        margin-top 13px 
        @media phone
            margin-top 0
    .phones
        margin-top 7px
    .phones_mobile
        margin-top 0
        padding-top 3px 
    // .favorites-link, .user-panel
    //     margin-top 4px

.navbar-main_slide
    &.navbar-main
        transform translateY(0)