.col-sm-4
  .short-card
    .short-card__profile
      .short-card__left-side
        .male.short-card__image
          img(src='/i/alexandriyskiy-constantin.jpg', alt='')
      |                 
      .short-card__right-side
        .short-card__title
          a(href='/doctors/consultation.html', title='Пупкин Василий Иванович') Пупкин Василий Иванович
        |                   
        .short-card__label-description Врач высшей категории
        |                   
        .short-card__experience
          span.grey Стаж работы:
          |  5 лет
        |                   
        .rating.value-size_big
          .rating__stars
            .rating__stars-bg
            |                       
            .rating__stars-overlay(style='width: 86%;')
          |                     
          .rating__value.value 4.3
    |               
    .short-card__review
      .short-card__review-header
        .short-card__review-name Наталья
        |                   
        .likebox
          .likebox__like
            .likebox__votes 16
      |                 
      .short-card__review-text
        | Спасибо за эффективный план лечения! Я пришла к Алекcандру Евгенивичу с недолеченным 5-дневным отитом. Грамотный осмотр + комплексная программа лечения. Грамотный осмотр комплексная программа лечения.
      a.short-card__more-link(href='/', title='Перейти к отзыву') Перейти к отзыву
|           
.col-sm-4
  .short-card
    .short-card__profile
      .short-card__left-side
        .female.short-card__image
          img(src='/i/krasnopolskaya-valeriya.jpg', alt='')
      |                 
      .short-card__right-side
        .short-card__title
          a(href='/doctors/consultation.html', title='Краснопольская Валерия Константиновна') Краснопольская Валерия Константиновна
        |                   
        .short-card__label-description Врач высшей категории
        |                   
        .short-card__experience
          span.grey Стаж работы:
          |  9 лет
        |                   
        .rating.value-size_big
          .rating__stars
            .rating__stars-bg
            |                       
            .rating__stars-overlay(style='width: 54%;')
          |                     
          .rating__value.value 2.7
    |               
    .short-card__review
      .short-card__review-header
        .short-card__review-name Наталья
        |                   
        .likebox
          .likebox__like
            .likebox__votes 16
      |                 
      .short-card__review-text
        | Спасибо за эффективный план лечения! Я пришла к Алекcандру Евгенивичу с недолеченным 5-дневным отитом. Грамотный осмотр + комплексная программа лечения. Грамотный осмотр комплексная программа лечения.
      a.short-card__more-link(href='/', title='Перейти к отзыву') Перейти к отзыву
|           
.col-sm-4
  .short-card
    .short-card__profile
      .badge-label.badge-label_background_green
        img(src='/i/doc-logo-small-white.png', alt='')
        |                   
        p рекомендует
        span.badge-label__arrow
          span
      |                 
      .short-card__left-side
        .male.short-card__image
          img(src='/i/alexandriyskiy-constantin.jpg', alt='')
      |                 
      .short-card__right-side
        .short-card__title
          a(href='/doctors/consultation.html', title='Александрийский Константин Константинович') Александрийский Константин Константинович
        |                   
        .short-card__label-description Врач высшей категории
        |                   
        .short-card__experience
          span.grey Стаж работы:
          |  16 лет
        |                   
        .rating.value-size_big
          .rating__stars
            .rating__stars-bg
            |                       
            .rating__stars-overlay(style='width: 86%;')
          |                     
          .rating__value.value 4.3
    |               
    .short-card__review
      .short-card__review-header
        .short-card__review-name Наталья
        |                   
        .likebox
          .likebox__like
            .likebox__votes 16
      |                 
      .short-card__review-text
        | Спасибо за эффективный план лечения! Я пришла к Алекcандру Евгенивичу с недолеченным 5-дневным отитом. Грамотный осмотр + комплексная программа лечения. Грамотный осмотр комплексная программа лечения.
      a.short-card__more-link(href='/', title='Перейти к отзыву') Перейти к отзыву
                  