//---
   layout: layouts/static
   title: О нас
   activeMenuItem: 4
   finder: doctors
   modals: select-area, select-actions
   page_name: about  

.b-box   
   img.b-box__doc.hidden-xs(src="/i/bb-doc.png", alt="")  
   p    
      strong.ocean-blue Doc.ua 
      | — бесплатный онлайн-сервис поиска врача и записи на прием.  
   p
      strong Наша цель &mdash;
      |  помочь пациенту в любое время найти нужного врача и быстро записаться к нему нам прием!
section.about-content
   header.header-styled.header-styled-mod      
      h2.h1 Как работает DOC.ua 
   .row.about-row
      .col-sm-6.col-xs-12.pull-right.about-list
         h2.offset-top-md-30 Вибираете врача самостоятельно
         ul.about-disc
            li все врачи и клиники на одном сайте;
            li быстрая запись к любому специалисту; 
            li выбор врача по специализации, цене, месту приема,   рейтингу и отзывам;
            li уникальные партнерские предложения и все акции клиник в одном месте.
      .col-sm-6.col-xs-12.pull-left: img.content-img-5878(src="/i/about-img1.png", alt="") 
   .row.about-row
      .col-sm-6.col-xs-12.about-text
         h2.offset-top-md-30 ...или звоните к нам в call-центр
         .about-highlight.is-mid.is-top
            p врачи call-центра DOC.UA помогут подобрать специалиста и расскажут, как проехать в клинику;
         +b.feedback.feedback-mod.offset-0: +i
         //- +b.phones.offset-right10: +i 
         +b.phones.offset-right10
            select.select7
               option(value="landline", selected, data-icon="/i/icons/phone-icon.png") (044) 3370707
               option(value="mts", data-icon="/i/icons/mts-logo.png") (095) 3370707
               option(value="life", data-icon="/i/icons/life-logo.png") (063) 3370707
               option(value="kyivstar", data-icon="/i/icons/kyivstar-logo.png") (067) 3370707
      .col-sm-6.col-xs-12: img.content-img-9483(src="/i/about-img2.png", alt="")
   .row.about-row
      .col-sm-7.col-xs-12.pull-right.about-text
         h2.offset-top-md-30 Подтверждение и напоминание
         .about-highlight.is-bottom
            p врачи call-центра DOC.UA помогут подобрать специалиста и расскажут, как проехать в клинику;
      .col-sm-5.col-xs-12.pull-left.about-img-phone: img.content-img-5878(src="/i/about-img3.png", alt="")
   .row.about-row-mod
      .col-sm-6.col-xs-12.about-list
         h2.offset-top-md-30 Отзыв о посещении
         p После приема специалисты call-центра собирают отзыв о враче и клинике:
         ul.about-disc
            li ваш отзыв влияет на рейтинг врача и клиники;
            li вы помогаете в выборе другим пациентам нашего сайта.
      .col-sm-6.col-xs-12: img.content-img-9483(src="/i/about-img4.png", alt="")
section.about-content
   header.header-styled.header-styled-mod
      h2.h1 Наша идеология
   .row.offset-bottom-0
      .col-sm-6.col-xs-12
         +b.feature
            +e.header
               +e("span").icon
                  img(src="/i/icons/icon-check2.png", alt="")
               +e.title Мы за интересы пациента
            +e.content
               p Наша главная задача — уверенность каждого пациента в том, что его здоровье в надежных руках! Для этого мы тщательно проверяем всю выложенную на нашем сайте информацию о врачах и клиниках и предоставляем объективный рейтинг специалистов.
      .col-sm-6.col-xs-12
         +b.feature
            +e.header
               +e("span").icon
                  img(src="/i/icons/icon-check2.png", alt="")
               +e.title Мы за хороших врачей
            +e.content
               p  Мы собираем и предоставляем проверенную информацию о врачах из любых медицинских учреждений и формируем уникальную систему рейтинга, чтобы выбор наших пациентов опирался на объективные данные и не зависел от рекламы.
   .row
      .col-sm-6.col-xs-12
         +b.feature
            +e.header
               +e("span").icon
                  img(src="/i/icons/icon-check2.png", alt="")
               +e.title Мы за лучший сервис
            +e.content
               p Для нас важны отзывы и пожелания наших пациентов, ведь только с их помощью мы можем сделать работу врачей и клиник лучше. Все отзывы о работе врачей и клиник оставляют только реальные пациенты, побывавшие на приеме! И каждый отзыв влияет на рейтинг специалистов и клиник, помогая другим пациентам получить качественную медицинскую помощь.

      .col-sm-6.col-xs-12
         +b.feature
            +e.header
               +e("span").icon
                  img(src="/i/icons/icon-check2.png", alt="")
               +e.title Мы за новое качество
            +e.content
               p  Мы считаем, что пришло время изменить представление о сервисе в системе здравоохранения! Благодаря прозрачному рейтингу, полной и достоверной информации о специалистах, каждый пациент может выбрать врача необходимой специальности в нужном районе города и записаться к нему на прием. Быстро, удобно и бесплатно.

section.about-content
   header.header-styled.header-styled-mod
      h2.h1 СМИ о нас
   +b.comment-quotes: +i({ quotes: mediaQuotes })