//---
   layout: layouts/static
   title: О нас
   activeMenuItem: 4
   finder: actions
   modals: select-area, select-actions
   page_name: about
 
.border-box.middle.margin-top-20  
   img.alignright.about-doctor.hidden-xs(src="/i/doc-like-big.svg", alt="")
   p
      span.ocean-blue Doc.ua
      | — бесплатный онлайн-сервис поиска врача и записи на прием. 
   p
      strong Наша цель &mdash;
      |  помочь пациенту в любое время найти нужного врача и быстро записаться к нему нам прием!
section.offset-bottom30
   header.header-styled
      h2.h1 Как работает DOC.ua
   .row.offset-bottom-0
      .col-sm-6
         h2.offset-top-md-30 Вибираете врача самостоятельно 2222
         ul.style-disc.middle
            li все врачи и клиники на одном сайте;
            li быстрая запись к любому специалисту;
            li выбор врача по специализации, цене, месту приема,   рейтингу и отзывам;
            li уникальные партнерские предложения и все акции клиник в одном месте.
      .col-sm-6: img.content-img-5878(src="/i/about-img-4.jpg", alt="")
   hr.dotted.offset-top-0
   .row.offset-bottom-0
      .col-sm-6.pull-right
         h2.offset-top-md-30 ...или звоните к нам в call-центр
         .highlight.middle
            p врачи call-центра DOC.UA помогут подобрать специалиста и расскажут, как проехать в клинику;
         +b.feedback.offset-0: +i
         +b.phones.offset-right10: +i
      .col-sm-6.pull-left: img.content-img-9483(src="/i/about-img-1.jpg", alt="")
   hr.dotted.offset-top-0
   .row.offset-0
      .col-sm-6
         h2.offset-top-md-30 Подтверждение и напоминание
         p После записи вам придет sms-напоминание с датой и местом приема;
      .col-sm-6.text-center: img.content-img-5878(src="/i/about-img-3.jpg", alt="")
   hr.dotted.offset-top-0
   .row.offset-bottom-0
      .col-sm-6.pull-right
         h2.offset-top-md-30 Отзыв о посещении
         p После приема специалисты call-центра собирают отзыв о враче и клинике:
         ul.style-disc.middle
            li ваш отзыв влияет на рейтинг врача и клиники;
            li вы помогаете в выборе другим пациентам нашего сайта.
      .col-sm-6: img.content-img-9483(src="/i/about-img-2.jpg", alt="")
   hr.dotted.offset-top-0
section
   header.header-styled
      h2.h1 Наша идеология
   .row.offset-bottom-0
      .col-sm-6
         +b.feature
            +e.header
               +e("span").icon
                  img(src="/i/icon-check-2.png", alt="")
               +e.title.h3 Мы за интересы пациента
            +e.content
               p Наша главная задача — уверенность каждого пациента в том, что его здоровье в надежных руках! Для этого мы тщательно проверяем всю выложенную на нашем сайте информацию о врачах и клиниках и предоставляем объективный рейтинг специалистов.
      .col-sm-6
         +b.feature
            +e.header
               +e("span").icon
                  img(src="/i/icon-check-2.png", alt="")
               +e.title.h3 Мы за хороших врачей
            +e.content
               p  Мы собираем и предоставляем проверенную информацию о врачах из любых медицинских учреждений и формируем уникальную систему рейтинга, чтобы выбор наших пациентов опирался на объективные данные и не зависел от рекламы.
   .row
      .col-sm-6
         +b.feature
            +e.header
               +e("span").icon
                  img(src="/i/icon-check-2.png", alt="")
               +e.title.h3 Мы за лучший сервис
            +e.content
               p Для нас важны отзывы и пожелания наших пациентов, ведь только с их помощью мы можем сделать работу врачей и клиник лучше. Все отзывы о работе врачей и клиник оставляют только реальные пациенты, побывавшие на приеме! И каждый отзыв влияет на рейтинг специалистов и клиник, помогая другим пациентам получить качественную медицинскую помощь.

      .col-sm-6
         +b.feature
            +e.header
               +e("span").icon
                  img(src="/i/icon-check-2.png", alt="")
               +e.title.h3 Мы за новое качество
            +e.content
               p  Мы считаем, что пришло время изменить представление о сервисе в системе здравоохранения! Благодаря прозрачному рейтингу, полной и достоверной информации о специалистах, каждый пациент может выбрать врача необходимой специальности в нужном районе города и записаться к нему на прием. Быстро, удобно и бесплатно.

section
   header.header-styled
      h2.h1 СМИ о нас
   +b.comment-quotes: +i({ quotes: mediaQuotes })