//---
   layout: layouts/static
   title: О рейтинге
   finder: doctors
   page_name: rating

.rich-content.row.offset-bottom-0 
   .col-sm-5.col-xs-12.rating-top
      p Мы понимаем, насколько важную роль играет рейтинг врача или клиники для наших пользователей, и как он влияет на их выбор.
      p Мы стремимся предоставлять вам наивысшее качество сервиса, формируя абсолютно прозрачный и честный рейтинг.
      p В формировании нашего рейтинга участвуете непосредственно вы, оставляя свой отзыв на нашем сайте!
   .col-sm-7.hidden-xs
      img.ratin-card(src="/i/rating1.png", alt="")
      img.ratin-doctor(src="/i/r-doctor.png", alt="") 
section  
   header.header-styled.header-styled-mod 
      h2.h1 Как работают отзывы
   .row.js-tab-container
      .col-sm-5
         .badyl(data-badyl-ref-el=".badyl-ref")
            +b.page-sidebar
               +e("ul").list.js-tabs
                  +e("li").list-item
                     +e("a").list-link.js-tab-link(href="#", data-id="1", title="От чего зависит рейтинг на сайте?") 
                        span От чего зависит рейтинг на сайте?
                  +e("li").list-item
                     +e("a").list-link.js-tab-link(href="#", data-id="2", title="Откуда вы берете информацию о врачах и клиниках?") 
                        span Откуда вы берете информацию о врачах и клиниках?
                  +e("li").list-item
                     +e("a").list-link.js-tab-link(href="#", data-id="3", title="Как вы получаете отзывы?") 
                        span Как вы получаете отзывы? 
                  +e("li").list-item
                     +e("a").list-link.js-tab-link(href="#", data-id="4", title="Почему отзывам на вашем сайте можно доверять?") 
                        span Почему отзывам на вашем сайте можно доверять?
                  +e("li").list-item
                     +e("a").list-link.js-tab-link(href="#", data-id="5", title="Почему я не могу оставить отзыв на сайте?") 
                        span Почему я не могу оставить отзыв на сайте?
                  +e("li").list-item
                     +e("a").list-link.js-tab-link(href="#"  data-id="6",title="Вы публикуете только хорошие отзывы?") 
                        span Вы публикуете только хорошие отзывы?
                  +e("li").list-item
                     +e("a").list-link.js-tab-link(href="#", data-id="7", title="Как я могу оставить максимально полезный отзыв?") 
                        span Как я могу оставить максимально полезный отзыв? 
      .badyl-ref.col-sm-7
         .rich-content.js-scrollto
            .rich-box.js-tab-block(data-block="1")
               h3#ot-chego-zavisit-reiting-na-saite.h2 От чего зависит рейтинг на сайте?
               p Для того чтобы подать имеющуюся в наличии информацию о враче и клинике в максимально полезной и удобной для вас форме, мы разработали уникальную систему рейтинга.
               p
                  strong Рейтинг врача
                  |  высчитывается на основании профессиональных характеристик врача и отзывов наших пациентов, которые побывали у него на приеме.
               p Профессиональные характеристики, которые влияют на первоначальный рейтинг врача на сайте.
               p: strong Мы учитываем:
               ul.style-disc
                  li стаж работы врача;
                  li врачебную квалификационную категорию (вторая, первая, высшая);
                  li научную степень (кандидат или доктор медицинских наук).
               p
                  strong Рейтинг клиники
                  |  формируется только на основании ваших отзывов. Мнения пользователей о персонале клиники, интерьере, комфорте пребывания в ней имеет значение не только для других пациентов, но и для клиник, ведь на их основании они, как и мы, работают над своим сервисом.
            .rich-box.js-tab-block(data-block="2")
               h3#otkuda-vy-berete-informaciju-o-vrachax-i-klinikax.h2 Откуда вы берете информацию о врачах и клиниках?
               p С каждой клиникой мы заключаем официальный договор, по условиям которого, клиника дает нам разрешение на публикацию врачей на сайте и передает необходимую информацию. После того, как информация о клинике и врачах появилась на сайте, представители клиники могут в любой момент ознакомиться с ней и, при необходимости, внести какие-либо корректировки.
               p Также мы следим за изменением квалификационных характеристик врача и его опыта работы, своевременно обновляя информацию на нашем сайте. Благодаря этому информация о врачах и клиниках на нашем сайте является достоверной и актуальной.
            .rich-box.js-tab-block(data-block="3")
               h3#kak-vy-poluchaete-otzyvy.h2 Как вы получаете отзывы?
               p
                  strong Мы получаем отзыв непосредственно из уст пациента!
                  |  После того, как человек побывал на приеме у врача, сотрудники нашего колл-центра звонят пациенту и в телефонном разговоре узнают его впечатления о прошедшем приеме, а также просят выставить оценки от одного до пяти работе врача и клинике по нескольким критериям, что позволяет получить полноценный отзыв.
               p: strong Критерии оценивания работы врача:
               ul.style-disc
                  li внимательность врача – насколько врач был учтив и терпелив во время приема;
                  li квалификация врача – его педантичность и профессионализм во время осмотра;
                  li цена-качество – соотношение стоимости и качества приема;
                  li рекомендую врача – может ли пациент порекомендовать врача другим пациентам с такой же проблемой.
               p: strong Критерии оценивания работы клиники:
               ul.style-disc
                  li время ожидания;
                  li работа рецепции – вежливость и внимательность административного и врачебного персонала клиники;
                  li комфорт пребывания – интерьер, ремонт, время ожидания и т.д.
            .rich-box.js-tab-block(data-block="4")
               h3#pochemu-otzyvam-na-vashem-saite-mozhno-doveryat.h2 Почему отзывам на вашем сайте можно доверять?
               p
                  strong Отзывы пациентов
                  |  о враче и клинике являются неотъемлемой и важной частью нашего сервиса, ведь с их помощью вы делитесь своим личным опытом с другими пациентами, помогая им сделать выбор и получить качественную медицинскую помощь, а нам – совершенствовать наш сервис. Именно поэтому мы публикуем лишь проверенные отзывы, которые внушают доверие и дают вам информативное представление о враче и клинике.
            .rich-box.js-tab-block(data-block="5")
               h3#pochemu-ya-nemogy-ostavit-otzyv-na-saite.h2 Почему я не могу оставить отзыв на сайте?
               p Нашим главным отличием от других сайтов с отзывами пациентов является то, что отзыв о посещении врача или клиники на нашем сайте может оставить только проверенный пациент, который на самом деле посетил врача, записавшись к нему на прием с нашей помощью. Это исключает возможность появления ненастоящих отзывов, оставленных кем угодно, включая самого врача или персонал клиники. Благодаря этому мы получаем правдивые, информативные и справедливые комментарии о работе врача и клиники.
            .rich-box.js-tab-block(data-block="6")
               h3#vy-publikuete-tolko-horoshye-otzyvy.h2 Вы публикуете только хорошие отзывы?
               p Вовсе нет! Мы хотим быть полезными для наших пользователей, рекомендуя им хороших врачей и отличный сервис. Также мы хотим быть полезными для наших партнеров – клиник и медицинских центров, вовремя обращая их внимание на возможные проблемы и недостатки, для их своевременного устранения. Мы публикуем все отзывы наших пользователей: положительные отрицательные и нейтральные.
            .rich-box.js-tab-block(data-block="7")
               h3#kak-ya-mogu-ostavit-maksimalno-poleznyi-otzyv.h2 Как я могу оставить максимально полезный отзыв?
               p Для того чтобы ваш отзыв помог другим пациентам сделать свой выбор вкладывайте в него как можно более существенную информацию, которая была бы интересна другим пациентам и вам, будь вы на их месте, расскажите о ваших впечатлениях после общения с врачом и персоналом клиники.
               p Мы хотим, чтобы наши пользователи знали, что их отзывы являются надежным и эффективным информационным источником для остальных пациентов!