//---
    layout: layouts/main
    title: Акции в Киеве
    activeMenuItem: 0
    modals: feedback, select-specialization
    page_name: action-test 

.row     
    article.col-md-12 
        +b("header").article-header
            h1= file.title                     
    section.col-md-9    
        +b.direction
            +e.left
                +e.title Направление:
                +e("a").btn.js-clone(href='#select-specialization', data-toggle='modal') 
                    span Выберите направление
                    i.btn__close.js-clear 
            +e.right
                +e.text найдено  
                    b 120 предложений 

        +b.section-action
            - var limit = 15
            each action, i in actionsData  
                if i < limit
                    +b.action-item: +i(action)
  
     


    aside.col-md-3.hidden-sm.hidden-xs
        .widget.widget-map
            #map-canvas-right
            a.btn.btn-success(href="/map.html") Развернуть карту
        .widget.widget-doctor
            h3 Врачи по направлению
            - var items = []
            - var limit = 4
            each doctor, i in doctors
                if i < limit
                    - items.push({ gender: doctor.gender, image: doctor.photo.main, title: doctor.name, url: '/' , label: doctor.label, location: doctor.location, rating: doctor.averageRating })
            +b.short-list: +i({ items: items })
            .link.link-more
                   a(href="/doctors.html") Все врачи 