//---
    layout: layouts/main
    title: Акции в Киеве
    activeMenuItem: 0
    modals: feedback, select-specialization, select-area
    page_name: action 

 
.row.main-content              
    article.col-md-12  
        +b("header").article-header
            h1= file.title
                span &nbsp;(220 94) 
    .col-md-9    
        .catalog-controls  
            .catalog-controls__column  Найдено <strong>220 94 акций</strong>, 
                | отсортированы         
                select.select7      
                    option(value="rate_desc", selected) по рейтингу    
                    option(value="rate_az") по названию (А-Я) 
                    option(value="rate_za") по названию (Я-А)                  
    section.col-md-9   
        include ../blocks/action/action.jade

 
        +b.section-action.promo-container.u-card-mobile 

            each action in actionsList
                +e.item.is-badge-label.action-card.card(data-id='a' + action.id).item-promo
                    .item-promo__block   
                        a(href="#").item-promo__title спецпредложение 
                    +b.badge-label.badge-label_background_green
                        p только через 
                        img(src="i/doc-logo-small-white.png", alt"")
                        +e("span").arrow: span
                    +e.left.item-left__mod
                        .card__left-side  
                            .card__image 
                                a(href="#")  
                                    img(src='i/_isida.jpg').photo
                            +b.rating.value-size_big 
                                +e.value.value 4.9
                                +e.stars 
                                    +e.stars-bg
                                    +e.stars-overlay(style="width: 80%;") 
                            +b.card__testimonials 
                                a(href="", title="") 10 отзывов
                                a(href='#').card__info
                    +e.middle
                        +b.main-title 
                            +e("a").link(href="#") 16% скидки на комплексное ультразвуковое обследование организма (расширенное)!
                            +e("span").clinic 
                                b Сити Клиника 
                            +e("span").special Гастроэнтерология, гинекология
                            +b("ul").about
                                +e("li").item Консультацию проводит врач высшей категории;
                                +e("li").item В прием за 1 грн входит осмотр и консультация;
                                +e("li").item Экономия на приеме 300 грн;
                                +e("li").item Экономия на приеме 300 грн;
                                +e("li").item Экономия на приеме 300 грн;
                                +e("li").item Экономия на приеме 300 грн;
                                +e("li").item Экономия на приеме 300 грн;
                        .section-action__right   
                            +b.right-info
                                .benefit__wrap
                                    +e("p").benefit.red-border выгода 90%
                                    +e("p").benefit.benefit__mod дейстувует до  27.12.2016
                        +b.price
                            //- +e.old 1245грн
                            //- +e.new 1050грн 
                            //- +e("a").btn(href="#") Записаться на прием
                            +b.exclamation
                                +e.in
                                    +e.text  Извините, на данный момент запись в клинику ограничена 
                    //- +b.exclamation
                    //-     +e.in
                    //-         +e.text  Извините, на данный момент запись в клинику ограничена 

                +e.item.card.action-card.card(data-id='a' + action.id)
                    +e.left.item-left__mod
                        .card__left-side
                            .card__image 
                                a(href="#")
                                    img(src='i/_isida.jpg').photo
                            +b.rating.value-size_big
                                +e.value.value 4.9
                                +e.stars 
                                    +e.stars-bg
                                    +e.stars-overlay(style="width: 80%;") 
                            +b.card__testimonials 
                                a(href="", title="") 10 отзывов
                                a(href='#').card__info
                    +e.middle
                        +b.main-title
                            +e("a").link(href="#") 16% скидки на комплексное ультразвуковое обследование организма (расширенное)!
                            +e("span").clinic 
                                b Сити Клиника 
                            +e("span").special Гастроэнтерология, гинекология
                            +b("ul").about
                                +e("li").item Консультацию проводит врач высшей категории;
                                +e("li").item В прием за 1 грн входит осмотр и консультация;
                                +e("li").item Экономия на приеме 300 грн;
                        .section-action__right  
                            +b.right-info
                                .benefit__wrap
                                    +e("p").benefit.red-border выгода 90%
                                    +e("p").benefit.benefit__mod дейстувует до  27.12.2016
                        +b.price
                            +e.old 1245грн
                            +e.new 1050грн 
                            +e("a").btn(href="#") Записаться на прием 

        
        
    aside.col-md-3.hidden-sm.hidden-xs
        .widget.widget-map
            #map-canvas-right
            a.btn.btn-success(href="/map.html") Развернуть карту
                 
 