//---
   layout: layouts/searchbar
   title: Активация 
   activeMenuItem: 0
   finder: doctors
   modals: select-area, select-actions
   page_name: activation-account

section    
   .col-sm-12.col-xs-12             
      header.header-styled.notopmargin 
         h2.h1 Активация 
      .activation-wrap.block-bg 
         +b.activation 
            +e.envelope
               +e.letter 
                  +e("h3") Активация аккаунта
                  +e("p") Мы отправили Вам на pochat@gmail.com активационное письмо.
                  +e("p") Мы отправили Вам на pochat@gmail.com активационное письмо.
                  +e("p") Мы отправили Вам на pochat@gmail.com активационное письмо.
                  +e("p") Перейдите пожалуйста по ссылке для завершения регестрации на сайте DOC.UA
                  +e("h3") Не получили письмо? 
                  +e("p") Если письмо долго не приходит, проверьте папку “Спам” 
               +e.in
 