//---
    layout: layouts/main
    title: Акции в Киеве
    activeMenuItem: 0
    finder: doctors
    modals: select-area, select-specialization, doctor-request, clinic-location-map
    page_name: action-about 

.row     
            
    section.col-md-9     
        +b.section-action
            +e.item
                +e.left.item-left__mod
                    .card__left-side
                        .card__image 
                            a(href="#")
                                img(src='i/_isida.jpg').photo 
                        +b.rating.value-size_big
                            +e.value.value 4.9
                            +e.stars 
                                +e.stars-bg
                                +e.stars-overlay(style="width: 80%;") 
                        +b.card__testimonials 
                            a(href="", title="") 10 отзывов
                            a(href='#').card__info
                +e.middle
                    +b.main-title
                        +e("a").link(href="#") 16% скидки на комплексное ультразвуковое обследование организма (расширенное)!
                        +e("span").clinic 
                            b Сити Клиника 
                        +e("span").special Гастроэнтерология, гинекология
                        +b("ul").about
                            +e("li").item Консультацию проводит врач высшей категории;
                            +e("li").item В прием за 1 грн входит осмотр и консультация;
                            +e("li").item Экономия на приеме 300 грн;
                +e.right
                    +b.right-info 
                        +e("p").benefit выгода 90%
                        +e("p").benefit.benefit__mod дейстувует до  27.12.2016 
                        +e.price
                            +e.price__old 1245грн
                            +e.price__new 1050грн 
                        +e("a").btn(href="#") Записаться на прием
        +b.action-about
            +e.title Об aкции
            +e.in
                +e('p').text Каждый четверг с 9:00 до 10:00. в Клинике доктора Дяченко действует скидка 10% на консультацию терапевта и гастроэнтеролога.
                +e('ul').caption Условия 
                    +e('li').caption-item консультация терапевта: 
                        b 223 грн. (без скидки – 248 грн.);
                    +e('li').caption-item консультация гастроэнтеролога:
                        b 223 грн. (без скидки – 248 грн.).
                +e('ul').caption В консультацию входит: 
                    +e('li').caption-item сбора анамнеза;
                    +e('li').caption-item осмотра пациента;
                    +e('li').caption-item рекомендаций по лечебной диете;
                    +e('li').caption-item постановки предварительного диагноза.
                +e.caption Пакет «Для пар с проблемой невынашивания беременности» включает:
                .about-package
                    +b("ul").package-title
                        +e("li").item Наименование услуги      
                        +e("li").item Количество  
                    +b.package-content  
                        +e.item 
                            +e.servise-title Консультативные услуги:
                            +b("ul").servise-content
                                +e("li").point.add-border Первичная консультация акушера-гинеколога, репродуктолога  
                                +e("li").point.add-border 1
                                +e("li").point Первичная консультация акушера-гинеколога, репродуктолога  
                                +e("li").point 1
                        +e.item 
                            +e.servise-title Ультразвуковая диагностика:
                            +b("ul").servise-content
                                +e("li").point Первичное УЗИ органов малого таза 
                                +e("li").point 1
                        +e.item 
                            +e.servise-title Лабораторная диагностика:
                            +b("ul").servise-content
                                +e("li").point.add-border Определение кариотипа женщины 
                                +e("li").point.add-border 1
                                +e("li").point.add-border Определение кариотипа мужчины  
                                +e("li").point.add-border 1
                                +e("li").point.add-border Коагулограмма     
                                +e("li").point.add-border 1
                                +e("li").point.add-border Тиреотропный гормон (ТТГ)      
                                +e("li").point.add-border 1
                                +e("li").point.add-border Трийодтиронин свободный (Т3 свободн.)     
                                +e("li").point.add-border 1
                                +e("li").point Тироксин свободный (Т4 свободн.)     
                                +e("li").point 1
                    

                +e.text.text-info Консультация по поводу папиллом – бесплатно. Дополнительно оплачивается анестезия. Консультация по поводу папиллом – бесплатно. Дополнительно оплачивается анестезия.                     
            +e.title.title__clinics Клиники в акции
            +b.action-clinics
                +b("ul").doctors-card
                    +e("li").item
                        +e("div").img
                            img(src="i/cabinet/cabinet-favorites-clinics.png", alt="")
                        +e("div").container.clinics-container
                            
                            +b.favorite-title
                                +e('a').link(href="#") Клиника Доктора Валихновского
                                +e.category Терапия, Урология, Эндокринология, Акушерство Терапия, Урология, Эндокринология, Акушерство 
                                .address-info.address-info__mod
                                  .small-card__address
                                    a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                                  .blue.card__location_metro.small-card__location Димеевская 
                                  .small-card__location Голосеевский
                                  .small-card__footer
                                    .small-card__schedule
                                        ul
                                          li.first-child 
                                            span.left Пн - Пт
                                            span.right 9:00 - 21:00
                                          li
                                            span.left Сб:
                                            span.right 9:00 - 19:00
                                          li.last-child
                                            span.left Нд:
                                            span.right 9:00 - 19:00
                        +b.favorites-block.pull-right: +i
                        +e("div").info 
                             +e("div").rating
                                 +b.rating: +i({ value: 4.9 })
                                 +e("a").views(href="#") 233 отзыва
                             +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
                    +e("li").item
                        +e("div").img
                            img(src="i/cabinet/cabinet-favorites-clinics.png", alt="")
                        +e("div").container.clinics-container
                            
                            +b.favorite-title
                                +e('a').link(href="#") Клиника Доктора Валихновского
                                +e.category Терапия, Урология, Эндокринология, Акушерство Терапия, Урология, Эндокринология, Акушерство 
                                .address-info.address-info__mod
                                  .small-card__address
                                    a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                                  .blue.card__location_metro.small-card__location Димеевская 
                                  .small-card__location Голосеевский
                                .small-card__footer
                                    .small-card__schedule
                                        ul
                                          li.first-child 
                                            span.left Пн - Пт
                                            span.right 9:00 - 21:00
                                          li
                                            span.left Сб:
                                            span.right 9:00 - 19:00
                                          li.last-child
                                            span.left Нд:
                                            span.right 9:00 - 19:00
                        +b.favorites-block.pull-right: +i
                        +e("div").info 
                             +e("div").rating
                                 +b.rating: +i({ value: 4.9 })
                                 +e("a").views(href="#") 233 отзыва
                             +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
                



            +e.title.title__doctors Врачи в акции
                +b.action-doctors
                    +b("ul").doctors-card
                                +e("li").item
                                    +e("div").img
                                        img(src="i/_alexandriyskiy-constantin.jpg", alt="")
                                    +e("div").container
                                        +b.favorites-block.pull-right: +i
                                        +e("h3").title
                                            a(href="#") Хобзей Кузьма Николаевич
                                        +e("div").text
                                            +e("ul").list
                                                li
                                                    strong Дерматолог, Трихолог,  Дерматовенеролог, Косметолог
                                                li Доктор медицинских наук. Врач высшей категории
                                            +e("div").price Стоимость приема: 
                                                strong 605 грн
                                        +e("div").info 
                                            +e("div").rating
                                                +b.rating: +i({ value: 4.9 })
                                                +e("a").views(href="#") 233 отзыва
                                            +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
                                +e("li").item
                                    +e("div").img
                                        img(src="i/_alexandriyskiy-constantin.jpg", alt="")
                                    +e("div").container
                                        +b.favorites-block.pull-right: +i
                                        +e("h3").title
                                            a(href="#") Хобзей Кузьма Николаевич
                                        +e("div").text
                                            +e("ul").list
                                                li
                                                    strong Дерматолог, Трихолог,  Дерматовенеролог, Косметолог
                                                li Доктор медицинских наук. Врач высшей категории
                                            +e("div").price Стоимость приема: 
                                                strong 605 грн
                                        +e("div").info 
                                            +e("div").rating
                                                +b.rating: +i({ value: 4.9 })
                                                +e("a").views(href="#") 233 отзыва
                                            +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
                                +e("li").item
                                    +e("div").img
                                        img(src="i/_alexandriyskiy-constantin.jpg", alt="")
                                    +e("div").container
                                        +b.favorites-block.pull-right: +i
                                        +e("h3").title
                                            a(href="#") Хобзей Кузьма Николаевич
                                        +e("div").text
                                            +e("ul").list
                                                li
                                                    strong Дерматолог, Трихолог,  Дерматовенеролог, Косметолог
                                                li Доктор медицинских наук. Врач высшей категории
                                            +e("div").price Стоимость приема: 
                                                strong 605 грн
                                        +e("div").info 
                                            +e("div").rating
                                                +b.rating: +i({ value: 4.9 })
                                                +e("a").views(href="#") 233 отзыва
                                            +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
                     

        
    aside.col-md-3.hidden-sm.hidden-xs
        .widget.widget-map
            #map-canvas-right
            a.btn.btn-success(href="/map.html") Развернуть карту
        .widget.widget-doctor
            h3 Врачи по направлению
            - var items = []
            - var limit = 4
            each doctor, i in doctors
                if i < limit
                    - items.push({ gender: doctor.gender, image: doctor.photo.main, title: doctor.name, url: '/' , label: doctor.label, location: doctor.location, rating: doctor.averageRating })
            +b.short-list: +i({ items: items })
            .link.link-more
                   a(href="/doctors.html") Все врачи 
        .widget.widget-similar-diseases
           h3 Основные направления
           .diseases-body
              ul.diseases-check-list
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="/disease.html", title="") Аллергия
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="/disease.html", title="") Ангина
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="/disease.html", title="") Гастрит: как не заболеть
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="/disease.html", title="") Лечение гастрита
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="/disease.html", title="") Симптомы гастрита
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="/disease.html", title="") Гастрит с пониженной кислотностью
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="/disease.html", title="") Гастрит с повышенной кислотностью
           .link.link-more.link-more__mod
              a(href="#") Больше направлений
                 