//---
    layout: layouts/main
    title: Акции в Киеве
    activeMenuItem: 0
    finder: doctors
    modals: select-area, select-specialization, doctor-request, clinic-location-map
    page_name: action-about 

.row        
            
    section.col-md-9     
        +b.section-action.section-action__about
            +e.item 
                +e.left.item-left__mod
                    .card__left-side
                        .card__image 
                            a(href="#")
                                img(src='i/_isida.jpg').photo 
                        +b.rating.value-size_big
                            +e.value.value 4.9
                            +e.stars 
                                +e.stars-bg
                                +e.stars-overlay(style="width: 80%;") 
                        +b.card__testimonials 
                            a(href="", title="") 10 отзывов
                            a(href='#').card__info
                +e.middle 
                    +b.main-title
                        +e("a").link(href="#") 16% скидки на комплексное ультразвуковое обследование организма (расширенное)!
                        +e("span").clinic 
                            b Сити Клиника 
                        +e("span").special Гастроэнтерология, гинекология
                        +b("ul").about
                            +e("li").item Консультацию проводит врач высшей категории;
                            +e("li").item В прием за 1 грн входит осмотр и консультация;
                            +e("li").item Экономия на приеме 300 грн;
                    .section-action__right  
                        +b.right-info
                            .benefit__wrap
                                +e("p").benefit.red-border выгода 90%
                                +e("p").benefit.benefit__mod дейстувует до  27.12.2016
                    +b.price
                        +e.old 1245грн
                        +e.new 1050грн 
                        +e("a").btn(href="#") Записаться на прием 

        +b.action-about
            +e.title Об aкции
            +e.in
                +e('p').text Каждый четверг с 9:00 до 10:00. в Клинике доктора Дяченко действует скидка 10% на консультацию терапевта и гастроэнтеролога.
                +e('ul').caption Условия 
                    +e('li').caption-item консультация терапевта: 
                        b 223 грн. (без скидки – 248 грн.);
                    +e('li').caption-item консультация гастроэнтеролога:
                        b 223 грн. (без скидки – 248 грн.).
                +e('ul').caption В консультацию входит: 
                    +e('li').caption-item сбора анамнеза;
                    +e('li').caption-item осмотра пациента;
                    +e('li').caption-item рекомендаций по лечебной диете;
                    +e('li').caption-item постановки предварительного диагноза.
                +e.caption Пакет «Для пар с проблемой невынашивания беременности» включает:

                table
                  thead
                    tr 
                        td Наименование услуги       
                        td Количество        
                  tbody
                    tr.table__title
                        td(colspan="2") Консультативные услуги:
                        td
                    tr.table__disc-style
                        td.bd-leftb Первичная консультация акушера-гинеколога, репродуктолога     
                        td.bd-rigthb 1 
                    tr.table__disc-style
                        td.bd-left Первичная консультация акушера-гинеколога, репродуктолога     
                        td.bd-rigth 1
                    tr.table__title
                        td(colspan="2") Ультразвуковая диагностика: 
                        td
                    tr.table__disc-style  
                        td.bd-left Первичное УЗИ органов малого таза
                        td.bd-rigth 1
                    tr.table__title
                        td(colspan="2") Лабораторная диагностика:
                        td
                    tr.table__disc-style
                        td.bd-leftb Определение кариотипа женщины   
                        td.bd-rigthb 1
                    tr.table__disc-style
                        td.bd-leftb Определение кариотипа мужчины  
                        td.bd-rigthb 1
                    tr.table__disc-style
                        td.bd-leftb Коагулограмма   
                        td.bd-rigthb 1
                    tr.table__disc-style
                        td.bd-leftb Тиреотропный гормон (ТТГ)   
                        td.bd-rigthb 1
                    tr.table__disc-style
                        td.bd-leftb Трийодтиронин свободный (Т3 свободн.)   
                        td.bd-rigthb 1
                    tr.table__disc-style
                        td Тироксин свободный (Т4 свободн.)   
                        td 1 
                    

                +e.text.text-info Консультация по поводу папиллом – бесплатно. Дополнительно оплачивается анестезия. Консультация по поводу папиллом – бесплатно. Дополнительно оплачивается анестезия.                     

            +e.title.title__clinics Клиники в акции
            +b.action-clinics
                +b("ul").doctors-card
                    +e("li").item.clinic-in-action_card
                        +e("div").container.clinics-container
                                .clinic-name Офтальмологический кабинет Люксоптика на Воздухофлотском
                                .address-info.address-info__mod
                                  .small-card__address
                                    a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                                  .blue.card__location_metro.small-card__location Димеевская 
                                  .small-card__location Голосеевский
                        +b("a").btn.btn-success.clinic-in-action_btn(href="#doctor-request" data-toggle="modal") Записаться на прием
                
                    +e("li").item.clinic-in-action_card
                        +e("div").container.clinics-container
                                .clinic-name Офтальмологический кабинет Люксоптика на Воздухофлотском
                                .address-info.address-info__mod
                                  .small-card__address
                                    a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30 г.Киев, пр.Науки 30 г.Киев, пр.Науки 30 г.Киев, пр.Науки 30 г.Киев, пр.Науки 30 г.Киев, пр.Науки 30
                                  span.blue.card__location_metro.small-card__location.triangle-tooltip Димеевская 
                                    span(class="tooltip-span" data-toggle="tooltip", data-original-title="Димеевская, Димеевская, Димеевская, Димеевская, Димеевская, Димеевская", data-placement="top")
                                  .small-card__location Голосеевский
                        +b("a").btn.btn-success.clinic-in-action_btn(href="#doctor-request" data-toggle="modal") Записаться на прием


                
            
            +e.title.title__clinics Клиники в акции
            +b.action-clinics
                +b("ul").doctors-card
                    +e("li").item
                        +e("div").img
                            img(src="i/cabinet/cabinet-favorites-clinics.png", alt="")
                        +e("div").container.clinics-container
                            
                            +b.favorite-title
                                +e('a').link(href="#") Клиника Доктора Валихновского
                                +e.category Терапия, Урология, Эндокринология, Акушерство Терапия, Урология, Эндокринология, Акушерство  
                                    a(href="#" data-toggle="tooltip", data-original-title="Гастроэнтерология, гинекология, кардиология, неврология, отоларингология, пластическая хирургия.", data-placement="top") +17 направлений

                                .address-info.address-info__mod
                                  .small-card__address
                                    a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                                  .blue.card__location_metro.small-card__location Димеевская 
                                  .small-card__location Голосеевский
                                  .small-card__footer
                                    .small-card__schedule
                                        ul
                                          li.first-child 
                                            span.left Пн - Пт
                                            span.right 9:00 - 21:00
                                          li
                                            span.left Сб:
                                            span.right 9:00 - 19:00
                                          li.last-child
                                            span.left Нд:
                                            span.right 9:00 - 19:00
                        +b.favorites-block.pull-right: +i
                        +e("div").info 
                             +e("div").rating
                                 +b.rating: +i({ value: 4.9 })
                                 +e("a").views(href="#") 233 отзыва
                             +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
                    +e("li").item
                        +e("div").img
                            img(src="i/cabinet/cabinet-favorites-clinics.png", alt="")
                        +e("div").container.clinics-container
                            
                            +b.favorite-title
                                +e('a').link(href="#") Клиника Доктора Валихновского
                                +e.category Терапия, Урология, Эндокринология, Акушерство Терапия, Урология, Эндокринология, Акушерство 
                                    a(href="#" data-toggle="tooltip", data-original-title="Гастроэнтерология, гинекология, кардиология, неврология, отоларингология, пластическая хирургия.", data-placement="top") +17 направлений 
                                .address-info.address-info__mod
                                  .small-card__address
                                    a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                                  .blue.card__location_metro.small-card__location Димеевская 
                                  .small-card__location Голосеевский
                                .small-card__footer
                                    .small-card__schedule
                                        ul
                                          li.first-child 
                                            span.left Пн - Пт
                                            span.right 9:00 - 21:00
                                          li
                                            span.left Сб:
                                            span.right 9:00 - 19:00
                                          li.last-child
                                            span.left Нд:
                                            span.right 9:00 - 19:00
                        +b.favorites-block.pull-right: +i
                        +e("div").info 
                             +e("div").rating
                                 +b.rating: +i({ value: 4.9 })
                                 +e("a").views(href="#") 233 отзыва
                             +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
                



            +e.title.title__doctors Врачи в акции
                +b.action-doctors
                    +b("ul").doctors-card
                                +e("li").item
                                    +e("div").img
                                        img(src="i/_alexandriyskiy-constantin.jpg", alt="")
                                    +e("div").container
                                        +b.favorites-block.pull-right: +i
                                        +e("h3").title
                                            a(href="#") Хобзей Кузьма Николаевич
                                        +e("div").text
                                            +e("ul").list
                                                li
                                                    strong Дерматолог, Трихолог,  Дерматовенеролог, Косметолог
                                                li Доктор медицинских наук. Врач высшей категории
                                            +e("div").price Стоимость приема: 
                                                strong 605 грн
                                        +e("div").info 
                                            +e("div").rating
                                                +b.rating: +i({ value: 4.9 })
                                                +e("a").views(href="#") 233 отзыва
                                            +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
                                +e("li").item
                                    +e("div").img
                                        img(src="i/_alexandriyskiy-constantin.jpg", alt="")
                                    +e("div").container
                                        +b.favorites-block.pull-right: +i
                                        +e("h3").title
                                            a(href="#") Хобзей Кузьма Николаевич
                                        +e("div").text
                                            +e("ul").list
                                                li
                                                    strong Дерматолог, Трихолог,  Дерматовенеролог, Косметолог
                                                li Доктор медицинских наук. Врач высшей категории
                                            +e("div").price Стоимость приема: 
                                                strong 605 грн
                                        +e("div").info 
                                            +e("div").rating
                                                +b.rating: +i({ value: 4.9 })
                                                +e("a").views(href="#") 233 отзыва
                                            +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
                                +e("li").item
                                    +e("div").img
                                        img(src="i/_alexandriyskiy-constantin.jpg", alt="")
                                    +e("div").container
                                        +b.favorites-block.pull-right: +i
                                        +e("h3").title
                                            a(href="#") Хобзей Кузьма Николаевич
                                        +e("div").text
                                            +e("ul").list
                                                li
                                                    strong Дерматолог, Трихолог,  Дерматовенеролог, Косметолог
                                                li Доктор медицинских наук. Врач высшей категории
                                            +e("div").price Стоимость приема: 
                                                strong 605 грн
                                        +e("div").info 
                                            +e("div").rating
                                                +b.rating: +i({ value: 4.9 })
                                                +e("a").views(href="#") 233 отзыва
                                            +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
                     

        
    aside.col-md-3.hidden-sm.hidden-xs
        .widget.widget-map
            #map-canvas-right
            a.btn.btn-success(href="/map.html") Развернуть карту
        .widget.widget-doctor
            h3 Врачи по направлению
            - var items = []
            - var limit = 4
            each doctor, i in doctors
                if i < limit
                    - items.push({ gender: doctor.gender, image: doctor.photo.main, title: doctor.name, url: '/' , label: doctor.label, location: doctor.location, rating: doctor.averageRating })
            +b.short-list: +i({ items: items })
            .link.link-more
                   a(href="/doctors.html") Все врачи 
        .widget.widget-similar-diseases
           h3.main-title__action Основные направления
           .diseases-body.link-more__mod
              ul.diseases-check-list
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="/disease.html", title="") Аллергия
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="/disease.html", title="") Ангина
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="/disease.html", title="") Гастрит: как не заболеть
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="/disease.html", title="") Лечение гастрита
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="/disease.html", title="") Симптомы гастрита
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="/disease.html", title="") Гастрит с пониженной кислотностью
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="/disease.html", title="") Гастрит с повышенной кислотностью
           .link.link-more.link-more__mod
              a(href="#") Больше направлений
                 