//---
   layout: layouts/main
   title: Блог
   modals: select-area, select-actions
   page_name: articles
   activeMenuItem: 5 

.row   
   section.col-md-9
      h1= file.title 
      +b("ul").blog-submenu: +i  
      +b("ul").articles-list.blog-page
         each article, i in articlesData
            if i > 2
               +b.article-list-item: +i({article: article, news: true})
      +b("a").load-items(href="#"): +i({articles: true})
      +b("ul").pagination.offset-top30: +i
   
   aside.col-md-3.hidden-sm.hidden-xs.themes  
      .widget
         h3 Темы
         .themes-section
            +b.menu: +i({prefix: "page", items: articleThemes, activeIndex: 2})
            .themes-more
               a(href="#").themes-more__link Больше направлений
      .widget.themes-blocks
         h3 Популярные статьи
         .article-block
            .article-block__img
               a(href="#")
                  img(src="http://placecage.com/350/179", alt="")
            .article-block__title
               a(href="#") Школьные болезни: к чему готовиться?
            .article-block__info
               time.main-time 27.07.2015 
               ul.info-list
                  li
                     a.is-view(href="#") 18
                  li
                     a.is-like(href="#") 35
                  li
                     a.is-share(href="#") 169
         .article-block
            .article-block__img
               a(href="#")
                  img(src="http://placecage.com/350/179", alt="")
            .article-block__title
               a(href="#") Школьные болезни: к чему готовиться?
            .article-block__info
               time.main-time 27.07.2015
               ul.info-list
                  li
                     a.is-view(href="#") 18
                  li
                     a.is-like(href="#") 35
                  li
                     a.is-share(href="#") 169
   section.col-md-9
      .rich-content
         h1 Заголовок H1
         h2 Заголовок H2
         h3 Заголовок H3
         h4 Заголовок H4
         h5 Заголовок H5
         h6 Текст H6

         strong Примеры подсвеченных блоков с текстом:
         .div-color.bg-blue В период беременности женщину подстерегают серьезные которых является невынашивание беременности.
         .div-color.bg-yellow В период беременности женщину подстерегают серьезные которых является невынашивание беременности.
         .div-color.bg-pink В период беременности женщину подстерегают серьезные которых является невынашивание беременности.

         strong Цитата:
         .blockquote 
            div Питание только сырыми продуктами называется сыроедением. Его приверженцы, которых на данный момент насчитывается среди населения не так уж мало, твердо уверены в исключительной пользе такой «диеты». Однако, по мнению медиков, сыроедение кроме плюсов имеет и недостатки.

         strong Таблица2:

         table
           thead
             tr 
                 td Наименование услуги       
                 td Количество        
           tbody
             
             tr
                 td Первичная консультация акушера-гинеколога, репродуктолога     
                 td 1 
             tr
                 td Первичная консультация акушера-гинеколога, репродуктолога     
                 td 1
             tr 
                 td Первичное УЗИ органов малого таза
                 td 1
             tr
                 td Определение кариотипа женщины   
                 td 1
             tr
                 td Определение кариотипа мужчины  
                 td 1
             tr
                 td Коагулограмма   
                 td 1
             tr
                 td Тиреотропный гормон (ТТГ)   
                 td 1
             tr
                 td Трийодтиронин свободный (Т3 свободн.)   
                 td 1
             tr
                 td Тироксин свободный (Т4 свободн.)   
                 td 1 

         strong Ненумерованный список:
         ul
            li общее поражение гемопоэза (образование кровяных клеток);
            li острая (неожиданное возникновение, быстрое развитие);
            li подострая (более плавное развитие болезни, продолжительность от 1 до 6 мес.);
            li хроническая (постепенное развитие заболевания, длительность 6 мес. и острая неожиданное возникновение, быстрое развитие);

         strong Ненумерованный вложенный список
         ul
            li общее поражение гемопоэза (образование кровяных клеток);
               ul
                  li общее поражение гемопоэза (образование кровяных клеток);
                  li общее поражение гемопоэза (образование кровяных клеток);
            li острая (неожиданное возникновение, быстрое развитие);
            li подострая (более плавное развитие болезни, продолжительность от 1 до 6 мес.);
            li хроническая (постепенное развитие заболевания, длительность 6 мес. и острая неожиданное возникновение, быстрое развитие);

         strong Нумерованный список
         ol.number-lists 
            li общее поражение гемопоэза (образование кровяных клеток);
            li острая (неожиданное возникновение, быстрое развитие);
            li подострая (более плавное развитие болезни, продолжительность от 1 до 6 мес.);
            li хроническая (постепенное развитие заболевания, длительность 6 мес. и острая неожиданное возникновение, быстрое развитие);

         strong Cписок
         ul.hyphen-lists
            li общее поражение гемопоэза (образование кровяных клеток);
            li острая (неожиданное возникновение, быстрое развитие);
            li подострая (более плавное развитие болезни, продолжительность от 1 до 6 мес.);
            li хроническая (постепенное развитие заболевания, длительность 6 мес. и острая неожиданное возникновение, быстрое развитие);



