//---
   layout: layouts/main
   title: Сыроедение - польза и вред
   page_name: articles-inner
   activeMenuItem: 5 
   
.row   
   article.col-md-12
      +b("header").article-header
         h1= file.title
   article.col-md-9
      .article-content
         +b("ul").article-top
            +e("li").item
               time(datetime="05.01.2012" pubdate) 05.01.2012
            +e("li").item
               <span>Автор:</span>&nbsp; 
               | Валентина Зварич
            +e("li").item
               <span>Темы:</span>&nbsp;
               a(href="#") Спортивная медицина, Травматология
            +e("li").item 
               ul.info-list
                   li
                       a(href="#").is-view 18
                   li
                       a(href="#").is-like 35
                   li
                       a(href="#").is-share 169
         .content-info
            .content-block
               .blockquote 
                  div Питание только сырыми продуктами называется сыроедением. Его приверженцы, которых на данный момент насчитывается среди населения не так уж мало, твердо уверены в исключительной пользе такой «диеты». Однако, по мнению медиков, сыроедение кроме плюсов имеет и недостатки.
               p 
                  small Какие существуют «школьные» болезни и как проводить профилактику возникновения заболеваний у детей школьного возраста?
               h2 Что такое сыроедение?
               p Сыроедение является системой питания, основа которой – продукты, не поддавшиеся термической обработке, а именно жарке, варке, запеканию и т.д. Разрешено употреблять сырые фрукты и овощи, орехи, семена, растительные масла (но только холодного отжима), зерна злаковых, сухофрукты (без приправ).
            .content-img
               img(src="/i/article-img1.jpg")
            .content-block
               p Сыроедение достаточно часто называют видом вегетарианства, однако его главным фактором является сохранение пищевой ценности продуктов благодаря отсутствию термической обработки.
               p Однозначные научные данные касательно того, подходит ли сыроедение как вид питания в любой период жизни человека отсутствуют.
               h2 Основания для сыроедения
               p Сторонники сыроедения считают, что существует ряд преимуществ такого вида питания:
               ul
                  li при термической обработке продуктов разрушаются полезные витамины и микроэлементы;
                  li при термообработке происходит образование химических соединений, которые не свойственны природе и несут в себе опасность для здоровья (транс-изомеры, транс-жиры, диоксин и др.);
                  li разнообразность пищи и усилители вкуса приводят к нежелательному перееданию;
                  li при смешивании разных продуктов происходит затруднение пищеварения, а также неусваиваемость ряда витаминов;
                  li вследствие термической обработки и изменения связанности состояний затрудняется усвоение микроэлементов и витаминов.
               h2 Виды сыроедения
               p Существует несколько вариантов сыроедения, которые достаточно сильно отличаются друг от друга, а объединяет их отказ от употребления пищи, приготовленной путем тепловой обработки.
            .content-img
               img(src="/i/_article-img2.jpg")
            .content-block
               h2 Разновидности сыроедения:
               ul
                  li всеядное – употребляется любая еда в сыром или вяленом виде (мясо, рыба, морепродукты, яйца, молоко). Однако иногда молоко исключается;
                  li вегетарианское – исключается рыба и мясо, но можно употреблять в пищу молоко и яйца, молочные продукты;
                  li веганское – наиболее распространенный вид сыроедения. Из рациона исключаются все продукты животного происхождения, допускается только сырая растительная пища;
                  li плотоядное (сыромясоедение) – наименее распространенный вид сыроедения, суть которого заключается в употреблении сырых морепродуктов, рыбы, мяса, дичи, жира животных и яиц. При этом фрукты и овощи сведены в рационе к минимуму;
               h2 Сыроедение: польза и вред
               p Считается, что сыроедение полезно по той причине, что изначально в пищевой цепочке человека отсутствовала приготовленная пища, которой не существует в природе, а также мясо и молоко, поэтому именно сырая пища – наиболее биологически естественна.
               .note
                  p Доктор очень внимательная, все объясняет, рассказывает, общительная. Редко когда доктор популярно и последовательно объясняет суть проблемы, с чего началось и чем закончилось. Обычно врачи сухо отвечают на вопросы, а Оксана Васильевна все подробно рассказала и объяснила... (Любовь)
               p Однако, как и любая другая система питания, сыроедение имеет плюсы и минусы.
         .content-share
            .share-counter
               span 0
               small Делятся
            +b("ul").share-btns
               +e("li").item
                  a(href="#").share-btns__btn.is-fb
               +e("li").item
                  a(href="#").share-btns__btn.is-twitter
               +e("li").item
                  a(href="#").share-btns__btn.is-vk
               +e("li").item
                  a(href="#").share-btns__btn.is-gp
      +b("div").comment-tabs.js-tab-container
         +e("ul").list
            +e("li").item
               a(href="#", data-id="1").comment-tabs__btn.js-tab-link 0 комментариев
            +e("li").item
               a(href="#", data-id="2").comment-tabs__btn.js-tab-link doc.ua
         +e("div").block.js-tab-block(data-block="1")
            +b("div").comment-top
               +b("ul").comment-links
                  li
                     a(href="#").is-recommend Рекомендовать
                  li
                     a(href="#").is-share Поделиться
               +b("div").comment-filter
                  +e("select").select.select7
                     option(value="Лучшее вначале") Лучшее вначале
                     option(value="Лучшее вконце") Лучшее вконце
            +b("div").comments
               +e("div").form
                  +e("div").area
                     +e("div").img
                     +e("div").field
                        +e("input").input(placeholder="Начать обсуждение...")
                  +e("div").bottom
                     +e("button").btn Прокомментируй первым
         +e("div").block.js-tab-block(data-block="2")
            +b("div").comment-top
               +b("ul").comment-links
                  li
                     a(href="#").is-recommend 2Рекомендовать
                  li
                     a(href="#").is-share Поделиться
               +b("div").comment-filter
                  +e("select").select.select7
                     option(value="Лучшее вначале") Лучшее вначале
                     option(value="Лучшее вконце") Лучшее вконце
            +b("div").comments
               +e("div").form
                  +e("div").area
                     +e("div").img
                     +e("div").field
                        +e("input").input(placeholder="Начать обсуждение...")
                  +e("div").bottom
                     +e("button").btn Прокомментируй первым

   aside.col-md-3.hidden-sm.hidden-xs  
      .widget.widget-action
         - var limit = 2
         each action, i in actionsData
            if i < limit
               +b("article").post: +i(action)