//---
    layout: layouts/cabinet             
    page_name: cabinet-profile


.row  
  aside.col-md-3.hidden-sm.hidden-xs
    +b.cabinet-aside
       +e("ul")
         +e("li").item.is-active
           +e("a").link(href="#") Мой профиль
         +e("li").item
           +e("a").link(href="#") Мой записи
         +e("li").item
           +e("a").link(href="#") Мой отзывы
         +e("li").item
           +e("a").link(href="#") Избранное


  section.col-md-9 
         