//---
    layout: layouts/cabinet             
    page_name: cabinet-profile_otzivi 


.row   
  aside.l-3.hidden-xs 
    +b.cabinet-aside   
       +e("ul")
         +e("li").item
           +e("a").link(href="cabinet-profile.html").cabinet-aside__link-profile Мой профиль
         +e("li").item.is-active
           +e("a").link(href="cabinet-profile_notes.html").cabinet-aside__link-note Мои записи
           span.qt-note 12
         +e("li").item
           +e("a").link(href="cabinet-profile_otzivi.html").cabinet-aside__link-reviews.is-active Мои отзывы
         +e("li").item 
           +e("a").link(href="#").cabinet-aside__link-like Избранное   
  
  section.l-9  
    .cabinet-notes__inner 
      table.cabinet-notes     
        thead.cabinet-notes__head   
          td ID       
          td Дата и время записи       
          td Клиника      
          td Врач / услуги     
          td Редактирование  
        tbody.cabinet-notes__body 
          tr  
            td 8256748     
            td 2015-12-15, 18:01:34  
            td 
              a.link(href="#") Медисса-Центр 
            td 
              a.link(href="#") Сперанко Е.В.  
              br 
              span Дерматолог, Косметолог 
            td 
              a.link.btn-edit(href="#") Редактировать отзыв 
          tr
            td 5468974  
            td 2015-12-15, 18:01:34 
            td 
              a.link(href="#") Добробут «Детская  клиникана Левом берегу»
            td 
              a.link(href="#") Валихновский Л.Р. 
              br
              span Хирург, Пластический хирург Хирург, Пластический хирург Хирург, Пластический хирургХирург, Пластический хирург 
              span Хирург, Пластический хирург Хирург, Пластический хирург Хирург, Пластический хирургХирург, Пластический хирург 
            td 
              a.link.btn-edit(href="#") Редактировать отзыв
          tr
            td 8256748  
            td 2015-12-15, 18:01:34 
            td 
              a.link(href="#") Медисса-Центр
            td 
              a.link(href="#") Сперанко Е.В. 
              br
              span Дерматолог, Косметолог
            td 
              a.link.btn-edit(href="#") Редактировать отзыв
          tr
            td 5468974  
            td 2015-12-15, 18:01:34 
            td 
              a.link(href="#") Добробут          «Детская  клиникана Левом берегу»
            td 
              a.link(href="#") Валихновский Л.Р. 
              br 
              span Хирург, Пластический хирург
            td 
              a.link.btn-edit(href="#") Редактировать отзыв
