//---
    layout: layouts/cabinet             
    page_name: cabinet-profile


.row  
  aside.col-md-3.hidden-sm.hidden-xs
    +b.cabinet-aside
       +e("ul")
         +e("li").item.is-active
           +e("a").link(href="#").cabinet-aside__link-profile.is-active Мой профиль
         +e("li").item
           +e("a").link(href="#").cabinet-aside__link-note Мои записи
         +e("li").item
           +e("a").link(href="#").cabinet-aside__link-reviews Мои отзывы
         +e("li").item 
           +e("a").link(href="#").cabinet-aside__link-like Избранное 


  section.col-md-9 
            