//---
    layout: layouts/cabinet          
    page_name: cabinet-profile


.row   
  aside.l-3.hidden-xs  
    +b.cabinet-aside 
       +e("ul")
         +e("li").item.is-active
           +e("a").link(href="cabinet-profile.html").cabinet-aside__link-profile.is-active Мой профиль!
         +e("li").item
           +e("a").link(href="cabinet-profile_notes.html").cabinet-aside__link-note Мои записи
         +e("li").item
           +e("a").link(href="cabinet-profile_otzivi.html").cabinet-aside__link-reviews Мои отзывы
         +e("li").item 
           +e("a").link(href="#").cabinet-aside__link-like Избранное
    

  section.l-9                 
    +b.cabinet-section 
      +e.header Ваши данные 
      +e.content 
        form(action="/")
          fielset
            +b.profile
              +e.item   
                +e("span").title Прізвище:
                +e("input").field-text(type="text")
              +e.item
                +e("span").title Ім'я: 
                +e("input").field-text(type="text")
              +e.item
                +e("span").title По батькові: 
                +e("input").field-text(type="text")
              +e.item
                +e("span").title Стать: 
                +b.form-radio
                  input.modal-radio(type="radio", id="radio1", name="one" checked="checked")
                  label(for="radio1") Чоловіча
  
                  input.modal-radio(type="radio", id="radio", name="one" )
                  label(for="radio") Жіноча
              +e.item
                +e("span").title День народження: 
                +e("input").field-text(type="data")
                +b.piker-calendar
              +e.item
                +e("span").title E-mail: 
                +e("input").field-text(type="email")
                +b.profile-parol
                  +e("a").link(href="#") Сменить пароль
              +e.item
                +e("span").title Телефон: 
                +e("input").field-text.phone-input-mask(type="tel")
                +b.profile-parol.profile-tel
                  +e("a").link.profile-tel__link(href="#") Изменить телефон 
                +e("input").field-text.phone-input-mask.add-tel(type="tel")
              +e.item 
                +b.btn-add-tel.js-add-tel Додати додатковий телефон
                  span
              +e.item
                +e("span").title Місто:  
                select.profile__field-text(type="text")
                  option(value="Kiev") Киев 
                  option(value="kharkov") Харьков 
                  option(value="chernovci") Черновцы
                  option(value="nikolaev") Николаев
                  option(value="dnepr") Днепропетровск
              +e.item
                +e("span").title Адреса: 
                +e("input").field-text(type="text")
              +e.item
                +e("span").title Діти:  
                //- select.profile__field-text(type="text")
                //-   option(value="Нет") Немає
                //-   option(value="2") 1 
                //-   option(value="3") 2
                //-   option(value="4") 3
                //-   option(value="5") 4
                +e('p').field-text.field-text__child.js-field-cild Немає
                  ul.section-choice
                    li.section-choice__item.js-child(data-id="0") Немає
                    li.section-choice__item.js-child(data-id="1" ) 1
                    li.section-choice__item.js-child(data-id="2" ) 2
                    li.section-choice__item.js-child(data-id="3" ) 3
                    li.section-choice__item.js-child(data-id="4" ) 4
                    
              +e.item.item__mod
                +e("span").title Даты рождения: 
                .js-group(data-field="1")
                  .field-text__in
                    +e("input").field-text(type="data")
                    .piker-calendar
                .js-group(data-field="2")
                  .field-text__in
                    +e("input").field-text.child-field(type="data")
                    .piker-calendar
                  .field-text__in
                    +e("input").field-text.child-field(type="data")
                    .piker-calendar
                  
                .js-group(data-field="3")
                  .field-text__in
                    +e("input").field-text.child-field(type="data")
                    .piker-calendar
                  .field-text__in
                    +e("input").field-text.child-field(type="data")
                    .piker-calendar
                  .field-text__in.field-text__mod
                    +e("input").field-text(type="data")
                    .piker-calendar

                .js-group(data-field="4")
                  .field-text__group
                    .field-text__in
                      +e("input").field-text.child-field(type="data")
                      .piker-calendar
                    .field-text__in
                      +e("input").field-text.child-field(type="data")
                      .piker-calendar
                  .field-text__group.field-text__mod
                    .field-text__in
                      +e("input").field-text.child-field(type="data")
                      .piker-calendar
                    .field-text__in
                      +e("input").field-text.child-field(type="data")
                      .piker-calendar

        hr 

        +b.profile-footer
          +e("a").btn(href="#") Сохранить 

        
