//---
    layout: layouts/cabinet           
    page_name: cabinet-profile_otzivi-edit


.row.row_cab  
  aside.l-3.hidden-xs      
    +b.cabinet-aside    
       +e("ul")
         +e("li").item
           +e("a").link(href="cabinet-profile.html").cabinet-aside__link-profile Мой профиль
         +e("li").item
           +e("a").link(href="cabinet-profile_notes.html").cabinet-aside__link-note Мои записи
           span.qt-note 12
         +e("li").item.is-active
           +e("a").link(href="cabinet-profile_otzivi.html").cabinet-aside__link-reviews.is-active Мои отзывы
         +e("li").item 
           +e("a").link(href="#").cabinet-aside__link-like Избранное   
    

  section.l-9    
    +b.cabinet-section  
      +e.header Редактирование отзыва 
      +e.content.content-edit
        .content-edit__row
          .content-edit__left 
            .content-edit__wrap
              .content-edit__title Оцените врача
              ul.rating-list
                  li.rating.first-child 
                      .rating__label(data-toggle='tooltip', data-original-title='Учтивость и терпение, проявленное врачом во время приема', data-placement='bottom') Внимательность врача
                      .rating-new
                        input.rating-new__item(type="radio", name="reviewStars4", id="star-1.3")
                        label.rating-new__star.star-5(for="star-1.3") 
                          .tringles-stars.tringles-ok Отлично
                        input.rating-new__item(type="radio", name="reviewStars4", id="star-2.3")
                        label.rating-new__star.star-4(for="star-2.3") 
                          .tringles-stars.tringles-good Хорошо
                        input.rating-new__item(type="radio", name="reviewStars4", id="star-3.3")
                        label.rating-new__star.star-3(for="star-3.3", data-title="Хорошо") 
                            .tringles-stars.tringles-normal Нормально
                        input.rating-new__item(type="radio",name="reviewStars4", id="star-4.3")
                        label.rating-new__star.star-2(for="star-4.3") 
                          .tringles-stars.tringles-badly Плохо
                        input.rating-new__item(type="radio",name="reviewStars4", id="star-5.3")
                        label.rating-new__star.star-1(for="star-5.3")
                          .tringles-stars.tringles-awfully Ужасно  
                  li.rating
                      .rating__label(data-toggle='tooltip', data-original-title='Педантичность и профессионализм врача во время осмотра', data-placement='bottom') Квалификация врача
                      .rating-new
                        input.rating-new__item(type="radio", name="reviewStars3", id="star-1.2")
                        label.rating-new__star.star-5(for="star-1.2") 
                          .tringles-stars.tringles-ok Отлично
                        input.rating-new__item(type="radio", name="reviewStars3", id="star-2.2")
                        label.rating-new__star.star-4(for="star-2.2") 
                          .tringles-stars.tringles-good Хорошо
                        input.rating-new__item(type="radio", name="reviewStars3", id="star-3.2")
                        label.rating-new__star.star-3(for="star-3.2", data-title="Хорошо") 
                            .tringles-stars.tringles-normal Нормально
                        input.rating-new__item(type="radio",name="reviewStars3", id="star-4.2")
                        label.rating-new__star.star-2(for="star-4.2") 
                          .tringles-stars.tringles-badly Плохо
                        input.rating-new__item(type="radio",name="reviewStars3", id="star-5.2")
                        label.rating-new__star.star-1(for="star-5.2")
                          .tringles-stars.tringles-awfully Ужасно  
                      
                  li.rating.last-child
                      .rating__label(data-toggle='tooltip', data-original-title='Соотношения стоимости и качества приема', data-placement='bottom') Цена–качество
                      .rating-new
                        input.rating-new__item(type="radio", name="reviewStars2", id="star-1.1")
                        label.rating-new__star.star-5(for="star-1.1") 
                          .tringles-stars.tringles-ok Отлично
                        input.rating-new__item(type="radio", name="reviewStars2", id="star-2.1")
                        label.rating-new__star.star-4(for="star-2.1") 
                          .tringles-stars.tringles-good Хорошо
                        input.rating-new__item(type="radio", name="reviewStars2", id="star-3.1")
                        label.rating-new__star.star-3(for="star-3.1", data-title="Хорошо") 
                            .tringles-stars.tringles-normal Нормально
                        input.rating-new__item(type="radio",name="reviewStars2", id="star-4.1")
                        label.rating-new__star.star-2(for="star-4.1") 
                          .tringles-stars.tringles-badly Плохо
                        input.rating-new__item(type="radio",name="reviewStars2", id="star-5.1")
                        label.rating-new__star.star-1(for="star-5.1")
                          .tringles-stars.tringles-awfully Ужасно    
                       
              .likebox
                  .likebox__label.likebox__label-mod(data-toggle='tooltip', data-original-title='Отношение сотрудников администратора и сотрудников клиники. Вежливость. Желание помочь.', data-placement='bottom')
                      | Рекомендуют врача
                  .likebox__like 
                      .likebox__votes
                        input(type="radio", name="likebox1")
                  .likebox__dislike.likebox-dislike__mod 
                      .likebox__votes.likebox__votes-mod
                        input(type="radio", name="likebox1")
            .content-edit__comment-in
              textarea(placeholder="Внимательность, индивидуальный подход. Рекомендую всем!").content-edit__comment
            

          
          .content-edit__right
              .content-edit__wrap.edit-border
                .content-edit__title Оцените клинику
                ul.rating-list
                  li.rating.first-child
                      .rating__label(data-toggle='tooltip', data-original-title='Учтивость и терпение, проявленное врачом во время приема', data-placement='bottom') Внимательность врача
                      .rating-new 
                        input.rating-new__item(type="radio", name="reviewStars5", id="star-1.4")
                        label.rating-new__star.star-5(for="star-1.4") 
                          .tringles-stars.tringles-ok Отлично
                        input.rating-new__item(type="radio", name="reviewStars5", id="star-2.4")
                        label.rating-new__star.star-4(for="star-2.4") 
                          .tringles-stars.tringles-good Хорошо
                        input.rating-new__item(type="radio", name="reviewStars5", id="star-3.4")
                        label.rating-new__star.star-3(for="star-3.4", data-title="Хорошо") 
                            .tringles-stars.tringles-normal Нормально
                        input.rating-new__item(type="radio",name="reviewStars5", id="star-4.4")
                        label.rating-new__star.star-2(for="star-4.4") 
                          .tringles-stars.tringles-badly Плохо
                        input.rating-new__item(type="radio",name="reviewStars5", id="star-5.4")
                        label.rating-new__star.star-1(for="star-5.4")
                          .tringles-stars.tringles-awfully Ужасно  
                  li.rating
                      .rating__label(data-toggle='tooltip', data-original-title='Педантичность и профессионализм врача во время осмотра', data-placement='bottom') Квалификация врача
                      .rating-new 
                        input.rating-new__item(type="radio", name="reviewStars6", id="star-1.5")
                        label.rating-new__star.star-5(for="star-1.5") 
                          .tringles-stars.tringles-ok Отлично
                        input.rating-new__item(type="radio", name="reviewStars6", id="star-2.5")
                        label.rating-new__star.star-4(for="star-2.5") 
                          .tringles-stars.tringles-good Хорошо
                        input.rating-new__item(type="radio", name="reviewStars6", id="star-3.5")
                        label.rating-new__star.star-3(for="star-3.5", data-title="Хорошо") 
                            .tringles-stars.tringles-normal Нормально
                        input.rating-new__item(type="radio",name="reviewStars6", id="star-4.5")
                        label.rating-new__star.star-2(for="star-4.5") 
                          .tringles-stars.tringles-badly Плохо
                        input.rating-new__item(type="radio",name="reviewStars6", id="star-5.5")
                        label.rating-new__star.star-1(for="star-5.5")
                          .tringles-stars.tringles-awfully Ужасно  
                      
                  li.rating.last-child
                      .rating__label(data-toggle='tooltip', data-original-title='Соотношения стоимости и качества приема', data-placement='bottom') Цена–качество
                      .rating-new
                        input.rating-new__item(type="radio", name="reviewStars7", id="star-1.6")
                        label.rating-new__star.star-5(for="star-1.6") 
                          .tringles-stars.tringles-ok Отлично
                        input.rating-new__item(type="radio", name="reviewStars7", id="star-2.6")
                        label.rating-new__star.star-4(for="star-2.6") 
                          .tringles-stars.tringles-good Хорошо
                        input.rating-new__item(type="radio", name="reviewStars7", id="star-3.6")
                        label.rating-new__star.star-3(for="star-3.6", data-title="Хорошо") 
                            .tringles-stars.tringles-normal Нормально
                        input.rating-new__item(type="radio",name="reviewStars7", id="star-4.6")
                        label.rating-new__star.star-2(for="star-4.6") 
                          .tringles-stars.tringles-badly Плохо
                        input.rating-new__item(type="radio",name="reviewStars7", id="star-5.6")
                        label.rating-new__star.star-1(for="star-5.6")
                          .tringles-stars.tringles-awfully Ужасно  
                      
                .likebox.likebox__mod
                    .likebox__label.likebox__label-mod(data-toggle='tooltip', data-original-title='Отношение сотрудников администратора и сотрудников клиники. Вежливость. Желание помочь.', data-placement='bottom')
                      | Рекомендуют врача 
                    .likebox__like
                      .likebox__votes
                        input(type="radio", name="likebox2")
                    .likebox__dislike.likebox-dislike__mod 
                      .likebox__votes.likebox__votes-mod
                        input(type="radio", name="likebox2")
              .content-edit__comment-in
                textarea.content-edit__comment(placeholder = "Внимательность, индивидуальный подход. Рекомендую всем!")
          
        +b.content-footer
          +e.btn-edit Сохранить
          +e('a').link(href="#") Отмена
