//---
    layout: layouts/cabinet             
    page_name: cabinet-profile_otzivi

  
.row  
  aside.l-3.hidden-xs
    +b.cabinet-aside
       +e("ul")
         +e("li").item
           +e("a").link(href="cabinet-profile.html").cabinet-aside__link-profile Мой профиль
         +e("li").item
           +e("a").link(href="cabinet-profile_notes.html").cabinet-aside__link-note Мои записи
           span.qt-note 12
         +e("li").item.is-active
           +e("a").link(href="cabinet-profile_otzivi.html").cabinet-aside__link-reviews.is-active Мои отзывы
         +e("li").item 
           +e("a").link(href="#").cabinet-aside__link-like Избранное   
    

  section.l-9.reviews  
    +b.cabinet-otzivi 
      +e.left-side 21.01.2015 в 11:23 
      +e.right-side 
        +b('ul').otziv-ok
          +e('li').item Опубликован
            +e('i').icon-ok
          +e('li').item  
            +e("a").link(href="#") Редактировать 
    +b.comment
      +e.item
        +b.left-side
          +e('a').link(href="#") Отзыв о враче Сперанко Е.И.
          +e('i').specialization (Хирург, Пластический хирург)
          +e('p').recomend Рекомендует врача
          +e('span').info Небольшая клиника, там вполне комфортно, молодой, отзывчивый персонал.

        .doctor-right
            ul.rating-list
              li.rating.first-child
                  .rating__label(data-toggle='tooltip', data-original-title='Учтивость и терпение, проявленное врачом во время приема', data-placement='bottom') Внимательность врача
                  .rating__stars
                      .rating__stars-bg
                      .rating__stars-overlay(style='width: 100%;')
                                
              li.rating
                  .rating__label(data-toggle='tooltip', data-original-title='Педантичность и профессионализм врача во время осмотра', data-placement='bottom') Квалификация врача
                  .rating__stars
                      .rating__stars-bg
                      .rating__stars-overlay(style='width: 100%;')
                                
              li.rating.last-child
                  .rating__label(data-toggle='tooltip', data-original-title='Соотношения стоимости и качества приема', data-placement='bottom') Цена–качество
                  .rating__stars
                      .rating__stars-bg
                      .rating__stars-overlay(style='width: 100%;')
                            

      +e.item
        +b.left-side
          +e('a').link(href="#") Отзыв о клинике "Медисса-Центр"
          +e('p').norecomend Не рекомендует врача
          +e('span').info Клинику легко найти, большая вывеска. Она просторная, много диванов, есть водичка, салфетки, бахилы, журналы. Забавные фото на стенах. Приятные девушки на рецепции. Но, на мой взгляд, анкета, которую нужно заполнить, слишком подробная для краткого осмотра, есть смысл ее заполнять, когда человек остается в клинике на процедуры, а когда первичный прием - нет.
        .doctor-right
            ul.rating-list
              li.rating.first-child
                  .rating__label(data-toggle='tooltip', data-original-title='Учтивость и терпение, проявленное врачом во время приема', data-placement='bottom') Внимательность врача
                  .rating__stars
                      .rating__stars-bg
                      .rating__stars-overlay(style='width: 100%;')
                                
              li.rating
                  .rating__label(data-toggle='tooltip', data-original-title='Педантичность и профессионализм врача во время осмотра', data-placement='bottom') Квалификация врача
                  .rating__stars
                      .rating__stars-bg
                      .rating__stars-overlay(style='width: 100%;')
                                
              li.rating.last-child
                  .rating__label(data-toggle='tooltip', data-original-title='Соотношения стоимости и качества приема', data-placement='bottom') Цена–качество
                  .rating__stars
                      .rating__stars-bg
                      .rating__stars-overlay(style='width: 100%;')
.row                              
  section.l-9.reviews
    +b.cabinet-otzivi 
      +e.left-side 21.01.2015 в 11:23 
      +e.right-side 
        +b('ul').otziv-ok
          +e('li').item На модерации
            +e('i').icon-mod
          +e('li').item
            +e("a").link(href="#") Редактировать 
    +b.comment
      +e.item
        +b.left-side
          +e('a').link(href="#") Отзыв о враче Сперанко Е.И.
          +e('i').specialization (Хирург, Пластический хирург)
          +e('p').recomend Рекомендует врача
          +e('span').info Небольшая клиника, там вполне комфортно, молодой, отзывчивый персонал.
        
        ul.rating-list.doctor-right
          li.rating.first-child
                            .rating__label(data-toggle='tooltip', data-original-title='Учтивость и терпение, проявленное врачом во время приема', data-placement='bottom') Внимательность врача
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            
                        li.rating
                            .rating__label(data-toggle='tooltip', data-original-title='Педантичность и профессионализм врача во время осмотра', data-placement='bottom') Квалификация врача
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            
                        li.rating.last-child
                            .rating__label(data-toggle='tooltip', data-original-title='Соотношения стоимости и качества приема', data-placement='bottom') Цена–качество
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            

      +e.item
        +b.left-side
          +e('a').link(href="#") Отзыв о клинике "Медисса-Центр"
          +e('p').recomend Рекомендует врача
          +e('span').info Клинику легко найти, большая вывеска. Она просторная, много диванов, есть водичка, салфетки, бахилы, журналы. Забавные фото на стенах. Приятные девушки на рецепции. Но, на мой взгляд, анкета, которую нужно заполнить, слишком подробная для краткого осмотра, есть смысл ее заполнять, когда человек остается в клинике на процедуры, а когда первичный прием - нет.
        ul.rating-list.doctor-right
          li.rating.first-child
                            .rating__label(data-toggle='tooltip', data-original-title='Учтивость и терпение, проявленное врачом во время приема', data-placement='bottom') Внимательность врача
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            
                        li.rating
                            .rating__label(data-toggle='tooltip', data-original-title='Педантичность и профессионализм врача во время осмотра', data-placement='bottom') Квалификация врача
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            
                        li.rating.last-child
                            .rating__label(data-toggle='tooltip', data-original-title='Соотношения стоимости и качества приема', data-placement='bottom') Цена–качество
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
.row                               
  section.l-9.reviews
    +b.cabinet-otzivi 
      +e.left-side 21.01.2015 в 11:23 
      +e.right-side.right-side__cancel 
        +b('ul').otziv-ok
          +e('li').item Отменен 
            +e('i').icon-cancel
          +e('li').item
            +e("a").link(href="#") Редактировать 
   
    +b.comment
      +e.item  
        +b.left-side
          +e('a').link(href="#") Отзыв о враче Сперанко Е.И.
          +e('i').specialization (Хирург, Пластический хирург)
          +e('p').recomend Рекомендует врача
          +e('span').info Небольшая клиника, там вполне комфортно, молодой, отзывчивый персонал. 
        
        ul.rating-list.doctor-right  
          li.rating.first-child
                            .rating__label(data-toggle='tooltip', data-original-title='Учтивость и терпение, проявленное врачом во время приема', data-placement='bottom') Внимательность врача
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            
                        li.rating
                            .rating__label(data-toggle='tooltip', data-original-title='Педантичность и профессионализм врача во время осмотра', data-placement='bottom') Квалификация врача
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            
                        li.rating.last-child
                            .rating__label(data-toggle='tooltip', data-original-title='Соотношения стоимости и качества приема', data-placement='bottom') Цена–качество
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            

      +e.item
        +b.left-side
          +e('a').link(href="#") Отзыв о клинике "Медисса-Центр"
          +e('p').recomend Рекомендует врача
          +e('span').info Клинику легко найти, большая вывеска. Она просторная, много дивнов, есть водичка, салфетки, бахилы, журналы. Забавные фото на стенах. Приятные девушки на рецепции. Но, на мой взгляд, анкета, которую нужно заполнить, слишком подробная для краткого осмотра, есть смысл ее заполнять, когда человек остается в клинике на процедуры, а когда первичный прием - нет.
        ul.rating-list.doctor-right
          li.rating.first-child
                            .rating__label(data-toggle='tooltip', data-original-title='Учтивость и терпение, проявленное врачом во время приема', data-placement='bottom') Внимательность врача
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            
                        li.rating
                            .rating__label(data-toggle='tooltip', data-original-title='Педантичность и профессионализм врача во время осмотра', data-placement='bottom') Квалификация врача
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            
                        li.rating.last-child
                            .rating__label(data-toggle='tooltip', data-original-title='Соотношения стоимости и качества приема', data-placement='bottom') Цена–качество
                            .rating__stars
                                .rating__stars-bg
                                .rating__stars-overlay(style='width: 100%;')
                            

                   