//---
    layout: layouts/main
    title: Центры лабораторных анализов в Киеве
    activeMenuItem: 0
    modals: feedback, select-specialization, clinic-location-map
    page_name: cla


.row.main-content            
    article.col-md-12  
        +b("header").article-header  
            h1= file.title
                span &nbsp;(220 94) 
    .col-md-9      
        .catalog-controls.cla_catalog-controls          
          .catalog-controls__column Найдено <strong>112 центров</strong>, 
            | отсортированы         
            select.select7      
              option(value="rate_desc", selected) по рейтингу    
              option(value="rate_az") по названию (А-Я) 
              option(value="rate_za") по названию (Я-А) 
          .catalog-controls__right-side
            +b.catalog-checkboxes: +i({items: ["Детская медсестра", "Воскресенье", "Суббота"]})   
    section.col-md-9    
 
 
        +b.section-action.u-card-mobile.affilliate-wrap 

            each cla in claList
                +e.item.action-card.card.affilliate(data-id='a' + cla.id) 
                    +e.in
                        +e.left.item-left__mod       
                            .card__left-side  
                                .card__image  
                                    a(href="#")  
                                        img(src='i/_isida.jpg').photo 
                                +b.rating.value-size_big 
                                    +e.value.value 4.9
                                    +e.stars 
                                        +e.stars-bg
                                        +e.stars-overlay(style="width: 80%;")   
                                +b.card__testimonials  
                                    a(href="", title="") 10 отзывов
                                    a(href='#').card__info
                        +e.middle
                            +b.main-title.affilliate-title
                                +e("a").link(href="#") Медицинская лаборатория Дiла
                                +e("span").clinic
                                    b 271 филиал в Киеве   
                                a(href="#clinic-location-map" data-toggle="modal").dotted.go-map Показать на карте   
                                +b.about Бесплатный прием специалиста по вопросам лечения спины с диагностикой позвоночника, а также занятия и массаж по акционной цене.
                            .section-action__right     
                                +b.right-info

                                    .benefit__wrap
                                        +e("p").benefit.affilliate-benefit_mod 10% скидка 
                                            span на весь перечень анализов
                                        +e("p").benefit.affilliate-benefit_mod от 10 до 15% скидка 
                                            span на специальные предложения
                            +b.price
                                +e("a").btn(href="#") Получить скидку
                    +b.promotional-offers.promotional-offers_action
                        +e.title 
                            b Акционные предложения Дiла   
                        include ../blocks/promotional-offers/promotional-offers.jade       



                    //- +b.exclamation
                    //-     +e.in
                    //-         +e.text  Извините, на данный момент запись в клинику ограничена 

                //- +e.item.card.action-card.card(data-id='a' + cla.id)
                //-     +e.left.item-left__mod
                //-         .card__left-side
                //-             .card__image 
                //-                 a(href="#")
                //-                     img(src='i/_isida.jpg').photo
                //-             +b.rating.value-size_big
                //-                 +e.value.value 4.9
                //-                 +e.stars 
                //-                     +e.stars-bg
                //-                     +e.stars-overlay(style="width: 80%;") 
                //-             +b.card__testimonials 
                //-                 a(href="", title="") 10 отзывов
                //-                 a(href='#').card__info
                //-     +e.middle
                //-         +b.main-title
                //-             +e("a").link(href="#") 16% скидки на комплексное ультразвуковое обследование организма (расширенное)!
                //-             +e("span").clinic 
                //-                 b Сити Клиника 
                //-             +e("span").special Гастроэнтерология, гинекология
                //-             +b("ul").about
                //-                 +e("li").item Консультацию проводит врач высшей категории;
                //-                 +e("li").item В прием за 1 грн входит осмотр и консультация;
                //-                 +e("li").item Экономия на приеме 300 грн;
                //-         .section-action__right  
                //-             +b.right-info
                //-                 .benefit__wrap
                //-                     +e("p").benefit.red-border выгода 90%
                //-                     +e("p").benefit.benefit__mod дейстувует до  27.12.2016
                //-         +b.price
                //-             +e.old 1245грн
                //-             +e.new 1050грн 
                //-             +e("a").btn(href="#") Записаться на прием 

        
        
    aside.col-md-3.hidden-sm.hidden-xs
        .widget.widget-map
            #map-canvas-right
            a.btn.btn-success(href="/map.html") Развернуть карту
 