//---
    layout: layouts/clinic_profile 
    title: Мой профиль         
    page_name: clinic-profile 

     
.row           
  section                    
    +b.cabinet-section.cabinet-section__mod  
      +e.header Ваши данные    
      +e.content    
        form(action="/")     
          fielset   
            +b.profile 
              +e.item   
                +e("span").title Прізвище:
                +e("input").field-text(type="text")
              +e.item
                +e("span").title Ім'я: 
                +e("input").field-text(type="text")
              +e.item
                +e("span").title По батькові: 
                +e("input").field-text(type="text")
              +e.item
                +e("span").title Стать: 
                +b.form-radio
                  input.modal-radio(type="radio", id="radio1", name="one" checked="checked")
                  label(for="radio1") Чоловіча
  
                  input.modal-radio(type="radio", id="radio", name="one" )
                  label(for="radio") Жіноча
              +e.item
                +e("span").title День народження: 
                +e("input").field-text(type="data")
                +b.piker-calendar
              +e.item.is-filled
                +e("span").title E-mail: 
                +e("input").field-text(type="email")
                +b.profile-parol
                  +e("i").icon
                  +e("a").link(href="#") Сменить пароль
              +e.item.clearfix.is-filled
                +e("span").title Телефон: 
                +e("input").field-text.phone-input-mask(type="tel")
                +b.profile-parol.profile-tel
                  i.profile-tel__icon
                  +e("a").link.profile-tel__link(href="#") Изменить телефон 
                +e("input").field-text.phone-input-mask.add-tel.add-tel__mod(type="tel")
              +e.item.clearfix
                +b.btn-add-tel.js-add-tel Додати додатковий телефон
                  span
              +e.item.clearfix 
                +e("span").title.item-in__left Місто:
                .js-section-choice.item-in__right
                  +e('p').field-text.field-text__child.js-selection-main.js-field-child Киев 
                    ul.section-choice.section-choice__city.js-choice-scroll
                      li.section-choice__item.js-selection-city Киев
                      li.section-choice__item.js-selection-city Харьков 
                      li.section-choice__item.js-selection-city Черновцы
                      li.section-choice__item.js-selection-city Николаев
                      li.section-choice__item.js-selection-city Днепропетровск
                      li.section-choice__item.js-selection-city Черновцы
                      li.section-choice__item.js-selection-city Николаев
                      li.section-choice__item.js-selection-city Днепропетровск
                      li.section-choice__item.js-selection-city Николаев
                      li.section-choice__item.js-selection-city Днепропетровск
                      li.section-choice__item.js-selection-city Черновцы
                      li.section-choice__item.js-selection-city Николаев
              +e.item.clearfix
                +e("span").title.item-in__left Адреса: 
                .input-validation
                  +e("input").field-text.input-validation__field.item-in__right(type="text")
                  span.input-validation__title Заполните адрес
              +e.item.clearfix
                +e("span").title.item-in__left Діти:
                .js-section-choice.item-in__right
                  +e('p').field-text.field-text__child.js-field-child Немає
                    ul.section-choice
                      li.section-choice__item.js-child(data-id="0") Немає
                      li.section-choice__item.js-child(data-id="1" ) 1
                      li.section-choice__item.js-child(data-id="2" ) 2
                      li.section-choice__item.js-child(data-id="3" ) 3
                      li.section-choice__item.js-child(data-id="4" ) 4
                    
              +e.item.item__mod.clearfix
                +e("span").title.item-in__left Даты рождения: 
                .js-group.item-in__right(data-field="1")
                  .field-text__in
                    +e("input").field-text.js-date-mast(type="data" placeholder=" дд.мм.гг.")
                    .piker-calendar
                .js-group(data-field="2")
                  .field-text__in
                    +e("input").field-text.child-field.js-date-mast(type="data" placeholder="дд.мм.гг.")
                    .piker-calendar
                  .field-text__in
                    +e("input").field-text.child-field.js-date-mast(type="data" placeholder="дд.мм.гг.")
                    .piker-calendar
                  
                .js-group(data-field="3")
                  .field-text__in
                    +e("input").field-text.child-field.js-date-mast(type="data" placeholder="дд.мм.гг.")
                    .piker-calendar
                  .field-text__in
                    +e("input").field-text.child-field.js-date-mast(type="data" placeholder="дд.мм.гг.")
                    .piker-calendar
                  .field-text__in.field-text__mod
                    +e("input").field-text.js-date-mast(type="data" placeholder="дд.мм.гг.")
                    .piker-calendar

                .js-group(data-field="4")
                  .field-text__group
                    .field-text__in
                      +e("input").field-text.child-field.js-date-mast(type="data" placeholder="дд.мм.гг.")
                      .piker-calendar
                    .field-text__in
                      +e("input").field-text.child-field.js-date-mast(type="data" placeholder="дд.мм.гг.")
                      .piker-calendar
                  .field-text__group.field-text__mod
                    .field-text__in
                      +e("input").field-text.child-field.js-date-mast(type="data" placeholder="дд.мм.гг.")
                      .piker-calendar
                    .field-text__in
                      +e("input").field-text.child-field.js-date-mast(type="data" placeholder="дд.мм.гг.")
                      .piker-calendar

       
        .profile-footer__wrap
          +b.profile-footer
            +e("a").btn(href="#") Сохранить 

        
 