//---
    layout: layouts/clinic_profile 
    title: Мой профиль         
    page_name: clinic-profile_current 
    modals: feedback, select-specialization, select-area 
 
.containet-fluid         
    .row             
      .container.clinic-current__content                    
        
        .tab-content.tab-content__mod 
            #tab-current.tab-pane.clinic-tab.active 
                +b("ul").application
                    +e("li").item-big
                        .left-side 
                            .left-side__wrap
                                +b.title
                                    +e.number 856789
                                    +e.info на согласовании
                                    +e.time 04:10
                                    +e.picture
                                        img(src='i/icons/on-agreement.png') 
                                .table-info
                                     table 
                                        tr 
                                            td Филиал: 
                                            td Здравица (Zdravica), медицинский центр медицинский центр
                                        tr
                                            td Врач: 
                                            td Гречка Татьяна Григорьевна
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        tr
                                            td Цена: 
                                            td 500 грн.
                                        tr
                                            td Дата и время:
                                            td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td для взрослого
                        .right-side
                            .right-side__wrap
                                +b.comment-block
                                    +e.item
                                        strong Комментарий пациента:
                                        span Гастроскопия + узи + узи органов малого таза для первой пац., для второй пациентки органов малого таза для первой пац. для второй.
                                    +e.item
                                        strong Комментарий оператора:
                                        span Интересует узи и осмотр, на завтра утро либо на пятницу
                                +b("form").alternative-block(metod="post")
                                    strong Aльтернатива
                                    +e("textarea").enter-text
                                    +e("a").button.btn(href="#") Подтвердить
                                    +e("a").button.btn.bg-blue(href="#") Aльтернатива
                    +e("li").item-big
                        .left-side
                            .left-side__wrap
                                +b.title
                                    +e.number 856789
                                    +e.info Согласован
                                    +e.time 02:00
                                    +e.picture
                                        img(src='i/icons/agreed.png')
                                .table-info
                                    table
                                        tr
                                            td Филиал:
                                            td Здравица (Zdravica), медицинский центр...
                                        tr
                                            td Врач:
                                            td Гречка Татьяна Григорьевна
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        tr
                                            td Цена: 
                                            td 500 грн.
                                        tr
                                            td Дата и время:
                                            td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td.no-info -----------------------------------
                        .right-side
                            .right-side__wrap
                                +b.comment-block
                                    +e.item
                                        strong Комментарий пациента:
                                        span.no-comment нет комментария 
                                    +e.item
                                        strong Комментарий оператора:
                                        span.no-comment нет комментария
                                +b("form").alternative-block(metod="post")
                                    strong Aльтернатива
                                    +e("textarea").enter-text
                                    +e("a").button.btn(href="#") Подтвердить
                                    +e("a").button.btn.bg-blue(href="#") Aльтернатива
                    +e("li").item-big
                        .left-side
                            .left-side__wrap
                                +b.title
                                    +e.number 856789
                                    +e.info Новый
                                    +e.time 00:00
                                    +e.picture
                                        img(src='i/icons/new-agreed.png')
                                .table-info
                                    table
                                        tr
                                            td Филиал:
                                            td Здравица (Zdravica), медицинский центр...
                                        tr
                                            td Врач:
                                            td Гречка Татьяна Григорьевна
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        tr
                                            td Цена: 
                                            td 500 грн.
                                        tr
                                            td Дата и время:
                                            td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td для взрослого
                        .right-side
                            .right-side__wrap
                                +b.comment-block
                                    +e.item
                                        strong Комментарий пациента:
                                        span Гастроскопия + узи + узи органов малого таза для первой пац., для второй пациентки органов малого таза для первой пац. для второй.
                                    +e.item
                                        strong Комментарий оператора:
                                        span Интересует узи и осмотр, на завтра утро либо на пятницу
                                +b("form").alternative-block(metod="post")
                                    strong Aльтернатива
                                    +e("textarea").enter-text
                                    +e("a").button.btn(href="#") Подтвердить
                                    +e("a").button.btn.bg-blue(href="#") Aльтернатива
                    +e("li").item-big.item-small
                        .left-side
                            .left-side__wrap
                                +b.title
                                    +e.number 856789
                                    +e.info Принят
                                    +e.picture
                                        img(src='i/icons/ok-agreed.png')
                                .table-info
                                    table
                                        tr
                                            td Филиал:
                                            td Здравица (Zdravica), медицинский центр...
                                        tr
                                            td Врач:
                                            td Гречка Татьяна Григорьевна
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        tr
                                            td Цена: 
                                            td 500 грн.
                                        tr
                                            td Дата и время:
                                            td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td для взрослого
                        .right-side
                            .right-side__wrap
                                +b.comment-block
                                    +e.item
                                        strong Комментарий пациента:
                                        span Гастроскопия + узи + узи органов малого таза для первой пац., для второй пациентки органов малого таза для первой пац. для второй.
                                    +e.item
                                        strong Комментарий оператора:
                                        span Интересует узи и осмотр, на завтра утро либо на пятницу
                    +e("li").item-big.item-small
                        .left-side
                            .left-side__wrap
                                +b.title
                                    +e.number 856789
                                    +e.info Принят
                                    +e.picture
                                        img(src='i/icons/ok-agreed.png')
                                .table-info
                                    table
                                        tr
                                            td Филиал:
                                            td Здравица (Zdravica), медицинский центр...
                                        tr
                                            td Врач:
                                            td Гречка Татьяна Григорьевна
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        tr
                                            td Цена: 
                                            td 500 грн.
                                        tr
                                            td Дата и время:
                                            td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td для взрослого
                        .right-side.right-side__small
                            .right-side__wrap
                                +b.comment-block
                                    +e.item
                                        strong Комментарий пациента:
                                        span Гастроскопия + узи + узи органов малого таза для первой пац., для второй пациентки органов малого таза для первой пац. для второй.
                                    +e.item
                                        strong Комментарий оператора:
                                        span Интересует узи и осмотр, на завтра утро либо на пятницу
                                +b("form").alternative-block(metod="post")
                                    strong Aльтернатива
                                    +e("textarea").enter-text
                                    +e("a").button.btn(href="#") Подтвердить
                                    +e("a").button.btn.bg-blue(href="#") Aльтернатива

                    +e("li").item-big.item-small
                        .left-side
                            .left-side__wrap
                                +b.title.item-small__title-canceled
                                    +e.number.item-small__number 856789
                                    +e.info.item-small__info отменен
                                    +e.picture
                                        img(src='i/icons/canceled-agreed.png')
                                .table-info
                                    table
                                        tr
                                            td Филиал:
                                            td Здравица (Zdravica), медицинский центр...
                                        tr
                                            td Врач:
                                            td Гречка Татьяна Григорьевна
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        tr
                                            td Цена: 
                                            td 500 грн.
                                        tr
                                            td Дата и время:
                                            td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td для взрослого
                        .right-side.right-side__cancel
                            .right-side__wrap
                                +b.comment-block
                                    +e.item
                                        strong Комментарий пациента:
                                        span Гастроскопия + узи + узи органов малого таза для первой пац., для второй пациентки органов малого таза для первой пац. для второй.
                                    +e.item
                                        strong Комментарий оператора:
                                        span Интересует узи и осмотр, на завтра утро либо на пятницу
                                
                    +e("li").item-big.item-small
                        .left-side
                            .left-side__wrap
                                +b.title.item-small__title-canceled
                                    +e.number.item-small__number 856789
                                    +e.info.item-small__info отменен
                                    +e.picture
                                        img(src='i/icons/canceled-agreed.png')
                                .table-info
                                    table
                                        tr
                                            td Филиал:
                                            td Здравица (Zdravica), медицинский центр...
                                        tr
                                            td Врач:
                                            td Гречка Татьяна Григорьевна
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        tr
                                            td Цена: 
                                            td 500 грн.
                                        tr
                                            td Дата и время:
                                            td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td для взрослого
                        .right-side.right-side__cancel.right-side__small
                            .right-side__wrap
                                +b.comment-block
                                    +e.item
                                        strong Комментарий пациента:
                                        span Гастроскопия + узи + узи органов малого таза для первой пац., для второй пациентки органов малого таза для первой пац. для второй.
                                    +e.item
                                        strong Комментарий оператора:
                                        span Интересует узи и осмотр, на завтра утро либо на пятницу
                                +b("form").alternative-block(metod="post")
                                    strong Aльтернатива
                                    +e("textarea").enter-text
                                    +e("a").button.btn(href="#") Подтвердить
                                    +e("a").button.btn.bg-blue(href="#") Aльтернатива
                    +e("li").item-big.item-small
                        .left-side
                            .left-side__wrap
                                +b.title.item-small__title-time
                                    +e.number.item-small__number 856789
                                    +e.info.item-small__info Просрочен
                                    +e.picture
                                        img(src='i/icons/time-agreed.png')
                                .table-info
                                    table
                                        tr
                                            td Филиал:
                                            td Здравица (Zdravica), медицинский центр...центр...центр...центр...центр...
                                        tr
                                            td Врач:
                                            td Гречка Татьяна Григорьевна
                                        //- tr
                                        //-     td Специальность:
                                        //-     td Акушер-гинеколог
                                        //- tr
                                        //-     td Цена: 
                                        //-     td 500 грн.
                                        //- tr
                                        //-     td Дата и время:
                                        //-     td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        //- tr
                                        //-     td Для кого врач:
                                        //-     td для взрослого
                        .right-side.right-side__time
                            //- .right-side__wrap
                            //-     +b.comment-block
                            //-         +e.item
                            //-             strong Комментарий пациента:
                            //-             span Гастроскопия + узи + узи органов малого таза для первой пац., для второй пациентки органов малого таза для первой пац. для второй.
                            //-         +e.item
                            //-             strong Комментарий оператора:
                            //-             span Интересует узи и осмотр, на завтра утро либо на пятницу
                    +e("li").item-big.item-small
                        .left-side
                            .left-side__wrap
                                +b.title.item-small__title-time
                                    +e.number.item-small__number 856789
                                    +e.info.item-small__info Просрочен
                                    +e.picture
                                        img(src='i/icons/time-agreed.png')
                                .table-info
                                    table
                                        tr
                                            td Филиал:
                                            td Здравица (Zdravica), медицинский центр...
                                        tr
                                            td Врач:
                                            td Гречка Татьяна Григорьевна
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        tr
                                            td Цена: 
                                            td 500 грн.
                                        tr
                                            td Дата и время:
                                            td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td для взрослого
                        .right-side.right-side__time.right-side__small
                            .right-side__wrap
                                +b.comment-block
                                    +e.item
                                        strong Комментарий пациента:
                                        span Гастроскопия + узи + узи органов малого таза для первой пац., для второй пациентки органов малого таза для первой пац. для второй.
                                    +e.item
                                        strong Комментарий оператора:
                                        span Интересует узи и осмотр, на завтра утро либо на пятницу
                                +b("form").alternative-block(metod="post")
                                    strong Aльтернатива
                                    +e("textarea").enter-text
                                    +e("a").button.btn(href="#") Подтвердить
                                    +e("a").button.btn.bg-blue(href="#") Aльтернатива
                                
 


                
            #tab-alternative.tab-pane 
                +b.alternative-btn
                    +e("a").button.btn.js-btn-text(href='#select-area', data-toggle='modal') Выберите район
                    +e.district 
                    +e("a").button.btn.js-btn-special(href='#select-specialization', data-toggle='modal') Выберите специальность
                    +e.specialization
                        span
                        +e('i').icon-close.js-remove
                +b("ul").application
                    +e("li").item-big
                        .left-side
                            .left-side__wrap
                                +b.title.title__alternative 
                                    +e.time 00:00
                                .table-info
                                    table
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        tr
                                            td Дата и время:
                                            td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td для взрослого
                        .right-side.right-side__alternative
                            .right-side__wrap
                                +b.comment-block 
                                    +e.item
                                        strong Комментарий пациента:
                                        span Гастроскопия + узи + узи органов малого таза для первой пац., для второй пациентки органов малого таза для первой пац. для второй.
                                    +e.item
                                        strong Комментарий оператора:
                                        span Интересует узи и осмотр, на завтра 
                                +b("form").alternative-block(metod="post")
                                    strong Aльтернатива
                                    +e("textarea").enter-text
                                    +e("a").button.btn.bg-blue(href="#") Aльтернатива
                    +e("li").item-big
                        .left-side
                            .left-side__wrap
                                +b.title.title__alternative-pic 
                                    +e.picture
                                        img(src='i/icons/ok-agreed.png')
                                .table-info
                                    table
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        tr
                                            td Дата и время:
                                            td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td для взрослого
                        .right-side.right-side__alternative  
                            .right-side__wrap 
                                +b.comment-block   
                                    +e.item
                                        strong Комментарий пациента:
                                        span Гастроскопия + узи + узи органов малого таза для первой пац., для второй пациентки органов малого таза для первой пац. для второй. 
                                    +e.item
                                        strong Комментарий оператора:
                                        span Интересует узи и осмотр, на завтра 
                                +b("form").alternative-block(metod="post")
                                    strong Aльтернатива
                                    +e("textarea").enter-text
                                    +e("a").button.btn.bg-blue(href="#") Aльтернатива
                    +e("li").item-big
                        .left-side
                            .left-side__wrap
                                +b.title.title__alternative-pic
                                    +e.picture
                                        img(src='i/icons/clock-agreed.png')
                                .table-info
                                    table
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        tr
                                            td Дата и время:
                                            td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td для взрослого
                        .right-side.right-side__alternative 
                            .right-side__wrap
                                +b.comment-block
                                    +e.item
                                        strong Комментарий пациента:
                                        span Гастроскопия + узи + узи органов малого таза для первой пац., для второй пациентки органов малого таза для первой пац. для второй.
                                    +e.item
                                        strong Комментарий оператора:
                                        span Интересует узи и осмотр, на завтра 
                                +b("form").alternative-block(metod="post")
                                    strong Aльтернатива
                                    +e("textarea").enter-text
                                    +e("a").button.btn.bg-blue(href="#") Aльтернатива


            #tab-finished.tab-pane
                +b("form").completed-header(metod="post")
                    +e.item
                        .js-section-choice
                            +e('p').field-text.js-selection-main.everyone-header.js-field-child Все филиалы 
                                +b('ul').everyone-lists.section-choice
                                    +e("li").list.js-selection-city Все филиалы
                                    +e("li").list.js-selection-city Viva на м. Шулявская
                                    +e("li").list.js-selection-city Viva на м. Лыбедская
                                    +e("li").list.js-selection-city Viva на Виноградаре
                                    +e("li").list.js-selection-city Viva на Подоле
                    +e.item
                        .js-section-choice
                            +e('p').field-text.everyone-header.js-field-child Все статусы
                                +b('ul').everyone-lists.section-choice
                                    +e("li").list.js-child Все статусы
                                    +e("li").list.js-child Viva на м. Шулявская 
                                    +e("li").list.js-child Viva на м. Лыбедская
                                    +e("li").list.js-child Viva на Виноградаре
                                    +e("li").list.js-child Viva на Подоле
                    +e.item
                        +b.block-wrap  
                            +e("input").search(type="text" placeholder="введите номер заявки") 
                            +e("i").icons
                            
                    +e.item
                        .date-picker
                            +e('input').date-picker.js-datepicker(type="text")
                          

                +b("ul").application
                    +e("li").item-big.item-small 
                        .left-side 
                            .left-side__wrap
                                +b.title
                                    +e.number 856789
                                    +e.info Принят
                                    +e.picture
                                        img(src='i/icons/ok-agreed.png')
                                .table-info
                                    table
                                        tr
                                            td Филиал:
                                            td Здравица (Zdravica), медицинский центр...
                                        tr
                                            td Врач:
                                            td Гречка Татьяна Григорьевна
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        //- tr
                                        //-     td Цена: 
                                        //-     td 500 грн.
                                        //- tr
                                        //-     td Дата и время:
                                        //-     td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td для взрослого
                        .right-side
                            .right-side__wrap
                                //- +b.comment-block
                                //-     +e.item
                                //-         strong Комментарий пациента:
                                //-         span Гастроскопия + узи + узи органов малого таза для первой пац., для второй пациентки органов малого таза для первой пац. для второй.
                                //-     +e.item
                                //-         strong Комментарий оператора:
                                //-         span Интересует узи и осмотр, на завтра утро либо на пятницу
                    +e("li").item-big.item-small
                        .left-side
                            .left-side__wrap
                                +b.title
                                    +e.number 856789
                                    +e.info Принят
                                    +e.picture
                                        img(src='i/icons/ok-agreed.png')
                                .table-info
                                    table
                                        tr
                                            td Филиал:
                                            td Здравица (Zdravica), медицинский центр...
                                        tr
                                            td Врач:
                                            td Гречка Татьяна Григорьевна
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        tr
                                            td Цена: 
                                            td 500 грн.
                                        tr
                                            td Дата и время:
                                            td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td для взрослого
                        .right-side
                            .right-side__wrap
                                +b.comment-block
                                    +e.item
                                        strong Комментарий пациента:
                                        span Гастроскопия + узи + узи органов малого таза для первой пац., для второй пациентки органов малого таза для первой пац. для второй.
                                    +e.item
                                        strong Комментарий оператора:
                                        span Интересует узи и осмотр, на завтра утро либо на пятницу
                    +e("li").item-big.item-small
                        .left-side
                            .left-side__wrap
                                +b.title.item-small__title-canceled
                                    +e.number.item-small__number 856789
                                    +e.info.item-small__info отменен
                                    +e.picture
                                        img(src='i/icons/canceled-agreed.png')
                                .table-info
                                    table
                                        tr
                                            td Филиал:
                                            td Здравица (Zdravica), медицинский центр...
                                        tr
                                            td Врач:
                                            td Гречка Татьяна Григорьевна
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        tr
                                            td Цена: 
                                            td 500 грн.
                                        tr
                                            td Дата и время:
                                            td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td для взрослого
                        .right-side.right-side__cancel
                            .right-side__wrap
                                +b.comment-block
                                    +e.item
                                        strong Комментарий пациента:
                                        span Гастроскопия + узи + узи органов малого таза для первой пац., для второй пациентки органов малого таза для первой пац. для второй.
                                    +e.item
                                        strong Комментарий оператора:
                                        span Интересует узи и осмотр, на завтра утро либо на пятницу
                

        