//---
    layout: layouts/clinic_profile 
    title: Мой профиль         
    page_name: clinic-profile_current 

.containet-fluid
    .row          
      section                   
        ul.nav-tabs.clinic-profile__tabs 
            li.active: a(href="#tab-current", data-toggle="tab") Текущие заявки
            li
                a(href="#tab-alternative", data-toggle="tab") Альтернативные      
            li
                a(href="#tab-finished", data-toggle="tab") Завершенные

        .tab-main
            #tab-current.tab-pane.clinic-tab.active
                +b("ul").application
                    +e("li").item-big
                        +b.left-side
                            +e.title
                                .title-number 856789
                                    span.title-icon
                        +b.right-side

                
            #tab-alternative.tab-pane
                
            #tab-finished.tab-pane
                

        