//---
    layout: layouts/clinic_profile 
    title: Мой профиль         
    page_name: clinic-profile_current 

.containet-fluid
    .row          
      section                    
        ul.nav-tabs.clinic-profile__tabs  
            li.active: a(href="#tab-current", data-toggle="tab") Текущие заявки
            li
                a(href="#tab-alternative", data-toggle="tab") Альтернативные      
            li
                a(href="#tab-finished", data-toggle="tab") Завершенные

        .tab-main
            #tab-current.tab-pane.clinic-tab.active
                +b("ul").application
                    +e("li").item-big
                        .left-side
                            .left-side__wrap
                                +b.title
                                    +e.number 856789
                                    +e.info на согласовании
                                    +e.time 04:10
                                    +e.picture
                                        img(src='i/icons/on-agreement.png')
                                .table-info
                                    table
                                        tr
                                            td Филиал:
                                            td Здравица (Zdravica), медицинский центр медицинский центр
                                        tr
                                            td Врач:
                                            td Гречка Татьяна Григорьевна
                                        tr
                                            td Специальность:
                                            td Акушер-гинеколог
                                        tr
                                            td Цена: 
                                            td 500 грн.
                                        tr
                                            td Дата и время:
                                            td 22.09.2015 утро (10:00, 11:00, 12:00)
                                        tr
                                            td Для кого врач:
                                            td для взрослого



                        +b.right-side

                
            #tab-alternative.tab-pane
                
            #tab-finished.tab-pane
                

        