//---
    layout: layouts/main
    title: Венерологические клиники в Киеве
    activeMenuItem: 1
    finder: clinics
    modals: select-area, select-branch, clinic-location-map, clinic-request
    page_name: clinics
    find_text: клиник

.row  
    section.col-md-9
        +b("ul").card-list
            each clinic in clinics
                if clinic.hasFilials
                    - classes = "card_clinic has-hidden-small-cards"

                - var uid = "uid-130146"
                if clinic.address
                    +b.card(class=classes, data-uid=uid, data-id= 'c' + clinic.id): +i({ card: clinic, landing: true, clinic: true, moreLink: true, clinicFilials: affilatesIsida, uid: uid })
                else
                    +b.card(class=classes, data-uid=uid, data-id= 'c' + clinic.id): +i({ card: clinic, landing: true, clinic: true, clinicFilials: affilatesIsida, uid: uid })

        +b("a").load-items(href="#"): +i

        +b("ul").pagination: +i
    aside.col-md-3.hidden-sm.hidden-xs
        .widget.widget-map
            #map-canvas-right
            a.btn.btn-success(href="/map.html") Развернуть карту