//---
    layout: layouts/main
    title: Диагностические центры Киева
    activeMenuItem: 2
    finder: doctors
    modals: select-area, select-branch, clinic-location-map, clinic-request, select-specialization
    page_name: diagnostic-list  
    find_text: клиник 

 
.row.main-content               
    .col-md-9.col-xs-12                                               
        h1= file.title
            span &nbsp;(220 94)
             
    .col-md-9.col-xs-12      
        .catalog-controls          
          .catalog-controls__results|  Найдено <strong>220 94 диагностических центров</strong>, 
          | отсортированы         
          select.select7      
            option(value="rate_desc", selected) по рейтингу    
            option(value="rate_az") по названию (А-Я) 
            option(value="rate_za") по названию (Я-А)           
.row                  
    .col-md-9.col-xs-12.promo-container             
        +b("ul").card-list.promo-container.u-card-mobile   
            each diagnost in diagnostList          
                +b.card.card-services.card-diagnost__mod.item-promo(data-id='d' + diagnost.id): +i({ card: diagnost, location: true})
            
            +b("a").load-items(href="#"): +i
            +b("ul").pagination: +i 
    aside.col-md-3
        .widget.widget-map
            #map-canvas-right
            a.btn.btn-success(href="/map.html") Развернуть карту 
