//---
    layout: layouts/main
    title: Диагностические центры Киева  
    modals: select-area, select-branch, clinic-location-map, clinic-request, clinic-location-map, select-specialization
    page_name: diagnostic-center
    find_text: врачей

.row              
    .col-md-9.col-xs-12     
        +b.card.card__mod.u-card-mobile    
            .item
                +e.left-side  
                    +e.image
                        img.photo(src="i/_insightmedical.png", alt="")
                    +b.like-box
                        +e.like
                            +e.votes 151
                        +e.dislike
                            +e.votes 3
                    +e.testimonials
                        a(href="#", title="#")
                            span.count 233 
                            |  отзыва 
                    +e.schedule 
                        ul 
                            li
                                span.left Пн - Пт 
                                span.right 9:00 - 21:00
                            li
                                span.left Сб
                                span.right 9:00 - 19:00
                            li
                                span.left Нд
                                span.right 9:00 - 19:00 
                +e.right-side.main-content
                    +b.favorites-block.pull-right: +i  
                    +e.title.fn.org
                        h1
                            a(href="#", title="") Днепролаб на м. Осокорки
                    .address-info.address-info_mod
                        +e.address.adr
                            a.dotted.grey.street-address(href="#clinic-location-map" data-toggle="modal" title="") г. Киев, пр.Науки, 30 
                        +e.location Голосеевский, Саперная слободка
                        +e.location.card__location_metro.blue Димеевская
                    hr.dashed
                    p «Днепролаб» – это диагностический центр на м. Осокорки, в котором проводится широкий спектр диагностических манипуляций, направленных на выявление заболеваний практически всех органов и систем. Каждый пациент имеет возможность выбрать подходящее время для прохождения процедуры, после чего в короткие сроки забрать результаты в клинике или получить их на электронную почту. Точность результата и качественное выполнение исследований – главный принцип работы.
                    .small-card__action.small-card__action-mod
                        +e.action
                            span.orange-light Акция
                            a(href="#", title="") Скидки на все услуги -15%
                    +e.share-bottom
                        +e.socwrap 
                            +e.socitem
                                a.twitter-share-button(href='https://twitter.com/share', data-via='VladiGoal') Tweet
                                script.
                                    !function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                        if (!d.getElementById(id)) {
                                            js = d.createElement(s);
                                            js.id = id;
                                            js.src = p + '://platform.twitter.com/widgets.js';
                                            fjs.parentNode.insertBefore(js, fjs);
                                        }
                                    }(document, 'script', 'twitter-wjs');
                            +e.socitem
                                .fb-like(data-href='https://developers.facebook.com/docs/plugins/', data-layout='button_count', data-action='like', data-show-faces='true', data-share='false')
                            +e.socitem._last
                                div(class="g-plusone" data-size="medium" data-annotation="inline" data-width="55")
                        a(href="#").btn.btn-med.btn-success Записаться 
                +e.bottom.bottom_diagnostic
                    +b.exclamation
                        +e.in
                            +e.text В данный момент запись в клинику не ведется 
                     

        ul.nav.nav-tabs.nav-clinic
                    li.triangle-yellow.active: a(href="#tab-about", data-toggle="tab") О центре
                    li.triangle-blue
                        a(href="#tab-price", data-toggle="tab") Услуги и цены
                    li.triangle-yellow.is-color-triangle
                        a(href="#tab-reviews", data-toggle="tab") Отзывы
                    li.triangle-transparent
                        a(href="#tab-actions", data-toggle="tab") Акции и пакеты услуг (4)
                    li.triangle-white
                        a(href="#tab-news", data-toggle="tab") Новости
                .tab-content.tab-content__diagnostic-center     
                    #tab-about.tab-pane.clinic-tab.active
                        +b.rating-block
                            +e.separator
                            .row
                                .col-sm-6
                                    .row
                                        .col-xs-5.col-xs-offset-1
                                            +b.statistics-item._simple
                                                +e.label Средний балл
                                                +e.value 5.0
                                        .col-xs-5
                                            +b.statistics-item._simple
                                                +e.label Кол-во отзывов
                                                +e.value 152
                                    +b.rating-info
                                        +e("span").icon
                                        +e.text Рейтинг врача рассчитывается<br>на основе&nbsp;
                                            +e("a").more-link(href="/", title="реальных отзывов пациентов"): span реальных отзывов пациентов
                                .col-sm-6
                                    +b("ul").rating-list
                                        each rating in clinics[0].ratings
                                            +b.rating: +i({label: rating.label, value: rating.value, tooltip: rating.tooltip})
                                    +b.likebox: +i({
                                        likes: doctors[0].likes,
                                        dislikes: doctors[0].dislikes,
                                        label: "Рекомендуют клинику"
                                    })  
                        .text
                            each about in clinics[0].about
                                if about.paragraphs
                                    each paragraph in about.paragraphs
                                        p= paragraph
                                else
                                    p
                                        strong= about.title
                                        ul.style-disc
                                            each item in about.items
                                                li= item
                    #tab-price.tab-pane
                        +b.block-package: +i       
                    #tab-reviews.tab-pane 
                        +b.diagnostic-reviews
                            
                                    +e.left-side
                                        span Рекомендации
                                        +b.like-box.likebox-block
                                            +e.like
                                                +e.votes 18
                                            +e.dislike
                                                +e.votes 0
                                        +b.reviews-info
                                            +e("i").icon
                                            +e("a").link(href="#") Как определяем качество услуг? 
                                
                                    +e.right-side
                                        span К-во отзывов
                                        +e.numder 233 
                                        +b.reviews-info
                                            +e("i").icon 
                                            +e("a").link(href="#") Как мы собираем отзывы?

                        ul.nav.nav-tabs.nav-doctor.reviews-tabs
                            li.triangle-white.active: a(href="#tab-with-text", data-toggle="tab") Только с текстом
                            li.triangle-white  
                                a(href="#tab-all-reviews", data-toggle="tab") Все отзывы
                        +b("ul").reviews-list: +i({ items: doctors[0].testimonials }) 

                        +b.reviews-list.reviews-list__mod
                            +e.item
                                +e.content
                                    .description
                                        +e.item-header
                                            span.reviewer.reviews-list__name Карина
                                            span.dtreviewed.reviews-list__date 21.01.2015 в 11:23 
                                        +e.liked Рекомендует врача
                                        p  Небольшая клиника, там вполне комфортно, молодой, отзывчивый персонал.
                            +e.item
                                +e.content
                                    .description
                                        +e.item-header
                                            span.reviewer.reviews-list__name Анатолий
                                            span.dtreviewed.reviews-list__date 21.01.2015 в 11:23 
                                        +e.unliked Не рекомендует врача
                                        p  Было где подождать, очень комфортно, администратор провел в кабинет, не нужно было ходить, искать, все замечательно. В администратор провел в кабинет, не нужно было ходить, искать, все замечательно.
                            +e.item
                                +e.content
                                    .description
                                        +e.item-header
                                            span.reviewer.reviews-list__name Вильгельм
                                            span.dtreviewed.reviews-list__date 21.01.2015 в 11:23 
                                        +e.liked Рекомендует врача
                                        p  Небольшая клиника, там вполне комфортно, молодой, отзывчивый персонал.
                            +e.item
                                +e.content
                                    .description
                                        +e.item-header
                                            span.reviewer.reviews-list__name Вильгельм
                                            span.dtreviewed.reviews-list__date 21.01.2015 в 11:23 
                                        +e.liked Рекомендует врача
                                        p  Не совсем удобная парковка, на проезжей части машину оставлять не хочется, а возле самой клиники мест для парковки практически и нет. Не совсем удобная парковка, на проезжей части машину оставлять не хочется, а возле самой клиники мест для парковки практически и нет. Не совсем удобная парковка, на проезжей части машину оставлять не хочется, а возле самой клиники мест для парковки практически и нет. Не совсем удобная парковка а возле самой клиники мест для парковки практически и нет. 


                        .pagination-wrap.pagination__modifie 
                            +b("ul").pagination: +i
                        .reviews-denied
                            strong Почему Вы не можете оставить отзыв?
                            br
                            | Отзывы на сайте могут оставлять только пациенты, побывавшие на приеме у врача. Это исключает публикацию заказных и неправдивых отзывов. Мы собираем отзывы путем обзвона реальных пациентов, которые посетили врача, записавшись через наш сервис.

                    #tab-actions.tab-pane
                        header.header-styled
                            h2.h1 Акции клиники
                        .offers-list
                            .row
                                - var limit = 3
                                each action, i in actionsData
                                    if i < limit
                                        .col-sm-4.col-xs-6
                                            +b("article").post: +i(action)

                        header.header-styled
                            h2.h1 Пакетные предложения
                        .offers-list
                            .row
                                - var limit = 3
                                each action, i in actionsData
                                    if i < limit
                                        .col-sm-4.col-xs-6
                                            +b("article").post: +i(action)
                    #tab-news.tab-pane  
                        +b("ul").articles-list.news-list
                            - var limit = 3
                            each article, i in articlesData
                                if i < limit
                                    +b.article-list-item: +i({ article: article, news: true})
                        .pagination-wrap.pagination__modifie
                            +b("ul").pagination: +i

         
    aside.col-md-3.hidden-sm.time-hidden
        .widget.widget-map
            #map-canvas-right
            a.btn.btn-success(href="/map.html") Развернуть карту
        .widget.widget-clinic
            .h3 Похожие клиники
            - var items = []
            - var limit = 4
            each clinic, i in clinics
                if i < limit
                    - items.push({ gender: clinic.gender, image: clinic.photo.main, title: clinic.name, url: '/' , label: clinic.label, location: clinic.location, rating: clinic.averageRating })
            +b.short-list: +i({
                items: items,
                clinic: true
            })
            .link.link-more 
                a(href="/doctors.html") Все клиники
