//---
   layout: layouts/searchbar 
   activeMenuItem: 0
   finder: doctors
   modals: select-area, select-actions  
   page_name: disease

section.col-md-9               
   .disease-content     
      header.header-styled.header-styled-noMargins
         h2.h1 Апластическая анемия
      .disease-row    
         .disease-subTitle.js-nav 
            ul.disease-subTitle__list    
               li.disease-subTitle__item
                  a.disease-subTitle__link(href="#causes", title="") Причины
               li.disease-subTitle__item
                  a.disease-subTitle__link(href="#symptoms", title="") Симптомы
               li.disease-subTitle__item
                  a.disease-subTitle__link(href="#diagnostic", title="") Диагностика Диагностика Диагностика Диагностика Диагностика Диагностика
               li.disease-subTitle__item
                  a.disease-subTitle__link(href="#treatment", title="") Лечение
         .short-description.disease-description  
             p  
              strong Апластические анемии  
              | входят в особую группу заболеваний, которым подвергается система крови. Они характерны тем, что снижают количество всех кровяных клеток, не обнаруживая процесса образования опухоли.    
             p Частота заболеваний на миллионное население от 6 до 13 случаев в год. Чаще заболевание встречается у людей, достигших 50 лет, как у мужчин, так и у женщин. 2/3 случаев заболеваний анемией заканчиваются летальным исходом.
         .disease-body
            .disease-chart  
               header.header-styled.header-chart
                  h2.h1 Формы
               p.disease-chart__list-title Врожденные (полученные от рождения):
               ul.disease-chart__list
                  li анемия Фанкони, является наследственной (переданная старшим поколением), представляет собой общее поражение кроветворения (новообразование кровяных клеток) и проявление аномалий развития при рождении;
                  li анемия Эстрена-Дамешека, наследственная апластическая анемия, где поражено общее кроветворение, но отсутствуют аномалии развития при рождении;
                  li синдром Дайемонда-Блекфена, парциональная аплазия красных клеток, значительное уменьшение числа эритроцитов.
               
               p.disease-chart__list-title Приобретенные (появившиеся после рождения) апластические анемии:
               ul.disease-chart__list
                  li общее поражение гемопоэза (образование кровяных клеток);
                  li острая (неожиданное возникновение, быстрое развитие);
                  li подострая (более плавное развитие болезни, продолжительность от 1 до 6 мес.);
                  li хроническая (постепенное развитие заболевания, длительность 6 мес. и более).
               
               p.disease-chart__description В случаях, когда поражение эритропоза избирательное (образовались эритроциты) – это аплазия парциональная красноклеточная.
               p.disease-chart__description Апластические амнезии у детей более чаще встречаются врожденные, чем приобретенные. Однако появление первых признаков анемии может произойти в возрасте от 6 до 10 лет, а не при рождении. По степени тяжести протекания болезни делятся на два вида: тяжелая и нетяжелая апластическая анемия.
               p.disease-chart__description Тяжелая гипопластическая анемия: анализ крови показывает содержание гранулоцитов (один из видов лейкоцитов – белых кровяных клеток, которые содержат особые гранулы внутри) меньше 0,5х 10 г/л, тромбоцитов (пластинок крови) меньше чем 10х 10 г/л, ретикулоцитов (стоящих перед эритроцитами – красных кровяных клеток) не более 0,1%. При нетяжелой апластической анемии, количество кровяных клеток недостаточно для того, чтобы считаться нормой, но превышает то количество, которое соответствует тяжелой форме анемии.

            .disease-chart
               header.header-styled.header-chart
                  h2.h1#causes Причины

               p.disease-chart__description У возникновения апластической анемии причины могут быть разными – индивидуальные реакции и особенности организма на разнообразные проявления и взаимодействия в окружающей среде могут вызвать причины возникновения апластической анемии. Среди причин выделяют:

               ul.disease-chart__list
                  li вирусные бактерии;
                  li химические соеднинения;
                  li ионизирующее излучение;
                  li аутоимунные процессы.
               

            .disease-chart
               header.header-styled.header-chart
                  h2.h1#symptoms Симптомы

               p.disease-chart__description Апластическая анемия, симптомы которой обусловлены тремя синдромами, имеют сходную клиническую картину. Анемический синдром (связан со сниженным уровнем гемоглобина – это особое вещество эритроцитов (красные кровяные клетки), которые переносят кислород):

               ul.disease-chart__list
                  li ослабленное состояние организма, пониженная работоспособность;
                  li головокружение;
                  li частые обмороки;
                  li частичное нарушение слуха;
                  li ухудшение зрения;
                  li одышка (более частое дыхание) и частое сердцебиение, вызываемое даже незначительной физической нагрузкой;
                  li грудная клетка подвержена колющим болям.
              
               p.disease-chart__description Геморрагический синдром (определен повышением кровоточивости), развитие которого происходит при уменьшении числа тромбоцитов (кровяные пластинки, которые при склеивании дают новообразование тромб – сгусток крови и делают их неполноценными).

               p.disease-chart__list-title Симптомы, которые могут указывать на это заболевание:
               ul.disease-chart__list
                  li появление кровоизлияний на слизистой и коже;
                  li кровь из носа;
                  li кровоточивость десен;
                  li маточные кровотечения (у девочек); 

               p.disease-chart__list-title Синдром инфекционных осложнений определяется понижением числа лейкоцитов:
               ul.disease-chart__list 
                  li различные кожные инфекции;
                  li инфицированы органы дыхания;
                  li инфекции мочевыводящих путей и т.д.
                  li редко встречаются случаи кровоизлияния в мозг.

               p.disease-chart__list-title Апластическая анемия у детей может определяться также и другими показаниями:
               ul.disease-chart__list
                  li ребенок медленно растет;
                  li отсутствует гармония в развитии детей (такие показатели как рост, речь, вес могут быть в норме, а другие нарушены);
                  li частое возникновение инфекционных заболеваний;
                  li более тяжелое протекание уже имеющихся хронических болезней.


            .disease-chart
               header.header-styled.header-chart
                  h2.h1#diagnostic Диагностика

               p.disease-chart__list-title Анализ заболеваний и жалоб:
               ul.disease-chart__list
                  li время появления симптомов анемии, т.е. кровотечения, боли в груди, ослабленности организма, плохого самочувствия, затрудненного дыхания.;

               p.disease-chart__list-title Анализ жизненного анамнеза:
               ul.disease-chart__list
                  li выявление у больного хронических заболеваний;
                  li имеются ли заболевания, передаваемые по наследству;
                  li наличие вредных привычек (в основном подростки);
                  li длительность приема различных препаратов;
                  li были выявлены опухоли или нет;
                  li был ли контакт с токсинами;
                  li подвергался больной лучевой терапии или действию других возможных факторов.

               p.disease-chart__description Осмотр врачем - идет определение цвета покрова кожи (присуща бледность, частый пульс, низкое артериальное давление). Есть случаи кожных кровоизлияний и на слизистой (во рту), гнойные кожные пузырьки и др.

               p.disease-chart__description Исследование крови - при этом заболевании идет резкое снижение числа эритроцитов, падает уровень гемоглобина. Нормы разные, зависящие от возраста. Понижается количество тромбоцитов и лейкоцитов, уменьшается содержание гранулоцитов, что ведет к нарушению соотношения лейкоцитов.

               p.disease-chart__description Анализ мочи - этот анализ помогает выявлению в крови геморрагического синдрома (повышенная кровоточивость) или появлению микроорганизмов и лейкоцитов.

               p.disease-chart__description Биохимическое исследование крови- идет определение уровня холестерина, глюкозы, креатина (белковые продукты распада), мочевой кислоты для того, чтобы определить сопутствующее заболевание организма, электролиты (натрий, калий, кальций).

               p.disease-chart__description Исследование костного мозга, которое проводится с помощью пункции (идет прокол с забором внутреннего содержимого) кости, более часто грудины (центральная кость грудной клетки впереди, место крепления ребер). Проявляется замена кроветворной ткани (предыдущих кровяных клеток) на рубцовую или жировую.

               p.disease-chart__description Трепанобиопсия (проводится анализ костного мозга и его соотношение с различными тканями). Для этого из крыла подвздошной кости (в районе человеческого таза, она ближе всего находится к коже) производится забор небольшого количества костного мозга с надкостницей и костью.

               p.disease-chart__description Электрокардиография (ЭКГ). Показывает частоту сердцебиения, выявляет нарушение в питании сердечных мышц, иногда – аритмию.


            .disease-chart
               header.header-styled.header-chart
                  h2.h1#treatment Лечение

               p.disease-chart__description Апластическая анемия, лечение которой очень разнообразно, все же поддается систематизации.
               p.disease-chart__description Этиотропное лечение (устранение причины анемии) считается практически невозможным. При применении определенных мер, таких как отмена применяемых препаратов, устранение радиационных излучений, отдаление от зон вредного производства, то есть устранение фактора, провоцирующего болезнь можно добиться снижения скорости разрушения костного мозга, но не полного восстановления.

               p.disease-chart__list-title Патогеническое лечение (блокировка механизма развития болезни):
               ul.disease-chart__list
                  li имунносупрессивная терапия (когда пересадка костного мозга от донора невозможна, прибегают к подавлению защитных функций самого организма);
                  li анаболические стероиды (медицинские препараты, стимулирующие синтез белка);
                  li гранулоцитарно-макрофагальный колониестимулирующий фактор – препараты, способствующие повышению образования белых клеток в крови – лейкоцитов;
                  li кортикостероиды активируют образование лейкоцитов в крови, являются искуственными аналогами гормонов коры надпочечников пациента;
                  li трансплантация (пересадка костного мозга донора) проводится при форме тяжелой апластической анемии. Трансплантацию лучше всего выполнять, если пациент достаточно молод и ему требуется незначительное 
                  li количество крови донора для переливания (не более 10).
   .after-content-title 
      p Найдено <span id="quantity-doctors">2</span> врача по лечению заболевания: <span id="disease-name">Апластическая анемия</span> 
         
   .card-list 
      +b.card.disease-card: +i({card: doctors[1], landing: true, label: true, doctors_page: true})    
 

aside.col-md-3.hidden-sm.hidden-xs
     .widget.widget-doctor
         h3 Врачи, лечащие апластическую анемию
         - var items = []
         - var limit = 4
         each doctor, i in doctors
             if i < limit
                 - items.push({ gender: doctor.gender, image: doctor.photo.main, title: doctor.name, url: '/' , label: doctor.label, location: doctor.location, rating: doctor.averageRating })
         +b.short-list: +i({ items: items })
         .link.link-more
                a(href="/doctors.html") Все врачи 
     
      .widget
         +b.widget-articles 
            h3 Статьи о заболевании 
            +e.body
               +e("ul").list  
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Аллергия
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Ангина
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Гастрит: как не заболеть
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Лечение гастрита
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Симптомы гастрита
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Гастрит с пониженной кислотностью
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Гастрит с повышенной кислотностью
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Гастрит гиперацидный
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Лечение гастрита народными средствами
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Лен при гастрите
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Лечение гастрита медом
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Сок картофеля при гастрите
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Диета при гастрите
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Питание при гастрите 
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Меню при гастрите
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Атрофический гастрит
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Рефлюкс гастрит
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Лекарства от гастрита
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Гиперпластический гастрит
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Гастрит у детей
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Острый гастрит
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Эрозивный гастрит
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Антральный гастрит
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Гипертрофический гастрит
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Хронический гастрит
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Поверхностный гастрит
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Гастрит при беременности 
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Анацидный гастрит 
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Диффузный гастрит 
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Обострение гастрита 
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Что делать при приступе гастрита 
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Антрум гастрит 
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Гипоацидный гастрит  
            .link.link-more
               a(href="#") Все статьи
         
      .widget
         +b.widget-articles
            h3 Похожие заболевания 
            +e.body.without-border-bottom
               +e("ul").list
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Аллергия
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Ангина
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Гастрит: как не заболеть
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Лечение гастрита
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Симптомы гастрита
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Гастрит с пониженной кислотностью
                  +e("li").item.alphabet-list__sub-item
                     +e("a").link(href="/disease.html", title="") Гастрит с повышенной кислотностью
