//---
   layout: layouts/static
   title: Справочник заболеваний
   activeMenuItem: 0
   finder: doctors
   modals: select-area, select-actions
   page_name: diseases
 
section.diseases-content   
   header.header-styled.header-styled-noborder 
      h2.h1 Часто запрашиваемые   
   .row.diseases-row 
      .col-sm-12.col-xs-12    
        .diseases-body
           ul.diseases-check-list
            li.diseases-item.alphabet-list__sub-item 
               a.diseases-link(href="#", title="") Аллергия             
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Ангина               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Ветрянка (Ветряная оспа)               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Вирус иммунодефицита человека                
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Воспаление слуховой трубы               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Гайморит               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Гастрит                
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Геморрой               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Герпес               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Грипп               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Депрессия               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Дерматит               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Дистрофия ногтя               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Запор               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Молочница (Кандидоз)               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Насморк (ринит)               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Невус (родинка, родимое пятно)               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Панкреатит               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Псориаз               
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="#", title="") Сахарный диабет
section.all-diseases
   header.header-styled.header-styled-noborder 
      h2.h1 Все заболевания
   .row.diseases-row
         .col-sm-12.col-xs-12  
           .alphabet-index
               ul.alphabet-index__list
                  each disease in diseases
                     li.alphabet-index__item
                        if disease.children
                           a.alphabet-index__link(href="#", title="")= disease.title
                        else
                           a.alphabet-index__link.disabled(href="#", title="")= disease.title
section.diseases-content
   .row.diseases-row
      .col-sm-12.col-xs-12
        .diseases-body
            ul.diseases-check-list
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аборт
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Абстинентное состояние
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Абсцесс
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Абсцесс легкого и средостения
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Абсцесс селезенки
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Абсцесс слюнной железы
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Агалактия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Агнозия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Агранулоцитоз
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Адгезивный капсулит плеча
               li.diseases-item.alphabet-list__sub-item 
                  a.diseases-link(href="#", title="") Аденовирусные инфекции
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аденоиды
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аденома гипофиза 
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аденома простаты (предстательной железы)
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аденома щитовидной железы
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Адентия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Акаталазия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Акромегалия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Актиномикоз (болезнь лучистогрибковая)
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Алкаптонурия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Алкогольная болезнь печени
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Алкогольная зависимость
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аллергический контактный дерма
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аллергия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Альбинизм
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Альвеолит челюстей
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Амблиопия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Амебиаз
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аменорея
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Амилоидоз
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Амнезия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Амнестический синдром
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Анафилактический шок
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Ангидроз (Гипогидроз)
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Ангина
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Ангиосаркома печени
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Андропауза
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аневризма
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Анемия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Анизометропия и анизейкония
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Анкилоблефарон
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Анкилоз сустава
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Анкилостомидоз
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аномалии размеров и формы зубов
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аноргазмия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Анорексия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аноректальный свищ
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аортальная недостаточность 
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аортальный стеноз
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Апластическая анемия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Апноэ
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аппендицит
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аритмия сердца
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Артериальная гипертензия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Артрезия влагалища
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Артрит
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Артроз (Остеоартроз)
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аскаридоз
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аспергиллез
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Астигматизм
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Асфиксия при родах
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Атеросклероз
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Атеросклеротическая болезнь
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Атипичная пневмония
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Атопический дерматит
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Атрофия яичка
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Аутизм
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Афакия
               li.diseases-item.alphabet-list__sub-item
                  a.diseases-link(href="#", title="") Африканский трипаносомоз
               li.diseases-item.alphabet-list__sub-item 
                  a.diseases-link(href="#", title="") Ахалазия пищевода
 
