//---
  layout: layouts/main
  finder: doctors
  chooser: doctors
  indexPage: true
  aboutThisSite: true
  isCabinet: true
  modals: select-area, select-specialization, doc-request-schedule, callback

section.offers-list 
  header.header-styled
    .row
      .col-xs-7
        h2.h1 Пакетные предложения
      .col-xs-5.text-right
        a.main-more-link(href="/", title="Еще 122 предложения") Еще 122 предложения
  .row.offset-bottom-0
    - var limit = 4
    each offer, i in specialOffers
      if i < limit
        .col-md-3.col-sm-4.col-xs-6
          +b("article").post: +i(offer)

section.offers-list 
  header.header-styled
    .row
      .col-xs-7
        h2.h1 Акции
      .col-xs-5.text-right
        a.main-more-link(href="/", title="Еще 122 предложения") Еще 122 предложения
  .row
    - var limit = 4
    each action, i in actionsData 
      if i < limit
        .col-md-3.col-sm-4.col-xs-6
          +b("article").post: +i(action) 