//---
  layout: layouts/main2
  finder: doctors 
  chooser: doctors  
  indexPage: true
  aboutThisSite: true
  isCabinet: true
  diagnosticsRecord: true
  modals: select-area, select-specialization, doc-request-schedule, callback
    
.main-container
  section.offers-list.more-toogle-parent  
    header.header-styled.index-page-header                   
      .row 
        .col-sm-7.col-xs-12 
          h2.h1 Акционные предложения     
        .col-sm-5.col-xs-12.text-right.hidden-xs
          a.main-more-link(href="/", title="Все предложения") Все предложения
    .row.offset-bottom-0
        .col-md-6.col-xs-12   
            each offer in specialOffers  
              if offer.postWide       
                +b("article").post2.post-wide: +i(offer)          
        .col-md-6.col-xs-12.block-10    
          - var limit = 5  
          - var postWide     
          each offer, i in specialOffers     
            if !offer.postWide    
              if i < limit 
                .col-md-6.col-sm-3
                  +b("article").post2: +i(offer)
        +b.more-toggle.visible-xs
          .link-wrap
            +e("a").link(href="#select-area-diagnostics", data-toggle="modal", title="Все предложения")
                +e("span").show-label
                    span Все предложения            
                       

  section.offers-list.hidden-xs   
    header.header-styled.index-page-header
      .row 
        .col-xs-7 
          h2.h1 Акционные предложения     
        .col-xs-5.text-right  
          a.main-more-link(href="/", title="Все предложения") Все предложения
    .row.offset-bottom-0 
        .col-md-12.col-xs-12.post-thin 
          - var limit = 7  
          - var postWide
          each offer, i in specialOffers       
            if !offer.postWide
              if i < limit  
                .col-md-6.col-sm-12
                  +b("article").post3: +i(offer)  
                                                                 