//---
  layout: layouts/main
  page_name: tooltip

.main-container 
  section.col-sm-12   
    a(href="#")(rel="tooltip" )(title="Извините, но в данный момент акция не доступна").js-tooltip tooltip yellow
    div
    a(href="#")(rel="tooltip" data-placement="bottom")(title="Извините, но в данный момент акция не доступна").js-tooltip tooltip yellow
    div
    a(href="#")(rel="tooltip")(title="Извините, но в данный момент акция не доступна" ).js-tooltip.is-black tooltip black 