//---
   layout: layouts/disease
   activeMenuItem: 0
   title: Медицинская библиотека
   finder: doctors
   modals: select-area, select-actions
   page_name: med-library

section.col-md-9 
   +b.med-library  
      header.header-styled.header-styled_notopmargin
         h2.h1 Медицинская библиотека
      +e.body
         +e.list-wrap
            +e("ul").list.columnize(data-columns="3", data-min-column-width="10", data-adaptive-column-count="true")
               each branch in branches
                  +e("li").item
                     +e("a").link(href="#" title="")= branch.title 
                     if branch.class == 'disabled'
                        +e("span").number-of-articles.disabled 12
                     else
                        +e("span").number-of-articles 10

   .after-content-title 
      p Новые статьи     

   +b("ul").med-articles-list.med-library-page  
         each article in articlesData
            if article.datePublic
               +b.article-list-item.new-article: +i({article: article, news: true})

aside.col-md-3.hidden-sm.hidden-xs                 
   .widget.widget-diseases
      h3 Заболевания
      .diseases-body
         ul.diseases-check-list
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Аллергия
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Ангина
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Ветрянка (Ветряная оспа)
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Вирус иммунодефицита человека, СПИД
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Воспаление слуховой (евстахиевой) трубы
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Гайморит
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Гастрит
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Геморрой
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Герпес
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Грипп
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Депрессия
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Дерматит
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Дистрофия ногтя
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Запор
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Молочница (Кандидоз)
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Насморк (ринит)
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Невус (родинка, родимое пятно)
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Панкреатит
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Псориаз
            li.diseases-item.alphabet-list__sub-item
               a.diseases-link(href="/disease.html", title="") Сахарный диабет
            li.diseases-item.alphabet-list__sub-item          
      .link.link-more
         a(href="#") Все заболевания
 
   .widget.widget-online-diagnostic 
      h3 Онлайн-диагностика
      +b("div").online-diagnostic
         +e("a").link(href="/diseases.html", title="")
            +e("img").img(src="i/online-diagnostic.png", alt="")