//---
  layout: layouts/main
  finder: doctors
  modals: feedback, callback, doctor-request, clinic-request, diagnostic-request, doc-request-schedule, request-thanks, login, select-area, select-area-diagnostics, select-branch, select-specialization, select-actions, select-services, notification, rating, rating-clinic, info, info-var-2, info-var-3, info-var-4, select-other-spec, select-other-area, password, confirm-number, finishing-registration, request-dialog, cla-clinic_step1, cla-clinic_step2, cla-promo_step1, cla-promo_step2 , cla-promo-step3, discount, discount-form
      
.wrap                                                      
    .breadcrumbs                                         
      ol.breadcrumb                                                    
        li(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
          a(href='/', title='Главная', itemprop='url')
            span(itemprop='title') Главная
        li(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
          a(href='modals.html', title='Модальные окна', itemprop='url')
            span(itemprop='title') Модальные окна                                
    .row 
      article.col-sm-12                                                                                  
        h1 Модальные окна      
        h3 CLA last     
        ol      
          li                                
            p
              a(href="#discount-form", data-toggle='modal').btn.btn-default.btn-sm  popup №1 
          li
            p
              a(href="#discount", data-toggle='modal').btn.btn-default.btn-sm  popup №2     


        h3 CLA 
        ol  
          li
            p
              a.btn.btn-default.btn-sm(href='#cla-clinic_step1', data-toggle='modal') cla-clinic_step1
          li 
            p
              a.btn.btn-default.btn-sm(href='#cla-clinic_step2', data-toggle='modal') cla-clinic_step2
          li 
            p
              a.btn.btn-default.btn-sm(href='#cla-promo_step1', data-toggle='modal') cla-promo_step1
          li 
            p
              a.btn.btn-default.btn-sm(href='#cla-promo_step2', data-toggle='modal') cla-promo_step2
          


        h3 other   
        ol
          //- li
          //-   p 
          //-     a.btn.btn-success(href='#request-clinic', data-toggle='modal', title='') Clinica 
          li
            p  
              a.btn.btn-success(href='#request-dialog', data-toggle='modal', title='') Zapic_napriom

        h3 New                            
        ol           
          li     
            p 
              a.btn.btn-default.btn-sm(href='#feedback', data-toggle='modal') feedback
            p.small <a href="#feedback" data-toggle="modal">Show feedback</a> 
          li
            p
              a.btn.btn-default.btn-sm(href='#callback', data-toggle='modal') callback  
            p.small <a href="#callback" data-toggle="modal">Show callback</a>
          li 
            p
              a.btn.btn-default.btn-sm(href='#info-var-2', data-toggle='modal') attention
            p.small <a href="#info-var-2" data-toggle="modal">Show attention</a>
          li  
            p  
              a.btn.btn-default.btn-sm(href='#login', data-toggle='modal') login
            p.small <a href="#login" data-toggle="modal">Show login</a>
          li          
            p
              a.btn.btn-default.btn-sm(href='#rating', data-toggle='modal') rating
            p.small <a href="#rating" data-toggle="modal">Show rating</a>
          li              
            p  
              a.btn.btn-default.btn-sm(href='#rating-clinic', data-toggle='modal') rating-clinic
            p.small <a href="#rating-clinic" data-toggle="modal">Show rating-clinic</a>
          li             
            p   
              a.btn.btn-default.btn-sm(href='#request-thanks', data-toggle='modal') request-thanks
            p.small <a href="#request-thanks" data-toggle="modal">Show request-thanks</a> 
          li            
            p 
              a.btn.btn-default.btn-sm(href='#select-area', data-toggle='modal') select-area
            p.small <a href="#select-area" class="js-popup-bt" data-toggle="modal">Show select-area</a>
          li              
            p      
              a.btn.btn-default.btn-sm(href='#select-area-diagnostics', data-toggle='modal') select-area-diagnostics
            p.small 
              | <a href="#select-area-diagnostics" data-toggle="modal">Show select-area-diagnostics</a>     
          li            
            p 
              a.btn.btn-default.btn-sm(href='#select-specialization', data-toggle='modal') select-specialization
            p.small
              | <a href="#select-specialization" data-toggle="modal">Show select-specialization</a>
          li    
            p  
              a.btn.btn-default.btn-sm(href='#select-other-spec', data-toggle='modal') select-other-spec 
            p.small <a href="#select-other-spec" data-toggle="modal">Show select-other-spec</a>
          li   
            p       
              a.btn.btn-default.btn-sm(href='#select-other-area', data-toggle='modal') select-other-area 
            p.small <a href="#select-other-area" class="js-popup-bt" data-toggle="modal">Show select-other-area</a>        
          li   
            p
              a.btn.btn-default.btn-sm(href='#password', data-toggle='modal') password 
            p.small <a href="#password" data-toggle="modal">password</a> 
          li     
            p 
              a.btn.btn-default.btn-sm(href='#confirm-number', data-toggle='modal') confirm-number 
            p.small <a href="#confirm-number" data-toggle="modal">confirm-number</a>
          li 
            p 
              a.btn.btn-default.btn-sm(href='#finishing-registration', data-toggle='modal') finishing-registration
            p.small <a href="#finishing-registration" data-toggle="modal">finishing-registration</a>

        

                 
        h3 Old          
        ul
          li
            p
              a.btn.btn-default.btn-sm(href='#doctor-request', data-toggle='modal') doctor-request
            p.small <a href="#doctor-request" data-toggle="modal">Show doctor-request</a>
          li
            p
              a.btn.btn-default.btn-sm(href='#doctor-request-online', data-toggle='modal') doctor-request-online
            p.small
              | <a href="#doctor-request-online" data-toggle="modal">Show doctor-request-online</a>
          li
            p
              a.btn.btn-default.btn-sm(href='#clinic-request', data-toggle='modal') clinic-request
            p.small <a href="#clinic-request" data-toggle="modal">Show clinic-request</a>
          li
            p
              a.btn.btn-default.btn-sm(href='#diagnostic-request', data-toggle='modal') diagnostic-request
            p.small <a href="#diagnostic-request" data-toggle="modal">Show diagnostic-request</a>
          li      
            p
              a.btn.btn-default.btn-sm(href='#doc-request-schedule', data-toggle='modal') doc-request-schedule
            p.small
              | <a href="#doc-request-schedule" data-toggle="modal">Show doc-request-schedule</a>
          //li 
          //  p    
          //    a.btn.btn-default.btn-sm(href='#doctor-location-map', data-toggle='modal') doctor-location-map
          //  p.small <a href="#doctor-location-map" data-toggle="modal">Show doctor-location-map</a>
          //li
          //  p 
          //    a.btn.btn-default.btn-sm(href='#clinic-location-map', data-toggle='modal') clinic-location-map
          //  p.small <a href="#clinic-location-map" data-toggle="modal">Show clinic-location-map</a>
          li
            p 
              a.btn.btn-default.btn-sm(href='#login', data-toggle='modal') login
            p.small <a href="#login" data-toggle="modal">Show login</a>
          
          li
            p
              a.btn.btn-default.btn-sm(href='#select-actions', data-toggle='modal') select-actions
            |                           
            p.small <a href="#select-actions" data-toggle="modal">Show select-actions</a>
          li
            p
              a.btn.btn-default.btn-sm(href='#select-services', data-toggle='modal') select-services
            p.small <a href="#select-services" data-toggle="modal">Show select-services</a>
          //li
          //  p
          //    a.btn.btn-default.btn-sm(href='#help-popup', data-toggle='modal') help-popup
          //  p.small <a href="#help-popup" data-toggle="modal">Show help-popup</a>
          li 
            p
              a.btn.btn-default.btn-sm(href='#notification', data-toggle='modal') notification
            p.small <a href="#notification" data-toggle="modal">Show notification</a>
          //li
          //  p
          //    a.btn.btn-default.btn-sm(href='#inquiry-message', data-toggle='modal') inquiry-message
          //  p.small <a href="#inquiry-message" data-toggle="modal">Show inquiry-message</a>
          li
            p
              a.btn.btn-default.btn-sm(href='#rating', data-toggle='modal') rating
            p.small <a href="#rating" data-toggle="modal">Show rating</a>
          li  
            p
              a.btn.btn-default.btn-sm(href='#rating-clinic', data-toggle='modal') rating-clinic
            p.small <a href="#rating-clinic" data-toggle="modal">Show rating-clinic</a>
          li
            p
              a.btn.btn-default.btn-sm(href='#info', data-toggle='modal') info
            p.small <a href="#info" data-toggle="modal">Show info</a>
          
          li  
            p
              a.btn.btn-default.btn-sm(href='#info-var-3', data-toggle='modal') info-var-3
            p.small <a href="#info-var-3" data-toggle="modal">Show info-var-3</a>
          li 
            p
              a.btn.btn-default.btn-sm(href='#info-var-4', data-toggle='modal') info-var-4
            p.small <a href="#info-var-4" data-toggle="modal">Show info-var-4</a>
            