//---
    layout: layouts/partner_profile 
    title: Партнеры-ствтистика       
    page_name: partner-profile_statistic 
    activeMenuItem: 0

     
.row  
    section.col-sm-8   
      .change-time  
        +b('ul').nav-days.template-block
          +e('li').item.active
              +e('a').link(href="#") Сегодня
          +e('li').item
              +e('a').link(href="#") Вчера
          +e('li').item
              +e('a').link(href="#") Неделя
          +e('li').item
              +e('a').link(href="#") Месяц
        +b.nav-calendar
          +e('input').date-picker.js-datepicker(type="text")
          


    article.col-sm-4
      +b('ul').deduce
        +e.item Детализация 
            +b('select').drop-down(name='by_period')
                +e('option').item(value='day') По дням
                +e('option').item(value='month') По месяцам
  
//- here chart 


//- .row
//-   section.col-sm-12
//-     .template-block
      
 
 
.row   
  section.col-sm-12
    +b('ul').deduce.deduce__left
        +e.item Информация за 
            +b('select').drop-down(name='year')
                +e('option').item(value='2015') 2015 год
                +e('option').item(value='2016') 2016 год
.row
    section.col-sm-12
        table(cellpadding='0', cellspacing='0').partner-table.partner-table__statistic
            thead 
                tr
                    th Месяц
                    th Посетителей
                    th Кликов
                    th Заказов
                    th Конверсия
                    th Отмененные
                    th Принятые
                    th Комиссия
            tbody
                tr
                    td Ноябрь 2015 
                    td 132 856
                    td 34 560
                    td 25
                    td 3,25 
                        | %
                    td 2
                    td 456
                    td 34 892
                        | &#8372;
                tr
                    td Октябрь 2015
                    td 128 566
                    td 875
                    td 854
                    td 5,25
                        | %
                    td 20
                    td 50
                    td 88 892 
                        | &#8372;
                    
                tr
                    td Сентябрь 2015 
                    td 12 856
                    td 34 560
                    td 65
                    td 3,25
                        | %
                    td 2 
                    td 6
                    td 34 892 
                        | &#8372;
                tr
                    td Август 2015 
                    td 128 566
                    td 875
                    td 854
                    td 5,25
                        | %
                    td 5 
                    td 850
                    td 88 892  
                        | &#8372;
                tr
                    td Июль 2015 
                    td 132 856
                    td 34 560
                    td 56
                    td 3,25
                        | %
                    td 130 
                    td 456
                    td 34 892   
                        | &#8372;
                tr
                    td Сентябрь 2015 
                    td 12 856
                    td 34 560
                    td 65
                    td 3,25
                        | %
                    td 2 
                    td 6
                    td 34 892 
                        | &#8372;
                tr
                    td Октябрь 2015
                    td 128 566
                    td 875
                    td 854
                    td 5,25
                        | %
                    td 20
                    td 50
                    td 88 892 
                        | &#8372;
