//---
   layout: layouts/static  
   title: Партнерам 
   activeMenuItem: 0
   finder: doctors       
   modals: select-area, select-actions, select-specialization 
   page_name: partners   
    
+b.comment-quotes: +i({ quotes: commentQuotes }) 

section.partners-main        
   header.header-styled.header-partners 
      h2.h1 Преимущество для партнеров 
   .row
      .col-sm-6
         +b.feature
            +e.header  
               +e("span").icon 
                  img(src="/i/icon-mouthpiece_partners.png", alt="")
               +e.title.h3 Дополнительный канал рекламы
            +e.content
               p  Сотрудничая с DOC.UA вы получаете дополнительный и эффективный канал рекламы, преимуществом которого является то, что вы платите только за «реального пациента», который пришел на прием.
         +b.feature  
            +e.header
               +e("span").icon
                  img(src="/i/icon-note_partners.png", alt="") 
               +e.title.h3 Больше новых пациентов 
            +e.content 
               p  Мы размещаем на сайте DOC.UA информацию о вашей клинике и врачах, ваши акции и специальные предложения, новости и события клиники, а также включаем вас в наши маркетинговые активности.
         +b.feature
            +e.header 
               +e("span").icon
                  img(src="/i/icon-like_partners.png", alt="")
               +e.title.h3 Позитивный имидж клиники 
            +e.content   
               p  Огромное количество пользователей рекомендует DOC.uaсвоим близким и знакомым! Присоединяетесь к нам и получайте обратную связь от ваших пациентов через отзывы на нашем сайте.
      .col-sm-6
         +b.partner-registration  
            +e.header
               +e.image 
                  img(src="/i/doc-like.svg", alt="", style="width:84px")
               +e.title «Станьте нашим партнером прямо сейчас!»
            .border-box.margin-bottom-0.form-registration 
               form.form.form-horizontal(action="/")
                  fieldset
                     .form-group 
                        .col-md-2.col-sm-3.is-align-right
                           label.control-label(for="field-registration-email"): span Емейл
                        .col-md-10.col-sm-9
                           .input-email.input-validation_modals
                              input#field-registration-email.form-control.input-validation_modals.input-validation__border(type="text" placeholder="введите свой емейл") 
                              .input-validation_message Необходимо заполнить поле «Емейл».
                     .form-group
                        .col-md-2.col-sm-3.is-align-right
                           label.control-label(for="field-registration-password"): span Пароль
                        .col-md-10.col-sm-9
                           .input-password
                              .input-password.input-validation_modals
                                 input#field-registration-password.form-control.input-validation__border(type="password" placeholder="введите свой пароль")
                                 .input-validation_message Пароль короткий (Минимум: 6 симв.).
                                 span.password-eye
                     .form-group
                        .col-md-2.col-sm-3.is-align-right
                           label.control-label.phone-input-mask(for="field-registration-phone"): span Телефон 
                        .col-md-10.col-sm-9
                           .input-phone.input-validation_modals
                              input#field-registration-phone.form-control.input-validation__border(type="text" placeholder="введите свой телефон")
                              .input-validation_message Пароль короткий (Минимум: 6 симв.).
                     .form-group.form-labels
                        .col-md-2.col-sm-3.col-xs-3.is-align-right
                           label.control-label Я &mdash; 
                        .col-md-10.col-sm-9.col-xs-9.col-xs__mod
                           .radio.radio-inline
                              label.radio__label
                                 input(class="radio-btn" type="radio", name="whois", value="doctor")
                                 span Доктор
                           .radio.radio-inline
                              label.radio__label 
                                 input(class="radio-btn" type="radio", name="whois", value="clinic")
                                 span Представитель клиники 
                     .form-group.form-labels
                        .col-md-10.col-sm-9.col-md-offset-2.col-sm-offset-3
                           .checkbox
                              label.checkbox__label
                                 input(class="checkbox-btn" type="checkbox")
                                 span Я согласен с&nbsp;
                                    a(href="/", title="Правилами использования сайта") Правилами использования сайта
                     .form-group
                        .col-md-10.col-sm-12.col-md-offset-2.text-center-sm
                           button.btn.btn-primary(type="submit") Зарегистрироваться
                     .form-group.form-labels
                        .col-md-10.col-sm-12.col-md-offset-2.form-group__registration
                           p Уже зарегистрированы?&nbsp;
                           a(href="/modals.html#login", title="Войдите на сайт") Войдите на сайт
section.partner-how-it-work
   header.header-styled
      h2.h1 Как мы работаем?
   - var content = [{ description: "Клиника или врач предоставляют нам свои данные. Мы проверяем их и заносим в базу сайта." }, { description: "Вы выбираете нужного вам врача и записываетесь на прием, заполнив онлайн-заявку или воспользовавшись помощью специалистов call-центра." }, { description: "Мы согласовываем время с клиникой и записываем вас на прием  к выбранному специалисту." }]
   +b("ul").how-its-made.how-its-made_list.row.odd-even: +i({ content: content })
