//---
    layout: layouts/partner_profile 
    title: Партнеры-виджеты       
    page_name: partner-profile_vidjets 
    activeMenuItem: 1

     
.row                  
  section.col-md-12                        
    +b.partner-block
      +e.header Выберите виджет 
      +e.content
        +b.vidjets-block
            +e.item 
                +e('a').link(href='#')
                    +e('i').picture.vidjet-btn
                    +e.text Кнопка
            +e.item 
                +e('a').link(href='#')
                    +e('i').picture.vidjet-doctor
                    +e.text Карточка врача
            +e.item 
                +e('a').link(href='#')
                    +e('i').picture.vidjet-clinic
                    +e.text Карточка клиники
            +e.item 
                +e('a').link(href='#')
                    +e('i').picture.vidjet-doctors
                    +e.text Список врачей
            +e.item 
                +e('a').link(href='#')
                    +e('i').picture.vidjet-clinics
                    +e.text Список клиник
            +e.item 
                +e('a').link(href='#')
                    +e('i').picture.vidjet-search
                    +e.text Форма поиска 

        
 