//---
    layout: layouts/partner_profile 
    title: Партнеры-выплаты     
    page_name: partner-profile_invoices
    activeMenuItem: 3
 
   
.row
  section.col-sm-12 
    .partner-table__in     
        table.partner-table.partner-table__invoices
            thead
                tr
                    th Номер счета
                    th Название
                    th Комиссия
                    th Выплачено
                    th Статус
                    th 
            tbody
                tr
                    td 345678 
                    td Партнерская комиссия за август 2015
                    td 34 892
                        | &#8372;
                    td 12 200 
                        | &#8372;
                    td част. оплачен
                    td 
                        a.about(href='#') Подробнее
                tr
                    td 345678 
                    td Партнерская комиссия за май  2015
                    td 88 892 
                        | &#8372;
                    td 88 892  
                        | &#8372;
                    td закрыт
                    td 
                        a.about(href='#') Подробнее
                tr
                    td 345678 
                    td Партнерская комиссия за май  2015
                    td 88 892 
                        | &#8372;
                    td 88 892  
                        | &#8372;
                    td закрыт
                    td 
                        a.about(href='#') Подробнее
                tr
                    td 345678 
                    td Партнерская комиссия за август 2015
                    td 34 892
                        | &#8372;
                    td 12 200 
                        | &#8372;
                    td част. оплачен
                    td 
                        a.about(href='#') Подробнее
                tr
                    td 345678 
                    td Партнерская комиссия за сентябрь  2015
                    td 88 892 
                        | &#8372;
                    td 88 892  
                        | &#8372;
                    td закрыт
                    td 
                        a.about(href='#') Подробнее
                tr
                    td 345678 
                    td Партнерская комиссия за сентябрь  2015
                    td 88 892 
                        | &#8372;
                    td 88 892   
                        | &#8372;
                    td закрыт
                    td 
                        a.about(href='#') Подробнее
                tr
                    td 345678 
                    td Партнерская комиссия за август 2015
                    td 34 892
                        | &#8372;
                    td 12 200 
                        | &#8372;
                    td част. оплачен
                    td 
                        a.about(href='#') Подробнее
                tr
                    td 345678 
                    td Партнерская комиссия за май  2015
                    td 88 892 
                        | &#8372;
                    td 88 892  
                        | &#8372;
                    td закрыт
                    td 
                        a.about(href='#') Подробнее
        .partner-table__footer
            +b('ul').payoff
                +e('li').item Принят: 
                    strong 138
                +e('li').item Отменен:  
                    strong 60
                +e('li').item В работе: 
                    strong 2  
                +e('li').item Комиссия: 
                    strong 5 880 
                        | &#8372;
    
                //- tr
                //-     td(colspan="6")
                //-         +b('ul').payoff
                //-             +e('li').item Выплачено: 
                //-                 strong 60 
                //-             +e('li').item К выплате: 
                //-                 strong 2  
                //-             +e('li').item Комиссия: 
                //-                 strong 5 880
                            

                
            
            
                               
    
 
