//---
    layout: layouts/partner_profile 
    title: Партнеры         
    page_name: partner-profile_statistic 
    activeMenuItem: 0

     
.row                  
  section                      
    

        
 