//---
    layout: layouts/partner_profile 
    title: Партнеры-заказы    
    page_name: partner-profile_orders
    activeMenuItem: 2  
 
   
.row
  section.col-sm-12     
    table.partner-table.partner-table__invoices 
        thead.partner-table__head 
            tr
                td ID
                td Дата создания
                td Источник
                td Статус
                td Комиссия
        tbody.partner-table__body
            tr
                td 345289 
                td 2015-12-15, 18:01:34
                td виджет врача id 3754329
                td принят
                td 20 
                    | &#8372;
            tr
                td 389589 
                td 2015-12-15, 18:01:34
                td виджет врача id 3754329
                td в работе
                td 30 
                    | &#8372;
                
            tr
                td 345289 
                td 2015-12-15, 18:01:34
                td виджет врача id 3754329
                td принят
                td 20 
                    | &#8372;
            tr
                td 389589 
                td 2015-12-15, 18:01:34
                td виджет врача id 3754329
                td в работе
                td 30 
                    | &#8372;
            tr
                td 345289 
                td 2015-12-15, 18:01:34
                td виджет врача id 3754329
                td принят
                td 20 
                    | &#8372;
            tr
                td 389589 
                td 2015-12-15, 18:01:34
                td виджет врача id 3754329
                td в работе
                td 30 
                    | &#8372;
            tr
                td(colspan="5")
                    +b('ul').payoff
                        +e('li').item Выплачено: 
                            strong 60 
                        +e('li').item К выплате: 
                            strong 2  
                        +e('li').item Комиссия: 
                            strong 5 880
                        

                    //- .pay Выплачено: 
                    //-     strong 60 
                    //- .payoff К выплате: 
                    //-     strong 2 
                    //- .commission Комиссия: 
                    //-     strong 5 880
                
            
            
                               
    
 