//---
    layout: layouts/partner_profile 
    title: Партнеры-ствтистика       
    page_name: partner-profile_statistic 
    activeMenuItem: 0

     
.row                  
  section                        
    

        
 