//---
    layout: layouts/partner_profile 
    title: Партнеры-аккаунт      
    page_name: partner-profile_account
    activeMenuItem: 4
 
   
.row   
  .col-sm-12  
    +b.block-account    
        +e.left 
            .partner-table__in 
                .partner-table__text Информация о партнере                 
                table.partner-table  
                    thead 
                    tbody
                        tr
                            td Площадка: 
                            td 
                                strong doc.reserves.com.ua
                        tr
                            td Редирект на doc.ua: 
                            td 
                                strong да
                        tr 
                            td Срок жизни реферальной куки:  
                            td 
                                strong 30
                        tr
                            td Google Analytics: 
                            td 
                                strong UA-65823581-3
            .partner-table__in 
                .partner-table__text Партнерские условия                 
                table.partner-table
                    thead 
                    tbody 
                        tr
                            td Выплата за прием:
                            td 
                                strong 35 
                                | &#8372;
                        tr
                            td Выплата за диагностику: 
                            td 
                                strong 20 
                                | &#8372;
                        tr
                            td Выплата за пакет:  
                            td 
                                strong 20 
                                | &#8372;

        +e.right
            .partner-table__in 
                .partner-table__text Персональные данные                 
                table.partner-table
                    thead
                    tbody
                        tr
                            td Фамилия, Имя, Отчество:
                            td 
                                strong Петров Петр Рудольфович
                        tr
                            td Телефон: 
                            td 
                                strong +3809312345678
                        tr
                            td Е-мейл:  
                            td 
                                strong join@medbrowse.com.ua
                                a.change-parol Сменить пароль
            .partner-table__in 
                .partner-table__text Другие администраторы этой партнерской программы                                
                table.partner-table.partner-table__admin
                    thead
                    tbody
                        tr
                            td Иванов Сергей Петрович
                            td 
                                strong +3809312345678
                            td 
                                strong join@medbrowse.com.ua
                        tr
                            td Кортнев  Игорь Владимирович 
                            td 
                                strong +3806709945678
                            td 
                                strong skab.vasyl@gmail.com
                    

        
        
 
