//---
    layout: layouts/partner_profile 
    title: Партнеры-виджеты       
    page_name: partner-profile_vidjets 
    activeMenuItem: 1

     
.row                  
  section.col-md-12                          
    +b.partner-block
      +e.header Выберите виджет
      +e.content
        +b.vidjets-block
            +e.item 
                +e('a').link(href='#')
                    +e('i').picture.vidjet-btn
                    //- img(src='i/icons/vidjet-btn.png')
                    +e.text Кнопка
            +e.item 
                +e('a').link(href='#')
                    +e('i').picture.vidjet-doctor
                    //- img(src='i/icons/vidjet-doctor.png') 
                    +e.text Карточка врача
            +e.item 
                +e('a').link(href='#')
                    +e('i').picture.vidjet-clinic
                    //- img(src='i/icons/vidjet-clinic.png')
                    +e.text Карточка клиники
            +e.item 
                +e('a').link(href='#')
                    +e('i').picture.vidjets-doctors
                    //- img(src='i/icons/vidjets-doctors.png')
                    +e.text Список врачей
            +e.item 
                +e('a').link(href='#')
                    +e('i').picture.vidjets-clinics
                    //- img(src='i/icons/vidjets-clinics.png')
                    +e.text Список клиник
            +e.item 
                +e('a').link(href='#')
                    +e('i').picture.vidjet-search
                    //- img(src='i/icons/vidjet-search.png')
                    +e.text Форма поиска 

        
 