//---
    layout: layouts/partner_profile 
    title: Партнеры-заказы    
    page_name: partner-profile_orders
    activeMenuItem: 2  
 
.row
    section.col-sm-7
      .change-time
        +b('ul').nav-days.template-block
          +e('li').item.active
              +e('a').link(href="#") Сегодня
          +e('li').item
              +e('a').link(href="#") Вчера
          +e('li').item
              +e('a').link(href="#") Неделя
          +e('li').item
              +e('a').link(href="#") Месяц
        +b.nav-calendar.template-block
          +e('span').date 12 декабря 2015


    article.col-sm-5
      +b('ul').deduce
        +e.item Выводить на страницу: 
            +e.number.template-block 10

        +e.item Заказов: 
            strong 200



.row
  section.col-sm-12.partner-table__invoices-mod
    table.partner-table.partner-table__invoices
        thead.partner-table__head 
            tr
                td ID
                td Дата создания
                td Источник
                td Статус
                td Комиссия
        tbody.partner-table__body
            tr
                td 345289 
                td 2015-12-15, 18:01:34
                td виджет врача id 3754329
                td принят
                td 20 
                    | &#8372;
            tr
                td 389589 
                td 2015-12-15, 18:01:34
                td виджет врача id 3754329
                td в работе
                td 30 
                    | &#8372;
                
            tr
                td 345289 
                td 2015-12-15, 18:01:34
                td виджет врача id 3754329
                td принят
                td 20 
                    | &#8372;
            tr
                td 389589 
                td 2015-12-15, 18:01:34
                td виджет врача id 3754329
                td в работе
                td 30 
                    | &#8372;
            tr
                td 345289 
                td 2015-12-15, 18:01:34
                td виджет врача id 3754329
                td принят
                td 20 
                    | &#8372;
            tr
                td 389589 
                td 2015-12-15, 18:01:34
                td виджет врача id 3754329
                td в работе
                td 30 
                    | &#8372;
            tr
                td(colspan="5")
                    +b('ul').payoff
                        +e('li').item Принят: 
                            strong 138
                        +e('li').item Отменен:  
                            strong 60
                        +e('li').item В работе: 
                            strong 2  
                        +e('li').item Комиссия: 
                            strong 5 880 
                                | &#8372;
.row
  section.col-sm-12
    .pagination-orders 
        +b("ul").pagination: +i
                
            
            
                               
    
 