//---
    layout: layouts/partner_profile 
    title: Партнеры-ствтистика       
    page_name: partner-profile_statistic 
    activeMenuItem: 0

     
.row
    section.col-sm-7
      .change-time
        +b('ul').nav-days.template-block
          +e('li').item.active
              +e('a').link(href="#") Сегодня
          +e('li').item
              +e('a').link(href="#") Вчера
          +e('li').item
              +e('a').link(href="#") Неделя
          +e('li').item
              +e('a').link(href="#") Месяц
        +b.nav-calendar
          .date-picker.js-datepicker 12 декабря 2015
          


    article.col-sm-5
      +b('ul').deduce
        +e.item Детализация 
            .js-section-choice
                +e.number.template-block.js-field-child по дням
                ul.section-choice
                    li.section-choice__item.js-child по дням
                    li.section-choice__item.js-child по неделям
                    li.section-choice__item.js-child по месяцам

//- here chart 


//- .row
//-   section.col-sm-12
//-     .template-block
      


.row 
  section.col-sm-12
    +b('ul').deduce.deduce__left
        +e.item Информация за 
            .js-section-choice
                +e.number.template-block.js-field-child 2015 год
                ul.section-choice
                    li.section-choice__item.js-child 2015 год
                    li.section-choice__item.js-child 2016 год
                    li.section-choice__item.js-child 2017 год 

.row
    section.col-sm-12
        table(cellpadding='0', cellspacing='0').partner-table.partner-table__statistic
            thead.partner-table__head 
                tr
                    td Месяц
                    td Посетителей
                    td Кликов
                    td Заказов
                    td Конверсия
                    td Отмененные
                    td Принятые
                    td Комиссия
            tbody.partner-table__body
                tr
                    td Ноябрь 2015 
                    td 132 856
                    td 34 560
                    td 25
                    td 3,25 
                        | %
                    td 2
                    td 456
                    td 34 892
                        | &#8372;
                tr
                    td Октябрь 2015
                    td 128 566
                    td 875
                    td 854
                    td 5,25
                        | %
                    td 20
                    td 50
                    td 88 892 
                        | &#8372;
                    
                tr
                    td Сентябрь 2015 
                    td 12 856
                    td 34 560
                    td 65
                    td 3,25
                        | %
                    td 2 
                    td 6
                    td 34 892 
                        | &#8372;
                tr
                    td Август 2015 
                    td 128 566
                    td 875
                    td 854
                    td 5,25
                        | %
                    td 5 
                    td 850
                    td 88 892  
                        | &#8372;
                tr
                    td Июль 2015 
                    td 132 856
                    td 34 560
                    td 56
                    td 3,25
                        | %
                    td 130 
                    td 456
                    td 34 892   
                        | &#8372;
                tr
                    td Сентябрь 2015 
                    td 12 856
                    td 34 560
                    td 65
                    td 3,25
                        | %
                    td 2 
                    td 6
                    td 34 892 
                        | &#8372;
                tr
                    td Октябрь 2015
                    td 128 566
                    td 875
                    td 854
                    td 5,25
                        | %
                    td 20
                    td 50
                    td 88 892 
                        | &#8372;
