//---
   layout: layouts/searchbar
   title: Напоминание пароля 
   activeMenuItem: 0
   finder: doctors
   modals: select-area, select-actions
   page_name: remember-password
   
section 
   .col-sm-12.col-xs-12           
      header.header-styled.notopmargin
         h2.h1 Напоминание пароля
      .block-bg
         .row
            .col-md-12.col-sm-12.col-xs-12     
               +b.rem-password
                  +e.content
                     p Для восстановления пароля пожалуйста, введите e-mail, указанный вами при регистрации.
                  .border-box.margin-bottom-0.form-registration
                     form.form.form-horizontal(action="/")
                        fieldset
                           .form-group.form-group_remember
                              .col-md-2.col-sm-2.col-xs-12.is-align-right
                                 label.control-label(for="field-registration-email"): span Емейл
                              .col-md-10.col-sm-10.col-xs-12
                                 .input-phone.input-validation_modals
                                    input#field-registration-email.form-control.input-validation__border(type="text" placeholder="введите свой емейл")
                                    .input-validation_message Пароль короткий (Минимум: 6 симв.).
                           .form-group
                              .col-md-12.col-sm-12.text-center
                                 button.btn.btn-primary.btn_remember(type="submit") Напомнить пароль   