//---
   layout: layouts/searchbar
   title: Правила сервиса
   activeMenuItem: 0
   finder: doctors
   modals: select-area, select-actions
   page_name: rules
 
section 
   .col-sm-12.col-xs-12            
      +b.rules-content            
         +e("ol").list
            +e("li").item.item-style Визначення термінів
               +e("ol").second-list
                  +e("li").second-item <span class="rules-content__title">Виконавець</span> – Товариство з обмеженою відповідальністю «ДОКЛАБ», юридична особа, що зобов'язується вчинити від імені Замовника певні юридичні дії, направлені на залучення Клієнтів та має право розміщувати інформацію, в тому числі, але не виключно, рекламну, про Замовника на умовах Договору про надання інформаційних послуг.
                  +e("li").second-item <span class="rules-content__title">Замовник</span> – Товариство з обмеженою відповідальністю «ДОКЛАБ», юридична особа, що зобов'язується вчинити від імені Замовника певні юридичні дії, направлені на залучення Клієнтів та має право розміщувати інформацію, в тому числі, але не виключно, рекламну, про Замовника на умовах Договору про надання інформаційних послуг.Користувач сайту, юридична особа або фізична особа-підприємець, основним напрямком діяльності якої є надання медичних послуг, та співпрацює з Сервісом DOC.ua в рамках Договору про надання інформаційних послуг.
                  +e("li").second-item <span class="rules-content__title">Представник Замовника </span> – Користувач сайту, співробітник компанії Замовника, або особа, що володіє довіреністю на представлення інтересів Замовника, що має індивідуальну облікову інформацію для авторизації з правом розміщення інформації про Замовника.
                  +e("li").second-item <span class="rules-content__title">Користувач</span> – фізична особа, яка придбала та/або має намір придбати послуги Замовника за допомогою Виконавця.
                  +e("li").second-item <span class="rules-content__title">Клієнт</span> – дзвінок Клієнта (або онлайн-заявка на Сайті) до Виконавця, метою якого є запис на прийом до фахівця Замовника, а також подальша Обробка замовлення і запис Клієнта на прийом до фахівця Замовника.
                  +e("li").second-item <span class="rules-content__title">Замовлення</span> – з'ясуванняВиконавцемпричин зверненняКлієнта, надання відомостей про характерта видинадаванихЗамовникомпослуг, місце та час прийомуКлієнтівЗамовником таіншої інформації, необхідної Клієнтові.
                  +e("li").second-item <span class="rules-content__title">Обробка замовлення</span> – Замовлення, яке призвелодо проведення консультації Клієнту фахівцем Замовника.
                  +e("li").second-item <span class="rules-content__title">Прийняте замовлення</span> – інформація, розміщена через Особистий Кабінет Замовника на Сайті https://doc.ua/.
                  +e("li").second-item <span class="rules-content__title">Оголошення</span> – інформаційні та рекламні послуги, які надає Виконавець Замовнику в рамках Договору про надання інформаційних послуг.
                  +e("li").second-item <span class="rules-content__title">Послуги</span> – медичні послуги, що надаються Замовником Клієнту.
                  +e("li").second-item <span class="rules-content__title">Послуги Замовника</span> – документ, опублікований в мережі Інтернет за адресою https://doc.ua/rules.html, що описує правила що описує правила використання Сервісу DOC.ua. Правила сервісу є обов'язковими для прийняття усіма Користувачами Сервісу DOC.ua. 
                  +e("li").second-item <span class="rules-content__title">Правила сервісу</span> – перевірка, впорядкування та редагування інформації про Замовника та його фахівців, з метою подання правдивих даних, а також створення літературної та естетичної привабливості інформації на Сайті.
                  +e("li").second-item <span class="rules-content__title">Модерація</span> – процедура входу в Особистий кабінет за допомогою введення логіна і пароля, створюваного Користувачем при реєстрації.
                  +e("li").second-item <span class="rules-content__title">Авторизація</span> – унікальне ім'я користувача (логін) і пароль для авторизації Користувача на сайті.
                  +e("li").second-item <span class="rules-content__title">Обліковий запис</span> – унікальне ім'я користувача (логін) і пароль для авторизації Користувача на сайті.
                  +e("li").second-item <span class="rules-content__title">Особистий Кабінет Користувача</span> – сервісний розділ Користувача на сайті, доступний тільки після авторизації, який дає доступ Користувачу доступ до своїх замовлень, редагування персональної інформації, та можливості формувати відгуки.
                  +e("li").second-item <span class="rules-content__title">Особистий Кабінет Замовника</span> – сервісний розділ Замовника на сайті, доступний тільки після авторизації, який дає доступ Замовнику до Замовлень Клієнтів, редагування інформації про Замовника та його фахівців, статистики, механізму формування акцій.
                  +e("li").second-item <span class="rules-content__title">Реєстрація</span> – процедура заповнення Користувачем інформації, необхідної для створення Облікового запису. При реєстрації користувач вказує своє унікальне ім'я (логін) з числа доступних для реєстрації та пароль доступу. Подальша ідентифікація Користувача здійснюється на основі логіна і пароля.
                  +e("li").second-item <span class="rules-content__title">Сайт</span> – вміст інтернет-сторінок, розташованих в мережі Інтернет на домені doc.ua.
                  +e("li").second-item <span class="rules-content__title">Сервіс DOC.ua</span>  – сайт, онлайн-сервіс, що організований ТОВ «ДОКЛАБ» за WEB-адресою www.doc.ua

            +e("li").item.item-style Загальні положення
               +e("ol").second-list
                  +e("li").second-item Предметом цих Правил сервісу DOC.ua (надалі «Правила») є відносини між ТОВ «ДОКЛАБ», далі «Адміністрація», що є адміністрацією Сайту, розташованого в мережі Інтернет за адресою www.doc.ua (далі «DOC.ua») та Користувачами Сайту, далі «Користувач», з приводу використання Сайту і розміщених у ньому сервісів (далі «Сервіси»).                  
                  +e("li").second-item Відповідно до статті 633 Цивільного Кодексу України даний документ є публічним договором (офертою), і в разі прийняття його умов та особа зобов'язується виконувати умови Правил сервісу.
                  +e("li").second-item У відповідності з даними Правилами Адміністрація надає Користувачеві інформаційні послуги з використання Сервісу DOC.ua, а Користувач зобов'язується приймати послуги відповідно до умов цих Правил.
                  +e("li").second-item Користувачем Сайту може бути будь-яка дієздатна фізична особа або суб'єкт підприємницької діяльності, зареєстрований державою у встановленому порядку.
                  +e("li").second-item Дані Правила можуть бути змінені Адміністрацією в будь-який момент в односторонньому порядку.
                  +e("li").second-item Всі повідомлення, претензії і будь-яка інша кореспонденція, яку направляють один одному Сторони, вважаються спрямованими належним чином в електронній формі за допомогою e-mail повідомлень, а також у формі повідомлень в межах сайту, передбаченим його функціональними особливостями. Кореспонденція вважається також спрямованою належним чином, якщо вона спрямована Сторонами у письмовій формі з необхідними реквізитами, у порядку, передбаченому чинним законодавством України.            

            +e("li").item.item-style Правила використання сайту користувочами та клиєнтами
               +e("ol").second-list
                  +e("li").second-item Реєстрація Користувача на Сайті полягає у заповненні свого унікального логіна (e-mail) з числа доступних для реєстрації, пароля, прийняття умов поточних Правил та подальшого підтвердження доступу до зазначеної e-mail адреси.                  
                  +e("li").second-item Процедура реєстрації Користувача дозволяє:
                     +e("ol").third-list
                        +e("li").third-item Редагувати дані про себе, а саме: Прізвище, Ім'я, По батькові, контактний номер телефону, стать.
                        +e("li").third-item Змінювати пароль для доступу до свого облікового запису.
                        +e("li").third-item Формувати список обраних лікарів та клінік
                        +e("li").third-item Формувати заявки на прийом до фахівців Замовників.
                        +e("li").third-item Переглядати перелік своїх заявок на прийом до фахівців Замовників.
                        +e("li").third-item Скасовувати створені заявки на прийом до фахівців Замовників.
                        +e("li").third-item Залишати відгуки про фахівців Замовників на основі власного досвіду, тобтовідвідування фахівця через сайт doc.ua.
                  +e("li").second-item Користувач та Клієнт, дає згоду:                
                     +e("ol").third-list
                        +e("li").third-item На внесення своїх персональних даних у Базу користувачів Сайту, на обробку будь-якими способами своїх персональних даних, а саме включення до баз даних, передання своїх персональних даних підприємству ТОВ "ДОКЛАБ" та іншім третім особам, з метою систематизації, надіслання ІНФОРМАЦІЇ рекламного та/або не рекламного характеру та/або будь-яких інших цілей, що не суперечать законодавству України.
                        +e("li").third-item На отримання співробітниками Адміністрації підтвердження Користувача про факт проведення прийому або причини його скасування, а також публікації відгуку Користувача на Сайті від імені Користувача.
                        +e("li").third-item На отримання актуальної інформації стосовно послуг Замовника, акцій та бонусних програм тощо на свою електронну пошту та/або у вигляді sms-повідомлень (далі в цьому пункті – «послуги»). Користувач підтверджує, що отримання інформації на його електронну пошту та/абоу вигляді sms-повідомлень не є спамом. Користувач має право у будь-який момент відмовитися від послуг, звернувшись до Служби підтримки Виконавця за номером телефону або по електронній пошті, що зазначені на Сайті. Підставою для припинення надання послуг Користувачу є Заява Користувача, складена за формою, встановленою Виконавцем, яке Користувач заповнює та направляє на електронну пошту Виконавця. Строк для розгляду Заяви Користувача Виконавцем, в цьому випадку, не перевищує 5 (п’яти) робочих днів з моменту отримання Виконавцем Заяви Користувача.
                  +e("li").second-item Користувачеві забороняється:               
                     +e("ol").third-list
                        +e("li").third-item Розміщувати та передавати іншим способом інформацію рекламного характеру, комп’ютерні коди, призначені для порушення або обмеження функціональності будь-якого комп’ютерного обладнання чи програм.
                        +e("li").third-item Публікувати матеріали, які не були створені особисто Користувачем, та якщо вони порушують авторські права третіх осіб.
                  +e("li").second-item Користувач зобов’язується:   
                     +e("ol").third-list            
                        +e("li").third-item Вносити правдиву інформацію в свій акаунт, а також вносити зміни в дані що вказані в акаунті Користувача при кожній зміні цих даних.

            +e("li").item.item-style Правила використання сайту замовником
               +e("ol").second-list
                  +e("li").second-item Процедура розміщення інформації про Замовника на сайті складається з наступних етапів:                 
                     +e("ol").third-list
                        +e("li").third-item Підписання Договору про надання інформаційних послуг між Замовником та Виконавцем 
                        +e("li").third-item Реєстрація Замовника та представників Замовника на сайті як Користувача.
                        +e("li").third-item Надання та розміщення інформації про Замовника на Сайті.
                  +e("li").second-item Правила реєстрації Замовника на Сайті              
                     +e("ol").third-list
                        +e("li").third-item Для розміщення інформації на Сайті Замовник передає Виконавцю Інформацію одним з наступних методів:
                           +e("ol").fourth-list
                              +e("li").fourth-item Надсилання такої Інформації на електронну адресу Виконавця info@doc.ua 
                              +e("li").fourth-item Методом передачі такої Інформації на електронному носії, або в друкованому вигляді.
                              +e("li").fourth-item Методом дозволу копіювання такої Інформації з сайту Замовника.
                              +e("li").fourth-item Внесенням такої Інформації через Особистий кабінет Замовника.
                              +e("li").fourth-item Методом надання Виконавцю доступу до будь-якого іншого електронного ресурсу Замовника. При цьому, обрання Замовником будь-якого з методів передачі Інформації не потребує узгодження Сторонами будь-яких додаткових документів при такій передачі-прийому Інформації.
                        +e("li").third-item Виконавець має право вносити зміни у зміст та зовнішній вигляд інформації про Замовника, що розміщується на Сайті з метою її актуалізації, а також створення літературної та естетичної привабливості подання інформації на Сайті.
                        +e("li").third-item Виконавець не несе відповідальності за несвоєчасне надання Інформації Замовником. Вся попередньо отримана Інформація від Замовника Виконавцем вважається актуальною до моменту отримання оновленої Інформації Виконавцем.
                        +e("li").third-item Замовник зобов’язується самостійно слідкувати за актуальністю свого розкладу та своїх фахівців. У випадку, якщо запис до фахівця є неможливим – самостійно проставляти статус фахівця «не активний» в Особистому кабінеті Замовника.
                  +e("li").second-item Замовник має право
                     +e("ol").third-list
                        +e("li").third-item Самостійно змінювати пароль, не повідомляючи про це Виконавця.
                        +e("li").third-item Користуватися Сайтом може необмежена кількість представників Замовника. Кожен з представників Замовника має зареєструватись як Користувач, після реєстрації представника Замовник подає заявку Виконавцю на відкриття представникові доступу до Особистого кабінету Замовника. Створювати та видаляти облікову інформацію представників має право тільки Виконавець на прохання Замовника.
                  +e("li").second-item Замовник зобов’язується
                     +e("ol").third-list
                        +e("li").third-item Своєчасно повідомляти Виконавцю про будь-які зміни в Інформації про Замовника, його послуги та умови їх надання. Всі зміни Інформації мають надаватися будь-яким шляхом згідно п. 4.3.1. цих Правил.
                        +e("li").third-item Надавати достовірні дані щодо вартості своїх послуг. В разі виявлення невірних даних Адміністрація має право заблокувати обліковий запис Замовника на Сайті та призупинити Записи користувачів до даного Замовника.
                        +e("li").third-item Замовнику забороняється створювати декілька Облікових записів для одного Замовника. При виявленні дублікатів такі Облікові записи будуть видалятися.

            +e("li").item.item-style Права та обов’язки виконавця
               +e("ol").second-list
                  +e("li").second-item Виконавець має право:                  
                     +e("ol").third-list
                        +e("li").third-item Перевіряти інформацію про Замовника як по запитам Користувачів так і з власної ініціативи з метою актуалізації інформації на Сайті.
                        +e("li").third-item Вимагати у Замовника відповідне документальне підтвердження правдивості інформації, що внесена до Особистого кабінету Замовника у кожному випадку зміни цієї інформації. Порядок надання та перелік необхідних документів вказується у відповідному зверненні Виконавця до Замовника. Виконавець має право відмовити Замовнику у використанні сайту і надання Послуг у разі ненадання у зазначеному порядку необхідних документів, а також, якщо надані документи містять дані, що не підтверджують даних, внесених Замовником.
                        +e("li").third-item Виконавець приймає, модерує та розміщує Інформацію, надану Замовником, на своєму сайті протягом 10 (десяти) робочих днів з моменту отримання Інформації.
                        +e("li").third-item При виявленні дублікатів акаунтів Замовників, Виконавецьмає право видалити один з цих акантів.
                        +e("li").third-item На свій розсуд змінювати структуру сайту.
                        +e("li").third-item Отримувати від Клієнтів підтвердження про факт проведення прийому або причини його скасування, а також отримання від Клієнтів відгуку про Замовника та його фахівців та публікації відгуку Клієнта на Сайті від імені Клієнта.
                        +e("li").third-item Обробляти будь-якими способами персональні дані Користувачів, а саме включати їх до баз даних, передавати та іншім третім особам, з метою систематизації, надіслання ІНФОРМАЦІЇ рекламного та/або не рекламного характеру та/або будь-яких інших цілей, що не суперечать законодавству України.
                        +e("li").third-item Проводити маркетингові заходи, в тому числі, шляхом надсилання Користувачу на його електронну пошту та/або у виглядіsms-повідомлень актуальної інформації про послуги Замовника, акції, бонусні програми тощо.
                  +e("li").second-item Виконавець зобов’язується:                
                     +e("ol").third-list
                        +e("li").third-item Забезпечити можливість реєстрації Замовника в якості Користувача на Сайті.
                        +e("li").third-item Не розголошувати третім особам інформацію облікового запису Замовника.
       