//---
    layout: layouts/main
    title: Поиск
    activeMenuItem: 0
    finder: doctors
    modals: select-area, select-specialization, clinic-location-map, clinic-request
    page_name: search
 
     
.row      
    section.col-md-12.search-top
        p.search-title Результаты поиска слова «валіх»
 
.row                   
    section.col-md-9 
        .rez-search
            ul.nav.nav-tabs.nav-search
                        li.active: a(href="#tab-doctors", data-toggle="tab").search-first Врачи (2)
                        li 
                            a(href="#tab-clinics", data-toggle="tab") Клиники (2)
                        li
                            a(href="#tab-dcenters", data-toggle="tab") Диагностические центры (1)
                        li
                            a(href="#tab-articles", data-toggle="tab") Статьи (2)
                        li
                            a(href="#tab-diseases", data-toggle="tab") Заболевания (1)
                    .tab-content.tab-content__search    
                        #tab-doctors.tab-pane.clinic-tab.active
                            +b("ul").doctors-card
                                +e("li").item
                                    +e("div").img
                                        img(src="i/_alexandriyskiy-constantin.jpg", alt="")
                                    +e("div").container
                                        +b.favorites-block.pull-right: +i
                                        +e("h3").title
                                            a(href="#") Хобзей Кузьма Николаевич
                                        +e("div").text
                                            +e("ul").list
                                                li
                                                    strong Дерматолог, Трихолог,  Дерматовенеролог, Косметолог
                                                li Доктор медицинских наук. Врач высшей категории
                                            +e("div").price Стоимость приема: 
                                                strong 605 грн
                                        +e("div").info 
                                            +e("div").rating
                                                +b.rating: +i({ value: 4.9 })
                                                +e("a").views(href="#") 233 отзыва
                                            +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
                                +e("li").item
                                    +e("div").img
                                        img(src="i/_alexandriyskiy-constantin.jpg", alt="")
                                    +e("div").container
                                        +b.favorites-block.pull-right: +i
                                        +e("h3").title
                                            a(href="#") Хобзей Кузьма Николаевич
                                        +e("div").text
                                            +e("ul").list
                                                li
                                                    strong Дерматолог, Трихолог,  Дерматовенеролог, Косметолог
                                                li Доктор медицинских наук. Врач высшей категории
                                                li 
                                                    strong Работает в: 
                                                    a(href="#") Medical Dynasty (Медицинская Династия), Моя Клиника»
                                            +e("div").price Стоимость приема: 
                                                strong 605 грн
                                        +e("div").info
                                            +e("div").rating
                                                +b.rating: +i({ value: 4.9 })
                                                +e("a").views(href="#") 233 отзыва
                                            +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
                                +e("li").item
                                    +e("div").img
                                        img(src="i/_alexandriyskiy-constantin.jpg", alt="")
                                    +e("div").container
                                        +b.favorites-block.pull-right: +i
                                        +e("h3").title
                                            a(href="#") Хобзей Кузьма Николаевич
                                        +e("div").text
                                            +e("ul").list
                                                li
                                                    strong Дерматолог, Трихолог,  Дерматовенеролог, Косметолог
                                                li Доктор медицинских наук. Врач высшей категории
                                            +e("div").price Стоимость приема: 
                                                strong 605 грн
                                        +e("div").info
                                            +e("div").rating
                                                +b.rating: +i({ value: 4.9 })
                                                +e("a").views(href="#") 233 отзыва
                                            +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
                                +e("li").item
                                    +e("div").img
                                        img(src="i/_alexandriyskiy-constantin.jpg", alt="")
                                    +e("div").container
                                        +b.favorites-block.pull-right: +i
                                        +e("h3").title
                                            a(href="#") Хобзей Кузьма Николаевич
                                        +e("div").text
                                            +e("ul").list

                                                li
                                                    strong Дерматолог, Трихолог,  Дерматовенеролог, Косметолог
                                                li Доктор медицинских наук. Врач высшей категории
                                                li 
                                                    strong Работает в: 
                                                    a(href="#") Medical Dynasty (Медицинская Династия), Моя Клиника»
                                            +e("div").price Стоимость приема:  
                                                strong 605 грн
                                        +e("div").info
                                            +e("div").rating
                                                +b.rating: +i({ value: 4.9 })
                                                +e("a").views(href="#") 233 отзыва
                                            +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
                            +b("a").load-items(href="#"): +i({clnics: true}) 

                            +b("ul").pagination: +i
                        #tab-clinics.tab-pane
                        
                            +b("ul").card-list
                                 
                                +b.small-card.small-card_mod
                                    +e.left-side
                                        +e.image.small-card__image-mod
                                            img.photo(src="i/small-card-img1.jpg", alt="")
                                        +b.rating
                                            +e.value.value 4.9
                                            +e.stars 
                                                +e.stars-bg
                                                +e.stars-overlay(style="width: 80%;") 
                                        +e.testimonials
                                            a(href="", title="") 10 отзывов
                                                
                                    +e.right-side
                                        +b.favorites-block.pull-right: +i
                                        +e.title.fn.org
                                            h3.h3
                                                a(href="", title="") Клиника Доктора Валихновского
                                        
                                        +e.label-description.small-card__description-mod
                                            span Терапия, Урология, Эндокринология, Акушерство 
                                            a(href="#", data-toggle="tooltip", data-original-title="Гастроэнтерология, гинекология, кардиология, неврология, отоларингология, пластическая хирургия.", data-placement="top") +17 направлений
                                        .address-info.address-info__mod
                                          .small-card__address
                                            a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                                          .blue.card__location_metro.small-card__location Димеевская 
                                          .small-card__location Голосеевский, Саперная слободка
                                        .small-card__footer
                                          .small-card__schedule.small-card__schedule-mod
                                            ul
                                              li.first-child 
                                                span.left Пн - Пт
                                                span.right 9:00 - 21:00
                                              li
                                                span.left Сб:
                                                span.right 9:00 - 19:00
                                              li.last-child
                                                span.left Нд:
                                                span.right 9:00 - 19:00
                                            a.btn.btn-success.pull-right.diagnost-center_bez(href="/modals.html#doctor-request", title="") Записаться в клинику
                                +b.small-card.small-card_mod
                                    +e.left-side
                                        +e.image.small-card__image-mod
                                            img.photo(src="i/small-card-img1.jpg", alt="")
                                         +b.rating
                                            +e.value.value 4.9
                                            +e.stars 
                                                +e.stars-bg
                                                +e.stars-overlay(style="width: 80%;") 
                                        +e.testimonials
                                            a(href="", title="") 10 отзывов
                                                
                                    +e.right-side
                                        +b.favorites-block.pull-right: +i
                                        +e.title.fn.org
                                            h3.h3
                                                a(href="", title="") Клиника Доктора Валихновского
                                        
                                        +e.label-description.small-card__description-mod
                                            span Терапия, Урология, Эндокринология, Акушерство 
                                            a(href="#", data-toggle="tooltip", data-original-title="Гастроэнтерология, гинекология, кардиология, неврология, отоларингология, пластическая хирургия.", data-placement="top") +17 направлений
                                        .address-info.address-info__mod
                                          .small-card__address
                                            a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                                          .blue.card__location_metro.small-card__location Димеевская 
                                          .small-card__location Голосеевский, Саперная слободка 
                                        .small-card__footer
                                          .small-card__schedule.small-card__schedule-mod
                                            ul
                                              li.first-child 
                                                span.left Пн - Пт
                                                span.right 9:00 - 21:00
                                              li
                                                span.left Сб:
                                                span.right 9:00 - 19:00
                                              li.last-child
                                                span.left Нд:
                                                span.right 9:00 - 19:00
                                            a.btn.btn-success.pull-right(href="/modals.html#doctor-request", title="") Записаться в клинику
                                
                        #tab-dcenters.tab-pane 
                            +b("ul").card-list
                                 
                                +b.small-card.small-card_mod
                                    +e.left-side
                                        +e.image.small-card__image-mod
                                            img.photo(src="i/cabinet/cabinet-favorites-centers.png", alt="")
                                        +b.rating
                                            +e.value.value 4.9
                                            +e.stars 
                                                +e.stars-bg
                                                +e.stars-overlay(style="width: 80%;") 
                                        +e.testimonials
                                            a(href="", title="") 10 отзывов
                                                
                                    +e.right-side
                                        +b.favorites-block.pull-right: +i
                                        +e.title.fn.org
                                            h3.h3
                                                a(href="", title="") Medicinе group
                                        
                                        +e.label-description.small-card__description-mod
                                            span Терапия, Урология, Эндокринология, Акушерство 
                                            a(href="#", data-toggle="tooltip", data-original-title="Гастроэнтерология, гинекология, кардиология, неврология, отоларингология, пластическая хирургия.", data-placement="top") +17 направлений
                                        .address-info.address-info__mod
                                          .small-card__address
                                            a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                                          .blue.card__location_metro.small-card__location Димеевская 
                                          .small-card__location Голосеевский, Саперная слободка
                                        .small-card__footer
                                          .small-card__schedule.small-card__schedule-mod
                                            ul
                                              li.first-child 
                                                span.left Пн - Пт
                                                span.right 9:00 - 21:00
                                              li
                                                span.left Сб:
                                                span.right 9:00 - 19:00
                                              li.last-child
                                                span.left Нд:
                                                span.right 9:00 - 19:00
                                            a.btn.btn-success.pull-right.diagnost-center_bez(href="/modals.html#doctor-request", title="") Записаться на прием
                                +b.small-card.small-card_mod
                                    +e.left-side
                                        +e.image.small-card__image-mod
                                            img.photo(src="i/cabinet/cabinet-favorites-centers.png", alt="")
                                         +b.rating
                                            +e.value.value 4.9
                                            +e.stars 
                                                +e.stars-bg
                                                +e.stars-overlay(style="width: 80%;") 
                                        +e.testimonials
                                            a(href="", title="") 10 отзывов
                                                
                                    +e.right-side 
                                        +b.favorites-block.pull-right: +i
                                        +e.title.fn.org
                                            h3.h3
                                                a(href="", title="") Medicinе group
                                        
                                        +e.label-description.small-card__description-mod
                                            span Терапия, Урология, Эндокринология, Акушерство 
                                            a(href="#", data-toggle="tooltip", data-original-title="Гастроэнтерология, гинекология, кардиология, неврология, отоларингология, пластическая хирургия.", data-placement="top") +17 направлений
                                        .address-info.address-info__mod
                                          .small-card__address
                                            a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                                          .blue.card__location_metro.small-card__location Димеевская 
                                          .small-card__location Голосеевский, Саперная слободка 
                                        .small-card__footer
                                          .small-card__schedule.small-card__schedule-mod
                                            ul
                                              li.first-child 
                                                span.left Пн - Пт
                                                span.right 9:00 - 21:00
                                              li
                                                span.left Сб:
                                                span.right 9:00 - 19:00
                                              li.last-child
                                                span.left Нд:
                                                span.right 9:00 - 19:00
                                            a.btn.btn-success.pull-right(href="/modals.html#doctor-request", title="") Записаться на прием


                        #tab-articles.tab-pane 
                            +b("ul").med-articles-list.med-library-page.search-page  
                                     each article in articlesData
                                        if article.datePublic
                                           +b.article-list-item.search-page__article: +i({article: article, news: true})


                        #tab-diseases.tab-pane  
                            +b("ul").list-diseases
                                +e("li").item
                                    +e("a").link(href="#") Аортальная недостаточность
                                    +e("span").text заболевание кардиологического характера, которое характеризуется как неполное смыкание клапанных створок при сердцебиении, из-за чего происходит обратный кровоток из аорты в левый желудочек. В результате перед получением очередной порции крови, он не опустошается, а сердечная мышца вынуждена работать интенсивнее, чтобы откачать кровь. Это провоцирует повышение уровня кровяного давления в сердце. 
                                +e("li").item
                                    +e("a").link(href="#") Актиномикоз (болезнь лучистогрибковая)
                                    +e("span").text заболевание кардиологического характера, которое характеризуется как неполное смыкание клапанных створок при сердцебиении, из-за чего происходит обратный кровоток из аорты в левый желудочек. В результате перед получением очередной порции крови, он не опустошается, а сердечная мышца вынуждена работать интенсивнее, чтобы откачать кровь. Это провоцирует повышение уровня кровяного давления в сердце. 
            
        
    aside.col-md-3
        .gag
        +b.post.diagonstic-post 
            +e.add-info 
            +e.thumb
                img(src="i/diagnostic-aside.jpg")
            +b.badge-label.badge-label_background_blue
                p только через
                img(src='i/doc-logo-small-white.png')
                +e("span").arrow
                    span
            +e.body
                +e.title
                    +e("a").link(href="#") Пакет «Скрининг гепатитов В и С» от Оптима-фарм
                +e.desc В медицинском центре «Оптима-фарм» только сейчас действует прекрасная возможность сэкономить 30% на комплексе УЗИ для женщин! Для этого необходимо просто записаться на услугу через сервис DOC.UA!
            +e.footer.post-footer__mod
                +e.prime
                    +e("span").price-old 245 грн
                    +e("span").price-value 160 грн
                +e.more
                    +e("a").more-link.btn.btn-success Подробнее
        +b.post.diagonstic-post 
            +e.thumb
                img(src="i/diagnostic-aside.jpg")
            +b.badge-label.badge-label_background_blue
                p только через
                img(src='i/doc-logo-small-white.png')
                +e("span").arrow
                    span
            +e.body
                +e.title
                    +e("a").link(href="#") Пакет «Скрининг гепатитов В и С» от Оптима-фарм
                +e.desc В медицинском центре «Оптима-фарм» только сейчас действует прекрасная возможность сэкономить 30% на комплексе УЗИ для женщин! Для этого необходимо просто записаться на услугу через сервис DOC.UA!
            +e.footer.post-footer__mod
                +e.prime
                    +e("span").price-old 245 грн
                    +e("span").price-value 160 грн
                +e.more
                    +e("a").more-link.btn.btn-success Подробнее
 
            