//---
    layout: layouts/main
    title: Услуги в Киеве
    finder: doctors
    activeMenuItem: 0
    modals: feedback, select-specialization, select-area
    page_name: services


.row 
    article.col-md-12   
        +b.services-new
            +e.title Медицинские услуги в Киеве 
            +e.in 
                .row
                    .col-md-3
                        +e.col
                            +e.caption Андрология
                            +e.item 
                                a(href="#") Консультации
                            +e.item 
                                a(href="#") Диагностика
                            +e.item 
                                a(href="#") Консервативное лечение
                            +e.item 
                                a(href="#") Манипуляции
                            +e.item 
                                a(href="#") Операции
                            +e.items-more.js-s-items-more
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                            +e("a").link-more.js-s-link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Венерология
                            +e.item 
                                a(href="#") Консультация венеролога
                            +e.item 
                                a(href="#") Анализ мазков на микрофлору
                            +e.item 
                                a(href="#") Консервативное лечение
                            +e.item 
                                a(href="#") Профилактика ИППП
                            +e.item 
                                a(href="#") Удаление кондилом
                            +e.items-more.js-s-items-more
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                            +e("a").link-more.js-s-link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Травматология и ортопедия
                            +e.item 
                                a(href="#") Консультации
                            +e.item 
                                a(href="#") Диагностика
                            +e.item 
                                a(href="#") Манипуляции
                            +e.item 
                                a(href="#") Оперативные вмешательства
                            +e.item 
                                a(href="#") Операции на грудной клетке
                            +e.items-more.js-s-items-more
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                            +e("a").link-more.js-s-link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Гастроэнтерология
                            +e.item 
                                a(href="#") Консультация гастроэнтеролога
                            +e.item 
                                a(href="#") Консультация эндоскописта
                            +e.item 
                                a(href="#") Диагностика
                            +e.item 
                                a(href="#") Лечение гастрита
                            +e.item 
                                a(href="#") Операции
                            +e.items-more.js-s-items-more
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                            +e("a").link-more.js-s-link-more(href="") Показать все
                .row
                    .col-md-3
                        +e.col
                            +e.caption Дерматология
                            +e.item 
                                a(href="#") Консультации
                            +e.item 
                                a(href="#") Диагностика
                            +e.item 
                                a(href="#") Консервативное лечение
                            +e.item 
                                a(href="#") Манипуляции
                            +e.item 
                                a(href="#") Операции
                            +e.items-more.js-s-items-more
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                            +e("a").link-more.js-s-link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Кардиология
                            +e.item 
                                a(href="#") Консультация венеролога
                            +e.item 
                                a(href="#") Анализ мазков на микрофлору
                            +e.item 
                                a(href="#") Консервативное лечение
                            +e.item 
                                a(href="#") Профилактика ИППП
                            +e.item 
                                a(href="#") Удаление кондилом
                            +e.items-more.js-s-items-more
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                            +e("a").link-more.js-s-link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Косметология
                            +e.item 
                                a(href="#") Консультации
                            +e.item 
                                a(href="#") Диагностика
                            +e.item 
                                a(href="#") Манипуляции
                            +e.item 
                                a(href="#") Оперативные вмешательства
                    .col-md-3
                        +e.col
                            +e.caption ЛОР
                            +e.item 
                                a(href="#") Консультация гастроэнтеролога
                            +e.item 
                                a(href="#") Консультация эндоскописта
                            +e.item 
                                a(href="#") Диагностика
                            +e.item 
                                a(href="#") Лечение гастрита
                            +e.item 
                                a(href="#") Операции
                            +e.items-more.js-s-items-more
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                            +e("a").link-more.js-s-link-more(href="") Показать все
                .row
                    .col-md-3
                        +e.col
                            +e.caption Логопедия
                            +e.item 
                                a(href="#") Консультации
                            +e.item 
                                a(href="#") Диагностика
                            +e.item 
                                a(href="#") Консервативное лечение
                            +e.item 
                                a(href="#") Манипуляции
                            +e.item 
                                a(href="#") Операции
                            +e.items-more.js-s-items-more
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                            +e("a").link-more.js-s-link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Маммология
                            +e.item 
                                a(href="#") Консультация венеролога
                            +e.item 
                                a(href="#") Анализ мазков на микрофлору
                            +e.item 
                                a(href="#") Консервативное лечение
                            +e.item 
                                a(href="#") Профилактика ИППП
                            +e.item 
                                a(href="#") Удаление кондилом
                            +e.items-more.js-s-items-more
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                            +e("a").link-more.js-s-link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Наркология
                            +e.item 
                                a(href="#") Консультации
                            +e.item 
                                a(href="#") Диагностика
                            +e.item 
                                a(href="#") Манипуляции
                            +e.item 
                                a(href="#") Оперативные вмешательства
                            +e.item 
                                a(href="#") Операции на грудной клетке
                            +e.items-more.js-s-items-more
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                            +e("a").link-more.js-s-link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Неврология
                            +e.item 
                                a(href="#") Консультация гастроэнтеролога
                            +e.item 
                                a(href="#") Консультация эндоскописта
                            +e.item 
                                a(href="#") Диагностика
                            +e.item 
                                a(href="#") Лечение гастрита
                            +e.item 
                                a(href="#") Операции
                            +e.items-more.js-s-items-more
                                +e.item 
                                    a(href="#") Консультации
                                +e.item 
                                    a(href="#") Диагностика
                            +e("a").link-more.js-s-link-more(href="") Показать все


                            