//---
    layout: layouts/main
    title: Услуги в Киеве
    activeMenuItem: 0
    modals: feedback, select-specialization, select-area
    page_name: services_new


.row 
    article.col-md-12   
        +b.services-new
            +e.title Медицинские услуги в Киеве 
            +e.in
                .row
                    .col-md-3
                        +e.col
                            +e.caption Андрология
                            +e.item Консультации
                            +e.item Диагностика
                            +e.item Консервативное лечение
                            +e.item Манипуляции
                            +e.item Операции
                            +e("a").link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Венерология
                            +e.item Консультация венеролога
                            +e.item Анализ мазков на микрофлору
                            +e.item Консервативное лечение
                            +e.item Профилактика ИППП
                            +e.item Удаление кондилом
                            +e("a").link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Травматология и ортопедия
                            +e.item Консультации
                            +e.item Диагностика
                            +e.item Манипуляции
                            +e.item Оперативные вмешательства
                            +e.item Операции на грудной клетке
                            +e("a").link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Гастроэнтерология
                            +e.item Консультация гастроэнтеролога
                            +e.item Консультация эндоскописта
                            +e.item Диагностика
                            +e.item Лечение гастрита
                            +e.item Операции
                            +e("a").link-more(href="") Показать все
                .row
                    .col-md-3
                        +e.col
                            +e.caption Дерматология
                            +e.item Консультации
                            +e.item Диагностика
                            +e.item Консервативное лечение
                            +e.item Манипуляции
                            +e.item Операции
                            +e("a").link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Кардиология
                            +e.item Консультация венеролога
                            +e.item Анализ мазков на микрофлору
                            +e.item Консервативное лечение
                            +e.item Профилактика ИППП
                            +e.item Удаление кондилом
                            +e("a").link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Косметология
                            +e.item Консультации
                            +e.item Диагностика
                            +e.item Манипуляции
                            +e.item Оперативные вмешательства
                    .col-md-3
                        +e.col
                            +e.caption ЛОР
                            +e.item Консультация гастроэнтеролога
                            +e.item Консультация эндоскописта
                            +e.item Диагностика
                            +e.item Лечение гастрита
                            +e.item Операции
                            +e("a").link-more(href="") Показать все
                .row
                    .col-md-3
                        +e.col
                            +e.caption Логопедия
                            +e.item Консультации
                            +e.item Диагностика
                            +e.item Консервативное лечение
                            +e.item Манипуляции
                            +e.item Операции
                            +e("a").link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Маммология
                            +e.item Консультация венеролога
                            +e.item Анализ мазков на микрофлору
                            +e.item Консервативное лечение
                            +e.item Профилактика ИППП
                            +e.item Удаление кондилом
                            +e("a").link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Наркология
                            +e.item Консультации
                            +e.item Диагностика
                            +e.item Манипуляции
                            +e.item Оперативные вмешательства
                            +e.item Операции на грудной клетке
                            +e("a").link-more(href="") Показать все
                    .col-md-3
                        +e.col
                            +e.caption Неврология
                            +e.item Консультация гастроэнтеролога
                            +e.item Консультация эндоскописта
                            +e.item Диагностика
                            +e.item Лечение гастрита
                            +e.item Операции
                            +e("a").link-more(href="") Показать все


                            