//---
    layout: layouts/main
    title: Услуги в Киеве
    activeMenuItem: 0
    modals: feedback, select-specialization
    page_name: services 


.row              
    article.col-md-12   
        .services
            .services__tr 
                .services__aside
                    +b("ul").services-list 
                        +e("li").item.is-active
                            +e("a")(href="#").link Популярные услуги
                        +e("li").item
                            +e("a")(href="#").link Андрология
                        +e("li").item
                            +e("a")(href="#").link Венерология
                        +e("li").item
                            +e("a")(href="#").link Гастроэнтерология
                        +e("li").item
                            +e("a")(href="#").link Гинекология
                        +e("li").item
                            +e("a")(href="#").link Дерматология
                        +e("li").item
                            +e("a")(href="#").link Кардиология
                        +e("li").item
                            +e("a")(href="#").link Косметология
                        +e("li").item
                            +e("a")(href="#").link ЛОР
                        +e("li").item
                            +e("a")(href="#").link Логопедия
                        +e("li").item
                            +e("a")(href="#").link Маммология
                        +e("li").item
                            +e("a")(href="#").link Наркология
                        +e("li").item
                            +e("a")(href="#").link Неврология
                        +e("li").item
                            +e("a")(href="#").link Офтальмология
                        +e("li").item
                            +e("a")(href="#").link Педиатрия
                        +e("li").item
                            +e("a")(href="#").link Пластическая хирургия
                        +e("li").item
                            +e("a")(href="#").link Пульмонология
                        +e("li").item
                            +e("a")(href="#").link Ревматология
                        +e("li").item
                            +e("a")(href="#").link Стоматология
                        +e("li").item
                            +e("a")(href="#").link Травматология и ортопедия
                        +e("li").item
                            +e("a")(href="#").link Трихология
                        +e("li").item
                            +e("a")(href="#").link Урология
                        +e("li").item
                            +e("a")(href="#").link Физиотерапия
                        +e("li").item
                            +e("a")(href="#").link Андрология
                        +e("li").item
                            +e("a")(href="#").link Флебология
                        +e("li").item
                            +e("a")(href="#").link Эндокринология
                    .services-list-mobile

                        +b.dropdown
                            +e.title Направление:
                            +e("a").btn.js-clone(href='#select-specialization', data-toggle='modal') 
                                span Выберите направление
                                i.btn__close.js-clear 

                .services__content  
                    +b.services-about
                        +e.caption Популярные услуги в Киеве
                        .services-line
                        +e.text 
                            +b.text-list.columnize(data-columns="2", data-min-column-width="27", data-adaptive-column-count="true")
                                +e.item
                                    +b("ul").description
                                        +e("li").item.heading 
                                            +e("a")(href="#").link Консультации
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Первичная консультация андролога
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Консультация сексолога
                                                .item__right 
                                                    span  от 1000 грн
                                +e.item
                                    +b("ul").description
                                        +e("li").item.heading 
                                            +e("a")(href="#").link Консервативное лечение 
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение хронического простатита
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Коррекция уровня тестостерона
                                                .item__right 
                                                    span  от 6000 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение аденомы простаты
                                                .item__right 
                                                    span  от 12010 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение мужского бесплодия
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение острого простатита
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение острого эпидидимоорхита
                                                .item__right 
                                                    span  от 12010 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение преждевременного семяизвержения
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение хронического эпидидимоорхита
                                                .item__right 
                                                    span  от 9200 грн
                                +e.item
                                    +b("ul").description
                                        +e("li").item.heading 
                                            +e("a")(href="#").link Операции
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Коррекция искривления полового члена
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Удаление кисты придатка яичка
                                                .item__right 
                                                    span  от 9200 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лазерная вапоризация простаты
                                                .item__right 
                                                    span  от 1500 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Обрезание
                                                .item__right 
                                                    span  от 1000 грн
                                +e.item
                                    +b("ul").description
                                        +e("li").item.heading 
                                            +e("a")(href="#").link Манипуляции
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Коррекция искривления полового члена
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Удаление кисты придатка яичка
                                                .item__right 
                                                    span  от 9200 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лазерная вапоризация простаты
                                                .item__right 
                                                    span  от 1500 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Обрезание
                                                .item__right 
                                                    span  от 1000 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Остеосинтез дистального метаэпифиза лучевой кости винтами и спицами
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Удаление кисты придатка яичка
                                                .item__right 
                                                    span  от 9200 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лазерная вапоризация простаты
                                                .item__right 
                                                    span  от 1000 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Обрезание
                                                .item__right 
                                                    span  от 9200 грн
                                +e.item
                                    +b("ul").description
                                        +e("li").item.heading 
                                            +e("a")(href="#").link Консервативное лечение 
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение хронического простатита
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Коррекция уровня тестостерона
                                                .item__right 
                                                    span  от 6000 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение аденомы простаты
                                                .item__right 
                                                    span  от 12010 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение мужского бесплодия
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение острого простатита
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение острого эпидидимоорхита
                                                .item__right 
                                                    span  от 12010 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение преждевременного семяизвержения
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение хронического эпидидимоорхита
                                                .item__right 
                                                    span  от 9200 грн
                                +e.item
                                    +b("ul").description
                                        +e("li").item.heading 
                                            +e("a")(href="#").link Операции
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Коррекция искривления полового члена
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Удаление кисты придатка яичка
                                                .item__right 
                                                    span  от 9200 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лазерная вапоризация простаты
                                                .item__right 
                                                    span  от 1500 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Обрезание
                                                .item__right 
                                                    span  от 1000 грн
                                +e.item
                                    +b("ul").description
                                        +e("li").item.heading 
                                            +e("a")(href="#").link Манипуляции
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Коррекция искривления полового члена
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Удаление кисты придатка яичка
                                                .item__right 
                                                    span  от 9200 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лазерная вапоризация простаты
                                                .item__right 
                                                    span  от 1500 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Обрезание
                                                .item__right 
                                                    span  от 1000 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Остеосинтез дистального метаэпифиза лучевой кости винтами и спицами
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Удаление кисты придатка яичка
                                                .item__right 
                                                    span  от 9200 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лазерная вапоризация простаты
                                                .item__right 
                                                    span  от 1000 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Обрезание
                                                .item__right 
                                                    span  от 9200 грн