//---
    layout: layouts/main
    title: Про в Киеве
    activeMenuItem: 0
    modals: feedback, select-area
    page_name: service-about_new_3


.row                
    article.col-md-9  
        section.services-block.services-block_new
            .services-block__in  
                h1 Услуги в области андрологии 
                .services.services_about-mod
                    .services-about
                        +b.services-text.js-s-text
                            +e.block.js-s-text-b
                                +e.in
                                    p Пилинг - косметологическая процедура, во время которой происходит отшелушивание верхнего слоя кожи. Это делается для того, чтобы удалить отмершие клетки. Таким образом, удается улучшить внешний вид кожного покрова, сделать его более мягким, гладким и здоровым на вид. Это делается для того, чтобы удалить отмершие клетки. Таким образом, удается улучшить внешний вид кожного покрова, сделать его более мягким, гладким и здоровым на вид. 
                                    p На сегодняшний день существует множество технологий, с помощью которых делают пилинг кожи лица, однако все они разделяются на химические и механические.
                                    p Химический пилинг предусматривает использование особых растворов, которые содержат различные кислоты и растительные ферменты. Они способны улучшить работу сальных желез, повысить упругость и эластичность эпидермы. К этой группе относится и популярная сегодня процедура Джесснера.
                                    p Механический пилинг представляет собой более простой процесс. Во время его проведения на кожу воздействуют микроскопическими крупинками, которые «шлифуют» её. Такую процедуру можно проводить даже в домашних условиях.
                                    h2 Кому необходим пилинг?
                                    p Профессиональный пилинг  рекомендуют людям с угрями и повышенной жирностью кожи. Он также способен бороться с морщинами, мелкими шрамами и пигментными пятнами. А в некоторых случаях его назначают при демодикозе и псориазе. 
                                    h2 Существуют ли противопоказания к процедуре?
                                    p Пилинг не рекомендуют делать людям при следующих обстоятельствах:
                                    ul
                                        li беременность или кормление грудью; 
                                        li чувствительная кожа; 
                                        li ранки или порезы на коже; 
                                        li повышенная чувствительность к какому-либо компоненту раствора;
                                        li вирус герпеса;
                                        li кожные болезни в острой стадии;
                                        li фибропластический диатез.
                                    p В любом случае перед проведением пилинга следует проконсультироваться с косметологом. 
                                    h2 Как проводится процедура?
                                    p Перед началом пилинга специалист должен осмотреть зону обработки и подобрать наиболее подходящие средства. А также решить, необходимо ли использование анестезии. <br>С помощью раствора создается контролируемый химический ожег. Стоит отметить, что процедура может быть очень агрессивной, поэтому после неё на некоторое время могут остаться небольшие шрамы.
                            +e.btn.js-s-text-btn дальше
            .services-block__search
                //- p Андрологические клиники в Киеве
                .direction.services-direction.js-services-go
                    .direction__left
                        .direction__title Место приема:
                        .services-btn(href='#select-area', data-toggle='modal')
                            input.services-btn__go.finder__field-text(type="text", placeholder="Выберите район или метро")(data-target="#select-area")
                            i.services-btn__icon   
                    .direction__right
                        .direction__text Найдено  
                            b 312 клиник
                            |, отсортированы
                            select.select7      
                                option(value="rate_desc", selected) по рейтингу    
                                option(value="rate_az") по названию (А-Я) 
                                option(value="rate_za") по названию (Я-А) 
        +b("ul").card-list.services-card-list
            +b.small-card.small-card_mod.services-card__item
                +e.left-side
                    +e.image.small-card__image-mod
                        img.photo(src="i/small-card-img1.jpg", alt="")
                    +b.rating
                        +e.value.value 4.9
                        +e.stars 
                            +e.stars-bg
                            +e.stars-overlay(style="width: 80%;") 
                    +e.testimonials
                        a(href="", title="") 10 отзывов
                            
                +e.right-side
                    +b.favorites-block.pull-right.hidden-xs: +i
                    +e.title.fn.org
                        h3.h3
                            a(href="", title="") Клиника Доктора Валихновского
                    .address-info.address-info__mod
                        .small-card__address
                            a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                        .blue.card__location_metro.small-card__location.triangle-tooltip Димеевская 
                            span(class="tooltip-span" data-toggle="tooltip", data-original-title="Димеевская, Димеевская, Димеевская, Димеевская, Димеевская, Димеевская", data-placement="top")  
                        .small-card__location Голосеевский, Саперная слободка
                    .small-card__footer
                      .small-card__schedule.small-card__schedule-mod
                        ul
                            li.first-child 
                                span.left Пн - Пт
                                span.right 9:00 - 21:00
                            li
                                span.left Сб:
                                span.right 9:00 - 19:00
                            li.last-child
                                span.left Вс:
                                span.right выходной
                       a.btn.btn-success.pull-right.diagnost-center_bez(href="/modals.html#doctor-request", title="") Записаться в клинику
                .block-services-wrapper
                    include ../blocks/block-services/block-services.jade 
                    +b.load-more
                        +e('span').text 180 услуг диагностического центра
                        +e('a').link(href="#") Посмотреть весь прайс-лист
            +b.small-card.small-card_mod.services-card__item
                +e.left-side
                    +e.image.small-card__image-mod
                        img.photo(src="i/small-card-img1.jpg", alt="")
                    +b.rating
                        +e.value.value 4.9
                        +e.stars 
                            +e.stars-bg
                            +e.stars-overlay(style="width: 80%;") 
                    +e.testimonials
                        a(href="", title="") 10 отзывов
                            
                +e.right-side
                    +b.favorites-block.pull-right.hidden-xs: +i
                    +e.title.fn.org
                        h3.h3
                            a(href="", title="") Клиника Доктора Валихновского
                    .address-info.address-info__mod
                        .small-card__address
                            a.street-adress.dotted.grey(href="") с. Софиевская Борщаговка, ул. Леси Украинки 20, Стоматология (вход со двора)
                        //- .blue.card__location_metro.small-card__location Димеевская 
                        .small-card__location Киевская область, с. Софиевская Борщаговка
                    .small-card__footer
                      .small-card__schedule.small-card__schedule-mod
                        ul
                            li.first-child 
                                span.left Пн - Пт
                                span.right 9:00 - 21:00
                            li
                                span.left Сб:
                                span.right 9:00 - 19:00
                            li.last-child
                                span.left Вс:
                                span.right выходной
                       a.btn.btn-success.pull-right.diagnost-center_bez(href="/modals.html#doctor-request", title="") Записаться в клинику
                .block-services-wrapper
                    include ../blocks/block-services/block-services.jade 
                    +b.load-more
                        +e('span').text 180 услуг диагностического центра
                        +e('a').link(href="#") Посмотреть весь прайс-лист
            +b.small-card.small-card_mod.services-card__item
                +e.left-side
                    +e.image.small-card__image-mod
                        img.photo(src="i/small-card-img1.jpg", alt="")
                    +b.rating
                        +e.value.value 4.9
                        +e.stars 
                            +e.stars-bg
                            +e.stars-overlay(style="width: 80%;") 
                    +e.testimonials
                        a(href="", title="") 10 отзывов
                            
                +e.right-side
                    +b.favorites-block.pull-right.hidden-xs: +i
                    +e.title.fn.org
                        h3.h3
                            a(href="", title="") Клиника Доктора Валихновского
                    .address-info.address-info__mod
                        .small-card__address
                            a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                        .blue.card__location_metro.small-card__location Димеевская 
                        .small-card__location Голосеевский, Саперная слободка
                    .small-card__footer
                      .small-card__schedule.small-card__schedule-mod
                        ul
                            li.first-child 
                                span.left Пн - Пт
                                span.right 9:00 - 21:00
                            li
                                span.left Сб:
                                span.right 9:00 - 19:00
                            li.last-child
                                span.left Вс:
                                span.right выходной
                       a.btn.btn-success.pull-right.diagnost-center_bez(href="/modals.html#doctor-request", title="") Записаться в клинику
                .block-services-wrapper
                    include ../blocks/block-services/block-services.jade 
                    +b.load-more
                        +e('span').text 180 услуг диагностического центра
                        +e('a').link(href="#") Посмотреть весь прайс-лист

        +b("a").load-items(href="#")
            span.load-items__item Показать больше клиник

        +b("ul").pagination: +i

                                        
          
        
    aside.col-md-3.hidden-sm.hidden-xs
        .widget.widget-similar-diseases.widget-similar-diseases-new
            .h3.main-title__action Услуги офтальмолога
            .diseases-body
                ul.diseases-check-list.diseases_aside
                    li.diseases-item.alphabet-list__sub-item
                        a.diseases-link(href="", title="") Аппаратное лечение зрения
                    li.diseases-item.alphabet-list__sub-item
                        a.diseases-link(href="", title="") Консультации в офтальмологии
                    li.diseases-item.alphabet-list__sub-item
                        a.diseases-link(href="", title="") Коррекция зрения
                    li.diseases-item.alphabet-list__sub-item
                        a.diseases-link(href="", title="") Лазерная коррекция зрения
                    li.diseases-item.alphabet-list__sub-item
                        a.diseases-link(href="", title="") Лазерное лечение глаукомы
                    li.diseases-item.alphabet-list__sub-item
                        a.diseases-link(href="", title="") Лазерное лечение катаракты
                    li.diseases-item.alphabet-list__sub-item
                        a.diseases-link(href="", title="") Лазерное лечение роговицы
                    li.diseases-item.alphabet-list__sub-item
                        a.diseases-link(href="", title="") Лазерное лечение сетчатки
                    li.diseases-item.alphabet-list__sub-item
                        a.diseases-link(href="", title="") Операции в офтальмологииа
                    li.diseases-item.alphabet-list__sub-item
                        a.diseases-link(href="", title="") Процедуры
                    li.diseases-item.alphabet-list__sub-item
                        a.diseases-link(href="", title="") Разработка схемы лечения в офтальмологии
                        
        .h3 
            b Акции
        .widget.widget-action
            - var limit = 3          
            - var postWide     
            each offer, i in specialOffers                 
              if !offer.postWide               
                if i < limit 
                  .service-mod
                    +b("article").post2: +i(offer) 
        






 