//---
    layout: layouts/main
    title: Про в Киеве
    activeMenuItem: 0
    modals: feedback, select-area
    page_name: service-about


.row              
    article.col-md-9.services-block__modifie  
        section.services-block
            .services-block__in  
                h1 Консервативное лечение у андролога в Киеве 
                .services.services_about-mod
                    .services-about
                        +b("ul").text-list.text-list_modifie
                            +e('li').item
                                +b("ul").description.description__services-about
                                    +e("li").item.item-wrap
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение хронического простатита
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Коррекция уровня тестостерона
                                                .item__right 
                                                    span  от 1200 грн 
                                        ul.list-in 
                                            +e("li").item
                                                .item-wrap
                                                    .item__left
                                                        +e("a")(href="#").link Лечение аденомы простаты
                                                    .item__right 
                                                        span   от 3300 грн
                                            +e("li").item
                                                .item-wrap
                                                    .item__left
                                                        +e("a")(href="#").link Лечение мужского бесплодия
                                                    .item__right 
                                                        span   от 12010 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение хронического простатита
                                                .item__right 
                                                    span  от 900 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение острого эпидидимоорхита
                                                .item__right 
                                                    span  от 1200 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение преждевременного семяизвержения
                                                .item__right 
                                                    span  от 3300 грн
                                        +e("li").item
                                            .item-wrap
                                                .item__left
                                                    +e("a")(href="#").link Лечение хронического эпидидимоорхита
                                                .item__right 
                                                    span  от 12010 грн
                    .services-about-this   
                        b Рефлексотерапия 
                        | – это система нетрадиционной терапии, основанная на эффекте воздействия уколов от аккупунктурных игл, тепла полынных сигар, банок, лазера на биологически активные точки тела человека. Применяется в терапии, акушерстве, неврологии, офтальмологии, стоматологии, наркологии, психиатрии, анестезиологии и других сферах. Может применяться как самостоятельно, так и в комплексе с медикаментозным лечением.
        .services-block__search
            p Андрологические клиники в Киеве
            .direction.services-direction.js-services-go
                .direction__left
                    .direction__title Место приема:
                    .services-btn(href='#select-area', data-toggle='modal')
                        input.services-btn__go.finder__field-text(type="text", placeholder="Выберите район или метро")(data-target="#select-area")
                        i.services-btn__icon   
                .direction__right
                    .direction__text Найдено  
                        b 312 клиник
                        |, отсортированы
                        select.select7      
                            option(value="rate_desc", selected) по рейтингу    
                            option(value="rate_az") по названию (А-Я) 
                            option(value="rate_za") по названию (Я-А) 
        +b("ul").card-list.services-card-list
            +b.small-card.small-card_mod.services-card__item
                +e.left-side
                    +e.image.small-card__image-mod
                        img.photo(src="i/small-card-img1.jpg", alt="")
                    +b.rating
                        +e.value.value 4.9
                        +e.stars 
                            +e.stars-bg
                            +e.stars-overlay(style="width: 80%;") 
                    +e.testimonials
                        a(href="", title="") 10 отзывов
                            
                +e.right-side
                    +b.favorites-block.pull-right.hidden-xs: +i
                    +e.title.fn.org
                        h3.h3
                            a(href="", title="") Клиника Доктора Валихновского
                    .address-info.address-info__mod
                        .small-card__address
                            a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                        .blue.card__location_metro.small-card__location.triangle-tooltip Димеевская 
                            span(class="tooltip-span" data-toggle="tooltip", data-original-title="Димеевская, Димеевская, Димеевская, Димеевская, Димеевская, Димеевская", data-placement="top")  
                        .small-card__location Голосеевский, Саперная слободка
                    .small-card__footer
                      .small-card__schedule.small-card__schedule-mod
                        ul
                            li.first-child 
                                span.left Пн - Пт
                                span.right 9:00 - 21:00
                            li
                                span.left Сб:
                                span.right 9:00 - 19:00
                            li.last-child
                                span.left Вс:
                                span.right выходной
                       a.btn.btn-success.pull-right.diagnost-center_bez(href="/modals.html#doctor-request", title="") Записаться в клинику
                .block-services-wrapper
                    include ../blocks/block-services/block-services.jade 
                    +b.load-more
                        +e('span').text 180 услуг диагностического центра
                        +e('a').link(href="#") Посмотреть весь прайс-лист
            +b.small-card.small-card_mod.services-card__item
                +e.left-side
                    +e.image.small-card__image-mod
                        img.photo(src="i/small-card-img1.jpg", alt="")
                    +b.rating
                        +e.value.value 4.9
                        +e.stars 
                            +e.stars-bg
                            +e.stars-overlay(style="width: 80%;") 
                    +e.testimonials
                        a(href="", title="") 10 отзывов
                            
                +e.right-side
                    +b.favorites-block.pull-right.hidden-xs: +i
                    +e.title.fn.org
                        h3.h3
                            a(href="", title="") Клиника Доктора Валихновского
                    .address-info.address-info__mod
                        .small-card__address
                            a.street-adress.dotted.grey(href="") с. Софиевская Борщаговка, ул. Леси Украинки 20, Стоматология (вход со двора)
                        //- .blue.card__location_metro.small-card__location Димеевская 
                        .small-card__location Киевская область, с. Софиевская Борщаговка
                    .small-card__footer
                      .small-card__schedule.small-card__schedule-mod
                        ul
                            li.first-child 
                                span.left Пн - Пт
                                span.right 9:00 - 21:00
                            li
                                span.left Сб:
                                span.right 9:00 - 19:00
                            li.last-child
                                span.left Вс:
                                span.right выходной
                       a.btn.btn-success.pull-right.diagnost-center_bez(href="/modals.html#doctor-request", title="") Записаться в клинику
                .block-services-wrapper
                    include ../blocks/block-services/block-services.jade 
                    +b.load-more
                        +e('span').text 180 услуг диагностического центра
                        +e('a').link(href="#") Посмотреть весь прайс-лист
            +b.small-card.small-card_mod.services-card__item
                +e.left-side
                    +e.image.small-card__image-mod
                        img.photo(src="i/small-card-img1.jpg", alt="")
                    +b.rating
                        +e.value.value 4.9
                        +e.stars 
                            +e.stars-bg
                            +e.stars-overlay(style="width: 80%;") 
                    +e.testimonials
                        a(href="", title="") 10 отзывов
                            
                +e.right-side
                    +b.favorites-block.pull-right.hidden-xs: +i
                    +e.title.fn.org
                        h3.h3
                            a(href="", title="") Клиника Доктора Валихновского
                    .address-info.address-info__mod
                        .small-card__address
                            a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                        .blue.card__location_metro.small-card__location Димеевская 
                        .small-card__location Голосеевский, Саперная слободка
                    .small-card__footer
                      .small-card__schedule.small-card__schedule-mod
                        ul
                            li.first-child 
                                span.left Пн - Пт
                                span.right 9:00 - 21:00
                            li
                                span.left Сб:
                                span.right 9:00 - 19:00
                            li.last-child
                                span.left Вс:
                                span.right выходной
                       a.btn.btn-success.pull-right.diagnost-center_bez(href="/modals.html#doctor-request", title="") Записаться в клинику
                .block-services-wrapper
                    include ../blocks/block-services/block-services.jade 
                    +b.load-more
                        +e('span').text 180 услуг диагностического центра
                        +e('a').link(href="#") Посмотреть весь прайс-лист

        +b("a").load-items(href="#")
            span.load-items__item Показать больше клиник

        +b("ul").pagination: +i

                                        
          
        
    aside.col-md-3.hidden-sm.hidden-xs
        .widget.widget-similar-diseases
           .h3.main-title__action Андрологические услуги
           .diseases-body.link-more__mod
              ul.diseases-check-list.diseases_aside
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="", title="") Консультации
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="", title="") Диагностика
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="", title="") Консервативное лечение
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="", title="") Манипуляции
                 li.diseases-item.alphabet-list__sub-item
                    a.diseases-link(href="", title="") Операции
        .h3 
            b Акции
        .widget.widget-action
            - var limit = 3          
            - var postWide     
            each offer, i in specialOffers                 
              if !offer.postWide               
                if i < limit 
                  .service-mod
                    +b("article").post2: +i(offer) 
        






 