//---
   layout: layouts/main
   title: Стили
   modals: select-area, select-actions
   page_name: style
   activeMenuItem: 5 

.row       
   section.col-md-9  
      .rich-content
         h1 Заголовок H1
         h2 Заголовок H2
         h3 Заголовок H3
         h4 Заголовок H4
         h5 Заголовок H5
         h6 Текст H6

         strong Примеры подсвеченных блоков с текстом:
         .div-color.bg-blue В период беременности женщину подстерегают серьезные которых является невынашивание беременности.
         .div-color.bg-yellow В период беременности женщину подстерегают серьезные которых является невынашивание беременности.
         .div-color.bg-pink В период беременности женщину подстерегают серьезные которых является невынашивание беременности. 
         .highlight  текст highlight  
          | <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis asperiores velit debitis facere. Atque quaerat architecto libero, facere nemo perferendis excepturi, eligendi consequatur maiores magnam vero quisquam, eum fuga nostrum!

         strong Цитата:
         blockquote Питание только сырыми продуктами называется сыроедением. Его приверженцы, которых на данный момент насчитывается среди населения не так уж мало, твердо уверены в исключительной пользе такой «диеты». Однако, по мнению медиков, сыроедение кроме плюсов имеет и недостатки. 

         strong Таблица1:

         table
           thead
             tr 
                 th Наименование услуги       
                 th.text-center.border-left-white Наименование партии       
                 th.border-left-white Количество        
                 th Количество2        
           tbody
             tr
                 td Первичная консультация акушера-гинеколога, репродуктолога     
                 td Первичная консультация акушера-гинеколога, репродуктолога     
                 td 1 
                 td 1 
             tr
                 td Первичная консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога      
                 td 1
                 td 1
                 td 1
             tr 
                 td Первичное УЗИ органов малого таза
                 td Первичное УЗИ органов малого таза
                 td 1
                 td 1
             tr
                 td Определение кариотипа женщины   
                 td 1   
                 td Определение кариотипа женщины
                 td Определение кариотипа женщины
             tr
                 td Определение кариотипа мужчины  
                 td Определение кариотипа мужчины  
                 td 1
                 td 1
             tr
                 td Коагулограмма   
                 td Коагулограмма   
                 td 1
                 td 1
             


         strong Таблица2:

         table
           thead
             tr 
                 th Наименование услуги       
                 th Количество        
           tbody
             
             tr
                 td Первичная консультация акушера-гинеколога, репродуктолога     
                 td 1 
             tr
                 td Первичная консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога      
                 td 1
             tr 
                 td Первичное УЗИ органов малого таза
                 td 1
             tr
                 td Определение кариотипа женщины   
                 td 1
             tr
                 td Определение кариотипа мужчины  
                 td 1
             tr
                 td Коагулограмма   
                 td 1
             tr
                 td Тиреотропный гормон (ТТГ)   
                 td 1
             tr
                 td Трийодтиронин свободный (Т3 свободн.)   
                 td 1
             tr
                 td Тироксин свободный (Т4 свободн.)   
                 td 1 

         strong Ненумерованный список:
         ul
            li общее поражение гемопоэза (образование кровяных клеток);
            li острая (неожиданное возникновение, быстрое развитие);
            li подострая (более плавное развитие болезни, продолжительность от 1 до 6 мес.);
            li хроническая (постепенное развитие заболевания, длительность 6 мес. и острая неожиданное возникновение, быстрое развитие);

         strong Ненумерованный вложенный список
         ul
            li общее поражение гемопоэза (образование кровяных клеток);
               ul
                  li общее поражение гемопоэза (образование кровяных клеток);
                  li общее поражение гемопоэза (образование кровяных клеток);
            li острая (неожиданное возникновение, быстрое развитие);
            li подострая (более плавное развитие болезни, продолжительность от 1 до 6 мес.);
            li хроническая (постепенное развитие заболевания, длительность 6 мес. и острая неожиданное возникновение, быстрое развитие);

         strong Нумерованный список
         ol.style-numeric 
            li общее поражение гемопоэза (образование кровяных клеток);
            li острая (неожиданное возникновение, быстрое развитие);
            li подострая (более плавное развитие болезни, продолжительность от 1 до 6 мес.);
            li хроническая (постепенное развитие заболевания, длительность 6 мес. и острая неожиданное возникновение, быстрое развитие);

         strong Cписок
         ul.hyphen-lists
            li общее поражение гемопоэза (образование кровяных клеток);
            li острая (неожиданное возникновение, быстрое развитие);
            li подострая (более плавное развитие болезни, продолжительность от 1 до 6 мес.);
            li хроническая (постепенное развитие заболевания, длительность 6 мес. и острая неожиданное возникновение, быстрое развитие);
         br
         strong Выравнивание слева
         .text-left
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, laborum praesentium illum voluptatem quae, dicta molestias optio tempore quasi iste repellat quam officia esse ipsum in dolores accusamus perferendis qui. 
         br
         strong Выравнивание справа
         .text-right
             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, laborum praesentium illum voluptatem quae, dicta molestias optio tempore quasi iste repellat quam officia esse ipsum in dolores accusamus perferendis qui.
         br
         strong Выравнивание по центру
         .text-center
             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, laborum praesentium illum voluptatem quae, dicta molestias optio tempore quasi iste repellat quam officia esse ipsum in dolores accusamus perferendis qui.
         br
         strong Выравнивание по ширине
         .text-justify
             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, laborum praesentium illum voluptatem quae, dicta molestias optio tempore quasi iste repellat quam officia esse ipsum in dolores accusamus perferendis qui.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quo saepe similique temporibus, eum minima magnam quaerat optio in, suscipit nemo enim sint ab iure omnis nostrum consequatur tempora rerum.
         br
         strong .intro - italic
         .intro
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, laborum praesentium illum voluptatem quae, dicta molestias optio tempore quasi iste repellat quam officia esse ipsum in dolores accusamus perferendis qui. 
         br
         h3 Обтекание картинки текстом слева:
         .clearfix
          img(src='i/_isida.jpg').pull-left.picture.left 
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, laborum praesentium illum voluptatem quae, dicta molestias optio tempore quasi iste repellat quam officia esse ipsum in dolores accusamus perferendis qui.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab labore animi, inventore nam quas, eaque ducimus vel, deleniti velit laudantium sunt amet provident eveniet perferendis minima quos, temporibus fuga doloremque.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nobis voluptas repellat quis nostrum rerum, est tempore, excepturi quibusdam eveniet ullam, nam dignissimos unde! Excepturi doloribus voluptatum debitis pariatur laudantium.
         br
         h3 Обтекание картинки текстом справа:
         .clearfix.text-right
          img(src='i/_isida.jpg').pull-right.picture.right 
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, laborum praesentium illum voluptatem quae, dicta molestias optio tempore quasi iste repellat quam officia esse ipsum in dolores accusamus perferendis qui.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab labore animi, inventore nam quas, eaque ducimus vel, deleniti velit laudantium sunt amet provident eveniet perferendis minima quos, temporibus fuga doloremque.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nobis voluptas repellat quis nostrum rerum, est tempore, excepturi quibusdam eveniet ullam, nam dignissimos unde! Excepturi doloribus voluptatum debitis pariatur laudantium.
         br
         h3 Обтекание картинки текстом по центру:
         .picture-wrap
          img(src='i/_isida.jpg').picture.center 
         | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, laborum praesentium illum voluptatem quae, dicta molestias optio tempore quasi iste repellat quam officia esse ipsum in dolores accusamus perferendis qui.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab labore animi, inventore nam quas, eaque ducimus vel, deleniti velit laudantium sunt amet provident eveniet perferendis minima quos, temporibus fuga doloremque.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nobis voluptas repellat quis nostrum rerum, est tempore, excepturi quibusdam eveniet ullam, nam dignissimos unde! Excepturi doloribus voluptatum debitis pariatur laudantium.

         +b.doctor-prifile
            +e.image
              a(href='#')
                img(src='i/_alexandriyskiy-constantin.jpg')
            +e.row 
              +e.label Стаж:
              +e.value 23 года
            +e.row
              +e.label Специальность:
              +e.value Маммолог, Онколог
            +e.row
              +e.label Ученое звание:
              +e.value Кандидат медицинских наук
            +e.row
              +e.label Категория:
              +e.value Врач высшей категории

         +b("ul").doctors-card
             +e("li").item
                 +e("div").img
                     img(src="i/_alexandriyskiy-constantin.jpg", alt="")
                 +e("div").container
                     +b.favorites-block.pull-right: +i
                     +e.title
                         a(href="#") Хобзей Кузьма Николаевич
                     +e("div").text
                         +e("ul").list
                             li
                                 strong Дерматолог, Трихолог,  Дерматовенеролог, Косметолог
                             li Доктор медицинских наук. Врач высшей категории
                         +e("div").price Стоимость приема: 
                             strong 605 грн
                     +e("div").info 
                         +e("div").rating
                             +b.rating: +i({ value: 4.9 })
                             +e("a").views(href="#") 233 отзыва
                         +b("a").btn.btn-success(href="#doctor-request" data-toggle="modal") Записаться на прием
         +b("ul").card-list
             +b.small-card.small-card_mod
                 +e.left-side.hidden-xs
                     +e.image.small-card__image-mod
                         img.photo(src="i/small-card-img1.jpg", alt="")
                     +b.rating
                         +e.value.value 4.9
                         +e.stars 
                             +e.stars-bg
                             +e.stars-overlay(style="width: 80%;") 
                     +e.testimonials
                         a(href="", title="") 10 отзывов
                             
                 +e.right-side
                     +b.favorites-block.pull-right.hidden-xs: +i
                     +e.title.fn.org
                         h3.h3
                             a(href="", title="") Клиника Доктора Валихновского
                     
                     +e.label-description.small-card__description-mod
                         span Терапия, Урология, Эндокринология, Акушерство 
                         a(href="#", data-toggle="tooltip", data-original-title="Гастроэнтерология, гинекология, кардиология, неврология, отоларингология, пластическая хирургия.", data-placement="top") +17 направлений
                     .address-info.address-info__mod
                       .small-card__address
                         a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                       .blue.card__location_metro.small-card__location Димеевская 
                       .small-card__location Голосеевский, Саперная слободка
                     .small-card__footer
                       .small-card__schedule.small-card__schedule-mod
                         ul
                           li.first-child 
                             span.left Пн - Пт
                             span.right 9:00 - 21:00
                           li
                             span.left Сб:
                             span.right 9:00 - 19:00
                           li.last-child
                             span.left Нд:
                             span.right 9:00 - 19:00
                        a.btn.btn-success.pull-right.diagnost-center_bez(href="/modals.html#doctor-request", title="") Записаться в клинику
         +b("ul").card-list.promo-container
             +b.small-card.small-card_mod
                 +e.left-side.hidden-xs
                     +e.image.small-card__image-mod
                         img.photo(src="i/cabinet/cabinet-favorites-centers.png", alt="")
                     +b.rating
                         +e.value.value 4.9
                         +e.stars 
                             +e.stars-bg
                             +e.stars-overlay(style="width: 80%;") 
                     +e.testimonials
                         a(href="", title="") 10 отзывов
                             
                 +e.right-side
                     +b.favorites-block.pull-right.hidden-xs: +i
                     +e.title.fn.org
                         h3.h3
                             a(href="", title="") Medicinе group
                     
                     +e.label-description.small-card__description-mod
                         span Терапия, Урология, Эндокринология, Акушерство 
                         a(href="#", data-toggle="tooltip", data-original-title="Гастроэнтерология, гинекология, кардиология, неврология, отоларингология, пластическая хирургия.", data-placement="top") +17 направлений
                     .address-info.address-info__mod
                       .small-card__address
                         a.street-adress.dotted.grey(href="") г.Киев, пр.Науки 30
                       .blue.card__location_metro.small-card__location Димеевская 
                       .small-card__location Голосеевский, Саперная слободка
                     .small-card__footer
                       .small-card__schedule.small-card__schedule-mod
                         ul
                           li.first-child 
                             span.left Пн - Пт
                             span.right 9:00 - 21:00
                           li
                             span.left Сб:
                             span.right 9:00 - 19:00
                           li.last-child
                             span.left Нд:
                             span.right 9:00 - 19:00
                        a.btn.btn-success.pull-right.diagnost-center_bez(href="/modals.html#doctor-request", title="") Записаться на прием
             br
             +b.small-card.special.item-promo.item-promo_green
                .item-promo__block   
                    a(href="#").item-promo__title спецпредложение 
                 +e.left-side.special-left-side
                     +e.image.special-picture
                         img.photo(src="i/_isida.jpg", alt="") 
                 +e.right-side.special-right-side
                     +e.title.fn.org.special-title
                         h1
                             a(href="", title="") Консультация маммолога с УЗИ  молочных желез со скидкой 10%!
                     .address-info
                         +e.address.adr
                             a.dotted.grey.street-address(href="#clinic-location-map" data-toggle="modal" title="") г.Киев, пр.Науки 30
                         +e.location.card__location_metro.blue Димеевская
                         +e.location Голосеевский
                 +e.footer.special-block-btn
                    +b.price
                        +e.old 1645 грн
                        +e.new 1 178 грн
                    a.btn.btn-success.pull-right(href="/modals.html#doctor-request", title="") Записаться в клинику

                 //- +e.footer.special-block-btn
                 //-         +b.price
                 //-             +e.old 1645 грн
                 //-             +e.new 1 178 грн
                 //-         a.btn.btn-success(href="/modals.html#doctor-request", title="") Записаться в клинику
         +b.section-action.promo-container  
             +e.item.is-badge-label.action-card.item-promo.item-promo_green
                    .item-promo__block   
                        a(href="#").item-promo__title спецпредложение 
                    +b.badge-label.badge-label_background_green
                        p только через 
                        img(src="i/doc-logo-small-white.png", alt"")
                        +e("span").arrow: span
                    +e.left.item-left__mod
                        .card__left-side  
                            .card__image 
                                a(href="#")  
                                    img(src='i/_isida.jpg').photo
                            +b.rating.value-size_big 
                                +e.value.value 4.9
                                +e.stars 
                                    +e.stars-bg
                                    +e.stars-overlay(style="width: 80%;")  
                            +b.card__testimonials 
                                a(href="", title="") 10 отзывов
                                a(href='#').card__info
                    +e.middle
                        +b.main-title 
                            +e("a").link(href="#") 16% скидки на комплексное ультразвуковое обследование организма (расширенное)!
                            +e("span").clinic 
                                b Сити Клиника 
                            +e("span").special Гастроэнтерология, гинекология
                            +b("ul").about
                                +e("li").item Консультацию проводит врач высшей категории;
                                +e("li").item В прием за 1 грн входит осмотр и консультация;
                                +e("li").item Экономия на приеме 300 грн;
                                +e("li").item Экономия на приеме 300 грн;
                                +e("li").item Экономия на приеме 300 грн;
                                +e("li").item Экономия на приеме 300 грн;
                                +e("li").item Экономия на приеме 300 грн;
                        .section-action__right   
                            +b.right-info
                                .benefit__wrap
                                    +e("p").benefit.red-border выгода 90%
                                    +e("p").benefit.benefit__mod дейстувует до  27.12.2016
                        +b.price
                            +e.old 1245грн
                            +e.new 1050грн 
                            +e("a").btn(href="#") Записаться на прием 
         






