//---
   layout: layouts/main
   title: Стили
   modals: select-area, select-actions, select-specialization
   page_name: styleguide
   activeMenuItem: 0 

.row         
    section.col-md-9  

        .title-style 
            h1 Заголовок H1
            h2 Заголовок H2
            h3 Заголовок H3
            h4 Заголовок H4
            h5 Заголовок H5
            h6 Текст H6 
            h7 Текст H7 

            h1 
                strong H1 bold 
            h2 
                strong H2 bold
            h3 
                strong H3 bold
            h4 
                strong H4 bold
            h5 
                strong H5 bold
            h6 
                strong H6 bold 
            h7 
                strong H7 bold 

        .article-content
            .rich-content.content-style
                hr
                p Все мы с нетерпением ждем весны. Особенно она так желанна для будущих мам. Ведь так тяжело носить гору одежды на себе&hellip; И вот небо становится нежно-голубым, солнышко всё больше пригревает, а воздух наполняется свежестью. &laquo;Наконец-то!&raquo; - слышится крик души, но тело почему-то не поддается этой эйфории&hellip;
                hr
                h1.center(style="text-align: center") Приклад використання заголовків на сторінці
                h1 1. H1 - Какие основные признаки авитаминоза?&nbsp;Какие исследования должна пройти беременная женщина для выявления витаминной недостаточности?
                p Очевидные признакам авитаминоза, на которые следует обратить внимание: есть жжение кончика языка, кровоточивость десен, наличие синяков, заеды, трещины в уголках рта, проблемы с деснами, зубами, прочие. Многочисленными исследованиями доказано, что профилактический прием витаминов позволяет уменьшить или предупредить проявление раннего токсикоза (тошнота, рвота), улучшить сон, пищеварение, настроение, общее самочувствие беременной.
                h2 2. H2 - Какие основные признаки авитаминоза?&nbsp;Какие исследования должна пройти беременная женщина для выявления витаминной недостаточности?
                p Никаких дополнительных исследований для выявления витаминной недостаточности беременной женщине проводить нет необходимости. Специалисты всего мира договорились, принимая во внимание данные крупных медицинских научных исследований, что для предотвращения витаминной недостаточности беременной лучше использовать заместительную терапию витаминами, что существенно улучшает течение беременности, состояние и самочувствие женщины.
                h3 3. H3 - Какие основные признаки авитаминоза?&nbsp;Какие исследования должна пройти беременная женщина для выявления витаминной недостаточности?
                p Может быть следствием неправильного питания, может быть следствием хронических заболеваний, которые уже имели место к моменту беременности, но прежде всего, авитаминоз обусловлен физиологическим состоянием &ndash; беременностью. В медицинских стандартах принято во внимание, что 3 группы людей могут быть с авитаминозом: растущие дети, беременные женщины и лица, у которых вследствие хронических заболеваний не усваиваются витамины.
                h4 4. H4 - Какие основные признаки авитаминоза?&nbsp;Какие исследования должна пройти беременная женщина для выявления витаминной недостаточности?
                p Во время беременности в организме женщины происходит множество изменений, и постепенно возрастает потребность в витаминах и микроэлементах, которые будут способствовать этим процессам и развитию плода в частности. Потребность в витаминах особенно явно ощущается весной, что связано с ограниченным количеством свежих овощей и фруктов.&nbsp;
                h5 5. H5 - Какие основные признаки авитаминоза?&nbsp;Какие исследования должна пройти беременная женщина для выявления витаминной недостаточности?
                p Слово &laquo;препарат&raquo; указывает на необходимость медицинского, врачебного назначения, подбора дозы и контроля эффективности.
                h6 6. H6 - Какие основные признаки авитаминоза?&nbsp;Какие исследования должна пройти беременная женщина для выявления витаминной недостаточности?
                p Бороться ни с кем не нужно, необходимо осознанно подходить к факту беременности как особому состоянию. Лучшим методом будет профилактический постоянный прием, начиная с ранних сроков, &ndash; а согласно некоторых рекомендации даже до наступления беременности &ndash; специальных витаминов, разработанных для беременных.
                hr
                h1.center(style="text-align: center") Приклад використання списків&nbsp;на сторінці
                p Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h2.center(style="text-align: center") Приклад звичайного списку - ul
                p Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                ul
                    li 
                        strong поверхностная &ndash; 
                        | опухоль развивается медленно, представляет собою блестящую бляшку, небольшое пятно или узелок. На ранних стадиях не причиняет неудобств, но со временем сопровождается зудом и покалыванием, появляется мокнущая, кровоточащая язвочка и, в конечном итоге, возникает уплотнение тканей;
                    li 
                        strong инфильтрирующая &ndash; 
                        | форма, склонная к метастазированию и быстрому росту. На первой стадии поражение имеет вид гладких, плотных узелков, после чего превращается в кратерообразную язву;
                    li 
                        strong папиллярная &ndash; 
                        | или грибовидная форма, выглядит как обширный узел на ножке, покрывающийся коркой папилломы (по форме напоминает цветную капусту).
                p Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h2.center(style="text-align: center") Приклад нумерованого списку - ol class="style-numeric"
                p Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                ol.style-numeric
                    li 
                        strong поверхностная - 
                        | опухоль развивается медленно, представляет собою блестящую бляшку, небольшое пятно или узелок. На ранних стадиях не причиняет неудобств, но со временем сопровождается зудом и покалыванием, появляется мокнущая, кровоточащая язвочка и, в конечном итоге, возникает уплотнение тканей;
                    li 
                        strong инфильтрирующая - 
                        | форма, склонная к метастазированию и быстрому росту. На первой стадии поражение имеет вид гладких, плотных узелков, после чего превращается в кратерообразную язву;
                    li 
                        strong папиллярная или грибовидная 
                        | форма, выглядит как обширный узел на ножке, покрывающийся коркой папилломы (по форме напоминает цветную капусту).
                p Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h2.center(style="text-align: center") Приклад звичайного списку з черточкою - ul class="hyphen-lists"
                p Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                ul.hyphen-lists
                    li 
                        strong поверхностная - 
                        | опухоль развивается медленно, представляет собою блестящую бляшку, небольшое пятно или узелок. На ранних стадиях не причиняет неудобств, но со временем сопровождается зудом и покалыванием, появляется мокнущая, кровоточащая язвочка и, в конечном итоге, возникает уплотнение тканей;
                    li 
                        strong инфильтрирующая - 
                        | форма, склонная к метастазированию и быстрому росту. На первой стадии поражение имеет вид гладких, плотных узелков, после чего превращается в кратерообразную язву;
                    li 
                        strong папиллярная или грибовидная 
                        | форма, выглядит как обширный узел на ножке, покрывающийся коркой папилломы (по форме напоминает цветную капусту).
                p Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                hr
                h2.center(style="text-align: center") Приклад звичайного списку з вложенням - ul
                p Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                ul
                    li 
                        strong поверхностная &ndash; 
                        | опухоль развивается медленно, представляет собою блестящую бляшку, небольшое пятно или узелок. На ранних стадиях не причиняет неудобств, но со временем сопровождается зудом и покалыванием, появляется мокнущая, кровоточащая язвочка и, в конечном итоге, возникает уплотнение тканей;
                    li 
                        strong инфильтрирующая &ndash; 
                        | форма, склонная к метастазированию и быстрому росту. На первой стадии поражение имеет вид гладких, плотных узелков, после чего превращается в кратерообразную язву;
                        ul
                            li 
                                strong поверхностная &ndash; 
                                | опухоль развивается медленно, представляет собою блестящую бляшку, небольшое пятно или узелок. На ранних стадиях не причиняет неудобств, но со временем сопровождается зудом и покалыванием, появляется мокнущая, кровоточащая язвочка и, в конечном итоге, возникает уплотнение тканей;
                            li 
                                strong инфильтрирующая &ndash; 
                                | форма, склонная к метастазированию и быстрому росту. На первой стадии поражение имеет вид гладких, плотных узелков, после чего превращается в кратерообразную язву;
                            li 
                                strong папиллярная &ndash; 
                                | или грибовидная форма, выглядит как обширный узел на ножке, покрывающийся коркой папилломы (по форме напоминает цветную капусту).
                    li 
                        strong папиллярная &ndash; 
                        | или грибовидная форма, выглядит как обширный узел на ножке, покрывающийся коркой папилломы (по форме напоминает цветную капусту).
                p Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h2.center(style="text-align: center") Приклад нумерованого списку з вложенням - ol class="style-numeric"
                p Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                ol.style-numeric
                    li 
                        strong поверхностная - 
                        | опухоль развивается медленно, представляет собою блестящую бляшку, небольшое пятно или узелок. На ранних стадиях не причиняет неудобств, но со временем сопровождается зудом и покалыванием, появляется мокнущая, кровоточащая язвочка и, в конечном итоге, возникает уплотнение тканей;
                    li 
                        strong инфильтрирующая - 
                        | форма, склонная к метастазированию и быстрому росту. На первой стадии поражение имеет вид гладких, плотных узелков, после чего превращается в кратерообразную язву;
                        ol.style-numeric
                            li 
                                strong поверхностная - 
                                | опухоль развивается медленно, представляет собою блестящую бляшку, небольшое пятно или узелок. На ранних стадиях не причиняет неудобств, но со временем сопровождается зудом и покалыванием, появляется мокнущая, кровоточащая язвочка и, в конечном итоге, возникает уплотнение тканей;
                            li 
                                strong инфильтрирующая - 
                                | форма, склонная к метастазированию и быстрому росту. На первой стадии поражение имеет вид гладких, плотных узелков, после чего превращается в кратерообразную язву;
                            li 
                                strong папиллярная или грибовидная 
                                | форма, выглядит как обширный узел на ножке, покрывающийся коркой папилломы (по форме напоминает цветную капусту).
                    li 
                        strong папиллярная или грибовидная 
                        | форма, выглядит как обширный узел на ножке, покрывающийся коркой папилломы (по форме напоминает цветную капусту).
                p Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h2.center(style="text-align: center") Приклад звичайного списку з черточкою з вложенням - ul class="hyphen-lists"
                p Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                ul.hyphen-lists
                    li 
                        strong поверхностная - 
                        | опухоль развивается медленно, представляет собою блестящую бляшку, небольшое пятно или узелок. На ранних стадиях не причиняет неудобств, но со временем сопровождается зудом и покалыванием, появляется мокнущая, кровоточащая язвочка и, в конечном итоге, возникает уплотнение тканей;
                    li 
                        strong инфильтрирующая - 
                        | форма, склонная к метастазированию и быстрому росту. На первой стадии поражение имеет вид гладких, плотных узелков, после чего превращается в кратерообразную язву;
                    ul.hyphen-lists
                        li 
                            strong поверхностная - 
                            | опухоль развивается медленно, представляет собою блестящую бляшку, небольшое пятно или узелок. На ранних стадиях не причиняет неудобств, но со временем сопровождается зудом и покалыванием, появляется мокнущая, кровоточащая язвочка и, в конечном итоге, возникает уплотнение тканей;
                        li 
                            strong инфильтрирующая - 
                            | форма, склонная к метастазированию и быстрому росту. На первой стадии поражение имеет вид гладких, плотных узелков, после чего превращается в кратерообразную язву;
                        li 
                            strong папиллярная или 
                            | грибовидная форма, выглядит как обширный узел на ножке, покрывающийся коркой папилломы (по форме напоминает цветную капусту).
                
                    li 
                        strong папиллярная или грибовидная 
                        | форма, выглядит как обширный узел на ножке, покрывающийся коркой папилломы (по форме напоминает цветную капусту).
                p Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                hr
                h2.center(style="text-align: center") Приклад використання вирівнювання тексту
                h3.center(style="text-align: center") Базове вирівнювання
                p Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h3.center(style="text-align: center") По ліву сторону p class="text-left"
                p.text-left Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h3.center(style="text-align: center") По праву сторону p class="text-right"
                p.text-right Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h3.center(style="text-align: center") По центру p class="text-center"
                p.text-center Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h3.center(style="text-align: center") По ширині p class="text-justify"
                p.text-justify Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                hr 
                hr 
                hr
                h2.center(style="text-align: center") Приклад використання вирівнювання тексту
                p.text-justify Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h3.center(style="text-align: center") Картинка право
                p 
                    img.pull-right.picture.right(src="https://doc.ua/uploads/1/8/4/7/9/18479/bg/sunscreen_1.jpg" alt="" width="300px" height="300px")
                p Каждая будущая мама должна быть вооружена правилами, которые помогут ей справиться с весенним авитаминозом. Узнать о причинах его возникновения у беременных и понять, как предотвратить витаминную недостаточность, помогут комментарии семейного врача Центра здорового материнства Олеси Гетьман.
                p.text-justify Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                p.text-justify Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h3.center(style="text-align: center") Картинка ліво
                p 
                    img.pull-left.picture.left(src="https://doc.ua/uploads/1/8/4/7/9/18479/bg/sunscreen_1.jpg" alt="" width="300px" height="300px")
                p Каждая будущая мама должна быть вооружена правилами, которые помогут ей справиться с весенним авитаминозом. Узнать о причинах его возникновения у беременных и понять, как предотвратить витаминную недостаточность, помогут комментарии семейного врача Центра здорового материнства Олеси Гетьман.
                p.text-justify Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                p.text-justify Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h3.center(style="text-align: center") Картинка центр
                p 
                    img.picture.center(src="https://doc.ua/uploads/1/8/4/7/9/18479/bg/sunscreen_1.jpg" alt="" width="300px" height="300px")
                p Каждая будущая мама должна быть вооружена правилами, которые помогут ей справиться с весенним авитаминозом. Узнать о причинах его возникновения у беременных и понять, как предотвратить витаминную недостаточность, помогут комментарии семейного врача Центра здорового материнства Олеси Гетьман.
                p.text-justify Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                p.text-justify Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                hr
                hr
                hr
                h2.center(style="text-align: center") Приклад використання вирівнювання тексту
                h3.center(style="text-align: center") Фон bg-blue
                .div-color.bg-blue Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                p.text-justify Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h3.center(style="text-align: center") Фон bg-yellow
                .div-color.bg-yellow Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                p.text-justify Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h3.center(style="text-align: center") Фон bg-pink
                .div-color.bg-pink Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                p.text-justify Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h3.center(style="text-align: center") Highlight
                .highlight Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                p.text-justify Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                h3.center(style="text-align: center") Цитата
                blockquote Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе..
                p.text-justify Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                hr
                hr
                hr
                h2.center(style="text-align: center") Таблиці
                h3.center(style="text-align: center") Таблиця 2 колонки
                table
                    thead
                        tr
                            th Наименование услуги
                            th Количество
                    tbody
                        tr
                            td Первичная консультация акушера-гинеколога, репродуктолога
                            td 1
                        tr
                            td Первичная консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога
                            td 1
                        tr 
                            td Первичное УЗИ органов малого таза
                            td 1
                        tr 
                            td Определение кариотипа женщины
                            td 1
                        tr 
                            td Определение кариотипа мужчины
                            td 1
                        tr 
                            td Коагулограмма
                            td 1
                        tr 
                            td Тиреотропный гормон (ТТГ)
                            td 1
                        tr 
                            td Трийодтиронин свободный (Т3 свободн.)
                            td 1
                        tr 
                            td Тироксин свободный (Т4 свободн.)
                            td 1
                p.text-justify Физическая активность благоприятно влияет на здоровье &ndash; улучшает его в целом, обогащает кровь кислородом, а это очень важно, чтобы все процессы происходили естественно и без рисков. А вот такой уникальный витамин как витамин D для своего достаточного синтеза требует естественного солнечного света, &ndash; вот зачем еще нужны прогулки на свежем воздухе.
                table
                    thead
                        tr
                            th Наименование услуги
                            th.text-center.border-left-white Наименование партии
                            th.border-left-white Количество
                            th Количество2
                    tbody
                        tr
                            td Первичная консультация акушера-гинеколога, репродуктолога
                            td Первичная консультация акушера-гинеколога, репродуктолога
                            td 1
                            td 1
                        tr
                            td Первичная консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога консультация акушера-гинеколога, репродуктолога Первичная консультация акушера-гинеколога, репродуктолога
                            td 1
                            td 1
                            td 1
                        tr
                            td(colspan="4") Анализы:
                        tr
                            td Первичное УЗИ органов малого таза
                            td Первичное УЗИ органов малого таза
                            td 1
                            td 1
                        tr
                            td Определение кариотипа женщины
                            td 1
                            td Определение кариотипа женщины
                            td Определение кариотипа женщины
                        tr
                            td Определение кариотипа мужчины
                            td Определение кариотипа мужчины
                            td 1
                            td 1
                        tr
                            td Коагулограмма
                            td Коагулограмма
                            td 1
                            td 1
