//---
    layout: layouts/searchbar
    title: Онлайн-диагностика
    activeMenuItem: 0
    finder: doctors
    modals: select-area, select-actions
    page_name: online-diagnostic


section.symptom-checker
    .col-sm-12.col-xs-12
      header.header-styled.notopmargin
        h2.h1 Онлайн-диагностика
      .block-bg    
         .row
            .col-sm-4 
                .body-map
                  .body-map_image-bg
                    .body-map__select.text-center
                        span.body-map__select-title Вы — 
                        .radio-inline
                          label.pill
                            input(type='radio', checked='checked', value='male', name='gender')
                            span
                              span Мужчина
                        .radio-inline
                          label.pill
                            input(type='radio', value='female', name='gender')
                            span
                              span Женщина
                    .body-map__container
                        .body-map__main.body-map__main_man_front
                          .body-map__bg
                            img(src='i/man-front.jpg')
                          .body-map__zones
                              .body-map__main.body-map__main_man_back(style='top: -10%; left: -15%; display: none;')
                                .body-map__bg
                                  img(src='i/man-back.jpg')
                                .body-map__zones
                              .body-map__main.body-map__main_woman_front(style='top: -10%; left: -15%; display: none;')
                                .body-map__bg
                                  img(src='i/woman-front.jpg')
                                .body-map__zones
                              .body-map__main.body-map__main_woman_back(style='top: -10%; left: -15%; display: none;')
                                .body-map__bg
                                  img(src='i/woman-back.jpg')
                                .body-map__zones
                    .body-map__symptoms
                     .radio-inline
                        label.pill
                         input(type='checkbox', data-zone-id='common')
                         span
                            span Общие симптомы
                     .radio-inline
                        label.pill
                         input(type='checkbox', data-zone-id='skin')
                         span
                            span Кожа

                  .body-map__controls
                     span.body-map__rotate
                     span.body-map__current Передняя часть шеи
                     span.body-map__zoom.body-map__zoom_out
            .col-sm-4.first-step.hide
              .h3 Выберите симптомы:
              p 
                | Воспользовавшись онлайн-диагностикой и указав симптомы, которые вас беспокоят, вы можете определить возможные заболевания и узнать, к какому врачу обращаться. Для старта выберите пол, наведите курсор на интересующую вас область на карте тела и выберите из списка ваши симптомы.
              p
                | Данный инструмент представлен в информационных целях и не заменяет врачебную консультацию.
                  
            #symContainer.col-sm-4.choose-symptom 
                .h3 Выберите симптомы:
                .symptoms.scroll-pane.scroll-pane_autoreinitialize_off.jspScrollable(style='overflow: hidden;', tabindex='0')
                 .jspContainer(style='height: 591px;')
                    .jspPane(style='top: -1263px; left: 0px;')
                     ul#symptoms-list-selector.symptoms__list
                        li.symptoms__list-item(data-value='267') Боль
                        li.symptoms__list-item(data-value='479') Боль в горле
                        li.symptoms__list-item(data-value='53') Боль в лимфоузлах
                        li.symptoms__list-item(data-value='482') Боль при глотании
                        li.symptoms__list-item(data-value='1534') Бугристость кожи
                        li.symptoms__list-item(data-value='1057') Волдыри (-ь)
                        li.symptoms__list-item(data-value='1144') Гнойник (-и)
                        li.symptoms__list-item(data-value='1088') Жжение
                        li.symptoms__list-item(data-value='383') Зуд
                        li.symptoms__list-item(data-value='574') Изжога
                        li.symptoms__list-item(data-value='1200') Камедоны (черные точки)
                        li.symptoms__list-item(data-value='549') Кашель с мокротой
                        li.symptoms__list-item(data-value='1115') Красно-багровые образования (-е)
                        li.symptoms__list-item(data-value='1002') Красные пятна (-о)
                        li.symptoms__list-item(data-value='1582') Набухание шейных вен
                        li.symptoms__list-item(data-value='1262') Наклон головы в одну сторону
                        li.symptoms__list-item(data-value='1222') Нарушение глотания
                        li.symptoms__list-item(data-value='552') Одышка
                        li.symptoms__list-item(data-value='464') Отечность
                        li.symptoms__list-item(data-value='1323') Паралич
                        li.symptoms__list-item(data-value='1442') Подергивания мышц
                        li.symptoms__list-item(data-value='419') Покраснение
                        li.symptoms__list-item(data-value='1569') Полушаровидные узелки
                        li.symptoms__list-item(data-value='1241') Приступообразный кашель
                        li.symptoms__list-item(data-value='719') Резкая боль
                        li.symptoms__list-item(data-value='525') Скованность движений
                        li.symptoms__list-item(data-value='423') Сухой кашель
                        li.symptoms__list-item(data-value='914') Сухость
                        li.symptoms__list-item(data-value='350') Сыпь
                        li.symptoms__list-item(data-value='42') Увеличение лимфоузлов
                        li.symptoms__list-item(data-value='1348') Увеличение щитовидной железы
                        li.symptoms__list-item(data-value='1205') Угри
                        li.symptoms__list-item(data-value='9') Удушье
                        li.symptoms__list-item(data-value='1464') Уплотнения (-е) под кожей
                        li.symptoms__list-item(data-value='887') Утолщение кожи
                        li.symptoms__list-item(data-value='527') Хруст
                        li.symptoms__list-item(data-value='1502') Чешуйчатость кожи
                        li.symptoms__list-item(data-value='923') Чувство "кома" в горле
                        li.symptoms__list-item(data-value='224') Экспираторная одышка (утруднен выдох)
                        li.symptoms__list-item.symptoms__list-item_selected.symptoms__list-item_selected(data-value='267') Боль
                        li.symptoms__list-item.symptoms__list-item_selected.symptoms__list-item_selected(data-value='479') Боль в горле
                        li.symptoms__list-item(data-value='53') Боль в лимфоузлах
                        li.symptoms__list-item(data-value='482') Боль при глотании
                        li.symptoms__list-item.symptoms__list-item_selected.symptoms__list-item_selected(data-value='1534') Бугристость кожи
                        li.symptoms__list-item(data-value='1057') Волдыри (-ь)
                        li.symptoms__list-item(data-value='1144') Гнойник (-и)
                        li.symptoms__list-item(data-value='1088') Жжение
                        li.symptoms__list-item(data-value='383') Зуд
                        li.symptoms__list-item(data-value='574') Изжога
                        li.symptoms__list-item(data-value='1200') Камедоны (черные точки)
                        li.symptoms__list-item(data-value='549') Кашель с мокротой
                        li.symptoms__list-item(data-value='1115') Красно-багровые образования (-е)
                        li.symptoms__list-item(data-value='1002') Красные пятна (-о)
                        li.symptoms__list-item(data-value='1582') Набухание шейных вен
                        li.symptoms__list-item(data-value='1262') Наклон головы в одну сторону
                        li.symptoms__list-item(data-value='1222') Нарушение глотания
                        li.symptoms__list-item(data-value='552') Одышка
                        li.symptoms__list-item(data-value='464') Отечность
                        li.symptoms__list-item(data-value='1323') Паралич
                        li.symptoms__list-item(data-value='1442') Подергивания мышц
                        li.symptoms__list-item(data-value='419') Покраснение
                        li.symptoms__list-item(data-value='1569') Полушаровидные узелки
                        li.symptoms__list-item(data-value='1241') Приступообразный кашель
                        li.symptoms__list-item(data-value='719') Резкая боль
                        li.symptoms__list-item(data-value='525') Скованность движений
                        li.symptoms__list-item(data-value='423') Сухой кашель
                        li.symptoms__list-item(data-value='914') Сухость
                        li.symptoms__list-item(data-value='350') Сыпь
                        li.symptoms__list-item(data-value='42') Увеличение лимфоузлов
                        li.symptoms__list-item(data-value='1348') Увеличение щитовидной железы
                        li.symptoms__list-item(data-value='1205') Угри
                        li.symptoms__list-item(data-value='9') Удушье
                        li.symptoms__list-item(data-value='1464') Уплотнения (-е) под кожей
                        li.symptoms__list-item(data-value='887') Утолщение кожи
                        li.symptoms__list-item(data-value='527') Хруст
                        li.symptoms__list-item(data-value='1502') Чешуйчатость кожи
                        li.symptoms__list-item(data-value='923') Чувство "кома" в горле
                        li.symptoms__list-item(data-value='224') Экспираторная одышка (утруднен выдох)
                    .jspVerticalBar
                     .jspCap.jspCapTop
                     .jspTrack(style='height: 582px;')
                        .jspDrag(style='height: 93px; top: 220.133px;')
                         .jspDragTop
                         .jspDragBottom
                     .jspCap.jspCapBottom



            #checkSym.col-sm-4
              .h3 Выбранные симптомы: 
              .symptoms-selected
                #s2id_symptoms-select.select2-container.select2-container-multi.select2(style='display: inline-block;')
                  ul.select2-choices
                    li.select2-search-choice
                      div Вздутие живота
                      a.select2-search-choice-close(href='https://doc.ua/diagnostic#', tabindex='-1')
                    li.select2-search-choice
                      div Волдыри (-ь)
                      a.select2-search-choice-close(href='https://doc.ua/diagnostic#', tabindex='-1')
                    li.select2-search-choice
                      div Гнойник (-и)
                      a.select2-search-choice-close(href='https://doc.ua/diagnostic#', tabindex='-1')
                    li.select2-search-choice
                      div Боль в желудке
                      a.select2-search-choice-close(href='https://doc.ua/diagnostic#', tabindex='-1')
                    li.select2-search-choice
                      div "Кукольная походка" (мелкими шагами)
                      a.select2-search-choice-close(href='https://doc.ua/diagnostic#', tabindex='-1')
                    li.select2-search-field
                      label.select2-offscreen(for='s2id_autogen19')
                      input#s2id_autogen19.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', placeholder='Выберите симптомы')
                  .select2-drop.select2-drop-multi.select2-display-none
                    ul.select2-results
                      li.select2-no-results Нічого не знайдено
                      li.select2-no-results Нічого не знайдено
                select#symptoms-select.select2(multiple='multiple', placeholder='выберите симптомы', style='display: none;', tabindex='-1')
                  option(value='265') Боль
                  option(value='1517') Бугристость кожи
                  option(value='468') Вздутие живота
                  option(value='1042') Волдыри (-ь)
                  option(value='1340') Выпячивание (опухоль)
                  option(value='1131') Гнойник (-и)
                  option(value='1077') Жжение
                  option(value='364') Зуд
                  option(value='1101') Красно-багровые образования (-е)
              #deseaseCont.diseaseCont-wrap
                .h3 Возможные заболевания:
                .scroll-pane.scroll-pane_autoreinitialize_off.jspScrollable(style='overflow: hidden;', tabindex='0')
                  .jspContainer(style='height: 280px;')
                    .jspPane(style='top: 10px; left: 0px;')
                         ul.style-clear-box.list-style
                          li.list-style__item#661
                            a.list-style__link(href='https://doc.ua/bolezn/anevrizma', title='Аневризма ') Аневризма 
                            p.actions-list__meta совпало 1 из 8 симтомов: 
                          li.list-style__item#77
                            a.list-style__link(href='https://doc.ua/bolezn/bolezn-parkinsona', title='Болезнь Паркинсона') Болезнь Паркинсона
                            p.actions-list__meta совпало 1 из 8 симтомов: 
                          li.list-style__item#34
                            a.list-style__link(href='https://doc.ua/bolezn/gastrit', title='Гастрит') Гастрит
                            p.actions-list__meta совпало 1 из 8 симтомов: 
                          li.list-style__item#775
                            a.list-style__link(href='https://doc.ua/bolezn/gastroduodenit', title='Гастродуоденит') Гастродуоденит
                            p.actions-list__meta совпало 1 из 8 симтомов: 
                          li.list-style__item#228
                            a.list-style__link(href='https://doc.ua/bolezn/gepatit-v', title='Гепатит В') Гепатит В
                            p.actions-list__meta совпало 2 из 8 симтомов: , 
                          li.list-style__item#163.hide
                            a.list-style__link(href='https://doc.ua/bolezn/gipotireoz', title='Гипотиреоз') Гипотиреоз
                            p.actions-list__meta совпало 1 из 8 симтомов: 
                          li.list-style__item#785.hide
                            a.list-style__link(href='https://doc.ua/bolezn/diafragmalnaya-gryzha', title='Диафрагмальная грыжа') Диафрагмальная грыжа
                            p.actions-list__meta совпало 1 из 8 симтомов: 
                          li.list-style__item#39.hide
                            a.list-style__link(href='https://doc.ua/bolezn/disbakterioz', title='Дисбактериоз') Дисбактериоз
                            p.actions-list__meta совпало 1 из 8 симтомов: 
                          li.list-style__item#42.hide
                          li.list-style__item#52.hide
                            a.list-style__link(href='https://doc.ua/bolezn/yazvennaya-bolezn', title='Язвенная болезнь') Язвенная болезнь
                            p.actions-list__meta совпало 1 из 8 симтомов: 
                     .jspVerticalBar
                         .jspCap.jspCapTop
                         .jspTrack(style='height: 282px;')
                            .jspDrag(style='height: 23px; top: 220.133px;')
                             .jspDragTop
                             .jspDragBottom
                         .jspCap.jspCapBottom
                br
                button.btn.btn-primary.btn-xs-block.btn-xs.btn-xs-block(onclick='location.reload();') Начать заново
