//---
   layout: layouts/searchbar
   title: Спасибо за заявку 
   activeMenuItem: 0
   finder: doctors
   modals: select-area, select-actions
   page_name: thank-you-page
      
section  
   .col-sm-12.col-xs-12                
      header.header-styled.notopmargin 
         h2.h1 Спасибо за заявку!
      .thank-page-wrap.block-bg 
         +b.thank-page   
            +e.content  
               p Спасибо за оставленную заявку на прием к врачу на DOC.UA. В самое ближайшее время наши специалисты рассмотрят ваш запрос и свяжутся с вами.
            +e.applic-number
               p Номер вашей заявки:&nbsp;<span>#66006</span>  
            +e.table-wrap
               +e("table").card 
                  tr
                     td.left-col Имя:  
                     td.right-col Петров Петр Петрович  
                  tr
                     td.left-col Телефон: 
                     td.right-col 380966871299
                  tr
                     td.left-col E-mail:   
                     td.right-col a.skyba@doc.ua
                  tr
                     td.left-col Дата визита: 
                     td.right-col 02.10.2015, 12:30
                  tr
                     td.left-col Для кого:  
                     td.right-col Взрослого
                  tr
                     td.left-col Доктор: 
                     td.right-col Тодуров Борис Михайлович
                  tr
                     td.left-col Клиника: 
                     td.right-col Институт сердца
                  tr
                     td.left-col Адрес приема: 
                     td.right-col ул. Братиславская, 5 а
            +e.btns
               a.btn.look-map(href="", title="") Посмотреть на карте
               a.btn.add-tocalendar(href="", title="") Добавить в календарь
            +e.content
               p Благодарим вас за выбор сервиса DOC.UA! Для связи по любым вопросам обращайтесь к нам по телефону <span>(044) 337-07-07</span> или по адресу <a href="/">info@doc.ua.</a>
            +e.content
               p С уважением, команда Doc.ua.    