//---
   layout: layouts/searchbar
   title: Спасибо за заявку 
   activeMenuItem: 0
   finder: doctors
   modals: select-area, select-actions, select-specialization
   page_name: thank-you-page2
      
section    
   .col-sm-12.col-xs-12.tab-content                    
      header.header-styled.notopmargin   
         h2.h1 Спасибо за заявку!
      .thank-page-wrap.block-bg.application  
         +b.thank-page.item-elements   
            +e.content  
               p Спасибо за оставленную заявку на прием к врачу на DOC.UA. В самое ближайшее время наши специалисты рассмотрят ваш запрос и свяжутся с вами.
            +e.applic-number
               p Номер вашей заявки:&nbsp;<span>#66006</span>  
            +e.table-wrap
               form.form-horizontal
                  .form-group.has-error
                      label(for="exampleInputName1").col-sm-3.control-label Филиал*:
                      .col-sm-9
                          //- input(type="text" id="exampleInputName1").form-control.js-clinic-autocomplete 
                          //- option Добробут "Дитяча клініка на Лівому березі"
                          +b.cla-search.cla-search_fillials
                              +e.item.js-section-choice
                                  +e.fillials-choise.everyone-header.js-field-child.js-selection-main.form-item.form-control 
                                  +b('ul').everyone-lists.section-choice.js-choice-scroll
                                      +e("li").list.js-selection-city Все филиалы сети Synevo
                                      +e("li").list.js-selection-city Поликлиника для взрослых 
                                      +e("li").list.js-selection-city Детская поликлиника на Голосеевском районе
                                      +e("li").list.js-selection-city Лечебно - диагностический центр
                                      +e("li").list.js-selection-city Реабилитационный центр
                                      +e("li").list.js-selection-city Поликлиника для взрослых
                                      +e("li").list.js-selection-city Детская поликлиника на Голосеевском районе
                                      +e("li").list.js-selection-city Лечебно - диагностический центр
                                      +e("li").list.js-selection-city Реабилитационный центр
                  .form-group
                      label(for="exampleInputName2").col-sm-3.control-label Врач*:
                      .col-sm-9
                          input(type="text" id="exampleInputName2").form-control.js-clinic-autocomplete 
                          //- option Леонов Олексій валентинович
                  .form-group
                      label(for="exampleInputName3").col-sm-3.control-label Спец-сть*:
                      .col-sm-9
                          input(type="text"  id="exampleInputName3").form-control.js-clinic-autocomplete 
                          //- option Лікар нетрадиційной медицини
                  .form-group.form-group_inline   
                      label(for="exampleInputName4").col-sm-3.control-label Врач для*:
                      .col-sm-9
                          label.radio-inline взрослого 
                              input(type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked) 
                          label.radio-inline ребенка
                              input(type="radio" name="optionsRadios" id="optionsRadios2" value="option2")   
                  .form-group
                      label(for="exampleInputName5").col-sm-3.label-group_mod Дата и время*:
                      .col-sm-9
                          .input-group
                              input(type="text" ).form-control.js-clinic-datepicker(data-date-format="dd MM yyyy - HH:ii p")
                              span.input-group-addon.input-addon_mod.js-datepicker-trigger 
                                  i.glyphicon.glyphicon-calendar
                      //- .col-sm-4
                      //-     .input-group
                      //-         input(type="text").form-control
                      //-         span.input-group-btn
                      //-             button.btn.defoult
                                      //- i.glyphicon.glyphicon-time
                  .form-group
                      label(for="exampleInputName6").col-sm-3.control-label Цена*:
                      .col-sm-3
                          input(type="text").form-control
                      .col-sm-1.control-label.hidden-xs
                          strong грн.
                  .form-group
                      label(for="exampleInputName7").col-sm-3.control-label Фамилия*:
                      .col-sm-9
                          input(type="text" id="exampleInputName1").form-control
                          //- option Добробут "Дитяча клініка на Лівому березі"
                  .form-group
                      label(for="exampleInputName8").col-sm-3.control-label Имя*:
                      .col-sm-9
                          input(type="text" id="exampleInputName2").form-control
                          //- option Леонов Олексій валентинович
                  .form-group
                      label(for="exampleInputName9").col-sm-3.control-label Отчество:
                      .col-sm-9
                          input(type="text"  id="exampleInputName3").form-control
                          //- option Лікар нетрадиційной медицини
                  .form-group.form-group_date.js-validateDate
                    label(for="exampleInputName10").col-sm-3.col-md-3.col-xs-3.label-group_mod.control-label Дата 
                      | рождения*:
                    .application-l.application-l_mod.l-2
                        //- - var x = 1;
                        .select-wrap 
                            .form-control.js-valDate
                              - var x = 31;
                                 select(name="days").select7.select7_dropdown
                                     - for (var i=1; i<=x; i++) {
                                         option(value= i)= i
                                     - }
                    .application-l.application-l_mod.l-4
                        .form-control.js-valMonth
                            - var month = [{name :'Январь', val : '01'}, {name : 'Февраль', val : '02'}, {name : 'Март', val : '03'}, {name: 'Апрель', val : '04'}, {name: 'Май', val : '05'}, {name : 'Июнь', val : '06'}, {name: 'Июль', val : '07'}, {name : 'Август',val : '08'}, {name : 'Сентябрь', val : '09'}, {name: 'Октябрь', val : '10'}, {name :'Ноябрь',val : '11'}, {name: 'Декабрь', val : '12'}];
                            select(name="month").select7.select7_dropdown
                                for item in month  
                                    option(value= item.val)= item.name
                    .application-l.application-l_mod.l-3
                        .form-control.js-valYears
                            - var x = 2016
                                select(name="years").select7.select7_dropdown
                                    - for (var i=1900; i<=x; i++) {
                                        option(value= i)= i
                                    - }
                  span.js-text
                  .form-group.form-group_phone.form-group_inline 
                      label(for="exampleInputName11").col-sm-3 Телефон:
                      .col-sm-9  
                          span 
                            strong +380966871200
            +e.btns
               a.btn.look-map(href="", title="") Посмотреть на карте
               a.btn.add-tocalendar(href="", title="") Добавить в календарь
            +e.content
               p Благодарим вас за выбор сервиса DOC.UA! Для связи по любым вопросам обращайтесь к нам по телефону <span>(044) 337-07-07</span> или по адресу <a href="/">info@doc.ua.</a>
            +e.content
               p С уважением, команда Doc.ua.