.rem-password
	position relative
	max-width 520px 
	width 100% 
	margin 20px 20% 45px 
	@media only screen and (max-width: 1024px)
		margin-left 137px 
	@media only screen and (max-width: 960px)
		margin-left 97px 
	@media only screen and (max-width: 768px)
		margin 20px auto 45px
	@media phone
		margin 10px auto 35px 
	&:after
		content ""
		position absolute  
		top 0
		right -177px
		width 137px
		height 289px 
		background-image url(i/doc-attention.png) 
		background-repeat no-repeat 
		@media only screen and (max-width: 959px)
			display none 
	&__content
		font-size 18px 
		text-align center 
		margin-bottom 20px 
		@media phone
			font-size 16px
	.form-group_remember
		margin-bottom 35px 
	.btn_remember
		padding 2% 12%   