.schedule-doctor
	display block
	position absolute
	top 29px
	right -1px
	width 638px
	// height 92px
	overflow hidden
	z-index 1
	background #fff9e9
	border 1px solid #fff
	border-radius: 3px 0 3px 3px
	box-shadow: 0 2px 12px rgba(0, 64, 76, 0.35)
	opacity 0 
	visibility hidden
	transition all .36s ease-in-out

	@media tablet
		width 438px
		right auto
		left 0
	@media phone
		width 315px
		right auto
		left 0

		.owl-carousel .owl-wrapper-outer
			width 100%

	@media screen560
		width 100%
		right 0
		left 0
	.disabled
		.schedule__day, .schedule__date
			color #b2b2b2
	.schedule__date
		line-height 1
		margin-bottom: 2px
	.owl
		list-style none
		position relative
		padding 0 21px
		// transition all .2s ease-in-out 
		&-prev
		&-next
			top 43px
		&-prev
			left 6px
		&-next
			right 6px
		&-item
			position relative
			text-align center
			margin 5px 0
			width 100px
			border-right 1px dashed #C0D2D6
			&.current
				background #fff9e9 + 10%
		.owl-wrapper-outer
			&:after
				content: ''
				position: absolute
				top: 0
				bottom: 0
				right: 0
				border-right: 1px solid #fff9e9
	&__day
		font-weight bold
		line-height: 1
	&__message
		margin-top 20px
		font-size 14px
		line-height 1
	&__working-hours
		margin: 0
		padding 0
		list-style none
		line-height 1
		li
			margin-bottom: 6px
	&__hours-item
		text-decoration none
		display inline-block
		color text_grey
		font-size 13px
		line-height: 1
		span
			color #0089d1
			text-decoration underline
		&:hover
			span
				text-decoration none
		&.disabled
			cursor default
			color #b2b2b2