ul.owl.owl_schedule
    li.schedule-item.disabled
        +e.day Пн
        +e.date 30 Июнь
        +e("ul").working-hours
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                    | &nbsp
                    span 9:00
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                    | &nbsp
                    span 21:00
    li.schedule-item.disabled
        +e.day Пн
        +e.date 30 Июнь
        +e("ul").working-hours
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                    | &nbsp
                    span 9:00
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                    | &nbsp
                    span 21:00
    li.schedule-item.disabled
        +e.day Пн
        +e.date 30 Июнь
        +e("ul").working-hours
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                    | &nbsp
                    span 9:00
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                    | &nbsp
                    span 21:00
    li.schedule-item.disabled
        +e.day Пн
        +e.date 30 Июнь
        +e("ul").working-hours
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                    | &nbsp
                    span 9:00
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                    | &nbsp
                    span 21:00
    li.schedule-item.disabled
        +e.day Пн
        +e.date 30 Июнь
        +e("ul").working-hours
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                    | &nbsp
                    span 9:00
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                    | &nbsp
                    span 21:00
    li.schedule-item.disabled
        +e.day Пн
        +e.date 30 Июнь
        +e("ul").working-hours
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                    | &nbsp
                    span 9:00
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                    | &nbsp
                    span 21:00
    li.schedule-item.disabled
        +e.day Пн
        +e.date 30 Июнь
        +e("ul").working-hours
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                    | &nbsp
                    span 9:00
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                    | &nbsp
                    span 21:00
    li.schedule-item.disabled
        +e.day Пн
        +e.date 30 Июнь
        +e("ul").working-hours
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                    | &nbsp
                    span 9:00
            +e("li"): +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                    | &nbsp
                    span 21:00