ul.owl.owl_schedule
    li.schedule-item.disabled
        +e.day Пн
        +e.date 14.10
        +e("ul").working-hours
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                    | &nbsp
                    span 9:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                    | &nbsp
                    span 21:00
    li.schedule-item.current
        +e.day Вт
        +e.date 15.10
        +e("ul").working-hours
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                | &nbsp
                span 9:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                | &nbsp
                span 21:00
    li.schedule-item
        +e.day Ср
        +e.date 16.10
        +e("ul").working-hours
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                | &nbsp
                span 9:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                | &nbsp
                span 21:00
    li.schedule-item
        +e.day Чт
        +e.date 17.10
        +e("ul").working-hours
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                | &nbsp
                span 9:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                | &nbsp
                span 21:00
    li.schedule-item
        +e.day Пт
        +e.date 18.10
        +e("ul").working-hours
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                | &nbsp
                span 9:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                | &nbsp
                span 21:00
    li.schedule-item
        +e.day Сб
        +e.date 19.10
        +e.message Нет приема
    li.schedule-item
        +e.day Вс
        +e.date 20.10
        +e("ul").working-hours
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                | &nbsp
                span 9:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                | &nbsp
                span 21:00
    li.schedule-item
        +e.day Пн
        +e.date 21.10
        +e("ul").working-hours
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                | &nbsp
                span 9:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                | &nbsp
                span 21:00
    li.schedule-item
        +e.day Вт
        +e.date 22.10
        +e("ul").working-hours
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="540", data-doctor-request-set-date="1412294400000") с
                | &nbsp
                span 9:00
            li: +e("a").hours-item(href="#doctor-request", title="", data-toggle="modal", data-doctor-request-set-time="600", data-doctor-request-set-date="1412294400000") до
                | &nbsp
                span 21:00