.disease-content 
    background #fff
    padding 38px
    margin-bottom 20px
    box-shadow 0 2px 4px rgba(0,64,76,.15)
    border-radius 3px
	.header-styled.header-styled-noMargins
		margin 0
		padding-bottom 10px
		border 0 
		.h1
			color text_color 
.diseases-body
    .diseases-item        
        position relative 
        padding-left 15px
        padding-bottom 5px 
        font-size 15px 
        font-weight normal
        line-height 19px
        .diseases-link
            color blue_link 
            outline none    
            &:before
                content ""
                position absolute
                left 0  
                top 6px 
                display inline-block
                width 8px
                height 8px
                background-color #ddecef
                -webkit-border-radius 50% 
                border-radius 50% 
.disease-subTitle
	&__list
	    margin 0
	    margin-bottom 5px 
	    padding 0
	    list-style none 
	    font-size 0
	&__item
		height 50px 
		padding 15px 0
		padding-left 20px
		border-bottom 1px solid #c0d2d6
		&:last-child 
			border-bottom 0
	&__link
		position relative
		display inline-block
		vertical-align baseline 
		height 100% 
		line-height 17px 
		font-size 20px
		font-weight bold
		color blue_link 
		text-decoration none 
		border-bottom 1px solid blue_link 
		box-sizing border-box
		outline none 
		@media phone
			font-size 16px
		&:hover, &:focus, &:active
			border-bottom 0
			text-decoration none 
		&:before
            content ""
            position absolute
            left -20px
            top 4px 
            display inline-block
            width 8px
            height 8px
            background-color #ddecef
            -webkit-border-radius 50% 
            border-radius 50% 
.short-description
	background-color #e5f2f5
	padding 30px 
	border-radius 5px     
	p
		font-size 14px        

.disease-chart
	.header-styled.header-chart
		.h1
			padding-bottom 15px
			color text_color 
			border-bottom 1px solid #c0d2d6
	&__list-title
		font-weight bold 
		font-size 15px 
	&__list
		margin-bottom 20px 
		li
			position relative
			margin-bottom 10px 
			padding-left 20px
			font-size 15px 
			&:before
	            content ""
	            position absolute
	            left 0
	            top 7px 
	            display inline-block
	            width 8px
	            height 8px
	            background-color #96b8bf
	            -webkit-border-radius 50% 
	            border-radius 50% 
	&__description
		font-size 15px 
		margin-bottom 20px
		
.after-content-title 
	margin-bottom 10px
	p
		margin 0
		padding 0
		font-size 24px
		font-weight 700
		color #5e6e71	
		@media phone
			font-size 18px 
.disease-card
	.job
		&-schedule
			@media only screen and (max-width: 960px)
				position absolute
			@media phone
				position static
				
	.schedule-doctor
		@media only screen and (max-width: 960px)
			left auto
			right -1px 