+b("ul").block-package
    +e("li").item.price-item__mod
                .small-card__action.small-card__action-mod
                    +e.action
                        span.orange-light Пакет
                        a(href="#", title="") Пакет «Сосудистый» от Medicina Group
                +e.price-discount 
                    span 1020 грн
                    | 820 грн 
                    a(href="#").btn.btn-hide.btn-success.btn-media Записаться
                +e("ul").list.block-sevices__list-mod
                    +e("li").row.row-price__mod
                        +e.row-in.row-in-price__mod
                            +e.left УЗИ щитовидной железы
                            
                    +e("li").row.row-price__mod
                        +e.row-in.row-in-price__mod
                            +e.left Дуплексное сканирование вен нижних конечностей
                .diagnostic-line
    +e("li").item.price-item__mod
                
                .small-card__action.small-card__action-mod
                    +e.action
                        span.orange-light Пакет
                        a(href="#", title="") Пакет «Аритмогенный» от Medicina Group
                +e.price-discount 
                    span 1020 грн
                    | 820 грн 
                    a(href="#").btn.btn-hide.btn-success.btn-media Записаться 
                +e("ul").list.block-sevices__list-mod
                    +e("li").row.row-price__mod
                        +e.row-in.row-in-price__mod
                            +e.left УЗИ щитовидной железы
                            
                    +e("li").row.row-price__mod
                        +e.row-in.row-in-price__mod
                            +e.left Другое Эхокардиография 
                                span (ЭхоКГ) 
                    +e("li").row.row-price__mod
                        +e.row-in.row-in-price__mod
                            +e.left Функциональная диагностика Суточное ЭКГ мониторирование 
                                span (по Холтеру)
                .diagnostic-line
    +e("li").item.price-item__mod.price-none__border 
                
                .small-card__action.small-card__action-mod
                    +e.action
                        span.orange-light Пакет
                        a(href="#", title="") «Здоровье женщины» от Medicina Group
                +e.price-discount  
                    span 1020 грн
                    | 820 грн 
                    a(href="#").btn.btn-hide.btn-success.btn-media Записаться 
                +e("ul").list.block-sevices__list-mod
                    +e("li").row.row-price__mod
                        +e.row-in.row-in-price__mod
                            +e.left УЗИ щитовидной железы
                            
                    +e("li").row.row-price__mod
                        +e.row-in.row-in-price__mod
                            +e.leftУЗИ молочных желез  
                                span (с доопплерографией)
                    +e("li").row.row-price__mod
                        +e.row-in.row-in-price__mod
                            +e.left УЗИ матки и придатков  
                                span (трансвагинально)
                
    +e("li").item.item-with-btn
        +e.title.block-services__title-mod  
                strong 
                    | Нейросонография
                +e.price-discount 
                    | 820 грн
                    a(href="#").btn.btn-success.btn-hide Записаться 

    +e("li").item.item-with-btn
        +e.title.block-services__title-mod
                strong 
                    | Фолликулометрия
                +e.price-discount 
                    | 820 грн
                    a(href="#").btn.btn-success.btn-hide Записаться
    +e("li").item
        +e.title.block-services__title-mod
                strong 
                    | Дуплексное сканирование
                +e.price-discount 
                    | 820 грн
                    a(href="#").btn.btn-success.btn-hide Записаться
        
            +e("ul").list
                +e("li").row
                    +e.row-in.row-item__mod
                        +e.left артерий верхних конечностей

                        +e.right
                            span  180 грн
                            a(href="#").btn.btn-success Записаться 
                +e("li").row
                    +e.row-in.row-item__mod
                        +e.left артерий верхних конечностей и вен верхних конечностей
                        +e.right
                            span  180 грн
                            a(href="#").btn.btn-success Записаться 
                +e("li").row
                    +e.row-in.row-item__mod
                        +e.left артерий нижних конечностей
                        +e.right
                            span  180 грн
                            a(href="#").btn.btn-success Записаться
                 +e("li").row
                    +e.row-in.row-item__mod
                        +e.left вен верхних конечностей
                        +e.right
                            span  180 грн
                            a(href="#").btn.btn-success Записаться
                 +e("li").row
                    +e.row-in.row-item__mod
                        +e.left вен нижних конечностей и артерий нижних конечностей
                        +e.right
                            span  180 грн
                            a(href="#").btn.btn-success Записаться
                +e("li").row
                    +e.row-in.row-item__mod
                        +e.left магистральных сосудов головы
                        +e.right
                            span  180 грн
                            a(href="#").btn.btn-success Записаться
                +e("li").row
                    +e.row-in.row-item__mod
                        +e.left почечных артерий
                        +e.right
                            span  180 грн
                            a(href="#").btn.btn-success Записаться
                +e("li").row
                    +e.row-in.row-item__mod
                        +e.left сосудов шеи 
                            span (брахиоцефальных артерий)
                        +e.right
                            span  180 грн
                            a(href="#").btn.btn-success Записаться
                +e("li").row
                    +e.row-in.row-item__mod
                        +e.left сосудов шеи 
                            span (брахиоцефальных артерий)
                        +e.right
                            span  180 грн
                            a(href="#").btn.btn-success Записаться
                +e("li").row
                    +e.row-in.row-item__mod.border__none
                        +e.left сосудов шеи 
                            span (брахиоцефальных артерий) 
                            |  и магистральных сосудов головы

                        +e.right
                            span  180 грн
                            a(href="#").btn.btn-success Записаться