article.static-page
    background #fff
    padding 40px 20px 30px

    .h2, h2
        margin-top 0
        font-size 20px
    .style-disc
        li:before
            top 1px
    .header-styled
        border-bottom 2px solid green_light
        margin-bottom 30px
        padding-bottom 6px
    .feedback
        &__link
            margin-right 10px
            
    img.about-doctor
        transform scale(0.75)
        width 123px
        margin-top -100px
        margin-right 40px
    img.ratin-doctor
        width 100%
        max-width 375px
        
    @media tablet
        img[class^="content-img-"]
            width 100%
    @media phone_tablet
        .feedback
            float none
            width 150px
            &__link
                float none
                display block
                width 100%
                margin-bottom 5px
        .select7__current
            padding 0 11px