+b("ul").block-prices
    +e("li").item.item-level-1
        +e.title
            +e.title-left
                +b.price-offer
                    +e.icon
                        span Акция
                    +e.text
                        a(href="#") Пакет «Сосудистый» со скидкой 13%
                +e.title-in.block-prices__title-offer 
                    | Лимфатических узлов 
                    span (1 зона)
                +e.title-in.block-prices__title-offer 
                    | Лимфатических узлов 
                    span (1 зона)
            +e.title-right
                +e.price-discount 
                    | 250 грн
                    a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться 
    +e("li").item.item-level-1
        +e.title
            +e.title-left
                +b.price-offer
                    +e.icon
                        span Акция
                    +e.text
                        a(href="#") Пакет «Сосудистый» со скидкой 13%
            +e.title-right
                +e.price-discount 
                    | 250 грн
                    a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться 
    +e("li").item.item-level-1
        +e.title
            +e.title-left
                +e.title-in 
                    | Лимфатических узлов 
                    span (1 зона)
            +e.title-right
                +e.price-discount 
                    | 250 грн
                    a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться 
    +e("li").category.js-prices 
        +e.title.js-prices-btn
            +e.title-left
                +e.title-in
                    strong 
                        //- +e("i").icon
                        +e("i").drop-icon
                        | КТ 
            +e.title-right
                +e.price-discount от 1000 грн
        +e.drop.js-prices-block
            +e('ul').wrap
                +e('li').subcategory.js-price-tabs 
                    +e.title.js-price-btn
                        +e.title-left
                            +e.title-in
                                strong 
                                    //- +e("i").icon
                                    +e("i").drop-icon
                                    | Аутоімунологічні дослідження
                    +e.drop.js-price-block
                        +e("ul").wrap 
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Антиген плоскоклеточной карциномы 
                                            span (SCC)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -100%
                                        .price-discount
                                            .old-price 108200 грн 
                                            .new-price 108200 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Антиген плоскоклеточной карциномы 
                                            span (SCC)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -0%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Антиген плоскоклеточной карциномы 
                                            span (SCC alfa)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                +e('li').subcategory.js-price-tabs 
                    +e.title.js-price-btn
                        +e.title-left
                            +e.title-in
                                strong 
                                    //- +e("i").icon
                                    +e("i").drop-icon
                                    | Діагностика антифосфоліпідного синдрому
                    +e.drop.js-price-block 
                        +e("ul").wrap 
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names PAPP-A 
                                            span (Протеїн-А плазми, асоційований з вагітністю)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Перерахунок PRISCA за даними ДОМ 
                                            span (SCC)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Плацентарний фактор росту 
                                            span (PLGF)
                                            a(href="#" data-toggleheading-="tooltip" title="Данный анализ делается в Германии. Сроки реализации 10-12 дней").info-cla
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Сосудов шеи (брахиоцефальных артерий) и магистральных сосудов головы 
                                            span (PLGF)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names PAPP-A 
                                            span (Протеїн-А плазми, асоційований з вагітністю)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                +e('li').subcategory.js-price-tabs 
                    +e.title.js-price-btn
                        +e.title-left
                            +e.title-in
                                strong 
                                    //- +e("i").icon
                                    +e("i").drop-icon
                                    | Діагностика імунних причин безпліддя
                    +e.drop.js-price-block
                        +e("ul").wrap 
                            +e("li").item.item-level-3
                                +e.heading
                                    +e.title-left
                                        +e.title-in 
                                            .names Антиспермальные антитела
                                    +e.title-right 
                                        +e.price-discount 
                                            | 50 грн
                                            a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться
                            +e("li").item.item-level-3
                                +e.heading
                                    +e.title-left
                                        +e.title-in 
                                            .names Комплемент C1q циркулирующих иммунных комплексов, аутоантитела циркулирующих иммунных комплексов
                                    +e.title-right 
                                        +e.price-discount 
                                            | 1000 грн
                                            a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться
                            +e("li").item.item-level-3
                                +e.heading
                                    +e.title-left
                                        +e.title-in 
                                            .names Ткань яичника, антитела IgG 
                                    +e.title-right
                                        +e.price-discount 
                                            | 282 грн
                                            a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться
                            +e("li").item.item-level-3
                                +e.heading
                                    +e.title-left
                                        +e.title-in 
                                            .names Ткань яичника, антитела IgG
                                    +e.title-right 
                                        +e.price-discount 
                                            | 250 грн
                                            a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться
                +e('li').subcategory.js-price-tabs 
                    +e.title.js-price-btn
                        +e.title-left
                            +e.title-in
                                strong 
                                    //- +e("i").icon
                                    +e("i").drop-icon
                                    | Антиген плоскоклеточной карциномы
                    +e.drop.js-price-block
                        +e("ul").wrap 
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names PAPP-A 
                                            span (Протеїн-А плазми, асоційований з вагітнheading-істю)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Перерахунок PRISCA за даними ДОМ 
                                            span (SCC)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Плацентарний фактор росту 
                                            span (PLGF)
                                            a(href="#" data-toggle="tooltip" title="Данный анализ делается в Германии. Сроки реализации 10-12 дней").info-cla
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Сосудов шеи (брахиоцефальных артерий) и магистральных сосудов головы
                                            span (PLGF)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names PAPP-A 
                                            span (Протеїн-А плазми, асоційований з вагітнheading-істю)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
    +e("li").category.js-prices
        +e.title.js-prices-btn
            +e.title-left
                +e.title-in
                    strong 
                        //- +e("i").icon
                        +e("i").drop-icon
                        | УЗИ
            +e.title-right
                +e.price-discount от 100 грн
        +e.drop.js-prices-block
            +e("ul").wrap 
                +e("li").item.item-level-2.js-offers-tabs
                    +e.heading
                        +e.title-left
                            +e.title-in 
                                .names Лимфатических узлов 
                                    span (1 зона)
                        +e.title-right
                            +e.price-discount 
                                | 250 грн
                                a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться
                +e("li").item.item-level-2.js-offers-tabs
                    +e.heading
                        +e.title-left
                            +b.price-offer
                                +e.icon
                                    span Акция
                                +e.text
                                    a(href="#") Пакет «Сосудистый» со скидкой 13% Пакет «Сосудистый» со скидкой 13% Пакет «Сосудистый» со скидкой 13% Пакет «Сосудистый» со скидкой 13%
                        +e.title-right
                            +e.price-discount 
                                | 1000 грн
                                a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться
                +e("li").item.item-level-2.js-offers-tabs
                    +e.heading
                        +e.title-left
                            +e.title-in 
                                .names Лимфатических узлов 
                                    span (1 зона) 
                        +e.title-right
                            +e.price-discount 
                                | 282 грн
                                a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться
                +e("li").item.item-level-2.js-offers-tabs
                    +e.heading
                        +e.title-left
                            +e.title-in 
                                .names Матки и придатков 
                                    span (трансабдоминально)
                        +e.title-right
                            +e.price-discount 
                                | 250 грн
                                a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться
                +e("li").item.item-level-2.js-offers-tabs
                    +e.heading
                        +e.title-left
                            +e.title-in 
                                .names Лимфатических узлов 
                                    span (1 зона) 
                        +e.title-right
                            +e.price-discount 
                                | 282 грн
                                a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться
    +e("li").item.item-level-1
        +e.title
            +e.title-left
                +e.title-in
                    | Лимфатических узлов 
                    span (1 зона)
            +e.title-right
                +e.price-discount 
                    | 820 грн
                    a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться       
    +e("li").item.item-level-1
        +e.title
            +e.title-left
                +e.title-in
                    | Лимфатических узлов
            +e.title-right
                +e.price-discount 
                    | 820 грн
                    a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться  
    +e("li").item.item-level-1
        +e.title
            +e.title-left
                +e.title-in 
                    | Лимфатических узлов 
                    span (1 зона)
            +e.title-right
                +e.price-discount 
                    | 820 грн
                    a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться 
    +e("li").category.js-prices
        +e.title.js-prices-btn
            +e.title-left
                +e.title-in
                    strong 
                        //- +e("i").icon
                        +e("i").drop-icon
                        | Акционные предложения
            +e.title-right
                +e.price-discount 820 грн 
        +e.drop.js-prices-block
            +b.promotional-offers
                include ../promotional-offers/promotional-offers.jade 
    +e("li").category.js-prices 
        +e.title.js-prices-btn
            +e.title-left
                +e.title-in
                    strong 
                        //- +e("i").icon
                        +e("i").drop-icon
                        | КТ 
            //- +e.title-right
            //-     +e.price-discount 820 грн
        +e.drop.js-prices-block
            +e('ul').wrap
                +e('li').subcategory.js-price-tabs 
                    +e.title.js-price-btn
                        +e.title-left
                            +e.title-in
                                strong 
                                    //- +e("i").icon
                                    +e("i").drop-icon
                                    | Аутоімунологічні дослідження
                    +e.drop.js-price-block
                        +e("ul").wrap 
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Антиген плоскоклеточной карциномы 
                                            span (SCC)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -100%
                                        .price-discount
                                            .old-price 108200 грн 
                                            .new-price 108200 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Антиген плоскоклеточной карциномы 
                                            span (SCC)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -0%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Антиген плоскоклеточной карциномы 
                                            span (SCC alfa)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                +e('li').subcategory.js-price-tabs 
                    +e.title.js-price-btn
                        +e.title-left
                            +e.title-in
                                strong 
                                    //- +e("i").icon
                                    +e("i").drop-icon
                                    | Діагностика антифосфоліпідного синдрому
                    +e.drop.js-price-block 
                        +e("ul").wrap 
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names PAPP-A 
                                            span (Протеїн-А плазми, асоційований з вагітністю)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Перерахунок PRISCA за даними ДОМ 
                                            span (SCC)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Плацентарний фактор росту 
                                            span (PLGF)
                                            a(href="#" data-toggleheading-="tooltip" title="Данный анализ делается в Германии. Сроки реализации 10-12 дней").info-cla
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Сосудов шеи (брахиоцефальных артерий) и магистральных сосудов головы
                                            span (PLGF)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names PAPP-A 
                                            span (Протеїн-А плазми, асоційований з вагітністю)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                +e('li').subcategory.js-price-tabs 
                    +e.title.js-price-btn
                        +e.title-left
                            +e.title-in
                                strong 
                                    //- +e("i").icon
                                    +e("i").drop-icon
                                    | Діагностика імунних причин безпліддя
                    +e.drop.js-price-block
                        +e("ul").wrap 
                            +e("li").item.item-level-3
                                +e.heading
                                    +e.title-left
                                        +e.title-in 
                                            .names Антиспермальные антитела 
                                    +e.title-right
                                        +e.price-discount 
                                            | 50 грн
                                            a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться
                            +e("li").item.item-level-3
                                +e.heading
                                    +e.title-left
                                        +e.title-in 
                                            .names Комплемент C1q циркулирующих иммунных комплексов, аутоантитела циркулирующих иммунных комплексов 
                                    +e.title-right
                                        +e.price-discount 
                                            | 1000 грн
                                            a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться
                            +e("li").item.item-level-3
                                +e.heading
                                    +e.title-left
                                        +e.title-in 
                                            .names Ткань яичника, антитела IgG 
                                    +e.title-right
                                        +e.price-discount 
                                            | 282 грн
                                            a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться
                            +e("li").item.item-level-3
                                +e.heading
                                    +e.title-left
                                        +e.title-in 
                                            .names Ткань яичника, антитела IgG 
                                    +e.title-right
                                        +e.price-discount 
                                            | 250 грн
                                            a(href="modals.html#doctor-request").btn.btn-success.btn-hide Записаться
                +e('li').subcategory.js-price-tabs 
                    +e.title.js-price-btn
                        +e.title-left
                            +e.title-in
                                strong 
                                    //- +e("i").icon
                                    +e("i").drop-icon
                                    | Антиген плоскоклеточной карциномы
                    +e.drop.js-price-block
                        +e("ul").wrap 
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names PAPP-A 
                                            span (Протеїн-А плазми, асоційований з вагітнheading-істю)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Перерахунок PRISCA за даними ДОМ 
                                            span (SCC)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Плацентарний фактор росту 
                                            span (PLGF)
                                            a(href="#" data-toggle="tooltip" title="Данный анализ делается в Германии. Сроки реализации 10-12 дней").info-cla
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Сосудов шеи (брахиоцефальных артерий) и магистральных сосудов головы
                                            span (PLGF)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-3.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names PAPP-A 
                                            span (Протеїн-А плазми, асоційований з вагітнheading-істю)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="modals.html#doctor-request").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%         
+b.load-more
    +e('span').text 180 услуг диагностического центра
    +e('a').link(href="#") Посмотреть весь прайс-лист 