+b("ul").block-prices
    +e("li").item
        +e.title
            +e.title-in.title-in__no-info
                strong 
                    | Нейросонография
            +e.price-discount 
                | 820 грн
                a(href="#").btn.btn-success.btn-hide Записаться
    +e("li").category.js-prices 
        +e.title.js-prices-btn
            +e.title-in
                strong 
                    //- +e("i").icon
                    +e("i").drop-icon
                    | Панель пренетальной диагностики 
            //- +e.price-discount 820 грн
        +e.drop.js-prices-block
            +e('ul').wrap
                +e('li').subcategory.js-price-tabs 
                    +e.title.js-price-btn
                        +e.title-in
                            strong 
                                //- +e("i").icon
                                +e("i").drop-icon
                                | Антиген плоскоклеточной карциномы
                    +e.drop.js-price-block
                        +e("ul").wrap 
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Антиген плоскоклеточной карциномы 
                                            span (SCC)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -100%
                                        .price-discount
                                            .old-price 108200 грн 
                                            .new-price 108200 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Антиген плоскоклеточной карциномы 
                                            span (SCC)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -0%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Антиген плоскоклеточной карциномы 
                                            span (SCC alfa)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                +e('li').subcategory.js-price-tabs 
                    +e.title.js-price-btn
                        +e.title-in
                            strong 
                                //- +e("i").icon
                                +e("i").drop-icon
                                | Антиген плоскоклеточной карциномы
                    +e.drop.js-price-block 
                        +e("ul").wrap 
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names PAPP-A 
                                            span (Протеїн-А плазми, асоційований з вагітністю)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Перерахунок PRISCA за даними ДОМ 
                                            span (SCC)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Плацентарний фактор росту 
                                            span (PLGF)
                                            a(href="#" data-toggleheading-="tooltip" title="Данный анализ делается в Германии. Сроки реализации 10-12 дней").info-cla
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Сосудов шеи (брахиоцефальных артерий) и магистральных сосудов головы
                                          heading-  span (PLGF)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names PAPP-A 
                                            span (Протеїн-А плазми, асоційований з вагітністю)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                +e('li').subcategory.js-price-tabs 
                    +e.title.js-price-btn
                        +e.title-in
                            strong 
                                //- +e("i").icon
                                +e("i").drop-icon
                                | Антиген плоскоклеточной карциномы
                    +e.drop.js-price-block
                        +e("ul").wrap 
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names PAPP-A 
                                            span (Протеїн-А плазми, асоційований з вагітністю)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Перерахунок PRISCA за даними ДОМ 
                                            span (SCC)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Плацентарний фактор росту 
                                            span (PLGF)
                                            a(href="#" data-toggleheading-="tooltip" title="Данный анализ делается в Германии. Сроки реализации 10-12 дней").info-cla
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Сосудов шеи (брахиоцефальных артерий) и магистральных сосудов головы
                                          heading-  span (PLGF)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names PAPP-A 
                                            span (Протеїн-А плазми, асоційований з вагітністю)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                +e('li').subcategory.js-price-tabs 
                    +e.title.js-price-btn
                        +e.title-in
                            strong 
                                //- +e("i").icon
                                +e("i").drop-icon
                                | Антиген плоскоклеточной карциномы
                    +e.drop.js-price-block
                        +e("ul").wrap 
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names PAPP-A 
                                            span (Протеїн-А плазми, асоційований з вагітнheading-істю)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Перерахунок PRISCA за даними ДОМ 
                                            span (SCC)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Плацентарний фактор росту 
                                            span (PLGF)
                                            a(href="#" data-toggle="tooltip" title="Данный анализ делается в Германии. Сроки реализации 10-12 дней").info-cla
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names Сосудов шеи (брахиоцефальных артерий) и магистральных сосудов головы
                                            span (PLGF)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
                            +e("li").item.item-level-2.js-offers-tabs
                                +e.heading
                                    +e.heading-left
                                        .names PAPP-A 
                                            span (Протеїн-А плазми, асоційований з вагітнheading-істю)
                                    +e.heading-right
                                        a(href="#").fillials Карта 
                                        .percent 
                                            b -15%
                                        .price-discount
                                            .old-price 820 грн 
                                            .new-price 820 грн 
                                        a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                            span 15%
    +e("li").item
        +e.title
            +e.title-in.title-in__no-info
                strong 
                    | Нейросонография
            +e.price-discount 
                | 820 грн
                a(href="#").btn.btn-success.btn-hide Записаться
    +e("li").category.js-prices
        +e.title.js-prices-btn
            +e.title-in
                //- +e.price-discount 820 грн
                strong 
                    //- +e("i").icon
                    +e("i").drop-icon
                    | Аутоимунологические исследования
        +e.drop.js-prices-block
            +e("ul").wrap 
                +e("li").item.item-level-1.js-offers-tabs
                    +e.heading
                        +e.heading-left
                            .names PAPP-A 
                                span (Протеїн-А плазми, асоційований з вагітністю)
                        +e.heading-right
                            a(href="#").fillials Карта 
                            .percent 
                                b -15%
                            .price-discount
                                .old-price 820 грн 
                                .new-price 820 грн 
                            a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                span 15%
                +e("li").item.item-level-1.js-offers-tabs
                    +e.heading
                        +e.heading-left
                            .names Перерахунок PRISCA за даними ДОМ 
                                span (SCC)
                        +e.heading-right
                            a(heading-href="#").fillials Карта 
                            .percent 
                                b -15%
                            .price-discount
                                .old-price 820 грн 
                                .new-price 820 грн 
                            a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                span 15%
                +e("li").item.item-level-1.js-offers-tabs
                    +e.heading
                        +e.heading-left
                            .names Плацентарний фактор росту 
                                span (PLGF)
                                a(href="#" data-toggle="tooltip" titleheading-="Данный анализ делается в Германии. Сроки реализации 10-12 дней").info-cla
                        +e.heading-right
                            a(href="#").fillials Карта 
                            .percent 
                                b -15%
                            .price-discount
                                .old-price 820 грн 
                                .new-price 820 грн 
                            a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                span 15%
                +e("li").item.item-level-1.js-offers-tabs
                    +e.heading
                        +e.heading-left
                            .names Сосудов шеи (брахиоцефальных артерий) и магистральных сосудов головы
                                span (PLGF)
                        +e.heading-right
                            a(href="#").fillials Карта 
                            .percent 
                                b -15%
                            .price-discount
                                .old-price 820 грн 
                                .new-price 820 грн 
                            a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                span 15%
                +e("li").item.item-level-1.js-offers-tabs
                    +e.heading
                        +e.heading-left
                            .names PAPP-A 
                                span (Протеїн-А плазми, асоційований з вагітністю)
                        +e.heading-right
                            a(href="#").fillials Карта 
                            .percent 
                                b -15%
                            .price-discount
                                .old-price 820 грн 
                                .new-price 820 грн 
                            a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                span 15%
    +e("li").item
        +e.title
            +e.title-in.title-in__no-info
                strong 
                    | Нейросонография 
                    span  (1 зона)
            +e.price-discount 
                | 820 грн
                a(href="#").btn.btn-success.btn-hide Записаться       
    +e("li").item
        +e.title
            +e.title-in.title-in__no-info
                strong 
                    | Нейросонография 
                    span  (1 зона)
            +e.price-discount 
                | 820 грн
                a(href="#").btn.btn-success.btn-hide Записаться       
    +e("li").item
        +e.title
            +e.title-in.title-in__no-info
                strong 
                    | Нейросонография 
                    span  (1 зона)
            +e.price-discount 
                | 820 грн
                a(href="#").btn.btn-success.btn-hide Записаться       
    +e("li").category.js-prices
        +e.title.js-prices-btn
            +e.title-in
                strong 
                    //- +e("i").icon
                    +e("i").drop-icon
                    | Акционные предложения
            +e.price-discount 820 грн 
        +e.drop.js-prices-block
            +b.promotional-offers
                include ../promotional-offers/promotional-offers.jade    