.block-prices
    &__item
        clearfix()
        &.is-hidden
            display: none
        &:hover 
            background-color #f3f8fb
            cursor pointer
            .btn.btn-hide
                display inline-block
            .block-prices__heading-right
                .percent
                    display none
                .price-discount
                    display none
                    @media screen560
                        display inline-block
            .btn-hidden
                display inline-block
        &:last-child
            > .block-prices__title
                border-bottom: 1px solid #dde8ea
        &.item-level-1
            border-top: 1px solid #dde8ea
            .block-prices__title
                min-height 41px
                padding 11px 20px 10px 50px
        &.item-level-2
            min-height 41px
            padding 12px 20px 10px 50px
            vertical()
            text-align left
        &.item-level-3
            min-height 41px
            height 100% 
            padding 13px 20px 10px 80px
        .block-prices__title
            .block-prices__title-left
                @media only screen and (max-width: 360px)
                    width 100%
            .block-prices__title-right
                @media only screen and (max-width: 360px)
                    width 100%
                    margin 10px 0 5px
                    padding 0
                    text-align left
    &__category
        &:last-child
            > .block-prices__title
                border-bottom: 1px solid #bbd1d5
            > .block-prices__drop > .block-prices__wrap > .block-prices__item:last-child
                border-bottom 1px solid #dde8ea
            .block-prices__subcategory 
                &:last-child
                    > .block-prices__title
                        border-bottom: 1px solid #ccdde0
                    .block-prices__item
                        &:last-child
                            border-bottom: 1px solid #dde8ea
        &.active
            > .block-prices__title
                height 48px
                border-bottom: 1px solid #bbd1d5
            .block-prices__drop-icon
                sprite($minus)
        .block-prices__title
            height 47px
            // padding 5px 20px 5px 50px
        > .block-prices__title
            padding 5px 20px 5px 50px
            border-top: 1px solid #bbd1d5
            background-color: #cee7ec
            > .block-prices__title-left
                @media only screen and (max-width: 360px)
                    width 50%
            > .block-prices__title-right
                @media only screen and (max-width: 360px)
                    width 50%
                    margin 0
                    padding-left 10px
                    text-align right
        .block-prices__item
            border-top 1px solid #dde8ea
            &:first-child
                border none
            &:last-child
                .block-prices__title
                    border none
        .block-prices__title-right
            line-height 1.4
            @media only screen and (max-width: 360px)
                width 100%
                margin 10px 0 5px
                padding 0
                text-align left
        .block-prices__subcategory 
            &:first-child
                > .block-prices__title
                    border-top: none
            .block-prices__drop-icon
                sprite($plus)
            &.active
                .block-prices__drop-icon
                    sprite($minus)
        .block-prices__drop-icon
            sprite($plus)
    &__subcategory
        &.active
            > .block-prices__title
                border-bottom: 1px solid #ccdde0
        > .block-prices__title
            background-color: #e6f3f5
            border-top: 1px solid #ccdde0
        .block-prices__title
            min-height 45px 
            height auto
            padding: 13px 20px 10px 80px
            .block-prices__title-left
                // @media only screen and (max-width: 1200px)
                width 100%
    &__title
        clearfix() 
        vertical()
        cursor: pointer
        user-select: none
        text-align left
        &-in
            color: #5e6e71
            font-size: 14px
            line-height: 1.4 
            span
                color: #90b1b8
                font-weight normal 
        &-left
            position: relative
            display: inline-block
            vertical-align middle
            width 70%
            @media only screen and (max-width: 1200px)
                width 60%
            @media only screen and (max-width: 640px)
                width 70%
            @media only screen and (max-width: 480px)
                width 60%
            @media only screen and (max-width: 420px)
                width 50%
            @media only screen and (max-width: 360px)
                width 100%
        &-right
            display inline-block
            vertical-align middle
            width 30%
            padding-left: 10px 
            text-align: right
            @media only screen and (max-width: 1200px)
                width 40%
            @media only screen and (max-width:640px)
                position relative
                width 30%
                margin-left 0
            @media only screen and (max-width: 480px)
                width 40%
            @media only screen and (max-width: 420px)
                width 50%
    &__drop-icon
        position: absolute
        top: 50%
        margin-top -8px
        left: -25px
        width: 14px
        height: 14px                
    &__price-discount
        color: #5e6e71
        font-size: 16px
        line-height 1.2
        span
            color: #a9bbc2
            text-decoration: line-through
            padding: 0 5px
        .btn.btn-hide
            display none
            @media only screen and (max-width:640px)
                position absolute
                top -5px
                right 0
                margin 0 0 0 20px
            @media only screen and (max-width:360px)
                margin 0
        @media only screen and (max-width:640px)
            position relative
    &__drop
        position: relative
        display: none    
    .btn
        font-size: 16px
        font-weight: 700
        padding: 2px 22px 4px
        display: inline-block
        vertical-align: top
    .btn-hide
        margin -6px 0 -6px 20px
        padding 2px 22px 4px
        font-weight: 400 
        @media screen560
            margin 0px 0 0px 10px   
    &__heading
        display inline-block
        vertical-align middle
        width 100% 
        font-size 0
        clearfix()
        &-left
            // float left
            // width 50%
            display inline-block
            vertical-align middle
            width 60%
            min-height 27px 
            @media only screen and (max-width: 1200px)
                width 50%
            @media only screen and (max-width: 710px)
                width 40%
            @media only screen and (max-width: 640px)
                width 50%
            @media only screen and (max-width: 560px)
                width 100%
            // @media only screen and (max-width: 760px)
            //     min-height 55px
            @media screen560
                float none
                width auto
                min-height 27px
        .names
            padding: 3px 0
            color text_color
            font-size 14px
            line-height 1.2
            span 
                color: #90b1b8 
        .tooltip
            &.top .tooltip-arrow   
               bottom 0px       
        &-right
            // float right
            display inline-block
            vertical-align middle
            width 40%
            text-align right
            font-size: 0
            @media only screen and (max-width: 1200px)
                width 50%
            @media only screen and (max-width: 710px)
                width 60%
            @media only screen and (max-width: 640px)
                width 50%
            @media screen560
                width 100% 
                // min-height: 62px
                // margin-top: 5px
                padding: 0
                text-align left
            .fillials
                position relative
                display inline-block
                vertical-align: middle
                margin-right 20px
                padding-left 23px
                transform: translate3d(0,0,0)
                color: text_color
                font-size: 14px
                line-height 26px
                @media only screen and (max-width: 640px)
                    display: none
                &:before
                    content ""
                    position absolute
                    left 0
                    top 50%
                    margin-top -9px
                    sprite($location)
            .percent 
                display inline-block
                vertical-align middle
                font-size: 14px
                color text_color
                margin-right 5px 
                width 35px
                @media only screen and (max-width: 1100px)
                    margin-right 5px
                @media only screen and (max-width: 580px)
                    margin-right 2px
                @media screen560
                    display none !important
            .price-discount
                display inline-block
                vertical-align: middle
                width 160px
                text-align right
                clearfix()
                @media only screen and (max-width: 560px)
                    padding-bottom 5px
                    text-align left
                .old-price
                    float: left
                    width: 48%
                    color: #91b5bc
                    font-size: 12px
                    line-height: 22px
                    text-decoration: line-through
                    @media only screen and (max-width: 580px)
                        font-size 12px
                .new-price
                    float: right
                    width: 52%
                    padding-left: 3px
                    color: #5e6e71
                    font-size: 16px
                    @media only screen and (max-width: 1100px)
                        font-size 15px
            .btn
                display none
                vertical-align middle
                width: 200px
                margin -4px 0 -4px 0px
                padding 3px 7px 
                color: #feffff
                font-size 16px 
                font-weight 400
                @media screen560
                    display block !important
                    margin 5px 0 10px 0  
                @media only screen and (max-width: 1100px)
                    margin -3px 0 0 0px
                    font-size 15px
    .promotional-offers .offers__item 
        .offers-wrap
            padding-left 55px
            .names
                padding 0
                font-size 14px
                line-height 1.2
        
.price-offer
    padding 5px 0
    &__icon
        float left
        padding-right 20px
        span
            position relative
            display inline-block
            vertical-align middle
            width 43px
            height 18px
            border-radius 1px
            background-color #FFB546
            text-align center 
            color: #fefefe
            font-size: 12px
            font-weight: 400
            &:after
                content ""
                position absolute
                top 50%
                right -6.5px
                margin-top -9px
                arr(7, 18, r, #ffb546) 
    &__text
        overflow hidden
        a
            color: #4b89d3
            font-size: 14px
            font-weight: 400
            text-decoration: underline
.price-info
    position relative
    padding 20px 0 15px
    border-bottom 1px solid #d9d9d9
    background-color #fff9e9
    clearfix()
    &__left
        float left
    &__icon
        padding 5px 25px 0
        &:after
            content ""
            display inline-block
            vertical-align middle
            sprite($price-info)
    &__wrap
        overflow hidden
        padding 2px 0
    &__text
        padding 0 15px 5px 0
        font-size: 16px
        font-weight: 400
        line-height 1.2
    &__update
        font-size: 14px
        font-weight: 700

      
                
                
          
