.page-menu
	// margin-top 31px
	padding: 12px 21px 
	border-bottom: 1px dashed #c0d2d6 
	&__item
		position relative
		font-size: 15px
		line-height: 19px
		padding: 5px 0 
		&-link
			color: #4b89d3
			text-decoration underline
			display: block
			padding-left 15px
			position relative
			&:hover
				text-decoration none
			&:before
				content ''
				position absolute
				height 0
				left 0
				top 6px
				width: 8px
				height: 8px
				background-color: #ddecef
				border-radius: 50%
		&.active
			.page-menu__item-link
				color: #35bfae
				text-decoration none
				&:before
					background-color: #35bfae
.themes-section
	background: #fff 
	border-radius: 3px
	box-shadow: 0 2px 4px rgba(0, 64, 76, 0.15)
.themes-blocks
	.article-block
		margin-bottom: 21px

.themes-more
	text-align: center
	padding: 12px 
	&__link
		color: #4b89d3
		font-size: 16px
		text-decoration: underline
		display: inline-block
		vertical-align: top
		line-height: 1