li.previous
    a(href="/")
        | ‹
        span.pg-lg-show Назад
li.pg-long.active.start: a(href="/") 1
li.pg-long.active: a(href="/") 2
li.pg-long.pg-xs-hide.active.end: a(href="/") 3
li.pg-xs-hide: a(href="/") 4
li.pg-xs-hide: a(href="/") 5
li.pg-xs-hide.active.single: a(href="/") 6
li.pg-xs-hide: a(href="/") 7
li.pg-xs-hide: a(href="/") 8
li.pg-xs-hide: a(href="/") 9
li.pg-xs-show: span …
li: a(href="/") 10
li.next
    a(href="/")
        span.pg-lg-show Вперед
        | ›