.pagination
    clearfix()
    width 400px
    >li
        &.active
            &.start
                a
                    border-top-left-radius 100px
                    border-bottom-left-radius 100px
                    border-top-right-radius 0
                    border-bottom-right-radius 0
                    border-right 0
            &.end
                a
                    border-top-left-radius 0
                    border-bottom-left-radius 0
                    border-top-right-radius 100px
                    border-bottom-right-radius 100px
            @media screen560
                a
                    border-radius 100px
                    margin-right 2px
                    border-color transparent
                    background-color #c0d2d6
                a
                    color #fff
                &.start, &.end
                    a
                        border-radius 100px
                        margin-right 2px
                        color #fff
                        background-color #c0d2d6

.active:not(.start)
    a
        border-radius 0
        border-left 0
.active:not(.end)
    a
        border-radius 0
        border-right 0
.active.single
    a
        border 1px solid #91b5bc
        border-radius 100px

.pg-xs-show
    display none !important
    @media screen560
        display inline !important
.pg-xs-hide
    display inline !important
    @media screen560
        display none !important               