.pagination
    clearfix()
    // width 400px
    width: auto !important
    font-size: 0
    text-align: center
    margin 0 auto
    // background-color #FFF 
    
    li
        display: inline-block
        vertical-align: middle
        float: none !important
        a
            &:hover
                color #1997af 
    >li
        &.active 
            border none
            &.start
                a
                    border-top-left-radius 100px
                    border-bottom-left-radius 100px
                    border-top-right-radius 0
                    border-bottom-right-radius 0
                    border-right 0
                    border-left 1px solid #91b5bc 
                    border-top 1px solid
                    border-bottom 1px solid                   
                    @media screen560
                        border-radius: 50%
                        border: none
                        padding: 4px 5px 3px 
            
            &.end
                a
                    border-top-left-radius 0
                    border-bottom-left-radius 0
                    border-top-right-radius 100px
                    border-bottom-right-radius 100px
                    border-right 1px solid #91b5bc
                    border-top 1px solid
                    border-bottom 1px solid
                    border-left 0
            &.middle
                a
                    border-top 1px solid #91b5bc
                    border-bottom 1px solid #91b5bc 
            
                    @media screen560
                        border-radius 100px
                        margin-right 2px
                        border-color transparent
                        background-color #c0d2d6
                        color #fff
                // &.start, &.end
                //     a
                //         border-radius 100px
                //         margin-right 2px
                //         color #fff
                //         background-color #c0d2d6

    .active:not(.start)
        a
            border-radius 0
            border-left 0
            @media screen560
                border-radius: 50%
    .active:not(.end)
        a
            border-radius 0
            border-right 0
            @media screen560
                border-radius: 50%
    .active.single
        a
            border 1px solid #91b5bc
            border-radius 100px
            @media screen560
                border-radius: 50%
                border: none

    .pg-xs-show
        -moz-display none !important
        @media screen560
            display inline !important
    .pg-xs-hide
        -moz-display inline !important
        @media screen560
            display none !important               
    &-wrapper
        clearfix()
        text-align: center
        .pagination
            float: right
            @media only screen and (max-width: 1200px)
                float: none
        .load-items-mod
            float: left
            margin: 23px 21px 
            @media only screen and (max-width: 1200px)
                float: none
                margin: 0 0 23px 
.pagination__modifie
    .pagination
        padding-top 20px
        