+b("ul").block-services.affilliate
    +e("li").item.js-services
        +e.title.title__mod.js-services-btn
            +e.title-in
                +e.price-discount 820 грн 
                strong 
                    +e("i").icon
                    | Акционные предложения
        +e.drop.js-services-block
            +b.promotional-offers.promotional-offers_action
                include ../promotional-offers/promotional-offers.jade 
            
    +e("li").item.js-services
        +e.title.js-services-btn
            +e.title-in
                //- +e.price-discount 820 грн
                strong 
                    +e("i").icon
                    | Панель пренетальной диагностики
        +e.drop.js-services-block
            //- +e("ul").list
            //-     +e("li").row
            //-         +e.row-in.row-item__mod
            //-             +e.left 
            //-                 .small-card__action
            //-                     +e.action.small-card__action-mod
            //-                         span.orange Акция
            //-                         a(href="#", title="") Пакет «Здоровье женщины» от Medicina Group
            //-             +e.right
            //-                 span 225 грн
            //-                 a(href="#").btn.btn-success Записаться
            //-     +e("li").row
            //-         +e.row-in.row-item__mod
            //-             +e.left 
            //-                 .small-card__action.small-card__action-mod
            //-                     +e.action
            //-                         span.orange Акция
            //-                         a(href="#", title="") Пакет «Здоровье женщины» от Medicina Group
            //-             +e.right
            //-                 span.old_price  1020 грн
            //-                 span  820 грн
            //-                 a(href="#").btn.btn-success Записаться
            //-     +e("li").row
            //-         +e.row-in.row-item__mod
            //-             +e.left 
            //-                 .small-card__action.small-card__action-mod
            //-                     +e.action
            //-                         span.orange Акция
            //-                         a(href="#", title="") Пакет «Здоровье женщины» от Medicina Group
            //-             +e.right
            //-                 span от 1450 грн
            //-                 a(href="#").btn.btn-success Записаться
            +b.promotional-offers.promotional-offers_action 
                +b("ul").offers 
                    +e("li").item.js-offers-tabs
                        .offers-wrap
                            +b.heading
                                +e.left
                                    .names Антиген плоскоклеточной карциномы 
                                        span (SCC)
                                +e.right
                                    a(href="#").fillials 17 филиалов 
                                    .percent 
                                        b -15 %
                                    .price-discount
                                        .old-price 820 грн 
                                        .new-price 820 грн 
                                    a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                        span 15%
                    +e("li").item.js-offers-tabs
                        .offers-wrap
                            +b.heading
                                +e.left
                                    .names Антиген плоскоклеточной карциномы 
                                        span (SCC)
                                +e.right
                                    a(href="#").fillials 17 филиалов 
                                    .percent 
                                        b -15 %
                                    .price-discount
                                        .old-price 820 грн 
                                        .new-price 820 грн 
                                    a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                        span 15%
                    +e("li").item.js-offers-tabs
                        .offers-wrap
                            +b.heading
                                +e.left
                                    .names Антиген плоскоклеточной карциномы 
                                        span (SCC alfa)
                                +e.right
                                    a(href="#").fillials 17 филиалов 
                                    .percent 
                                        b -15 %
                                    .price-discount
                                        .old-price 820 грн 
                                        .new-price 820 грн 
                                    a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                        span 15%
    +e("li").item.js-services
        +e.title.js-services-btn
            +e.title-in
                //- +e.price-discount 820 грн
                strong 
                    +e("i").icon
                    | Аутоимунологические исследования
        +e.drop.js-services-block
            +e("ul").list
                +e("li").row
                    +e.row-in.row-item__mod
                        +e.left желчного пузыря с определением функции сосудов шеи (брахиоцефальных артерий) и магистральных сосудов головы желчного пузыря с определением функции сосудов шеи 
                            //- span (трансвагинально)
                        +e.right
                            span 225 грн
                            a(href="#").btn.btn-success Записаться 
                +e("li").row
                    +e.row-in.row-item__mod
                        +e.left Лимфатических узлов
                        +e.right
                            span от 820 грн
                            a(href="#").btn.btn-success Записаться 
                +e("li").row
                    +e.row-in.row-item__mod
                        +e.left матки и придатков
                            span (трансвагинально)
                        +e.right
                            span.old_price  1020 грн
                            span от 820 грн
                            a(href="#").btn.btn-success Записаться
                +e("li").row
                    +e.row-in.row-item__mod
                        +e.left органов брюшной полости
                        +e.right
                            span.old_price  1020 грн
                            span от 820 грн 
                            a(href="#").btn.btn-success Записаться
    