+b("ul").block-services.affilliate
    +e("li").item.js-services
        +e.title.title__mod.js-services-btn
            +e.title-in
                +e.price-discount 820 грн 
                strong 
                    +e("i").icon
                    | Акционные предложения
        +e.drop.js-services-block
            +b.promotional-offers
                include ../promotional-offers/promotional-offers.jade 
            
    +e("li").item.js-services
        +e.title.js-services-btn
            +e.title-in
                //- +e.price-discount 820 грн
                strong 
                    +e("i").icon
                    | Панель пренетальной диагностики
        +e.drop.js-services-block
            +b('ul').cla-tabs
                +e('li').item.js-cla-tabs 
                    +e.title.js-cla-btn
                        strong 
                            +e("i").icon
                            | Антиген плоскоклеточной карциномы
                    +e.drop.js-cla-block
                        +b.promotional-offers 
                            +b("ul").offers 
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names Антиген плоскоклеточной карциномы 
                                                    span (SCC)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names Антиген плоскоклеточной карциномы 
                                                    span (SCC)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names Антиген плоскоклеточной карциномы 
                                                    span (SCC alfa)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                +e('li').item.js-cla-tabs 
                    +e.title.js-cla-btn
                        strong 
                            +e("i").icon
                            | Антиген плоскоклеточной карциномы
                    +e.drop.js-cla-block
                        +b.promotional-offers 
                            +b("ul").offers 
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names PAPP-A 
                                                    span (Протеїн-А плазми, асоційований з вагітністю)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names Перерахунок PRISCA за даними ДОМ 
                                                    span (SCC)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names Плацентарний фактор росту 
                                                    span (PLGF)
                                                    //- a(href="#" data-toggle="tooltip" title="Данный анализ делается в Германии. Сроки реализации 10-12 дней").info-cla
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names Сосудов шеи (брахиоцефальных артерий) и магистральных сосудов головы
                                                    span (PLGF)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names PAPP-A 
                                                    span (Протеїн-А плазми, асоційований з вагітністю)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                +e('li').item.js-cla-tabs 
                    +e.title.js-cla-btn
                        strong 
                            +e("i").icon
                            | Антиген плоскоклеточной карциномы
                    +e.drop.js-cla-block
                        +b.promotional-offers 
                            +b("ul").offers 
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names PAPP-A 
                                                    span (Протеїн-А плазми, асоційований з вагітністю)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names Перерахунок PRISCA за даними ДОМ 
                                                    span (SCC)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names Плацентарний фактор росту 
                                                    span (PLGF)
                                                    //- a(href="#" data-toggle="tooltip" title="Данный анализ делается в Германии. Сроки реализации 10-12 дней").info-cla
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names Сосудов шеи (брахиоцефальных артерий) и магистральных сосудов головы
                                                    span (PLGF)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names PAPP-A 
                                                    span (Протеїн-А плазми, асоційований з вагітністю)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                +e('li').item.js-cla-tabs 
                    +e.title.js-cla-btn
                        strong 
                            +e("i").icon
                            | Антиген плоскоклеточной карциномы
                    +e.drop.js-cla-block
                        +b.promotional-offers 
                            +b("ul").offers 
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names PAPP-A 
                                                    span (Протеїн-А плазми, асоційований з вагітністю)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names Перерахунок PRISCA за даними ДОМ 
                                                    span (SCC)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names Плацентарний фактор росту 
                                                    span (PLGF)
                                                    //- a(href="#" data-toggle="tooltip" title="Данный анализ делается в Германии. Сроки реализации 10-12 дней").info-cla
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names Сосудов шеи (брахиоцефальных артерий) и магистральных сосудов головы
                                                    span (PLGF)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
                                +e("li").item.js-offers-tabs
                                    .offers-wrap
                                        +b.heading
                                            +e.left
                                                .names PAPP-A 
                                                    span (Протеїн-А плазми, асоційований з вагітністю)
                                            +e.right
                                                a(href="#").fillials 17 филиалов 
                                                .percent 
                                                    b -15 %
                                                .price-discount
                                                    .old-price 820 грн 
                                                    .new-price 820 грн 
                                                a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                                    span 15%
    +e("li").item.js-services
        +e.title.js-services-btn
            +e.title-in
                //- +e.price-discount 820 грн
                strong 
                    +e("i").icon
                    | Аутоимунологические исследования
        +e.drop.js-services-block
            +b.promotional-offers.promotional-offers_action 
                +b("ul").offers 
                    +e("li").item.js-offers-tabs
                        .offers-wrap
                            +b.heading
                                +e.left
                                    .names PAPP-A 
                                        span (Протеїн-А плазми, асоційований з вагітністю)
                                +e.right
                                    a(href="#").fillials 17 филиалов 
                                    .percent 
                                        b -15 %
                                    .price-discount
                                        .old-price 820 грн 
                                        .new-price 820 грн 
                                    a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                        span 15%
                    +e("li").item.js-offers-tabs
                        .offers-wrap
                            +b.heading
                                +e.left
                                    .names Перерахунок PRISCA за даними ДОМ 
                                        span (SCC)
                                +e.right
                                    a(href="#").fillials 17 филиалов 
                                    .percent 
                                        b -15 %
                                    .price-discount
                                        .old-price 820 грн 
                                        .new-price 820 грн 
                                    a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                        span 15%
                    +e("li").item.js-offers-tabs
                        .offers-wrap
                            +b.heading
                                +e.left
                                    .names Плацентарний фактор росту 
                                        span (PLGF)
                                        a(href="#" data-toggle="tooltip" title="Данный анализ делается в Германии. Сроки реализации 10-12 дней").info-cla
                                +e.right
                                    a(href="#").fillials 17 филиалов 
                                    .percent 
                                        b -15 %
                                    .price-discount
                                        .old-price 820 грн 
                                        .new-price 820 грн 
                                    a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                        span 15%
                    +e("li").item.js-offers-tabs
                        .offers-wrap
                            +b.heading
                                +e.left
                                    .names Сосудов шеи (брахиоцефальных артерий) и магистральных сосудов головы
                                        span (PLGF)
                                +e.right
                                    a(href="#").fillials 17 филиалов 
                                    .percent 
                                        b -15 %
                                    .price-discount
                                        .old-price 820 грн 
                                        .new-price 820 грн 
                                    a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                        span 15%
                    +e("li").item.js-offers-tabs
                        .offers-wrap
                            +b.heading
                                +e.left
                                    .names PAPP-A 
                                        span (Протеїн-А плазми, асоційований з вагітністю)
                                +e.right
                                    a(href="#").fillials 17 филиалов 
                                    .percent 
                                        b -15 %
                                    .price-discount
                                        .old-price 820 грн 
                                        .new-price 820 грн 
                                    a(href="#").btn.btn-success.btn-hidden Получить скидку 
                                        span 15%