.header
    padding-top 51px
    &__nav
        margin-top 11px
        margin-left -10px
        margin-right -10px
    &__line
    	clear: both
    	width: 100%
    	height: 1px
    	background: #fff
    	opacity: 0.47
    	border: none
    	margin: 9px 0 7px
    	float: left
    	display: none
    	@media phone
    		display: block
.navbar-toggle
	padding: 0