.header
    padding-top 51px
    &.main-page-header
        padding-top 20px 
    &__nav
        position relative
        margin-left -10px
        margin-right -10px
        // border-top 1px solid #f2f9fa
    &__line
        clear: both
        width: 100%
        height: 1px
        background: #fff
        opacity: 0.47
        border: none
        margin: 9px 0 7px
        float: left
        display: none
        @media phone
            display: block
            background lighten(blue_base, 70%)
            margin 5px 0 4px
.navbar-toggle
    padding: 0
    
.header__nav-right
    float right