a.social-links__item.social-links__item-social-fb(href="/", title="Doc.ua в Фейсбуке", target="_blank")
a.social-links__item.social-links__item-social-vk(href="/", title="Doc.ua ВКонтакте", target="_blank")
a.social-links__item.social-links__item-social-gplus(href="https://plus.google.com/+DocUa-Find_a_Doctor/posts", title="Doc.ua в Google PLus", target="_blank", rel="publisher")
a.social-links__item.social-links__item-social-rss(href="/", title="Rss лента", target="_blank")