.social-links
    overflow hidden
    &__item
        float left
        display block
        margin-right 5px
        opacity 0.7
        width 27px
        height 27px
        background-image url("i/network-icons.png")
        background-repeat no-repeat
        transition opacity 0.2s ease
        &:hover
            opacity 1
        &-social
            &-fb
                background-position 0 0
            &-vk
                background-position -27px 0
            &-tw
                background-position -54px 0
            &-gplus
                background-position -108px 0
            &-rss
                background-position -135px 0
    &_color
        .social-links__item
            opacity 1
            &-social-fb
                background-position 0 -27px
            &-social-vk
                background-position -54px -27px
            &-social-ok
                background-position -81px -27px
            &-gplus
                background-position -108px -27px
            &-rss
                background-position -135px -27px
    .btn-xs
        width 100px