if data.clinics
    +e("span").item Показать еще <span>20</span> клиник
else if data.articles
    +e("span").item Показать еще <span>20</span> публикаций
else
    +e("span").item Показать еще <span>20</span> врачей