.exclamation
    // background-color: #edd6d3
    // border: 1px solid #d55953
    border-radius: 4px
    margin-top 30px
    background-color: rgba(#edd6d3, .5)
    // margin 0 20px 
    &__in
        text-align center
    &__text
        padding 18px 0
        color: #745854
        font-size: 18px
        font-weight: 700
        &:before
            content ""
            display inline-block
            vertical-align middle
            margin -6px 14px 0 0 
            width 32px
            height 32px
            background url("i/exclamation.png") no-repeat