.footer
    background green_texture !important
    border-top 9px solid green_base
    @media phone
        margin-top 0

    &-inner
        position relative
        padding-top 38px
        padding-bottom 40px
        z-index 1000
    .row
        margin-bottom 0
    .social-links
        margin 10px 0
