// CLA
.main-content .cla_catalog-controls  
	margin-bottom 10px
	
.affilliate-wrap
	margin-bottom 75px
.section-action
	.affilliate
		border: none
		&:hover
			border: none
			box-shadow: 0px 0px 0px 1px green_base
			border-radius 3px
		&.affilliate-item_mod
			&:hover
				box-shadow none 
		&-left_mod
			margin-bottom 0
			@media screen560
				width 160px
				float left
			.card__left-side
				margin-bottom 28px
				@media screen560
					margin-bottom 0
			.rating
				@media only screen and (max-width: 767px)
					display inline-block
					margin-right 0  
			.card__testimonials
				@media only screen and (max-width: 767px)
					display block
				
			.card__left-side
				.card__image
					@media screen560
						margin 3px auto 10px
						float none
				.affilliate-img_mod 
					margin 3px auto 19px
				
		&-middle_mod
			min-height 285px 
			.price
				@media only screen and (max-width: 767px)
					padding 0
			@media screen560
				padding 25px
				float none
				.section-action__right
					padding 0 
					position static
				.price
					padding 0
		&-right_mod 
		// 	top 25px
		// 	right 25px !important
		// 	padding 0
		// 	width 24% 
			
				
			@media only screen and (max-width: 767px)
				padding 0 25px 25px 25px
				bottom 1px
				
		.section-action__in
			position relative
			clearfix()
			
		.affilliate-title
			h1, h2, h2, h4, h5
				margin-top 0
				margin-bottom 0
			.main-title__link
				display block
				text-decoration underline
				&:hover
					text-decoration none
			.main-title__clinic
				position relative
				display inline-block
				padding-left 21px 
				margin-right 15px
				// @media screen560
				// 	display block
				&:before
					content ""
					position absolute
					top 6px
					left 0 
					sprite($location)
			.go-map
				color text_color 
		.about
			@media only screen and (max-width: 767px)
				min-height 230px
			@media screen560
				min-height 50px
		.price__btn
			@media only screen and (max-width: 767px)
				display inline-block
		.section-action__middle
			margin-left -1px
			&:after
				display none
		.section-action__right
			
			.affilliate-benefit_mod
				border: 1px dashed #9ebfc6
				padding 3px 7px
				text-align center 
				line-height 20px
				margin-top 0
				@media only screen and (max-width: 1200px)
					padding 3px 5px
					padding 3px
				@media screen560
					margin 10px 0 0 0 
					margin-bottom 0
				&:before
					width 21px
					height 21px 
					margin 0 5px -5px 0
					sprite($i)  
				&.affiliate-icon_mod
					padding 5px 20px
					&:before
						sprite($cla-action)  
				span
					display block
					color: #91b5bc
					font-size: 14px
					font-weight normal  
					margin-top -3px
					line-height 16px
		.price
			&__btn
				padding 8px 0
.widget-cla
	.like-box
		padding-top 10px 
		text-align left

.rating-reviews_mod
	display inline-block
	margin-right 20px
	.rating__stars
		margin 0
.reviews-list
	.cla-unliked
		&:before
			sprite($like-box-dislike)
			// bottom -10px
			top auto
.cla-like_mod 
	display inline-block 
.main-content
	.tab-content_cla    
		border none 
	
			
.cla-reviews
	@media screen560
		padding 20px
	clearfix()
	background-color: #fff9e9
	padding 12px
	&__item
		position relative
		width 33.33%
		float left	
		text-align center
		vertical-align middle
		display: inline-block
		min-height 90px 
		&:after 
			content ""
			position: absolute
			right: 5px
			top: 0
			width: 1px
			height: 100%
			border-right: 1px dashed #c0d2d6
		&:last-child
			&:after
				display none
		@media screen560
			margin-bottom 20px
			min-height auto
			&:after
				display none
			&:first-child
				width 50%
				border-right 1px dashed #c0d2d6
			&:nth-child(2)
				width 50%
			&:last-child
				width 100%
				float none
				margin-bottom 0 
				
	&__title
		color: #5e6e71
		font-size: 14px
	&__content
		color: #00829b
		font-size: 45px
		font-weight: 700
		line-height normal 	
		margin-bottom -10px
	&__footer
		.like-box
			@media screen560
				line-height: 35px
		.like-box__like
			margin-right 25px

#tab-fillials
	border-radius: 4px
	
.cla-fillials			
	margin-top 20px
	&__item
		border-bottom 1px solid #e6edef  
		padding 10px 21px 
		clearfix()
		&:last-child
			border-bottom none  
	&__left
		float left
		width 50%
		padding 5px 0 0 0px
		@media only screen and (max-width: 1200px)
			width 40%
		@media only screen and (max-width: 700px)
			width 32%
		@media screen560
			float none
			width 100%
			padding 5px 0 0 0 
		.fillials-address
			color: text_color
			font-size: 15px
			font-weight: 400
			line-height: 23px
		 
	&__right
		float right
		// width 50%
		text-align right
		@media screen560
			float none
			width 100%
			text-align left
		.payments-sampler
			display inline-block
			width 70px
			height 30px 
			&.payments
				sprite($payments)
		.cla-calendars-sampler
			display inline-block
			width 30px
			height 30px 
			margin-left 5px
			&.cla-calendars
				sprite($calendar-cla)
			@media only screen and (max-width: 960px)
				margin-left 5px
		.nurse-sampler
			margin-left 5px
			display inline-block
			width 30px
			height 30px 	
			&.nurse
				sprite($nurse) 
			@media only screen and (max-width: 960px)
				margin-left 5px
		.workload-sampler
			margin-left 5px
			display inline-block
			vertical-align top
			width: 74px 
			height: 30px
			background-color: rgba(224, 237, 240, 0.2)
			border-radius: 4px
			padding-left 11px
			.workload
				position relative
				display inline-block
				width 61px
				height 11px 
				&__empty, &__full
					position: absolute
					top: 50%
					// margin-top -5.5px 
					margin-left -35px 
					left: 50%
					height: 100%
				&__empty
					width: 100%
					sprite($rating-cla)
				&__full
					sprite($rating-cla-full)
					
				
				// background url('i/cla/workload.png') no-repeat
			@media only screen and (max-width: 960px)
				margin-left 5px
		.cla-btn
			font-size: 16px
			font-weight: 700
			color #FFF 
			background-color: #35bfae
			border-radius: 4px
			vertical-align top
			padding 3px 9px
			margin-left 5px
			&:hover
				background-color: #32b3a3
			@media only screen and (max-width: 960px)
				margin-left 5px
				font-size 15px
			@media screen560
				width 100%
				display block
				margin-left 0
			
.cla-action
	margin-top 20px
	.affilliate
		.section-action__middle
			margin-left -1px
			.cla-main-title	
				position relative
				min-height 244px 
				@media screen560 
					min-height auto
				.cla-about
					clearfix()
					p
						float left
						margin 0
						@media only screen and (max-width: 1200px)
							width 100%
					a
						float right
						padding-top 3px
						position relative
						margin-left 21px 
						@media screen560
							display block
						&:before
							content ""
							position absolute
							top 2px
							left -20px 
							sprite($location)
						@media only screen and (max-width: 1200px) 
							float left
				
			.cla-bottom
				position absolute
				bottom 0
				width: 100%
				clearfix()
				@media only screen and (max-width: 767px)
					display none
					position static
				@media screen560 
					position static
					margin-top 5px
					display block
				&.cla-bottom__mobile
					display none
					@media only screen and (max-width: 767px)
						display block
						position static
						p
							margin-bottom 0
						a 
							margin-left 3px
						.btn-group__icon
							width 7px 
					@media screen560 
						display none
				p, .btn-group
					margin 0
				p
					float left
					padding-top 2px
					@media only screen and (max-width: 1200px)
						width 100%
					@media only screen and (max-width: 990px)
						width auto
					@media only screen and (max-width: 850px)
						width 100%
				.btn-group
					float right
					@media only screen and (max-width: 1200px)
						float left
					@media only screen and (max-width: 990px)
						float right
					@media only screen and (max-width: 850px)
						float left
					
//info -cla
.info-cla
	position relative
	margin-left 14px
	&:before
		content ""
		position absolute
		left -7px
		top 0
		background url(i/i.png)
		width 21px
		height 21px
		
	& + .tooltip > .tooltip-inner
		color: #5e6e71
		font-size: 15px	
		background-color: #fff9e9
		border: 1px solid #eee5cd
		border-radius: 3px		
		max-width 500px
		padding 15px 25px 
		box-shadow none
	& + .tooltip > .tooltip-arrow
		border-top-color: #fff9e9 !important
		border-width: 10px 10px 0
		bottom -4px
		&:before
			content ""
			position absolute
			width: 0
			height: 0
			border-color: transparent
			border-style: solid
			bottom: -2px
			border-width: 12px 12px 0
			border-top-color: #eee5cd !important
			z-index -1
			left 50%
			margin-left -12px 
			  

							 
.cla-search
	padding 17px 21px 
	background #FAFAFA
	border-top 1px solid #d9d9d9
	font-size 0
	text-align center
	clearfix()
	&.cla-search_fillials
		padding: 0
		background-color: transparent 
		.cla-search__item
			width: 100% 
			.everyone-lists
				top: 33px
		.cla-search__fillials-choise
			border: 1px solid #CCC
			color: #000
			line-height: 34px
			&:after
				border-top-color: #000
	.form-item
		// opacity: 0.64
		background-color: white
		border: 1px solid rgba(22, 141, 164, 0.7)
		border-radius: 2px
		font-size: 14px
		font-weight: 400
		padding 0 20px 0 10px 
		text-overflow ellipsis 
		overflow: hidden
		white-space: nowrap
	&__item
		display inline-block
		vertical-align top
		margin-right 10px
		margin-bottom -1px 
		text-align left
		clearfix()
		&:first-child
			width 40% 
			// width 330px
		&:nth-child(2)
			width 37% 
			// width 300px
		// @media only screen and (max-width: 1200px)
		// 	&:first-child
		// 		width 270px
		// 	&:nth-child(2)
		// 		width 270px
		@media only screen and (max-width: 620px)
			&:first-child
				width 100% 
			&:nth-child(2)
				width 100% 
			float none
			margin-bottom 10px
			margin-right 0
		&.js-section-choice
			.section-choice
				.everyone-lists__list
					padding: 10px 0 10px 20px
					margin-right: 20px
					border-top: 1px solid #d9ecf0
					&:first-child
						border-top: none
		.everyone-lists
			max-height 200px
			overflow hidden
			// border-top-color: transparent
			&:focus, &:active
				outline none
			.jspContainer
				.jspPane
					width 100% !important
				.jspVerticalBar
					right 10px
				.jspTrack, .jspDrag
					background-color #a9d1da
		.no-results
			display none
			position absolute
			top 100%
			left 0
			right 0
			width 100%
			border: 1px solid rgba(22,141,164,.7)
			border-top-color: transparent
			background-color: #fff
			z-index: 2
			padding: 5px 10px 5px 20px
			font-size: 14px
			color: #5e6e71
			&.is-hide
				display block
		.rezult-icon
			display none
			position absolute
			top 50%
			right 10px
			transform: translateY(-50%)
			sprite($action-close)
			width 12px
			height 12px
			cursor pointer 
			&:hover
				opacity: 0.8 
			
			
	&__subject
		line-height 29px 
		height 31px
		// width: 340px
		width 100%
		color: #5e6e71
		box-shadow: none
		-webkit-box-shadow: none
		-webkit-appearance: none
		&::placeholder
			color: #91b5bc
			font-size: 14px
			opacity: 1
		&:focus 
			outline: none
		// @media only screen and (max-width: 1070px)
		// 	width 100%
			
		// @media only screen and (max-width: 1200px)
		// 	width 100%
		
	&__fillials-choise
		position relative
		line-height: 29px
		// width: 298px
		width 100%
		color #91b5bc 
		&:after
			content ""
			position absolute
			right 10px
			top 50%
			margin-top -3px  
			display: inline-block
			border: 4px solid transparent
			border-top: 6px solid #1d89a0
		// @media only screen and (max-width: 1070px)
		// 	width 100%
		// @media only screen and (max-width: 1200px)
		// 	width 100%
	&__btn-search
		display inline-block
		vertical-align top
		background-color: #35bfae
		border-radius: 2px
		color: white
		font-size: 16px
		font-weight: 700
		padding 3.5px 25px
		&:hover, &:focus
			color #FFF
			background-color: #32b3a3 
		@media only screen and (max-width: 620px)
			width 100%
.subject-scroll1
	position absolute !important
	top 100% !important
	left 0 !important
	right 0 !important
	width 100% !important
	.scroll-panel
	.jspContainer
		.jspPane
			width 100% !important
		.jspVerticalBar
			right 10px
		.jspTrack, .jspDrag
			background-color #a9d1da
// 	height 162px
// 	overflow auto 

.ui-helper-hidden-accessible
	display none
	
	 
		