// CLA
.main-content .cla_catalog-controls  
	margin-bottom 10px
	
.affilliate-wrap
	margin-bottom 80px
.section-action
	.affilliate
		border: none
		&:hover
			border: none
			box-shadow: 0px 0px 0px 1px green_base
			border-radius 3px
		&.affilliate-item_mod
			&:hover
				box-shadow none 
		&-left_mod
			margin-bottom 0
			@media screen560
				width 160px
				float left
			.rating
				@media only screen and (max-width: 767px)
					display inline-block
					margin-right 0
			.card__testimonials
				@media only screen and (max-width: 767px)
					display block
				
			.card__left-side
				.card__image
					@media screen560
						margin 3px auto 10px
						float none
				.affilliate-img_mod 
					margin 3px auto 19px
				
		&-middle_mod
			@media screen560
				padding 25px
				float none
				.section-action__right
					padding 0 
					position static
				.price
					padding 0
		&-right_mod 
			top 25px
			right 25px !important
			padding 0
			width 24% 
			@media only screen and (max-width: 767px)
				padding 25px
				
		.section-action__in
			position relative
			clearfix()
			
		.affilliate-title
			.main-title__link
				display block
				text-decoration none
			.main-title__clinic
				position relative
				display inline-block
				padding-left 21px 
				margin-right 15px
				// @media screen560
				// 	display block
				&:before
					content ""
					position absolute
					top 6px
					left 0 
					sprite($location)
			.go-map
				color text_color 
		.about
			@media only screen and (max-width: 767px)
				min-height 200px
			@media screen560
				min-height 50px
		.price__btn
			@media only screen and (max-width: 767px)
				display inline-block
		.section-action__middle
			margin-left -1px
			&:after
				display none
		.section-action__right
			right 1px
			.affilliate-benefit_mod
				border: 1px dashed #9ebfc6
				padding 3px 7px
				text-align center 
				line-height 20px
				margin-top 0
				@media only screen and (max-width: 1200px)
					padding 3px 5px
				@media screen560
					margin 5px 0
				&:before
					background url('i/i.png')  
					width 21px
					height 21px 
					margin 0 5px -5px 0
				&.affiliate-icon_mod
					padding 5px 20px
					&:before
						background url('i/cla/cla-action.png')  
				span
					display block
					color: #91b5bc
					font-size: 14px
					font-weight normal  
					margin-top -3px
					line-height 16px
		.price
			&__btn
				padding 8px 0
.widget-cla
	.like-box
		padding-top 10px 
		text-align left

.rating-reviews_mod
	display inline-block
	margin-right 20px
.reviews-list
	.cla-unliked
		&:before
			background-image: url(i/icons/like-box-dislike.png)
			bottom -10px
.cla-like_mod 
	display inline-block 
.main-content
	.tab-content_cla    
		border none 
	
			
.cla-reviews
	@media screen560
		padding 20px
	clearfix()
	background-color: #fff9e9
	padding 12px
	&__item
		position relative
		width 33.33%
		float left	
		text-align center
		vertical-align middle
		display: inline-block
		min-height 90px 
		&:after 
			content ""
			position: absolute
			right: 5px
			top: 0
			width: 1px
			height: 100%
			border-right: 1px dashed #c0d2d6
		&:last-child
			&:after
				display none
		@media screen560
			width 100%
			float none
			margin-bottom 15px
			min-height auto
			&:after
				top auto
				bottom -10px
				left 0
				height 1px
				width 100%
				border-bottom: 1px dashed #c0d2d6
			&:last-child
				margin-bottom 0 
				
	&__title
		color: #5e6e71
		font-size: 14px
	&__content
		color: #00829b
		font-size: 45px
		font-weight: 700
		line-height normal 	
		margin-bottom -10px
	&__footer
		.like-box
			@media screen560
				line-height: 35px
		.like-box__like
			margin-right 25px


.cla-fillials			
	background-color: white
	border-radius: 4px
	margin-top 20px
	&__item
		border-bottom 1px solid #e6edef  
		padding 10px 25px 
		clearfix()
		&:last-child
			border-bottom none  
	&__left
		float left
		width 40%
		padding 5px 0 0 15px
		@media only screen and (max-width: 700px)
			width 32%
		@media screen560
			float none
			width 100%
			padding 5px 0 0 0 
		.fillials-address
			color: text_color
			font-size: 15px
			font-weight: 400
			line-height: 23px
		 
	&__right
		float right
		// width 50%
		text-align right
		@media screen560
			float none
			width 100%
			text-align left
		.payments-sampler
			display inline-block
			width 70px
			height 30px 
			&.payments
				background url('i/cla/payments.png') no-repeat
		.cla-calendars-sampler
			display inline-block
			width 30px
			height 30px 
			margin-left 10px
			&.cla-calendars
				background url('i/cla/calendar-cla.png') no-repeat
			@media only screen and (max-width: 960px)
				margin-left 5px
		.nurse-sampler
			margin-left 10px
			display inline-block
			width 30px
			height 30px 	
			&.nurse
				background url('i/cla/nurse.png') no-repeat
			@media only screen and (max-width: 960px)
				margin-left 5px
		.workload-sampler
			margin-left 10px
			display inline-block
			width 74px
			height 30px
			&.workload
				background url('i/cla/workload.png') no-repeat
			@media only screen and (max-width: 960px)
				margin-left 5px
		.cla-btn
			font-size: 16px
			font-weight: 700
			color #FFF 
			background-color: #35bfae
			border-radius: 4px
			vertical-align top
			padding 3px 9px
			margin-left 10px
			&:hover
				background-color: #32b3a3
			@media only screen and (max-width: 960px)
				margin-left 5px
				font-size 15px
			@media screen560
				width 100%
				display block
				margin-left 0
			
.cla-action
	margin-top 20px
	.affilliate
		.section-action__middle
			margin-left -1px
			.cla-main-title	
				position relative
				min-height 212px 
				@media screen560 
					min-height auto
				.cla-about
					clearfix()
					p
						float left
						margin 0
						@media only screen and (max-width: 1200px)
							width 100%
					a
						float right
						padding-top 3px
						position relative
						margin-left 21px 
						@media screen560
							display block
						&:before
							content ""
							position absolute
							top 2px
							left -20px 
							sprite($location)
						@media only screen and (max-width: 1200px) 
							float left
				
				.cla-bottom
					position absolute
					bottom 0
					width: 100%
					clearfix()
					@media screen560 
						position static
						margin-top 5px
					p, .btn-group
						margin 0
					p
						float left
						padding-top 2px
						@media only screen and (max-width: 1200px)
							width 100%
						@media only screen and (max-width: 990px)
							width auto
						@media only screen and (max-width: 850px)
							width 100%
					.btn-group
						float right
						@media only screen and (max-width: 1200px)
							float left
						@media only screen and (max-width: 990px)
							float right
						@media only screen and (max-width: 850px)
							float left
						
//info -cla
.info-cla
	position relative
	margin-left 21px
	&:before
		content ""
		position absolute
		left -7px
		top 0
		background url(i/i.png)
		width 21px
		height 21px
		
	& + .tooltip > .tooltip-inner
		color: #5e6e71
		font-size: 15px	
		background-color: #fff9e9
		border: 1px solid #eee5cd
		border-radius: 3px		
		max-width 500px
		padding 15px 25px 
		box-shadow none
	& + .tooltip > .tooltip-arrow
		border-top-color: #fff9e9 !important
		border-width: 10px 10px 0
		bottom -4px
		&:before
			content ""
			position absolute
			width: 0
			height: 0
			border-color: transparent
			border-style: solid
			bottom: -2px
			border-width: 12px 12px 0
			border-top-color: #eee5cd !important
			z-index -1
			left 50%
			margin-left -12px 
			  

							 
.cla-search
	padding 17px 21px 
	background #FFF
	font-size 0
	text-align center
	
	clearfix()
	.form-item
		// opacity: 0.64
		background-color: white
		border: 1px solid rgba(22, 141, 164, 0.7)
		border-radius: 2px
		font-size: 14px
		font-weight: 400
		padding 0 20px 0 10px 
		text-overflow ellipsis 
		overflow: hidden
		white-space: nowrap
	&__item
		display inline-block
		vertical-align top
		margin-right 10px
		margin-bottom -1px 
		text-align left
		clearfix()
		&:first-child
			width 40% 
		&:nth-child(2)
			width 37% 
		@media only screen and (max-width: 620px)
			&:first-child
				width 100% 
			&:nth-child(2)
				width 100% 
			float none
			margin-bottom 10px
			margin-right 0
		.everyone-lists
			height 175px
			overflow hidden
			&:focus, &:active
				outline none
			.jspContainer
				.jspPane
					width 100% !important
				.jspVerticalBar
					right 10px
				.jspTrack, .jspDrag
					background-color #a9d1da
	&__subject
		line-height 29px 
		height 31px
		// width: 340px
		width 100%
		color: #5e6e71
		box-shadow: none
		-webkit-box-shadow: none
		-webkit-appearance: none
		&::placeholder
			color: #91b5bc
			font-size: 14px
		&:focus 
			outline: none
		// @media only screen and (max-width: 1070px)
		// 	width 100%
			
		// @media only screen and (max-width: 1200px)
		// 	width 100%
		
	&__fillials-choise
		position relative
		line-height: 29px
		// width: 298px
		width 100%
		color #91b5bc 
		&:after
			content ""
			position absolute
			right 10px
			top 50%
			margin-top -3px  
			display: inline-block
			border: 4px solid transparent
			border-top: 6px solid #1d89a0
		// @media only screen and (max-width: 1070px)
		// 	width 100%
		// @media only screen and (max-width: 1200px)
		// 	width 100%
	&__btn-search
		display inline-block
		vertical-align top
		background-color: #35bfae
		border-radius: 2px
		color: white
		font-size: 16px
		font-weight: 700
		padding 3.5px 25px
		&:hover, &:focus
			color #FFF
			background-color: #32b3a3 
		@media only screen and (max-width: 620px)
			width 100%
.subject-scroll
	.jspContainer
		.jspPane
			width 100% !important
		.jspVerticalBar
			right 10px
		.jspTrack, .jspDrag
			background-color #a9d1da
// 	height 162px
// 	overflow auto 

.ui-helper-hidden-accessible
	display none
	
	 
		