txtColor = header_icons_color
txtColorSeo = header_icons_color
// .container-seo__in
// 	position absolute
// 	bottom 0
// 	left 0
// 	right 0
// 	margin-left 0
// 	margin-right 0
	
.flex_container
	display inline-flex
	flex-direction column
	width 100% 
	padding 0 10px 
	// padding-top 20px 
	background grey_texture
	// margin-bottom 161px 
	// @media only screen and (max-width: 1060px)
	// 	margin-bottom 176px
	// @media only screen and (max-width: 967px)
	// 	margin-bottom 191px 
	// @media only screen and (max-width: 814px)
	// 	margin-bottom 206px 
	@media phone
		padding 0 10px
		margin-bottom 0
.row
	&.about-this
		background: dark_green_texture !important
		@media phone
			display none
.about-this-site
	min-height 171px 
	color txtColor
	font-size 13px
	padding 20px 0 10px
	&_seo
		position relative
		overflow hidden
		color txtColorSeo
		font-size 12px
		line-height 15px
		padding 26px 0 30px
		.wrap
			width 100% !important
		p
			margin 0
			color: #7bc6d4
	a
		color txtColor
		text-decoration none
		&:hover
			color txtColor
			text-decoration underline
	b, strong
		font-weight normal
.js-seo
	// display none
	// visibility hidden
	// font-size 0
	// height 0
	// width 0
	overflow hidden
	height 0
	&.is-open
		overflow auto 
		height auto
		// display block
 