.wrap
    h1.sr-only Поиск врачей в Киеве
    p Doc.ua — сервис, при помощи которого поиск и вызов врача на дом или запись на прием, консультацию стали невероятно простыми задачами. На сайте представлено большое число клиник, врачей в Киеве, а также присутствуют отзывы наших посетителей.
    p Вызов врача на дом онлайн гораздо удобнее, ведь вам не надо искать номер телефона клиники, тратить время на звонки, рисковать попасть к не совсем компетентному в своей области специалисту. Воспользуйтесь нашим простым поиском на сайте, выбрав специализацию доктора и предпочтительный район или станцию метро, почитайте отзывы и остановитесь на наиболее подходящем для себя варианте. Также тут можно найти врача по фамилии и вызвать частного врача на дом (как альтернатива вызову участкового доктора из поликлиники). 
    p Вызов врача домой в Киеве или запись на прием через сайт делается круглосуточно буквально в несколько кликов мышкой, причем это совершенно бесплатно. С Doc.ua вы сможете навсегда забыть об очередях в клинике, звонках в регистратуру и плохих специалистах — записывайтесь на прием к врачу онлайн и будьте здоровы.
