txtColor = header_icons_color
txtColorSeo = header_icons_color

.flex_container
	display inline-flex
	flex-direction column-reverse
	width 100% 
	margin-top 20px 
.row
	&.about-this
		background: dark_green_texture !important
.about-this-site
	color txtColor
	font-size 13px
	padding 20px 0 10px
	@media phone
		display none
	&_seo
		position relative
		overflow hidden
		color txtColorSeo
		font-size 12px
		line-height 15px
		padding 26px 0 30px
		.wrap
			width 100% !important
		p
			margin 0
			color: #7bc6d4
	a
		color txtColor
		text-decoration none
		&:hover
			color txtColor
			text-decoration underline
	b, strong
		font-weight normal
 