.rating-list
	padding 0
	list-style none
	&_block
		.rating
			@media phone
				text-align left
				margin-bottom 10px
		.rating__label
			@media phone
				float none
				display block
	.rating
		width 100%
		text-align right
		margin-bottom 10px
		&__label
			float left
		&__stars
			margin-top 2px
			margin-bottom 1px

.rating-block .rating-list
	padding-left 9%
	@media screen and (max-width: 1200px)
		padding-left 4%
	@media phone
		padding-left 0