.activation-wrap
	position relative
	z-index 3
	&.block-bg
		padding 75px 10px 184px
		@media phone
			padding 20px 10px 20px 

.activation
	position relative
	max-width 655px 
	left 50%
	margin-left -280px 
	@media only screen and (max-width: 920px)
		left 0 
		max-width 480px
		margin 0 auto 
	&:after
		position absolute
		content ''
		top 125px
		right 10px
		max-width 217px  
		width 100%
		height 100% 
		background-image url(i/doc-with-stick.png)
		background-repeat no-repeat
		z-index 4 
		@media only screen and (max-width: 920px)
			display none 
	&__envelope
		position relative
		max-width 480px
		padding-left 36px 
		@media phone
			padding-left 0 
		&:before, &:after
			@media phone
				display none 
		&:before
			position absolute
			content ''
			bottom -110px
			left 0
			width 100%
			border 135px solid transparent
			border-left 180px solid #169aab
			border-right 180px solid #169aab
			border-bottom 130px solid #14b8c7
			z-index 3
		&:after
			position absolute
			content '' 
			bottom -124px
			left 0
			height 15px
			width 100%
			background #14b8c7
			border-radius 0 0 5px 5px
			z-index 3

	&__letter
		position relative
		max-width 406px
		padding 40px 33px 90px
		background-color #fff
		border 1px solid #e5f2f5
		border-radius 3px
		text-align center
		box-sizing border-box
		@media phone
			margin 0 auto 
			padding 10px 10px 30px 
			border none
		&:before, &:after
			@media phone
				display none 
		&:before
			position absolute
			content ''
			top -193px
			left -38px
			border 241px solid transparent
			border-bottom 180px solid #e2eef1
			z-index -1
		&:after
			position absolute
			content ''
			top 231px
			left -38px
			width 135px
			border 241px solid transparent
			border-top 190px solid #e2eef1
			z-index -1
			-webkit-box-shadow 0 -5px 0px -1px #E2EEF1 !important 
			box-shadow 0 -5px 0px -1px #E2EEF1 !important
		
		h3, p
			color lighten(#5e6e71, 10%) 
		h3
			font-weight bold
			font-size 24px
			line-height 28px
			margin-top 15px
			margin-bottom 5px
			@media phone
				font-size 18px 
			&:first-child
				margin-top 0
				margin-bottom 15px
		p
			font-size 18px
			margin-bottom 10px
			&:last-child
				margin-bottom 0 
			@media phone
				font-size 15px
	&__icon
		position absolute