$post_hor_padding = 14px

.index-list
    font-size 0
    &__item
        display inline-block
        vertical-align top 
        width 100%
        @media only screen and (max-width: 980px)
            width 96% 
        @media phone
            width 100% 
            text-align center
.owl_action:not([class="owl-wrapper-outer"])
    text-align center
    
.post-thin
    .owl
        list-style none
        position relative
        padding 0 
        // transition all .2s ease-in-out
        &-controls
            position relative 
            display inline-block
            vertical-align top 
        &-prev
        &-next
            top 6px
        &-prev
            left -25px
            sprite($owl_prev2)
            &:hover
                sprite($owl_prev_act2)
        &-next
            right -25px
            sprite($owl_next2)
            &:hover
                sprite($owl_next_act2)
        &-item
            position relative
            display inline-block
            vertical-align top 
            padding-right 10px
            @media phone
                padding-right 0
            &.current
                background #fff9e9 + 10%
        .owl-wrapper-outer
            text-align center
        
        &-pagination
            margin-bottom 30px
            text-align center
        &-page
            display inline-block
            vertical-align top 
            width 15px 
            height 15px 
            margin-right 8px
            border-radius 50%
            background-color #00829b
            opacity 0.29
            &:last-child
                margin-right 0 
            &.active
                opacity 1
.post3
    position relative
    display inline-block
    vertical-align top
    max-width 565px 
    width 100% 
    height 188px
    margin-bottom 25px
    background transparent
    font-size 0
    overflow hidden 
    &:hover
        .post3__link 
            text-decoration none
            // border-bottom none
            color blue_select  
    @media only screen and (max-width:768px)
        margin 0 auto 
        margin-bottom 25px 
    &__body
        position relative
        display inline-block
        width 67% 
        height 100%
        margin-left -1px 
        border-radius 2px
        border 1px dashed blue_base
        overflow hidden 
        padding 9% 14px 20px 30px
        z-index 2
        text-align left
        @media phone
            padding 7% 14px 0
        @media only screen and (max-width: 320px)
            padding 14% 14px 0
        
    &__thumb
        position relative
        display inline-block
        max-width 33% 
        width 100% 
        height 100%
        background-color #fff
        border-radius 2px
        background-size cover
        background-repeat no-repeat
        z-index 3
    // &__title
    //     display inline-block
    //     vertical-align top
    //     height 48px 
    //     @media phone
    //         margin-top 10px 
    &__link 
        display block 
        max-width 300px 
        height 90px 
        font-size 20px 
        font-weight bold
        color blue_base 
        text-decoration underline
        transition all .2s ease-in-out
        @media only screen and (max-width: 1023px)
            height 80px 
        @media phone
            font-size 19px
    &__sticker 
        position absolute
        top 0
        left 33%  
        padding 8px 3px 8px 15px 
        z-index 4
        .sticker-bg
            position absolute
            top 0
            left 0 
            right 0
            bottom 0
            background green_base
            z-index 2 
            &:after
                content "" 
                position absolute
                top -39px
                right -27px
                width 33px
                height 70px
                background green_base
                transform rotate(40deg)
                z-index 2
        span
            position relative
            font-size 18px
            font-weight bold
            line-height 1 
            color #FFF !important
            opacity 1
            z-index 5

    &__price
        position absolute
        bottom 20px
        left 30px
        right 14px  
        display inline-block
        vertical-align top
        height 25px 
        @media only screen and (max-width: 1024px)
            width 100%
        @media phone
            left 15px 
        &-value
            display inline-block
            margin-left 15px
            font-weight 700
            font-size 28px
            line-height 1 
            color text_color 
            @media phone
                font-size 26px
            @media only screen and (max-width: 320px)
                margin-left 10px 
                font-size 22px
        &-old + &-value
            margin-top 0
            display inline
        &-old
            display inline-block
            color light_blue_text
            font-size 23px
            line-height 1
            text-decoration line-through
            @media phone
                font-size 20px
            @media only screen and (max-width: 320px)
                font-size 18px
.main-more-link
    position relative
    padding-right 35px
    font-size 16px
    font-weight bold
    color blue_base
    &:after
        content ""
        position absolute
        top 5px
        right 5px
        width 20px 
        height 15px  
        sprite($arrow_right_green)
