.main-menu__item.active{
    background: #ffac16;
}
.finder{
    background: #ffac16;
}
.finder__field:hover{
    box-shadow: 0 0 20px #efa010;
}

.btn-warning{
    background-image: none;
    background-color: #35bfae;
    border-color: #31ac9d;
    text-shadow: 0 1px 0 #35bfae;
}
.btn-warning.active, .btn-warning:active, .btn-warning:focus, 
.btn-warning:hover, .open .dropdown-toggle.btn-warning{
    background-image: none;
    background-color: #31ac9d;
    border-color: #31ac9d;
    text-shadow: 0 1px 0 #35bfae;
}

.page-menu__item.active .page-menu__item-link, 
.page-menu__item.active>.page-sub-menu__item-link, 
.page-sub-menu__item.active .page-menu__item-link, 
.page-sub-menu__item.active>.page-sub-menu__item-link{
    background-color: #ffac16;
    border-color: #efa010;
}

.page-menu__item.active:before, .page-sub-menu__item.active:before{
    border-color: transparent #ffac16 transparent transparent;
}

.btn-primary{
    background-image: none;
    background-color: #ffac16;
    border-color: #efa010;
    text-shadow: 0 1px 0 #ffac16;
}
.btn-primary.active, .btn-primary:active, .btn-primary:focus, 
.btn-primary:hover, .open .dropdown-toggle.btn-primary{
    background-image: none;
    background-color: #efa010;
    border-color: #efa010;
    text-shadow: 0 1px 0 #ffac16;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, 
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #ffac16;
    border-color: #efa010;
}
