+b("ul").block-services
	+e("li").item.js-services
		+e.title.js-services-btn
			+e.title-in
				+e.price-discount 
					| 820 грн
					a(href="#").btn.btn-success.btn-hide Записаться
				strong 
					+e("i").icon
					| Нейросонография

		+e.drop.js-services-block
			+e.bottom
				.small-card__action
					+e.action
						span.orange Акция
						a(href="#", title="") Пакет «Здоровье женщины» от Medicina Group
				+e.price-discount.price-discount__mod 
					span 1020 грн
					| 820 грн 
	+e("li").item.js-services
		+e.title.js-services-btn
			+e.title-in
				+e.price-discount 
					| 820 грн
					a(href="#").btn.btn-success.btn-hide Записаться
				strong 
					+e("i").icon
					| Нейросонография
		+e.drop.js-services-block
			+e("ul").list
				+e("li").row
					+e.row-in.row-item__mod
						+e.left матки и придатков 
							span (трансвагинально)
						+e.right
							span  180 грн
							a(href="#").btn.btn-success Записаться 
				+e("li").row
					+e.row-in.row-item__mod
						+e.left матки и придатков 
							span (трансвагинально)
						+e.right
							span  180 грн
							a(href="#").btn.btn-success Записаться 
				+e("li").row
					+e.row-in.row-item__mod
						+e.left матки и придатков 
							span (трансвагинально)
						+e.right
							span  180 грн
							a(href="#").btn.btn-success Записаться
			+e.bottom
				.small-card__action
					+e.action
						span.orange Акция
						a(href="#", title="") Пакет «Здоровье женщины» от Medicina Group
				+e.price-discount.price-discount__mod 
					span 1020 грн
					| 820 грн 
	+e("li").item.js-services
		+e.title.js-services-btn
			+e.title-in
				+e.price-discount 820 грн
				strong 
					+e("i").icon
					| Нейросонография
		+e.drop.js-services-block
			+e.bottom
				.small-card__action
					+e.action
						span.orange Акция
						a(href="#", title="") Пакет «Здоровье женщины» от Medicina Group
				+e.price-discount.price-discount__mod 
					span 1020 грн
					| 820 грн 
	+e("li").item.js-services
		+e.title.js-services-btn
			+e.title-in
				+e.price-discount 820 грн
				strong 
					+e("i").icon
					| Нейросонография
		+e.drop.js-services-block
			+e("ul").list
				+e("li").row
					+e.row-in.row-item__mod
						+e.left матки и придатков 
							span (трансвагинально)
						+e.right
							span  180 грн
							a(href="#").btn.btn-success Записаться 
				+e("li").row
					+e.row-in.row-item__mod
						+e.left матки и придатков 
							span (трансвагинально)
						+e.right
							span  180 грн
							a(href="#").btn.btn-success Записаться 
				+e("li").row
					+e.row-in.row-item__mod
						+e.left матки и придатков 
							span (трансвагинально)
						+e.right
							span  180 грн
							a(href="#").btn.btn-success Записаться
			+e.bottom
				.small-card__action
					+e.action
						span.orange Акция
						a(href="#", title="") Пакет «Здоровье женщины» от Medicina Group
				+e.price-discount.price-discount__mod 
					span 1020 грн
					| 820 грн 
	+e("li").item
		+e.title
			+e.title-in.title-in__no-info
				+e.price-discount 820 грн
				strong 
					| Нейросонография
		
	+e("li").item.js-services.is-hidden
		+e.title.js-services-btn
			+e.title-in
				+e.price-discount 820 грн
				strong 
					+e("i").icon
					| Нейросонография
		+e.drop.js-services-block
			+e("ul").list
				+e("li").row
					+e.row-in.row-item__mod
						+e.left матки и придатков 
							span (трансвагинально)
						+e.right
							span  180 грн
							a(href="#").btn.btn-success Записаться 
				+e("li").row
					+e.row-in.row-item__mod
						+e.left матки и придатков 
							span (трансвагинально)
						+e.right
							span  180 грн
							a(href="#").btn.btn-success Записаться 
				+e("li").row
					+e.row-in.row-item__mod
						+e.left матки и придатков 
							span (трансвагинально)
						+e.right
							span  180 грн
							a(href="#").btn.btn-success Записаться
			+e.bottom
				.small-card__action
					+e.action
						span.orange Акция
						a(href="#", title="") Пакет «Здоровье женщины» от Medicina Group
				+e.price-discount.price-discount__mod
					span 1020 грн
					| 820 грн 
	+e("li").item.js-services.is-hidden
		+e.title.js-services-btn
			+e.title-in
				+e.price-discount 820 грн
				strong 
					+e("i").icon
					| Нейросонография
		+e.drop.js-services-block
			+e("ul").list
				+e("li").row
					+e.row-in.row-item__mod
						+e.left матки и придатков 
							span (трансвагинально)
						+e.right
							span  180 грн
							a(href="#").btn.btn-success Записаться 
				+e("li").row
					+e.row-in.row-item__mod
						+e.left матки и придатков 
							span (трансвагинально)
						+e.right
							span  180 грн
							a(href="#").btn.btn-success Записаться 
				+e("li").row
					+e.row-in.row-item__mod
						+e.left матки и придатков 
							span (трансвагинально)
						+e.right
							span  180 грн
							a(href="#").btn.btn-success Записаться
			+e.bottom
				.small-card__action
					+e.action
						span.orange Акция
						a(href="#", title="") Пакет «Здоровье женщины» от Medicina Group
				+e.price-discount.price-discount__mod 
					span 1020 грн
					| 820 грн 