.block-services
    &-wrapper
        margin-top 10px
        &.show-hidden
            .block-services
                &__item
                    &.is-hidden
                        display: block 
            .more-toggle
                &__hide-label
                    display: inline-block
                &__show-label
                    display: none
    &__item
        clearfix()
        &.first-child
            .block-services
                &__title-in
                    border: none
        &.active
            .block-services
                &__icon
                    transform: rotate(180deg)
        &.is-hidden
            display: none
        &:hover .btn-hide
            display inline-block
            margin 0px 0 0px 21px
            padding 2px 22px 4px
    &__title
        clearfix()
        padding: 0 21px 
        cursor: pointer
        user-select: none
        background-color: #e5f2f5
        border-top: 1px solid #FFF
        &.title__mod
            border-top none
        strong
            color: #5e6e71
            font-size: 15px
            line-height: 1.2
            padding: 13px 0 13px 20px
            display: block
            overflow: hidden 
            position: relative
        
            
        // .title-in__no-info
        //     strong
        //        padding: 13px 0 13px 0  
    &__icon
        position: absolute
        top: 50%
        margin-top -2px
        left: 4px
        border-style: solid 
        border-color:  #5e6e71 transparent transparent
        border-width: 5px 4px 0 
        
                         
    &__price-discount
        float: right
        font-size: 15px
        color: #5e6e71
        text-align: right
        margin-left: 10px
        line-height: 2
        padding-top 8px 
        span
            color: #a9bbc2
            text-decoration: line-through
            padding: 0 5px
        a.btn-hide
            display none
    &__drop
        position: relative
        padding-top: 1px
        display: none
    &__left
        // float: left
        display inline-block
        vertical-align middle
        font-size: 15px
        line-height: 16px
        color: #5e6e71
        width: 63%
        @media phone
            float left
            width 50% 
            padding: 10px 0
        span
            color: #90b1b8
    &__right
        // float: right
        display inline-block
        vertical-align middle
        width: 36%
        text-align: right
        // padding 15px 0
        font-size: 0
        @media phone
            float right
            width 50%
            padding: 5px 0 
        span
            color: #5e6e71
            font-size: 16px
            display: inline-block
            vertical-align: top
            line-height: 1
            padding: 15px 0
        .old_price
            color: #a9bbc2
            text-decoration: line-through
            padding-right 5px
            
    .btn
        font-size: 16px
        font-weight: 700
        padding: 2px 22px 4px
        display: inline-block
        vertical-align: top
    &__row
        padding 0 20px 0 39px
        margin-bottom: -1px
        position: relative
        border-bottom: 1px solid #e6edef
        height 50px
        @media phone
            height auto 
        
        &:last-child
            border-bottom transparent
        &:hover
            background-color: #e5f2f5
            z-index: 2
            .block-services
                &__row-in
                    border-color: transparent 
                    &:before
                        background-color: green_base
                    .btn
                        display: inline-block
                    .old_price
                        display none
        &-in
            position: relative
            clearfix()
            .btn
                display: none
                margin: 9px 0 4px 21px
            .small-card__action
                padding 0 
                span
                    &:after
                        right -9px
                        
    &__bottom
        padding: 0 21px 0 39px
        clearfix()
        .small-card__action
            float: left
            padding: 12px 0 
        .block-services
            &__price-discount
                padding: 14px 0 
.card
    &.card-services
        margin-bottom: 46px        
        &:hover
            box-shadow: 0 10px 15px #e3e4ed
            border-color: green_base
            .more-toggle__link
                box-shadow: 0 10px 15px #e3e4ed
                border-color: green_base
        .more-toggle
            display: block
    // section
    //     .block-services
    //         margin-top: -9px
.row-item__mod
    .block-services__left
        @media screen560
            width 100%
    .block-services__right
        @media screen560
            float none
            width 100%
            text-align left
.price-discount__mod
    @media screen560
        float none
        text-align left
        margin-left 0
.small-card__action-mod
    span.orange
        background-color #ffc02a !important
        // &:before
        //     border-right: 2px solid #ffc02a
        &:after
            border-color: none
            border none
            border-left none
            background url('i/icons/head-tringle.png') no-repeat center
            display inline-block
            right -9px
            width 19px
            height 22px
// .item-with-btn
//     &:hover
//         background-color #e5f2f5       