.alphabet-list
    margin 0
    padding 0
    list-style none 
    @media only screen and (min-width: 982px)
        margin-left 43px
    &__sub
        position relative
        top -2px
        margin 0
        padding 0 0 0 9px
        list-style none
        line-height 1.375
        border-left 1px solid text_blue
        &-item
            margin-bottom 8px
    &__item
        position relative
        padding-left 19px
        margin-bottom 25px
        font-size 15px
        @media phone
            margin-bottom 20px
        &_all
            padding-left 0
            a
                color #CBCECF
    &__letter
        position absolute
        left 0
        top -2px
        width 20px
        height 18px
        line-height 16px
        background-color text_blue
        border-radius border_radius_sm 0 0 border_radius_sm
        font-size 16px
        text-align center
        font-weight bold
        text-transform uppercase
        color white
        overflow hidden
