.rich-content
    font-size 15px
    em
        font-weight 400
        font-size 18px
        margin 20px 0
    h1
        font-weight 700
        font-size 28px
        margin 20px 0
    h2
        font-weight 700
        font-size 24px
        line-height 18px
        margin 20px 0
    h3
        font-weight 700
        font-size 18px
        line-height 18px 
        margin 20px 0
        
    h4
        font-weight 700
        font-size 15px
        line-height 18px
        margin 20px 0
    h5
        font-weight 700
        font-size 13px
        margin 20px 0
    h6
        font-size 14px
        font-weight 400
        line-height 20px
        margin 20px 0
    .div-color
        padding 35px 40px
        border-radius 3px
        margin 20px 0
        &.bg-blue
            background-color #e5f2f5
        &.bg-yellow   
            background-color #fff9e9
        &.bg-pink  
            background-color #fddfdf
    .pulls-left
        float left
        &:after
            content ""
            clear: left
    blockquote 
        padding: 0 0 0 50px
        position: relative
        font-style: italic
        border-left none
        border-radius 3px
        @media phone
            padding: 0 0 0 20px 
        &:before
            content: "“"
            color: #a3c1c7
            font-size: 120px
            line-height: 0.8
            position: absolute
            top: 0
            left: -12px        
            @media phone
                font-size: 70px
        div
            background-color: #e5f2f5
            border-left: 1px solid #c0d7dc
            padding: 29px
            font-size: 15px
            line-height: 24px 
            @media phone
                padding: 10px 
    table
        width 100% 
        margin 20px 0
        outline none 
        border-radius 3px 
        moz-border-radius 3px
        -webkit-border-radius 3px
        border-collapse separate 
        margin-bottom 30px
        border 1px solid rgba(0,130,155,.16) 
        th
            height 49px
            background-color #00829b
            border 1px solid #00829b 
            color #FFF
            font-size 17px
            font-weight 700
            text-align center
            &:first-child
                background-color #00829b
                padding-left 29px  
                text-align left
                border-top-left-radius 3px
                moz-border-top-left-radius 3px
                -webkit-border-top-left-radius 3px 
            &:last-child
                text-align center
                background-color #00829b
                border-top-right-radius 3px
                moz-border-top-right-radius 3px
                -webkit-border-top-right-radius 3px  
                border-left 1px solid rgba(#fff, 0.2)
                padding 0 10px 
        tr
            // height 47px
            background-color rgba(#e5f2f5, 0.48)
            color text_color
            font-size 15px
            font-weight 400 
            
            &:nth-child(even)
                background-color white
            td
                text-align center
                &:first-child
                    padding 10px 10px 10px 29px
                    text-align left
                    border-right 1px solid rgba(#00829b, 0.14)
                &:nth-child(2)
                    padding 10px 15px
                    border-right 1px solid rgba(#00829b, 0.14)
                &:nth-child(3)
                    padding 10px 15px
                    border-right 1px solid rgba(#00829b, 0.14)
                &:nth-child(4)
                    padding 10px 15px
                    border-right 1px solid rgba(#00829b, 0.14)
                &:last-child
                    padding 10px 15px
                    text-align center
                    border-right 1px solid transparent 
            &:last-child
                td
                    &:first-child
                        border-bottom-left-radius 3px
                        moz-border-bottom-left-radius 3px
                        -webkit-border-bottom-left-radius 3px 
                    &:last-child
                        border-bottom-right-radius 3px
                        moz-border-bottom-right-radius 3px
                        -webkit-border-bottom-right-radius 3px
        .border-left-white
            border-left 1px solid rgba(#fff, 0.2)
        .border-right-white
            border-right 1px solid rgba(#fff, 0.2)
        .border-left-blue
            border-left 1px solid rgba(#00829b, 0.14)
        .border-right-blue
            border-right 1px solid rgba(#00829b, 0.14)
    img.full-width
        margin 10px -20px
    ul
        padding-left: 20px
        margin 10px 0
        li
            position: relative
            margin-bottom: 4px
            padding-left: 20px
            line-height: 1.75
            &:before
                content "•"
                position: absolute
                top: 0
                left: 0
                font-size: 22px
                line-height: 24px
                color: #96b8bf
            >ul
                padding-left 0
                margin 0
                >li
                    &:before
                        content ""
                        border 1px solid #96b8bf
                        border-radius 50%
                        width 7px
                        height 7px
                        top 9px
    .style-numeric
        counter-reset li
        list-style none
        padding-left 20px
        margin 10px 0
        li
            position relative
            padding-left 20px
            line-height: 2
            &:before
                content counter(li) '. '
                counter-increment li
                font-weight bold
                position absolute
                left 0
                top 0
    .hyphen-lists
        li
            padding-left 15px
            &:before
                content "-"
                color text_color
    .doctor-prifile
        width 140px
        padding 10px 10px 15px 
        margin 5px 20px 20px 0
        -webkit-border-radius 3px
        border-radius 3px
        background-color #def5f2
        -webkit-box-shadow 5px 5px 0 #f0fbfa
        box-shadow 5px 5px 0 #f0fbfa
        font-size 14px
        line-height 1.285
        &__image
            margin -10px -10px 10px
            overflow hidden
            height 185px
            -webkit-border-radius 3px 3px 0 0
            border-radius 3px 3px 0 0
        &__row
            margin-bottom 10px
        &__label
            font-weight bold
            color #000002
    .doctors-card, .card-list
        padding 0
        margin 20px 0
        .doctors-card__item
            line-height normal
            padding 21px 21px 19px 110px 
            &:before
                content ''
            @media screen560
                padding-left 21px
            .doctors-card__container
                .doctors-card__list
                    padding 0
                    margin 0
                    li
                        padding-left 0
                        line-height normal 
                        &:before
                            content ''
                .favorites-block
                    @media phone
                        width auto
                        display block
                    @media only screen and (max-width: 450px)   
                        position absolute
                        top 20px
                        right 20px
    .card-list
        .small-card
            line-height normal
            padding-left 0
            font-size 14px
            &:before
                content ''
            .small-card__right-side
                // @media phone_tablet
                //     margin-left 180px
                @media screen560
                    margin-left 0
                    padding-left 20px
                .favorites-block
                    @media phone
                        width auto
                        display block
                    @media only screen and (max-width: 560px)   
                        position absolute
                        top 20px
                        right 20px
            .small-card__schedule
                ul
                    padding 0
                    margin 0
                    li
                        padding-left 0
                        line-height normal 
                        &:before
                            content ''
                 
    .note
        position relative
        margin 28px 0 28px 75px
        padding-left 25px
        font-style italic
        border-left 1px solid text_blue
        &:before
            content ""
            position absolute
            top 50%
            left -57px
            margin-top -13px
            sprite($dcoma)
    .picture-wrap
        text-align center
    .picture
        &.left  
            padding 0 15px 15px 0
        &.right  
            padding 0 0 15px 15px 
        &.center  
            padding 0 0 15px 0