// .thank-page_mod
// 	.h1
// 		font-size 28px
.thank-page-wrap
	&.block-bg
		padding 40px 10px 35px
		@media phone
			padding 20px 15px 35px
		// @media only screen and (max-width: 320px)
		// 	padding 20px 15px 35px

.thank-page
	position relative
	max-width 510px
	width 100% 
	margin 0 auto
	text-align center
	@media only screen and (max-width: 1024px)
		margin 0
		left 50%
		margin-left -30%   
	@media only screen and (max-width: 920px)
		margin 0 auto
		left 0 
	&__content
		margin-bottom 20px 
		font-size 18px
		color lighten(#5e6e71, 10%)
		&:last-child
			margin-bottom 0
		@media phone
			font-size 16px 
		p
			margin-bottom 0 
	&__alert
		margin-bottom 20px
		padding 20px 30px
		background-color #fff9e9
		@media phone
			padding 20px 20px
		p
			font-size 16px 
			line-height normal
	&__applic-number 
		margin-bottom 20px  
		font-size 18px
		color #6f7e81
		@media phone
			font-size 16px
		span
			font-weight bold
			&.numb
				color #0b869e
			&.date
				color text_color 
	&__table-wrap
		position relative
		margin-bottom 20px 
		padding 40px 40px 40px 60px
		background-color #e5f2f5
		border-radius 3px
		&:after
			position absolute
			content ''
			top 30px
			right -150px
			max-width 115px  
			width 100%
			height 100% 
			background-image url(i/r-doctor.png)
			background-repeat no-repeat
			@media only screen and (max-width: 920px)
				display none 
		@media phone
			padding 10px 
	&__card
		text-align left
		td
			vertical-align top
		.left-col, .right-col
			font-size 18px 
			color lighten(#5e6e71, 10%)
			padding 5px 0
			@media phone
				font-size 15px
		.left-col
			min-width 170px 
			@media phone
				min-width 150px 
			@media only screen and (max-width: 320px)
				min-width 110px  
		.right-col
			width 100% 
			font-weight bold
	&__btns
		margin-bottom 30px  
		@media only screen and (max-width: 320px)
			margin-bottom 20px
		a
			position relative
			margin-right 20px
			padding 6px 30px 6px 60px
			width 245px 
			border-radius 3px
			color #fff 
			font-size 16px
			font-weight bold
			&:hover, &:focus, &:active
				color #FFF
			&:hover
				opacity .7 
			&:last-child
				margin-right 0 
			@media phone
				display block
				margin 0 auto
				margin-bottom 15px 
				font-size 15px 
				&:last-child
					margin 0 auto
					margin-bottom 0 
			@media only screen and (max-width: 320px)
				max-width 257px 
				width 100% 
		.look-map
			background-color #35bfae
			@media phone
				padding 6px 40px 6px 60px 
			&:before
				content ''
				position absolute
				top 8px
				left 30px
				width 18px  
				height 18px 
				background-image url(i/checkpoint-icon.png)
				background-repeat no-repeat 
		.add-tocalendar
			// padding-left 50px 
			background-color #198ea5
			opacity 0.9 
			&:before
				content ''
				position absolute
				top 8px
				left 30px
				width 18px  
				height 18px 
				background-image url(i/calendar2-icon.png)
				background-repeat no-repeat 

	&__content
		span
			font-weight bold