.promo-banner
    margin-top 28px
    margin-bottom 28px
    &__link
        display block
        text-decoration none
        border 1px solid grey_base
        border-radius 3px
        img
            width 100%
            border-radius 3px
            