select.select7.select7_city
    option(value="Днепропетровск") Днепропетровск
    option(value="Киев", selected) Киев
    option(value="Львов") Львов
    option(value="Ивано-Франковск") Ивано-Франковск
    