select.select7.select7_city.js-select-scroll
    option(value="Днепропетровск") Днепропетровск
    option(value="Киев", selected) Киев
    option(value="Львов") Львов
    option(value="Ивано-Франковск") Ивано-Франковск
    option(value="Березань") Березань
    option(value="Сквира") Сквира
    option(value="Украинка") Украинка
    option(value="Коцюбинское") Коцюбинское
    option(value="Гостомель") Гостомель
    option(value="Березань") Березань
    option(value="Коцюбинское") Коцюбинское
    option(value="Украинка") Украинка
    option(value="Коцюбинское") Коцюбинское
    option(value="Гостомель") Гостомель
    option(value="Березань") Березань
    option(value="Коцюбинское") Коцюбинское

    