.location
    float right
    font-size 14px
    @media phone
        font-size 18px
        margin-top 2px
    .select7
        min-width 0
        &__drop
            font-size 14px
            @media phone
                font-size 18px
        &__current-value
            color #fff
        &_open
            .select7__current-value
                color #262626
                border-color transparent
    .select7.disabled
        .select7__current-value
            border-color transparent
        