.rating-info
    font-size 12px
    line-height 1.25
    @media phone_tablet
        margin-bottom 20px
    &__icon
        float left
        margin 2px 0 0 2px
    &__text
        font-size 14px
        margin-left 55px
        padding-top 5px
    &__more-link
        position relative
        text-decoration none
        &:hover:after
            background-position -60px -349px
        &:after
            content ""
            position relative
            display inline-block
            top 1px
            margin-left 3px
            width 9px
            height 9px
        span
            text-decoration underline