.benefits
    margin 20px 0 0
    padding 0
    list-style none
    overflow hidden
    &_width_auto
        .benefits
            &__item
            &__title
                width auto
    &__item
        float left
        width 100px
        margin-bottom 5px
        margin-right 4px
        @media phone
            width auto
            margin-right 0
        &:last-child
            margin-right 0
    &__icon
        vertical-align middle
        margin-right 5px
        width 30px
        height 30px
    &__title
        display inline-block
        vertical-align middle
        width 65px
        font-size 12px
        line-height 14px
        // @media phone
        //     width 80px
            