+e(li).item
    +e("img").icon(srcset="/i/icon-calendar.png, /i/icon-calendar@2x.png 2x", alt="")
    +e.title Мы записываем <br>вас к врачу
+e(li).item
    +e("img").icon(srcset="/i/icon-clock.png, /i/icon-clock@2x.png 2x", alt="")
    +e.title Вы приходите <br>на прием
+e(li).item
    +e("img").icon(srcset="/i/icon-phone.png, /i/icon-phone@2x.png 2x", alt="")
    +e.title Мы звоним <br>и спрашиваем ваше мнение о приеме
+e(li).item
    +e("img").icon(srcset="/i/icon-like.png, /i/icon-like@2x.png 2x", alt="")
    +e.title Публикуем ваше мнение в анкете врача