.social-buttons__label Войти через
a.social-buttons__link.btn.btn-xs-block.fb(href="/", title="Facebook")
    span Facebook
a.social-buttons__link.btn.btn-xs-block.ok(href="/", title="Одноклассники")
    span Одноклассники
a.social-buttons__link.btn.btn-xs-block.vk(href="/", title="В контакте")
    span В контакте