.social-buttons
    border-top 1px solid green_base
    padding-top 20px
    &__label
        font-weight bold 
        font-size 20px
        margin-bottom 20px
    &__link
        box-shadow none
        transition background-color .2s ease
        margin 0 15px
        padding-left 6px
        padding-right 15px
        &:hover
            color #fff !important
        @media phone
            margin 0 0 10px
        span
            display inline-block
            line-height 26px
            padding 5px 0 1px 35px
            background-image url("i/social-buttons.png")
            background-repeat no-repeat
    .fb
        color #536fa6
        border-color #536fa6
        span
            background-position -150px 0
        &:hover
            background-color #536fa6
            span
                background-position -120px -30px
    .ok
        color #e67e17
        border-color #e67e17
        span
            background-position -90px -60px
        &:hover
            background-color #e67e17
            span
                background-position -60px -90px
    .vk
        color #2b5887
        border-color #2b5887
        span
            background-position -30px -120px
        &:hover
            background-color #2b5887
            span
                background-position 0 -150px