.top-list
  margin 0 0 10px
  padding 0
  list-style none
  &__item
    overflow hidden
    border-top 1px dashed rgba(0, 130, 155, 0.31)
    padding 20px 20px
    transition all .2s ease-in-out
    &:hover
      background #deeff2
    @media only screen and (max-width: 768px)
      padding 15px 
    &.first-child
      border-color transparent
    &:last-child
      border-bottom 1px solid rgba(0, 130, 155, 0.31)
    &-link
      text-decoration none
    &-image
      float left
      width 55px
      height 65px
      overflow hidden
      background-color: #CCE7F6
      margin-right 15px
      img
        width 100%
        height 100%
    &-title
      overflow hidden
      padding 7px 0
      font-size 14px
      font-weight bold
      line-height 20px
      color blue_link
      text-decoration none
      .top-list__item:hover &
        text-decoration underline
    .specialty
      margin-top 4px
      margin-bottom 3px
    .rating__stars
      margin 3px 0 0  
  &__rating
    display inline-block
    margin 0
    font-size 16px
    line-height 20px
    font-weight bold
    color #00829b
    // float right