block params
    - var isCabinet = false
//- include ../../../node_modules/bemto.jade/bemto
doctype html
html
    head
        meta(charset="UTF-8")
        meta(content="user-scalable=no, width=device-width", name="viewport")
        title
            if file.title
                | #{file.title} | DOC.ua
            else
                | DOC.ua
        link(href="/i/favicon.ico", rel="shortcut icon")
        link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="/doc.min.css")
        script(type="text/javascript", src="//yandex.st/share/share.js", charset="utf-8")
        script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true", charset="utf-8")
        //if lt IE 9
          script(src="/ie-js/html5.js")
          script(src="/ie-js/respond.min.js")
          script(src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js")
    body.body-map
        //- Navbar
        nav.navbar.navbar-main.navbar-fixed-top
            .container
                button.navbar-toggle.collapsed.visible-xs 
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                +b.logo.visible-xs: +i({mobileLogo: true})
                +b.navbar-header
                    +e("span").title.hidden-xs Ваш город:
                    +b.location: +i
                +b.phones.hidden-xs: +i
                +b.mobile-phones.visible-xs (095) 3370707; (063) 3370707; (067) 3370707; (044) 3370707
                +b.feedback.hidden-xs: +i
                .user-panel.hidden-xs
                    if file.isCabinet
                        +b.user-panel-menu: +i({loggedUserPopup: loggedUserPopup})
                    else
                        +b.user-panel-auth: +i
                    +b("a").favorites-link(href="/", title="Избранное")
                        span.dotted Избранное
        +b.navbar-collapse(class="navbar-mobile collapse"): +i
        //- Logo and search
        .container-fluid.hidden-xs
            .row.row-white
                .container
                    h1.sr-only Поиск вашего врача – DOC.ua
                    header.header(class=headerClass)
                        .wrap
                            .row
                                .col-sm-8
                                    +b.logo: +i
                                .col-sm-4
                                    +b.search: +i
        //- Menu
        .container-fluid.container-menu.hidden-xs
            .row.row-white
                .container
                    nav.header__nav
                        +b.menu: +i({prefix: "main", items: mainMenu, activeIndex: file.activeMenuItem})

        //- Main container
        .container-fluid
            .row
              +b.finder.finder-map: +i({ page: file.finder })
              //- Content
              block content

        block modals 

        script(src="/doc.min.js")
        script(src="/jquery.mockjax.js")
        script(src="/demo.js")