.rez-search
	.search-title
		font-size 28px
		font-weight 700
		color text_color  
		margin 0
	.nav-search
		padding 0
		li
			&:first-child
				a
					padding 9px 21px 9px 0 
	.tab-content__search
		border none 
		.tab-pane
			-webkit-box-shadow none 
			box-shadow none 
			margin-top 24px 
			// .small-card
			// 	padding: 9px 0 0px
	.search-page
		padding 0
		-webkit-box-shadow none 
		box-shadow none
		.article-list-item
			padding 21px
			border-bottom 1px solid transparent
			&:last-child
				border 1px solid transparent
				&:hover
					border-color green_base
		&__article
			background-color white
			border-radius 3px
			box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
			margin-bottom 20px
			border 1px solid transparent
			transition all .3s linear
			border-bottom none
			&:hover
				box-shadow 0 10px 15px #e3e4ed
				border-color green_base
				// border-bottom none 
				 