+b.spec-offer(style="background-image: url(i/s-offer.png);")
    +e.title Дни женского здоровья: консультация гинеколога с осмотром
    +e.bottom
        +e.discount 
            span Скидка
                strong 50%
        +e.price
            +e.old-price &nbsp;600&nbsp; 
            +e.new-price 
                strong 300 
                | грн

+b.spec-offer(style="background-image: url(i/s-offer2.png);")
    +e.title 2 любых вида обследования со скидкой 10%
    +e.bottom
        +e.discount 
            span Скидка
                strong 10%
        +e.price
            +e.old-price &nbsp;150&nbsp;
            +e.new-price 
                strong 135 
                | грн