.spec-offer
    position: relative
    width: 273px
    height: 215px
    margin-bottom: 15px
    padding-bottom: 50px
    background-position: center 
    background-repeat: no-repeat
    background-size: cover
    border-radius: 3px
    box-shadow: 0 1px 1px rgba(0,64,76,.3)
    &__title
        padding: 15px
        color: white
        font-family: "PT Sans"
        font-size: 18px
        font-weight: 700
    &__bottom
        clearfix()
        position: absolute
        bottom: 0
        left: 0
        right: 0
    &__discount
        float: left
        width: 65px
        height: 50px
        padding: 5px
        background-color: #E74A37 
        text-align: center
        color: white
        font-family: "PT Sans"
        span
            font-size: 12px
            font-weight: 400
            line-height: 1
            strong
                display: block
                margin: 0 auto
                font-size: 18px
                font-weight: 700
    &__price
        float: right
        padding: 0 15px
        text-align: right
        color: white
        font-family: "PT Sans"
    &__old-price
        display: inline-block
        vertical-align: baseline
        text-decoration: line-through
        font-size: 18px
        font-weight: 100
        color: rgba(#FFF, 0.5)
    &__new-price
        display: inline-block
        vertical-align: baseline
        margin-left: 15px
        font-size: 18px
        font-weight: 400
        strong
            font-size: 28px
            font-weight: 700
    