+b.spec-offer
    +e.bg(style="background-image: url(i/s-offer.png);")
    +e("a").wrap(href="#")
            +e.title Дни женского здоровья: консультация гинеколога с осмотром
            +e("div").bottom
                +e("div").discount 
                    span Скидка
                        strong 50%
                +e("div").price
                    +e("div").old-price &nbsp;600&nbsp;
                    +e("div").new-price 
                        strong 300
                        |  грн

+b.spec-offer
    +e.bg(style="background-image: url(i/s-offer2.png);")
    +e("a").wrap(href="#")
            +e.title 2 любых вида обследования со скидкой 10%
            +e("div").bottom
                +e("div").discount 
                    span Скидка
                        strong 10%
                +e("div").price
                    +e("div").old-price &nbsp;150&nbsp;
                    +e("div").new-price 
                        strong 135
                        |  грн
