.spec-offer
    position: relative
    width: 273px
    height: 212px
    margin-bottom: 15px
    border-radius: 2px
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
    &__bg
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-position: center 
        background-repeat: no-repeat
        background-size: cover
    &__wrap
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        padding-bottom: 50px
        border-radius 2px
        &:before 
            content: ""
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0 
            transition: background 300ms
            background-color: transparent
            z-index 7
        &:hover
            &:before
                background-image: linear-gradient(to top, rgba(#be8734, 0.19) 0%, rgba(#906628, 0.11) 100%)
                // background-color: rgba(#906628, 0.5) 
            .spec-offer__title
                text-decoration: underline
    &__title
        position relative
        display: inline-block
        vertical-align: middle
        padding: 15px
        text-decoration: none
        color: white
        font-family: "PT Sans"
        font-size: 18px
        font-weight: 700
        z-index 9
    &__bottom
        clearfix()
        position: absolute
        bottom: 0
        left: 0
        right: 0
        z-index 9
    &__discount
        float: left
        width: 65px
        height: 50px
        padding: 5px
        background-color: #E74A37 
        text-align: center
        color: white
        font-family: "PT Sans"
        span
            font-size: 12px
            font-weight: 400
            line-height: 1
            strong
                display: block
                margin: 0 auto
                font-size: 18px
                font-weight: 700
    &__price
        float: right
        padding: 0 15px
        text-align: right
        color: white
        font-family: "PT Sans"
    &__old-price
        display: inline-block
        vertical-align: baseline
        text-decoration: line-through
        font-size: 18px
        font-weight: 100
        color: rgba(#FFF, 0.5)
    &__new-price
        display: inline-block
        vertical-align: baseline
        margin-left: 15px
        font-size: 18px
        font-weight: 400
        strong
            font-size: 28px
            font-weight: 700
    