.user-panel-menu
    padding-left 10px
    &__button
        display block
        padding 2px 10px 2px ($navbar_cabinet_width + 8px)
        color header_icons_color
        text-align left
        background-color transparent
        border-color header_icons_color
        
        &:hover
            color #fff
            background-color transparent
            border-color header_icons_color
        
        &:before
            content ''
            position absolute
            left 15px
            top 4px
            sprite($navbar_cabinet)
    &__name
        margin-left 10px
    .dropdown.open
        >.btn
            color #fff
            background-color transparent
            border-color header_icons_color
    .dropdown-menu>li>a
        color #000