.navbar-main
    .user-panel, .user-panel-menu
        float none !important
        display inline-block
        vertical-align baseline 
.user-panel-menu
    margin-left 15px 
    &:focus
        border none
        background transparent  
        outline none
    &__button
        display block
        padding 2px 0 2px 22px
        color blue_base
        text-align left
        background-color transparent !important
        border none !important
        outline none !important
        -webkit-box-shadow none !important
        box-shadow none !important
        font-size 16px 
        &:active
            color blue_select !important
        &:hover
            color blue_select
            background-color transparent
        span
            border-bottom 1px dotted
            &:hover
                border-bottom none
            &:focus
                border none
                background transparent  
        &:before
            content ''
            position absolute
            left 0px
            top 7px
            sprite($user_main)
            box-shadow 2px 1px 0 6px #fff
    .dropdown.open 
        >.btn
            color blue_select
            background-color transparent
    .dropdown-menu>li>a
        color blue_select
        &:hover
            background #deeff2
    .dropdown
        &:focus
            border none
            background transparent  
            outline none
            
