ul.location-lists.js-lists
	li.location-lists__item.js-lists-item.is-area Южноборщаговский массив
	li.location-lists__item.js-lists-item.is-area Дарницкий
	li.location-lists__item.js-lists-item.is-red Дарница
	li.location-lists__item.js-lists-item.is-red Дарница
	li.location-lists__item.js-lists-item.is-red Дарница
	li.location-lists__item.js-lists-item.is-green Дорогожичи  
	li.location-lists__item.js-lists-item.is-green Дорогожичи  
	li.location-lists__item.js-lists-item.is-green Дорогожичи  
	li.location-lists__item.js-lists-item.is-red Дарница 
	li.location-lists__item.js-lists-item.is-red Дарница 
	li.location-lists__item.js-lists-item.is-blue Дарница 