.card
    position relative
    padding 18px 0 21px
    margin-bottom 20px
    background #fff
    border 1px solid border_grey 
    border-radius border_radius_sm
    // box-shadow: 0 2px 4px rgba(0, 64, 76, 0.15)
    transition border-color 0.2s ease, box-shadow 0.2s ease
    &-mod
        margin: 0 
    &.has-hidden-small-cards
        .card__footer 
            margin-bottom 10px  
            .link 
                margin-top 0 
    &:after
        content " "
        display table
        clear both
    .rating__value
        top 2px
    a
        outline none 
    &__footer
        .btn
            font-size 18px
            padding 10px 23px
            line-height 23px
    .h6
        font-size 18px
        margin 10px 0 0
        padding: 0
        font-weight 700
        text-align center
        position: relative
        // background beige_light
        // border-top 1px solid #e9eff0
        &:before
            position: absolute
            top: 50%
            margin-top: -1px
            left: 0
            right: 0
            border-top: 1px solid #c0d2d6
            content: "" 
        span
            position: relative
            z-index: 1
            padding: 0 9px
            display: inline-block
            background: #fff  
    &__bottom
        margin 0 20px
        clearfix()
        &-links
            float right
            width: 270px
            @media phone
                float none
                padding-top 30px
            @media screen560
                padding-top 0
            a
                font-size 15px
                display inline-block
                color: #4b89d3
                &:last-child
                    margin-left 15px
                    padding-left 15px
                    border-left 1px solid blue_base
            &-mod
                @media phone
                    clear: both
        &-link
            float: left
            padding: 12px 0 
            @media only screen and (max-width: 1200px)
                float: none
            a
                font-size 15px
                display inline-block
                color: #4b89d3
                @media phone
                    margin-right: 15px
                &:last-child
                    margin-left 15px
                    padding-left 15px
                    border-left 1px solid blue_base
                    @media phone
                        padding: 0
                        margin: 0
                        border: none
    &__socwrap
        float left
        clearfix()
        .card__socitem
            margin-top 13px
        @media phone
            // float none
            margin-bottom 10px
    &__socitem
        float left
        margin-right 9px
        height 20px
        @media screen560
            margin-top 5px
        &_last
            max-width: 55px
    &-list
        margin 0
        padding 0
        list-style none
        
        .card
            &:hover
                // box-shadow 0 10px 15px #e3e4ed
                border-color green_base
                .more-toggle__link
                    // box-shadow 0 10px 15px #e3e4ed
                    border-color green_base
    &__title
        margin-bottom 7px
        margin-top: -5px
        >*
            margin 0 !important
            font-size 24px 
            line-height 1.4 !important
            @media phone_tablet
                font-size 18px 
            @media screen560
                margin-top 7px !important
            // @media only screen and (max-width: 400px)
            //     font-size 16px
        .h3
            font-weight: 700 
        a
            color: #4b89d3
            text-decoration: none
            &:hover
                text-decoration: underline
    &__job
        margin-top 10px
        padding 9px 14px 10px 15px
        border 1px dashed #bbcfd3
        border-radius border_radius_sm
        @media phone_tablet
            &-top
                padding-right 0
        @media screen560
            clear: both
        &-top
            position relative
            padding-right 130px
            margin-bottom: 4px
        &-price__mobile
            display none
            @media only screen and (max-width: 639px)
                display inline-block
        &-title, &-price
            font-size 16px
        &-title   
            color #4b89d3
            outline none !important
        &-price
            @media only screen and (max-width: 639px)
                display none 
        .card__desc, .address-info
            font-size 12px
        .card__desc
            color text_grey
            // padding-right: 130px
            line-height: 1.3 
            @media phone
                padding-right: 0
        .address-info
            margin-top 8px
            line-height 20px
            @media only screen and (max-width: 639px)
                .card__location, .card__address
                    float none
    &__label
        margin-bottom: 5px
    &__label, &__label-description        
        font-size: 16px
        line-height: 18px
        a
            display: inline-block
            color: #4b89d3
        @media only screen and (max-width: 767px)
            font-size 14px
    .card__label-descroption-mod
        font-size: 14px
        margin-bottom: 10px
    p
        font-size: 14px
        margin-bottom: 18px
        margin-top: 8px
        
        a
            display: inline-block
            color: #4b89d3
    .benefits
        margin: 0
        padding: 8px 0
        @media only screen and (max-width: 640px)
            padding 0
    &.card-underline
        .card__title
            a
                text-decoration: underline
                &:hover
                    text-decoration: none
    &__soc
        margin: 0 6px
        clearfix() 
        .btn
            font-size: 18px
            padding: 10px 23px
            line-height: 23px
            @media screen560
                width: 100%
        .card__socitem
            padding: 12px 0 13px
            height: 45px 
            @media phone
                padding: 0
                height: 20px
    &__footer
        margin-top 21px
        @media phone
            margin-top: 10px
    &__share-bottom
        .btn
            float: right
    &.card-diagnost__mod
        padding 18px 0 0 0  
.card, .small-card
    .rating__value
        float left
        position relative
        margin-right 3px
        font-size 20px
    .rating
        @media phone
            margin-right: 10px
    &__schedule
        position relative
        margin-top 21px
        padding 13px 10px
        font-size 13px
        border 1px dashed text_blue
        border-radius border_radius_sm
        @media screen560
            font-size 11px
            padding 10px 5px
        &:before
            content ''
            position absolute
            top -11px
            left 59px
            sprite($calendar)
            @media phone
                left 50%
                margin-left -7px
        
        li
            clearfix()
            span
                display inline-block
            .left
                float left
                width 38px
                color text_blue
                text-align left
            .right
                float left
                width 70px
                @media screen560
                    float right
                    width auto
    @media screen560
        &__right-side
            .right-side-rating
                clearfix()
            .card__image, .small-card__image
                float left
                width 100%
                img
                    width 40%
            .rating
                float left
                margin-right 15px
            .small-card__testimonials
                float left
                position relative
                @media only screen and (max-width: 320px)
                    float none
                    display block
    &__left-side
        float left
        width 160px
        margin-bottom 10px
        padding-left 20px
        text-align center
        @media phone
            // float none
            min-height 150px 
            width: 156px
            margin-right 20px
        @media only screen and (max-width: 480px)
            width 130px
        @media only screen and (max-width: 400px)
            margin-right 20px 
            .card__testimonials
                position absolute
                right 20px
                top 50px
                @media phone
                    position relative
                    right auto 
                    top auto
            .like-box
                position absolute
                right 15px
                top 85px
                @media phone
                    position relative
                    right auto 
                    top auto
                    
    &__right-side
        margin-left 180px
        padding-right 20px
        clearfix()
        @media screen560
            margin-left 20px
            padding-left 0 
        p
            @media only screen and (max-width: 640px)
                display none
        
    &__title
        display block
    &__image
        width 140px
        margin 3px 0 15px
        @media screen560
            width 135px
        @media only screen and (max-width: 480px)
            width 117px
        &-mod
            width: 77px
            height: 77px
            margin: 0 auto 
            @media screen560
                width: 77px
                height: 77px
        a
            display block
        img
            width 100%
            border-radius: 2px
    &__testimonials
        padding-top 1px
        font-size 16px
        @media phone
            display: inline-block
            vertical-align: top
        a
            color: #4b89d3
    &__info
        position relative
        top 3px
        margin-left 5px
        display inline-block
        sprite($info)
        outline none
        @media only screen and (max-width: 639px)
            display none
    &__consultations
        padding-top 7px
        font-size 14px
        color #7f7f7f
    .favorites-block
        margin-top 4px
        @media tablet
            margin-top: 1px
    // &__label-description
    //     // margin-bottom 10px
    //     @media phone 
    //         float right
    //         display inline-block
    //         width 100%
    //     @media only screen and (max-width: 320px)
    //         width 51% 
    //     @media only screen and (max-width: 480px)
    //         width 58% 
    &__address, &__location, &__metro
        float left
        position relative
        &:before
            content ''
            position absolute
            left 0
            top 2px
        // @media only screen and (max-width: 640px)
        //     float none
    &__address
        margin-right 16px
        padding-left ($location_width + 8)
        &:before
            sprite($location)
        a
            display inline
    &__location
        margin-right 16px
        padding-left ($district_width + 8)
        &:before
            top 2px
            sprite($district)
        &_metro
            padding-left ($metro_blue_width + 8)
            &:before
                top 3px
                sprite($metro_default)
            &.blue
                &:before
                    sprite($metro_blue)
            &.red
                &:before
                    sprite($metro_red)
            &.green
                &:before
                    sprite($metro_green)
    &__short-summary
        padding 0
        // p:last-child
        //   margin-bottom 0
    &__footer
        display: block
        width 100%
        // margin-top 21px
        // clearfix()
        .link
            display inline-block
            margin 13px 0 12px
            font-size 16px
            color: #4b89d3
            line-height: 17px
            &.link-border
                margin-left 14px
                padding-left 14px
                border-left 1px solid #c4e2e8
            @media phone
                margin-top: 0
                margin-bottom: 12px
            @media screen560
                display block
                margin-left 0 !important
                padding-left 0 !important
                border-left 0 !important
        @media screen560
            .btn
                wide-btn()
        .small-card__schedule
            float left
            margin-top 0
            padding 8px 0px 8px 23px
            border-color transparent
            clearfix()
            @media phone
                float none
            &-mod
                float: none
            li
                float left
                margin-right 9px 
                .left
                    width auto
                    margin-right 4px
            &:before
                left 0
                top 6px
                margin-left 0
    hr
        margin 5px -4px 8px
        border none
        background url('i/icons/dashed.png') left bottom repeat-x
        @media screen560
            clear: both
    .address-info 
        display inline-block
        clearfix()

    &.inner h6, &.inner .filials-list
        background-color #fff
.doctor-profile__image 
    width 140px
    height 187px
.clinic-profile__image
    width 140px
    height 140px
    

.female
    background-image url("i/no-photo-female.png")
    background-size: contain 
    background-repeat-y: no-repeat
    width 140px
    height 185px
    @media screen560
        width 135px
        height 177px
    @media only screen and (max-width: 480px)
        width 117px
        height 154px
.male
    width 140px
    height 185px
    background-image url("i/no-photo-male.png")
    background-size: contain 
    background-repeat-y: no-repeat
    @media screen560
        width 135px
        height 177px
    @media only screen and (max-width: 480px)
        width 117px
        height 154px
.clinic
    background-image url("i/no-photo-clinic.png")
    background-size: contain 
    background-repeat-y: no-repeat
    width 140px
    height 140px
    @media screen560
        width 135px
        height 135px
    @media only screen and (max-width: 480px)
        width 117px
        height 117px
              
