.load-more
	font-size 16px
	padding 0 20px
	// line-height 48px
	// margin-bottom -18px
	background-color: #09859d
	line-height: 35px
	clearfix()
	@media screen560
		text-align center
		line-height 35px
	&.load-more_cla
		border-top: 1px solid #e6edef
	&__text
		display inline-block
		float left
		// color: #91b5bc
		color: #FFF 
		@media only screen and (max-width: 500px)
			float none
	&__link
		display inline-block
		float right
		// color: #4b89d3
		text-decoration: none
		color: #FFF 
		&:after
			content ''
			display inline-block
			vertical-align middle
			// background url('i/icons/arrowr-big.png')
			// width 19px
			// height 13px
			width: 12px
			height: 12px
			sprite($arrWhite)
			margin-left 10px
		&:hover
			text-decoration: underline
		@media only screen and (max-width: 500px)
			float none
 		
 			
 		