.load-more
	font-size 16px
	padding 0 20px
	line-height 48px
	margin-bottom -18px
	clearfix()
	@media screen560
		text-align center
	&__text
		display inline-block
		float left
		color: #91b5bc
		@media screen560
			float none
	&__link
		display inline-block
		float right
		color: #4b89d3
		&:after
			content ''
			display inline-block
			vertical-align middle
			background url('i/icons/arrowr-big.png')
			width 19px
			height 13px
			margin-left 10px
		@media screen560
			float none
 		
 			
 		