.special
    position relative
    padding 20px !important
    border: 1px solid #fff
    background: #fff
    border-radius: 3px
    // box-shadow: 0 2px 4px rgba(0,64,76,.15)
    margin-bottom: 21px
    .item-promo__block
        top -19px
    .special-picture
        height 85px
        margin 0
        border: 1px solid rgba(5, 5, 5, 0.09)
        border-radius: 3px
        img
            max-width 100% 
            max-height 100% 
    .special-right-side
        float left
        width 450px
        margin-left 20px
        padding-right 0
        @media phone
            float none
            width 100%
            margin-left 0
            padding-right 0
        .address-info
            padding 5px 0 0 0  
        
    .special-left-side
        padding 0
        float left
        width auto 
    .special-title  
        padding-right 5%
        a
            color: #4b89d3
            font-size: 24px
            font-weight: 700
            text-decoration none
            line-height 24px
    .special-block-btn
        width auto
        float right
        // margin-top 15px
        @media screen560
            width 100%
        .price
            margin-bottom 10px
            text-align right
            @media screen560
                margin-bottom 0
            &__old
                display inline-block
                color: #91b5bc
                font-size: 17px
                font-weight: 400
                text-decoration: line-through
            &__new
                display inline-block
                margin-left 10px
                color: #5e6e71
                font-size: 20px
                font-weight: 700
        .btn
            background-color: #ffab3e
            border-color #ffab3e
            text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.1)
            color: white
            font-size: 15px
            font-weight: 700
            padding 7px 15px 6px 
            &:hover
                opacity .85 
            @media phone
                width 100%