.cla-tabs
	&__item
		position relative
		border-bottom 1px solid #e6edef
		&:hover
			cursor pointer
		&:last-child
			// border-bottom-color #f5fafb
			// border-bottom-color transparent
			border none
		&.active .cla-tabs__icon
			transform: rotate(180deg)
			// &:before
			// 	transform: rotate(90deg)
			
	&__title
		position relative
		background-color: #f5fafb
		padding: 12px 0 13px 79px
		font-size 15px
		// margin-top: 1px 
		
	&__icon
		position: absolute
		top: 50%
		margin-top: -2px
		left: 24px
		border-style: solid
		border-color: #5e6e71 transparent transparent
		border-width: 5px 4px 0
	// 	position: absolute  
	// 	top: 50%
	// 	margin-top -7px
	// 	left: 52px
	// 	width: 14px
	// 	height: 14px
	// 	border-radius: 2px
	// 	background #85AAB1 
	// 	&:after, &:before
	// 	    content: ''
	// 	    display inline-block
	// 	    position absolute
	// 	    left 50%
	// 	    top 50%
	// 	    background-color: #cee7ec
	// 	&:after
	// 	    width 8px
	// 	    height 2px
	// 	    margin-top: -1px 
	// 	    margin-left -4px  
	// 	&:before
	// 	    width 2px
	// 	    height 8px
	// 	    margin-top: -4px
	// 	    margin-left -1px 
	// &__drop
	// 	display none
	// 	margin-top 1px 
	// 	.offers-wrap
	// 		padding: 12px 21px 12px 24px !important
				
		