.cla-tabs
	&__item
		position relative
		border-bottom 1px solid #e6edef
		&:hover
			cursor pointer
		&:last-child
			// border-bottom-color #f5fafb
			// border-bottom-color transparent
			border none
		&.active .cla-tabs__icon
			transform: rotate(180deg)
			
	&__title
		position relative
		background-color: #f5fafb
		padding: 12px 0 13px 50px
		font-size 15px
		// margin-top: 1px 
		
	&__icon
		position: absolute
		top: 50%
		margin-top: -2px
		left: 35px
		border-style: solid
		border-color: #5e6e71 transparent transparent
		border-width: 5px 4px 0
	&__drop
		display none
		margin-top 1px 
		.offers-wrap
			padding: 12px 21px 12px 50px !important
		