.diagnostic-center__request
    font-size 28px
    font-weight 700
    line-height 30px
    margin-bottom 10px
    @media phone
        font-size 24px
        line-height 26px
.diagonstic-post 
    .post__thumb
        img
            @media phone_tablet 
                width 100%
                height 100%
    .post__body
        @media phone_tablet
            height auto
        .post__desc
            @media phone_tablet
                height auto
    .post-footer__mod
        .post__prime
            float left
        .post__more
            float right
.diagnostic-strong
    .doctor-alert
    span
        font-weight 700
        margin 0 auto 

.diagnostic-center_bez_rezult 
    display block
    .diagnost-center_bez
        margin-top -3px
.card-list__mod 
    li
        &:last-child
            margin-bottom 40px
