.services-new
	padding 10px 20px
	background-color #FFF
	border-radius: 2px
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
	&__title
		color: #5e6e71
		font-family: "PT Sans"
		font-size: 28px
		font-weight: 400
		line-height 1.6
	&__col
		padding 10px 0
		color: #4b89d3
		font-family: "PT Sans"
		font-weight: 400
		font-size: 16px
	&__caption
		display block
		border-bottom 1px solid #d9d9d9 
		font-size: 20px
	&__item
		padding-top 5px
		line-height 1.35
		cursor pointer
		&:hover
			text-decoration underline
	&__link-more
		position relative
		text-decoration none
		border-bottom 1px dotted #4b89d3 
		color: #4b89d3
		font-size: 12px
		&:after
			content ""
			position absolute
			top 50%
			right -15px
			margin-top -1px
			// +arr(7, 4, b, #4b89d3)
			border-style: solid
			border-width: 4px 3.5px 0 3.5px
			border-color: #4b89d3 transparent transparent transparent 
		&:hover
			border none
			
.services-block	
	&.services-block_new
		margin-bottom 15px
		.services-block__in
			padding 20px
			h1
				color: #5e6e71
				font-family: "PT Sans"
				font-size: 28px
				font-weight: 400
		.services-about
			.description
				&__item
					margin 0 0 5px 15px
					color: #5e6e71
					font-family: "PT Sans"
					font-size: 16px
					font-weight: 400
					&.heading
						margin 0 0 5px 0
					&.subheading
						&:before
							display none
				&__title
					color: #4b89d3
					font-size: 20px
				&__subtitle
					margin-bottom 5px
					color: #4b89d3
				&__link
					color: #4b89d3
					font-size: 16px
				&__list-in
					margin-left 15px
			.text-list
				&__item
					margin-bottom 5px
					&.last-child
						margin-bottom 0
		.services-block__search
			.direction
				background-color: #fafafa
				box-shadow none !important
				border-top 1px solid #d9d9d9
				border-radius 0




