+e("a").current +38 (044) 337-37-37
+e.dropdown
    +e("a").item.phones__item_life(href="tel:+380638888888" title="")
        +e("span").item-icon
    +e("a").item.phones__item_mts(href="tel:+380668888888" title="")
        +e("span").item-icon
    +e("a").item.phones__item_kyivstar(href="tel:+380687478888" title="")
        +e("span").item-icon
    +e("a").item.phones__item_civic(href="tel:+380687478888" title="")
        +e("span").item-icon
    +e("ul").list.js-phones-list
        +e("li").list-item
            +e("a").item.phones__item_life(href="tel:+380638888888" title="")
                +e("span").item-icon
                +e("span").item-value +38 (063) 747-88-88
            
        +e("li").list-item
            +e("a").item.phones__item_mts(href="tel:+380668888888" title="")
                +e("span").item-icon
                +e("span").item-value +38 (066) 747-88-88
            
        +e("li").list-item
            +e("a").item.phones__item_kyivstar(href="tel:+380687478888" title="")
                +e("span").item-icon 
                +e("span").item-value +38 (068) 747-88-88

        +e("li").list-item
            +e("a").item.phones__item_civic(href="tel:+380687478888" title="")
                +e("span").item-icon 
                +e("span").item-value Обратный звонок
+e("span").toggle


  
//- if international
//-     +e("span").number.mts (095) 337 07 07
//- else
//-     select.select7.select7_phones
//-         option(value="landline", selected, data-icon="/i/icons/phone-icon-new.png") (044) 3370707
//-         option(value="mts", data-icon="/i/icons/mts-logo.png") (095) 3370707
//-         option(value="life", data-icon="/i/icons/life-logo.png") (063) 3370707
//-         option(value="kyivstar", data-icon="/i/icons/kyivstar-logo.png") (067) 3370707        
//-         option(value="callback", data-icon="/i/icons/phone-icon-callback.png") Обратный звонок