.phones
    position: relative
    display inline-block
    margin-right: 18px
    height: 28px
    // float: left
    font-size: 12px
    line-height: 1.2
    color: #b1b1b1
    font-weight: bold
    white-space: nowrap
    padding: 3px 0 0 0
    @media only screen and (max-width: 800px)
        margin-right 0 
        // float right 
    &__current
        display: inline-block
        vertical-align: middle
        margin: 0 15px 0 0
        text-decoration: none
        color: blue_base
        transition: color .2s ease
        font-size 16px 
        font-weight normal 
        border-bottom 1px dotted
        transition all .2s ease-in-out
        &:hover
            color blue_select 
            border-bottom-color transparent
    &__dropdown
        display inline-block
        // @media only screen and (max-width: 1200px)
        //     a
        //         display none
        &:hover
            .phones__list
                display block
    &__item
        display: inline-block
        margin-right: 6px
        margin-top: 1px
        text-decoration: none
        vertical-align: middle
        &.phones__item_life,
        &.phones__item_mts,
        &.phones__item_kyivstar,
        &.phones__item_civic
            background-repeat no-repeat

        &.phones__item_life 
            background-image url("/i/icons/life-logo.png")
            // sprite($life_logo)

        &.phones__item_mts
            background-image url("/i/icons/mts-logo.png")
            // sprite($mts_logo)
            // .phones__item-icon
            //     sprite($mts_logo)

        &.phones__item_kyivstar
            background-image url("/i/icons/kyivstar-logo.png")
            // sprite($kyivstar_logo)
            
        &.phones__item_civic
            background-image url("/i/icons/callback_icon.png")
            // sprite($callback_icon)
            
    &__item-icon
        display: inline-block
        width: 19px
        height: 19px
        background-size: 63px 21px
        background-repeat: no-repeat
    &__item-value
        color: #5e6e71
        transition: all .2s ease
        display: block
        // margin-top: 2px
        // line-height 31px
        font-weight normal
        font-size 16px  
        padding-left 35px
    &__toggle
        position relative
        display: inline-block
        vertical-align middle
        width: 20px
        height: 20px
        &:after
            content ""
            position absolute
            left: 5px
            top: 9px
            vertical-align: middle
            border-width: 4px
            border-style: solid
            border-color: #0089d1 transparent transparent
    &__toggle_open
        &.phones__toggle
            &:after
                content ""
                position absolute
                left: 5px
                top: 4px
                vertical-align: middle
                border-width: 4px
                border-style: solid
                border-color: transparent transparent #0089d1
    &__list
        display: none
        position: absolute
        top: 100%
        margin-top: -2px
        padding: 2px 0
        right: 0
        width: 204px 
        border 1px solid #ccc
        // border-radius 3px
        background #fff
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25)
        background-clip padding-box
        z-index 2 
        // @media only screen and (max-width: 1200px)
        //     right 20px
    &__list_block
        display block !important
    &__list-item
        transition all .2s ease-in-out
        &:last-child
            .phones__item_civic
                text-align left
        .phones__item
            display: block
            float: none
            overflow: hidden
            margin: 0
            padding: 6px 13px
            &.phones__item_hover
                background-color #deeff2
            &.phones__item_life 
                background-position 13px
            &.phones__item_mts
                background-position 13px
            &.phones__item_kyivstar
                background-position 13px
            &.phones__item_civic
                background-position 13px
        .phones__item-icon
            float: left
            // margin-right: 16px
        &:hover
            background: rgba(#1f8199, 0.25)
            .phones__item-value
                color: #5e6e71
    &__item_hover
        .phones__item-value
            color blue_select 

.phones_mobile
    &.phones
        float right
        text-align right
    .phones__dropdown
        >a
            display inline-block
            @media only screen and (max-width: 499px)
                display none
    .phones__current
        font-size 14px
        @media only screen and (max-width: 320px)
            margin 0
    .phones__list
        margin-top -2px
        .phones__item
            width 100% 
            text-align left
        .phones__item-value
            font-size 14px
    .phones__toggle
        margin-right -7px

.about-text
    .select7__drop
        padding 34px 0 5px
    .select7__current
        padding 0 15px !important
    .select7__icon
        margin-right 5px
    .select7__current-value
        margin-left 25px 
        font-size 14px 
        font-weight normal 
        color #00829B 
        .select7__icon
            position absolute
            left 15px
            top -1px 
            margin-right 6px 
    .select7__option
        font-size 16px 
    .select7__caret
        margin-top 0
    .select7_open
        .select7__caret 
            margin-top -10px 
            border-color transparent transparent #96b8bf 
    @media only screen and (min-width: 320px) and (max-width: 560px)
        .phones
            float right 
            margin-top 1px 
    @media only screen and (max-width: 350px)
        .phones
            float none 
        .select7__current-value
            margin-left 20px !important
        .select7__icon
            left 11px !important