.phones
    float left
    position:relative
    margin 0
    font-size 14px
    line-height 1
    .select7
        margin-top 3px
        &:hover
            color header_icons_color
        &__current
            &-value
                border-bottom-color transparent
                .select7__icon img
                    vertical-align top
        &_open
            .select7__current-value
                color #262626

.navbar-main .phones
    color #fff