if international
    +e("span").number.mts (095) 337 07 07
else
    select.select7.select7_phones
        option(value="landline", selected, data-icon="/i/icons/phone-icon-new.png") (044) 3370707
        option(value="mts", data-icon="/i/icons/mts-logo.png") (095) 3370707
        option(value="life", data-icon="/i/icons/life-logo.png") (063) 3370707
        option(value="kyivstar", data-icon="/i/icons/kyivstar-logo.png") (067) 3370707        
        option(value="callback", data-icon="/i/icons/phone-icon-callback.png") Обратный звонок