if international
    +e("span").number.mts (095) 337 07 07
else
    select.select7
        option(value="landline", selected, data-icon="/i/phone-icon.png") (044) 3370707
        option(value="mts", data-icon="/i/mts-logo.png") (095) 3370707
        option(value="life", data-icon="/i/life-logo.png") (063) 3370707
        option(value="kyivstar", data-icon="/i/kyivstar-logo.png") (067) 3370707