.breadcrumbs
	margin 5px 0 20px
	.breadcrumb
		font-size 14px
		@media only screen and (max-width: 640px)
			display none
		ol, ul
			margin: 0
		a 
			// display inline-block
			// vertical-align middle
			color text_color
		// li + li
		span + span
			&:before
				content ">" 
				padding 0 5px 
		// li
		// 	>span
		// 		color #b6c1c3
		span
			&:last-child
				color #b6c1c3