.breadcrumbs
	margin 14px 0 20px
	.breadcrumb
		font-size 14px
		@media only screen and (max-width: 640px)
			display none
		ol, ul
			margin: 0
		a 
			color text_color
		li + li
			&:before
				content ">" 
				padding-right 5px 
		li
			>span
				color #b6c1c3