.breadcrumbs
    margin 14px 0 28px
    
    ol, ul
        margin: 0
    a 
        color text_color 
        font-size 14px 
    li
        >span
            color #b6c1c3
            font-size 14px
  
              