.page-sidebar
    background-color green_light
    padding 25px 30px
    margin-bottom 20px
    @media phone
        padding 15px 20px
        margin-right 10px
    &__list
        margin 0
        padding 0
        list-style none
        font-size 16px
        line-height 1.333
        @media phone
            font-size 16px
        &-item
            margin-bottom 15px
            &:last-child
                margin-bottom 0
        &-link
            display inline !important
            padding 0 !important
            text-decoration none
            border-bottom 1px dotted
            &:hover
                background-color transparent !important
            .active &
                border-bottom-color transparent
                color #000
            
article
    a
        word-wrap: break-word
        
.rich-content
    position relative