.label-great
	padding 5px 0
	&__text
		position relative
		display inline-block
		background-color: #ffc02a
		padding-left 10px
		line-height 22px 
		font-size: 13px
		font-weight: 700
		color #fff
		border-radius 3px 0 0 3px
		z-index 0  
		&:after
			position absolute
			top 0
			right -14px
			z-index -1 
			content ''
			display inline-block
			background url('i/icons/head-tringle.png') center center
			width 18px
			height 22px
	&__link
		font-size: 14px
		font-weight: 400
		color: #4b89d3
		padding-left 25px
		&:hover
			color #1997af
			text-decoration none
 	 