.block-bg
	margin-bottom 35px
	padding 38px
	background #fff
	box-shadow 0 2px 4px rgba(0,64,76,.15)
	border-radius 3px
	@media phone
		padding 15px 
		
.form-descr
	margin 15px 0 40px -22px
	@media tablet
		margin 15px 0 40px
	@media phone
		margin 30px 0 15px
		
	&__main-side
		position relative
		margin-right 78px
		@media only screen and (max-width 900px)
			margin-right 0 
		@media phone
			margin-right 0 
			// padding 20px 
		&:after
			content ""
			position absolute
			top 41px
			right -77px
			width 97px 
			height 100% 
			background-image url(i/bb-doc.png) 
			background-repeat no-repeat 
			@media only screen and (max-width 900px)
				display none 
	&__title
		margin-bottom 15px 
		color #5e6e71
		font-size 24px
		font-weight 700
		text-align center
		@media phone
			font-size 20px 
	&__items
		padding 40px 
		border 1px solid #e5f2f5
		border-radius 3px
		@media phone
			padding 15px 
			border 0 
	&__item
		position relative
		margin-bottom 35px 
		height 45px 
		&:last-child
			margin-bottom 0 
		@media phone
			margin-bottom 20px
			height auto  
	&__icon
		position absolute
		top 0
		left 0  
		@media phone
			position relative
			display block
			margin-bottom 15px 
			text-align center
	&__content
		line-height 45px
		padding-left 60px
		@media phone
			padding-left 0  
			text-align center
		p 
			display inline-block
			line-height normal 
			font-size 15px 
			@media phone
				display block
				font-size 14px 