.form-descr
	&.form-descr_thank
		margin 40px 0 40px -22px
		
	&__main-side
		&.main-side_thank 
			margin-right 0
			&:after
				content none 
		
	&__title
		&.title_thank
			padding-left 25px 
		
	&__items
		&.items_thank
			padding-left 30px 
	&__item 
		&.item_thank
			margin-bottom 65px
			@media only screen and (max-width: 960px)
				margin-bottom 35px 
			&:last-child
				margin-bottom 15px 
				@media only screen and (max-width: 1024px)
					margin-bottom 30px
				@media only screen and (max-width: 960px)
					margin-bottom 0 


	&__content
		&.content_thank
			p
				margin-top -3px
				line-height 22px 

.handling-to-user
	margin-bottom 40px 
	font-size 18px 
	line-height normal 
	@media tablet
		text-align center
	@media phone
		margin-bottom 30px 
		font-size 16px 
		text-align center
		
.form_thank	
	&.form-registration
		min-height 395px 
		padding 65px 50px 40px
		@media tablet
			padding 45px 30px 40px  
		@media only screen and (max-width: 1024px)
			padding 45px 30px 40px  
		@media phone
			min-height 0  
			.form
				&.form-horizontal
					margin-bottom 10px 
	.form-group
		@media phone
			.is-align-center
				text-align center 
	.form-group_thank
		margin-bottom 35px 
		@media phone
			margin-bottom 30px 

	.form-control_thank
		max-width 290px
		font-style italic 
		color #9ea6a8 
		@media phone
			max-width 100% 
	.btn_thank 
		margin-right 25px  
