//layouts clinic profile
.logo__mod
    .logo__text
        display none
.container-menu__mod
    border-bottom 2px solid green_base
.cabinet-section__mod 
    margin-top 25px 

// CLINIC-PROFILE_CURRENT
.clinic-profile__tabs
    line-height 40px
    box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
    clearfix() 
.application
    &__item-big
        
        border-radius 3px
        box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
        clearfix()
        .left-side
            background-color white
            float left
            width 50%
            &__title
                background green_base
                 
            
        .rigth-side
            float right
            width 50%
            border-left 1px dotted #168da4 
            
            
           