//layouts clinic profile
.logo__mod
    .logo__text
        display none
.container-menu__mod
    border-bottom 2px solid green_base
.cabinet-section__mod 
    margin-top 25px 

// CLINIC-PROFILE_CURRENT
.clinic-profile__tabs
    line-height 40px
    box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
    clearfix() 
.application
    margin-bottom 80px
    &__item-big
        margin-top 20px
        border-radius 3px
        box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
        clearfix()
        .left-side
            background-color white
            float left
            width 50%
            border-radius 3px 0 0 3px
            .left-side__wrap
                clearfix()
                .title
                    width 161px
                    float left
                    padding 20px
                    text-align center
                    background-color green_base
                    &__number
                        font-size 22px
                        font-weight 700
                        color #fff
                        padding-bottom 10px
                        &:before
                            content ""
                            display inline-block
                            background url('i/icons/item-number.png') center center
                            width 19px
                            height 18px
                            margin 0 5px -1px 0 
                    &__info
                        font-size 12px
                        font-weight 700
                        padding 3px 0
                        color #FFF 
                        display block
                        width 100%
                        border 1px solid rgba(#FFF, 0.88) 
                        border-radius 3px 
                    &__time
                        font-size 54px
                        font-weight 300
                        color #FFF
                        font-family Roboto, Arial,  sans-serif
                        font-weight 100 
                        letter-spacing -1px
                .table-info
                    padding 20px
                    margin-left 161px
                    table
                        width 100%
                        tr
                            line-height 31px
                            td
                                &:first-child
                                    font-size 14px
                                    font-weight 400
                                    color text_color
                                &:last-child
                                    font-size 14px
                                    font-weight 700
                                    padding-left 10px
                                    white-space nowrap
                                    overflow hidden
                                    -ms-text-overflow ellipsis
                                    text-overflow ellipsis
                                    
                 
            
        .rigth-side
            float right
            width 50%
            border-left 1px dotted #168da4 
            
            
           