//layouts clinic profile
.logo__mod
    .logo__text
        display none
.container-menu__mod
    border-bottom 2px solid green_base
.cabinet-section__mod 
    margin-top 25px
    .cabinet-section__content
        padding 30px 0 0 0 
    
.tabs-shadow
    line-height 40px
    box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
    background-color #FFF
    clearfix()

     
.clinics-profile__tabs
    margin-left 151px 
    border-bottom none 
    li
        position relative
        box-sizing border-box
        // margin-bottom 0
        border none
        &:hover
            color blue_link
            border none
        a
            padding 10px 21px
            margin-right 3px
            font-size 15px
            text-decoration none
            outline 0
            border-radius 0 
            color blue_link
            border none
            @media tablet
                padding 9px 11px
            &:hover
                color blue_link
                border-color none !important 
                box-sizing border-box
        &.active
            &:after
                border 1px solid blue_base
                content ''
                width 98%
                height 0
                position absolute
                left 0
                top -2px
                z-index 1
            &:before
                content 'Заявки'
                position absolute
                left 50%
                margin-left -20px
                top -44px
                z-index 5  
                color #00829b
                font-size 16px
                font-weight 700
                text-transform uppercase 
            a
                position relative
                font-weight 700
                color text_color
                background-color grey_base
                box-shadow inset 5px 0px 10px -5px rgba(0, 64, 76, 0.15)
                border none
                // border-top-color transparent 
                // border-image url('i/grey_texture.png')
                &:before
                    content ""
                    position absolute
                    left 50%
                    top -2px
                    width 0
                    height 0
                    border 8px solid transparent
                    border-top 7px solid blue_base
                &:after
                    content ""
                    position absolute
                    left 50%
                    top -5px
                    width 0
                    height 0
                    border 8px solid transparent
                    border-top 7px solid #FFF
                    z-index 2
                &:hover
                    color text_color
                    background-color grey_base
                    border none
                &:focus
                    color text_color
                    background-color grey_base
                    border none
        
// clinic-profile 
.profile-footer__wrap 
    border-top 1px dotted rgba(29,137,160,.45) 
    background-color rgba(#eaf5f9, 0.48)
    padding 25px 0
    

// CLINIC-PROFILE_CURRENT
.clinic-current__content
    .tab-content
        .tab-pane
            box-shadow none
            background grey_texture
            
.application
    margin-bottom 80px
    background grey_texture
    &__item-big
        position relative
        margin-top 20px
        border-radius 3px
        box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
        background-color white
        clearfix()
        .left-side
            background-color white
            float left
            width 50%
            border-radius 3px 0 0 3px
            @media only screen and (max-width: 1200px)
                float none
                width 100%
            .left-side__wrap
                clearfix()
                .title
                    position absolute
                    z-index 2
                    width 161px
                    float left
                    padding 20px
                    text-align center
                    @media only screen and (max-width: 1200px)
                        float left
                        position static
                        background-color green_base
                        border-radius 3px 0 0 0
                    &__number
                        font-size 22px
                        font-weight 700
                        color #fff
                        padding-bottom 10px
                        &:before
                            content ""
                            display inline-block
                            background url('i/icons/item-number.png') center center
                            width 19px
                            height 18px
                            margin 0 5px -1px 0 
                    &__info
                        font-size 12px
                        font-weight 700
                        padding 3px 0
                        color #FFF 
                        display block
                        width 100%
                        border 1px solid rgba(#FFF, 0.88) 
                        border-radius 3px 
                    &__time
                        font-size 54px
                        min-height 77px
                        font-weight 300
                        color #FFF
                        font-family Roboto, Arial,  sans-serif
                        font-weight 100 
                        letter-spacing -1px
                .table-info
                    padding 20px
                    margin-left 161px
                    // @media only screen and (max-width: 1200px)
                    //     margin-left 0 
                    table
                        width 100%
                        table-layout fixed
                        tr 
                            line-height 28px
                            td
                                &.no-info
                                    color #b5b9ba
                                &:first-child
                                    font-size 14px
                                    font-weight 400
                                    color text_color
                                    width 110px
                                &:last-child
                                    font-size 14px
                                    font-weight 700
                                    padding-left 10px
                                    white-space nowrap
                                    overflow hidden
                                    -ms-text-overflow ellipsis
                                    text-overflow ellipsis
        .right-side
            float left
            background #fcfdfd
            width 50%
            -webkit-border-radius 0 3px 3px 0  
            border-radius 0 3px 3px 0
            @media only screen and (max-width: 1200px)
                float none
                width 100%
                &:after
                    position static 
            &:after
                content ''
                position absolute
                top 0
                left 0
                bottom 0
                height 100%  
                width 161px
                background green_base
                -webkit-border-radius 3px 0 0 3px  
                border-radius 3px 0 0 3px
                z-index 1     
            .right-side__wrap
                position relative
                strong
                    display block
                .comment-block
                    width 55%
                    float left
                    padding 20px
                    padding-right 20px
                    &__item
                        font-size 14px
                        color text_color
                        &:first-child
                            min-height 115px
                            padding-top 4px 
                            @media only screen and (max-width: 1200px)
                                min-height auto
                        span
                            font-style italic
                            line-height 17px
                            &.no-comment
                               color rgba(#5e6e71, 0.6)
                .alternative-block
                    margin-left 55%
                    width 45%
                    border-left 1px dashed rgba(29,137,160,.45)
                    padding 20px
                    -webkit-border-radius 0 3px 3px 0  
                    border-radius 0 3px 3px 0
                        &:after
                            position static
                            border-left none 
                    &:after
                        content ''
                        position absolute
                        top 0
                        left 0
                        bottom 0
                        height 100%  
                        width 50%
                        z-index 1 
                        border-left 1px dashed rgba(29,137,160,.45)    
                    &__enter-text
                        width 100%
                        height 69px
                        background #FFF
                        border 1px solid rgba(61, 160, 180, 0.27)
                        border-radius 3px
                        box-shadow inset 2px 2.3px 1px rgba(43, 151, 173, 0.12) 
                        outline none 
                        text-align left
                        font-style italic
                        padding 10px
                        margin 10px 0
                    &__button
                        width 100%
                        font-size 16px
                        font-weight 700
                        color #FFF 
                        background-color green_base 
                        margin-bottom 10px
                        &:hover
                            background-color #3ab3a2
                            border-color #3ab3a2
                        &:last-child
                            margin-bottom 0
                        &.bg-blue   
                            background-color #168da4 
                            &:hover
                                background-color #1b7f94
                                border-color #1b7f94
    .item-small
        .left-side
            .left-side__wrap
                .title
                    .item-small__number
                        color text_color
                        &:before
                            background url('i/icons/item-number_black.png') center center
                    .item-small__info
                        color text_color
                        border 1px solid rgba(#5e6e71,0.59)
                    &__picture
                        line-height 7
                    &.item-small__title-time
                        @media only screen and (max-width: 1200px)
                            background-color #fbf4e1
                    &.item-small__title-canceled
                        @media only screen and (max-width: 1200px)
                            background-color rgba(#909191, 0.26)
        .right-side
            border-left 1px dashed rgba(29,137,160,.45)
            .right-side__wrap  
                .comment-block
                    width 100%
                    &__item
                        &:last-child
                            width 50%
            &.right-side__time
                &:after
                    background-color #fbf4e1
            
                    
            &.right-side__cancel
                &:after
                    background-color rgba(#909191, 0.26) 
            &.right-side__small
                border-left none
                .right-side__wrap  
                    .comment-block
                        width 55%
                        &__item
                            &:last-child
                                width auto 
                
                
                                
// tab-alternative
#tab-alternative.tab-pane  
    box-shadow none 
    background grey_texture
    .alternative-btn
        margin 20px 0
        &__button
            color #168da4
            font-size 14px
            font-weight 400
            background-color rgba(254, 254, 254, 0.81)
            border 1px dashed #00829b
            border-radius: 3px
            box-shadow 0 2px 4px rgba(0, 64, 76, 0.15) 
            padding 6px 20px
            &:hover 
                opacity 0.8
        &__district
            // max-height 40px
            max-width 400px
            display inline-block
            vertical-align middle
            padding 0 15px
            clearfix()
            >span
                position relative
                display inline-block
                padding-right 20px
                margin-right 10px
                // &:nth-child(even)
                //     display block
                >.icon-close
                    position absolute
                    right 0
                    top 50%
                    margin-top -6.5px 
                    background url('i/icons/clinic-profile-close.png') no-repeat
                    width 13px
                    height 13px
                    cursor pointer
        &__specialization
            display inline-block
            margin-left 15px
        &__icon-close
            display none
            vertical-align middle
            margin-left 15px 
            background url('i/icons/clinic-profile-close.png') no-repeat
            width 13px
            height 13px
            cursor pointer
            &.is-active
              display inline-block
                
                     
            
    .title__alternative 
        top 50%
        margin-top -55px
        @media only screen and (max-width: 1200px)
            float left
            position static
            background-color #168da4 
            border-radius 3px 0 0 0
            margin-top 0
    .title__alternative-pic
        margin-top -43px
        top 50% 
        @media only screen and (max-width: 1200px)
            line-height 80px
            margin-top 0
            position static
            
           
           
    .right-side__alternative
        &:after
            background-color #168da4     
        .right-side__wrap
            .alternative-block 
                &__enter-text
                    margin 12px 0
                    
    

//tab-finished
.completed-header
    margin-top 20px
    clearfix()
    p
        margin 0
    &__item
        position relative
        float left
        margin-right 15px
        &:last-child
            float right
            margin-right 0
        @media only screen and (max-width: 1024px) 
            margin-right 10px
        .block-wrap 
            position relative
            &__search
                background-color white
                border 1px solid rgba(61, 160, 180, 0.37)
                border-radius 3px
                box-shadow inset 2px 3.3px 1px rgba(43, 151, 173, 0.12)
                width 256px
                padding 5px 10px 5px 15px
                font-size 14px
                color text_color
                outline none
                &::-webkit-input-placeholder 
                    color #bed3d8
                &::-moz-placeholder
                    color #bed3d8          
                &:-moz-placeholder 
                    color #bed3d8          
                &:-ms-input-placeholder
                    color #bed3d8  
                @media only screen and (max-width: 1024px) 
                    width 200px  
            &__icons
                position absolute 
                cursor pointer
                right 15px
                top 50%
                margin-top -8px  
                width 17px
                height 17px
                background url('i/icons/clinic-profile-search.png') no-repeat
        .everyone-header
            display inline-block
            background-color white
            border 1px solid rgba(22, 141, 164, 0.7)
            border-radius 3px
            box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
            padding 5px 10px 5px 15px
            width 184px
            color #168da4
            &:after
                content ''
                float right
                margin 8px 6px 0 0 
                display inline-block
                border 4px solid transparent
                border-top 6px solid #1d89a0
        .everyone-lists 
            display none
            position absolute
            top 30.3px 
            z-index 10 
            width 184px
            color #91b5bc
            font-size 14px
            border 1px solid rgba(22, 141, 164, 0.7)
            border-radius 0 0 3px 3px
            box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
            background #fff
            &.is-open
                display block
            &__list
                padding 5px 5px 5px 15px
                color text_color
                cursor pointer
                &:first-child
                    margin-top 6px
                &:last-child
                    margin-bottom 6px
                &:hover
                    background-color #e5f2f5 
                    color #168da4 
                    
    &__date-picker
        position relative
        width 226px
        height 31px
        color #bed3d8
        padding-left 35px
        cursor pointer
        background-color: white
        border: 1px solid rgba(22, 141, 164, 0.7)
        border-radius: 3px
        box-shadow: 0 2px 4px rgba(0, 64, 76, 0.15) 
        text-align left
        
    .date-picker
        position relative
        outline none
        &:before
            content ''
            position absolute
            left 8px
            top 50%
            margin-top -10px
            border none
            background url('i/cabinet/piker-calendar.png') no-repeat center center
            margin-right 10px
            width 20px
            height 20px
            z-index 5
             
        &:after
            content ''
            position absolute
            top 50%
            margin-top -3px
            right 15px 
            width 0
            height 0
            border 4px solid transparent
            border-top 5px solid blue_base
        &:focus
            outline none
            border none
// .comiseo-daterangepicker
//     width 596px
//     border-radius 3px
//     background-color: white
//     border: 1px solid #00829b
//     box-shadow: 0 2px 4px rgba(0, 64, 76, 0.19)
//     a
//         text-decoration none
//         font-size 14px
//     .comiseo-daterangepicker-main
//         display inline-flex
//         flex-direction column-reverse
//         width 100%
//     .ui-datepicker-inline
//         width auto !important
//     .ui-datepicker-group
//         float left
//         width 50%
//         &.ui-datepicker-group-first
//             border-right 1px solid rgba(#148ca3, 0.33)
//     .ui-datepicker-header
//         position relative
//         .ui-datepicker-prev, .ui-datepicker-next
//             position: absolute
//             font-size 22px
//             color text_color
//             cursor pointer
//     .ui-datepicker-prev
//         left: 35px
//         bottom 0
//         // span
//         //     &:before
//         //         content "‹"
//         //         display inline-block
//         //         position absolute
//         //         right -300px
//     .ui-datepicker-next
//         right: 35px
//         bottom 0
//         z-index 9999
//     .ui-datepicker-title
//         border-bottom 1px solid rgba(#148ca3, 0.33)
//         text-align center
//         span
//             color: text_color
//             font-size: 16px
//             font-weight: 400
//             line-height: 32px
                
//     table.ui-datepicker-calendar
//                 width 100%
//                 min-height 243px
//                 thead
//                     tr
//                         th
//                             text-align center
//                             span
//                                 font-size 15px
//                                 line-height 32px
//                                 text-transform uppercase
//                                 color #148ca3 
//                                 font-weight normal
//                 tbody
//                     tr
//                         line-height 35px
//                         text-align center
//     .comiseo-daterangepicker-presets
//         text-align center
//         .ui-widget-content
//             background-color blue_base 
//             border-radius 2px 2px 0 0 
//             width 100%
//             &:after
//                 content ''
//                 position absolute
//                 top -21px
//                 right 193px 
//                 width 0
//                 height 0
//                 border 11px solid transparent
//                 border-bottom 10px solid blue_base
            
//             .ui-menu-item 
//                 display inline-block
//                 line-height 40px
//                 padding 0 12px
//                 &.is-active
//                     a
//                         border-bottom none
//                         font-weight 700
                         
//                 a
//                     font-size 14px
//                     color #f5fafc
//                     text-decoration none
//                     border-bottom 1px dashed #fff 
//                     &:hover
//                         border-color blue_base
//                 &:first-child
//                     a
//                         border-bottom none
//                         cursor default
//     .comiseo-daterangepicker-buttonpanel
//         margin-top -5px
//         // text-align right
//         vertical-align middle
//         padding 10px
//         border-top 1px solid rgba(#148ca3, 0.33)
//         clearfix() 
//         .ui-button
//             float right
//             color #fff
//             font-size 14px
//             font-weight: 700
//             width 115px
//             padding 5px 0
//             margin-left 10px
//             border-radius: 3px
//             &.ui-priority-primary
//                 background-color green_base
//                 border 1px solid  green_base
//                 &:hover
//                     background-color #3ab3a2
//                     border-color #3ab3a2
//             &.ui-priority-secondary
//                 background-color #a9bdc4
//                 border 1px solid #a9bdc4
//                 &:hover
//                     background-color #A4B4BB
//                     border-color #A4B4BB

                   
//     .ui-state-default
//         color #1d1e29
//         // &:hover
//         //     opacity .7
//     .ui-state-active
//         position relative
//         z-index 0 
//         color #FFF
//         font-weight 700 
//         &:before
//             content ''
//             background-color green_base
//             position absolute
//             top 50% 
//             left 50% 
//             z-index -1  
//             width 28px
//             height 28px
//             margin-top -14px        
//             margin-left -14px 
//             border-radius 3px
//         // &:hover
//         //     &:before
//         //         background-color #3ab3a2 
                   
//     .ui-datepicker-other-month
//         a
//             color #a6b8bc 
//     .ui-datepicker-today
//         a
//             color #f07804
//             font-weight normal !important
//             position relative
//             &:after
//                 content ''
//                 position absolute
//                 bottom -6px
//                 left 50% 
//                 margin-left -3px
//                 z-index 10
//                 display block
//                 background-color #f07804
//                 width 5px
//                 height 5px
//                 border-radius 50% 
//     td.ui-state-highlight
//         background-color #eaf5f9
//         &:first-child
//             border-radius 3px 0 0 0 
//         &:last-child
//             border-radius 0 3px 0 0 
     

                            
                    
