
.direction
	background-color white
	border-radius 2px
	box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
	font-size 16px
	padding 0 20px
	margin-bottom 20px
	clearfix()
	@media phone
		padding 0 10px
	a
		outline none
	&__left
		float left
		@media phone
			float none
			display block
	&__title
		display inline-block
		line-height 55px
		padding-right 20px
	&__btn
		position relative
		display inline-block
		font-size 14px
		border 1px solid rgba(129, 169, 177, 0.7)
		border-radius 2px
		box-shadow: 0 2px 4px rgba(0, 64, 76, 0.08)
		width 266px
		padding 5px 15px
		color #77969c
		text-decoration none
		outline none
		&:focus
			text-decoration none
			color #77969c
		&:hover
			border-color green_base
			color green_base
		&:after
			content ''
			position absolute
			right 15px
			top 45%
			display block
			width 0
			height 0
			border 5px solid transparent 
			border-top 5px solid #77969c
		
		
			
		.btn__close
			display none
			margin 0 0 -3px 20px 
			cursor: pointer
			width: 12px
			height: 12px
			background url('i/icons/action-close.png')  no-repeat
			
		.is-active
			display inline-block
				
	&__right
		float right
		line-height 55px
		@media phone
			float left

.section-action
	&.section-action__about
		.action-item
			&:hover
				box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
				border-color transparent
		
	a 
		outline none




//ACTION-ABOUT
.action-about 
	&__title
		position relative
		font-size 24px
		font-weight 700	
		color text_color
		margin-bottom 20px
		&:before
			content ''
			display inline-block
			background url('i/icons/in-promotions_small.png') center center  no-repeat
			width 43px
			height 43px
			margin 0 10px -7px 0
		&.title__clinics
			&:before
				background url('i/icons/in-clinic_small.png') center center  no-repeat
				width 40px
				height 35px 
		&.title__doctors
			
			&:before
				background url('i/icons/in-doc_small.png') center center  no-repeat
				width 38px
				height 45px
	&__in
		background-color white
		border-radius 2px
		box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
		margin-bottom 20px 
		padding 25px 20px
	&__text
		font-size 15px
		font-weight 400
		color text_color
		margin 0 0 15px 0
		&.text-info
			position relative
			padding 25px 25px 25px 70px
			background-color #e5f2f5
			border-radius 3px
			margin-bottom 0
			&:before
				content ''
				display inline-block
				position absolute
				left 40px
				top 27px 
				background url('i/icons/action-info.png') center center 
				width 20px
				height 20px
				
	&__caption
		font-size 15px
		font-weight 700
		color text_color
		list-style none
		margin-bottom 15px
		padding 0
	&__caption-item
		position relative
		font-weight 400 
		margin-bottom 4px
		padding-left 20px
		line-height 2
		&:before
			content "•"
			position: absolute
			top: 2px
			left: 0
			font-size: 22px
			line-height: 24px
			color: #96b8bf
	// .about-package
		 
	// 	margin-bottom 30px 
	// 	.package-title
	// 		background-color #00829b
	// 		border-top-left-radius 3px 
	// 		border-top-right-radius 3px 
	// 		clearfix()
	// 		&__item	
	// 			display inline-block
	// 			color #FFF
	// 			font-size 17px
	// 			font-weight 700
	// 			line-height 43px
	// 			padding 0 29px
	// 			&:first-child
	// 				float left
	// 				width 80%
	// 			&:last-child
	// 				float right
	// 				width 20%
	// 				text-align center
	// 				border-left 1px solid rgba(#fff, 0.2)
	// 	.package-content 
	// 		border 1px solid rgba(0, 130, 155, 0.16)
	// 		border-bottom-right-radius 3px
	// 		border-bottom-left-radius 3px
	// 		&__item
	// 			clearfix()
	// 		&__servise-title
	// 			padding 0 29px
	// 			background-color #e5f2f5
	// 			font-weight 700
	// 			line-height 43px
	// 			font-size 15px
	// 		.servise-content
				
	// 			&__point
	// 				position relative
	// 				line-height 43px
					
	// 				&:nth-child(2n-1)
	// 					padding-left 49px
	// 					float left
	// 					width 80%
	// 					&:before
	// 						content "•"
	// 						position: absolute
	// 						top: 10px
	// 						left: 29px
	// 						font-size: 22px
	// 						line-height: 24px
	// 						color: #96b8bf
	// 				&:nth-child(even)
	// 					float right
	// 					width 20%
	// 					text-align center
	// 					border-left 1px solid rgba(0, 130, 155, 0.16)	
	// 				&.add-border
	// 					border-bottom 1px solid rgba(0, 130, 155, 0.16)	
	table
		width 100% 
		outline none 
		border-radius 3px 
		moz-border-radius 3px
		-webkit-border-radius 3px
		border-collapse separate 
		margin-bottom 30px
		border 1px solid rgba(0,130,155,.16)
		thead
			tr
				height 49px
				background-color #00829b
				border 1px solid #00829b 
				color #FFF
				font-size 17px
				font-weight 700

				td
					&:first-child
						background-color #00829b
						padding-left 29px  
						text-align left
						border-top-left-radius 3px
						moz-border-top-left-radius 3px
						-webkit-border-top-left-radius 3px 
					&:last-child
						text-align center
						background-color #00829b
						border-top-right-radius 3px
						moz-border-top-right-radius 3px
						-webkit-border-top-right-radius 3px  
						border-left 1px solid rgba(#fff, 0.2)
						padding 0 10px 
		tbody
			border-left 1px solid rgba(0, 130, 155, 0.16)
			tr
				height 47px
				background-color #fff
				color taxt_color
				font-size 15px
				font-weight 400	
				
				td
					padding-left 29px
					
					// &:first-child
					// 	border-left 1px solid rgba(0, 130, 155, 0.16)
					&:last-child
						padding 0
						text-align center
						// border-right 1px solid rgba(0, 130, 155, 0.16)
				&:last-child
					td
						&:first-child
							border-bottom-left-radius 3px
							moz-border-bottom-left-radius 3px
							-webkit-border-bottom-left-radius 3px 
						&:last-child
							border-bottom-right-radius 3px
							moz-border-bottom-right-radius 3px
							-webkit-border-bottom-right-radius 3px 
		.table__disc-style
			td 
				position relative
				padding-left 29px
				&:first-child
					padding-left 49px
					&:before
						content "•"
						position: absolute
						top: 10px
						left: 29px
						font-size: 22px 
						line-height: 24px
						color: #96b8bf	
				&:last-child
					border-left 1px solid rgba(0, 130, 155, 0.16)
								
								
		.table__title
			td	
				background-color #e5f2f5
				font-weight 700
				&:first-child
					padding-left 29px
						&:before
							content ''
				// &:last-child
				// 	border-right 1px solid rgba(0, 130, 155, 0.16)
		.bd-leftb
			// border-left 1px solid rgba(0, 130, 155, 0.16)
			border-bottom 1px solid rgba(0, 130, 155, 0.16)
		.bd-rigthb
			// border-right 1px solid rgba(0, 130, 155, 0.16)
			border-bottom 1px solid rgba(0, 130, 155, 0.16)
		// .bd-rigth
		// 	border-right 1px solid rgba(0, 130, 155, 0.16)
		// .bd-left
		// 	border-left 1px solid rgba(0, 130, 155, 0.16)
	.action-clinics
		background-color white
		border-radius 2px
		box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
		margin-bottom 20px 
	.action-doctors
		background-color white
		border-radius 2px
		box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
		margin-bottom 50px 
		font-size 14px
		font-weight 400 
		margin-top 20px
		.doctors-card
			.doctors-card__item
				border-radius none
				box-shadow none
				border none
				border-radius 0
				margin-bottom 0
				border-bottom 1px dashed rgba(#1d89a0, 0.45)
				&:last-child
				    border-bottom none
				&:hover
					border-radius none
					box-shadow none
	
				
								
								
		
	.action-clinics
		background-color white
		border-radius 2px
		box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
		margin-bottom 20px
		.doctors-card
			.doctors-card__item
				border-radius none
				box-shadow none
				border none
				border-radius 0
				margin-bottom 0
				border-bottom 1px dashed rgba(#1d89a0, 0.45)
				clearfix()
				&:last-child
				    border-bottom none
				&:hover
					border-radius none
					box-shadow none
				.clinics-container
					float left
					width 65%
					@media phone
						float none
					@media screen560
						width 100%
					.favorite-title
						.favorite-title__link
							font-size 18px
							font-weight 700
							line-height 20px
							color #4b89d3
						.favorite-title__category 
							a
								white-space nowrap
							
						.small-card__footer
							.small-card__schedule
								clearfix()
								@media phone
									float left
			
	.action-doctors
		background-color white
		border-radius 2px
		box-shadow 0 2px 4px rgba(0, 64, 76, 0.15)
		margin-bottom 50px 
		font-size 14px
		font-weight 400 
		.doctors-card
			.doctors-card__item
				border-radius none
				box-shadow none
				border none
				border-radius 0
				margin-bottom 0
				border-bottom 1px dashed rgba(#1d89a0, 0.45)
				&:last-child
				    border-bottom none
				&:hover
					border-radius none
					box-shadow none
.link-more__mod
	border-top 1px dashed #96b8bf
	.diseases-check-list
		padding 20px 20px 10px 20px 
		li
			color #4b89d3
// .main-title__action					
				 
		  