.rating-new
    overflow hidden 
    *zoom 1
    position relative
    float right
    width 205px
    &__item
        opacity 0
        width 21px  
        height 20px
        position absolute
        top 0
        z-index 0 
        
        &:checked ~ label 
            background url('i/cabinet/stars-sprites.png') no-repeat
            background-position 0 -29px
            width 21px
            height 20px
    &__star 
        background url('i/cabinet/stars-sprites.png') no-repeat
        background-position: 0 0
        height: 20px
        width: 21px
        margin-right 2px
        float: right
        cursor: pointer
        position: relative
        z-index: 1
        
       
         
    .rating-new__star:hover, .rating-new__star:hover ~ label 
        background url('i/cabinet/stars-sprites.png') no-repeat
        background-position 0 -29px
        width 21px
        height 20px 
    .rating-new    
        input#star-1
            left 86px
        input#star-2
            left 64px 
        input#star-3
            left 42px
        input#star-4
            left 21px
        input#star-5
            left 0
        
.star-1:hover .tringles-stars
    display block
    
.star-2:hover .tringles-stars
    display block
    
.star-3:hover .tringles-stars
    display block
.star-4:hover .tringles-stars
    display block
.star-5:hover .tringles-stars
    display block

.tringles-stars
    display none
    position absolute
    width 68px
    height 21px
    background-color #35bfae
    border-radius 10px 1px 1px 10px
    color #FFF
    font-size 14px
    line-height 20px
    padding-left 10px
    text-align left
    &:after
        content ''
        border 11px solid transparent
        border-left 10px solid #35bfae
        float right
        margin-right -20px
        margin-top -0.5px
        vertical-align top
        width 0
        height 0
.tringles-ok 
   left -181px 
.tringles-good
    left -155px  
.tringles-normal
    width 80px
    padding-left 7px 
    left -135px
.tringles-badly
    left -113px 
    background-color #D0542E
    &:after
       border-left 10px solid #D0542E 
.tringles-awfully
    left -90px 
    background-color #D52939
    &:after
       border-left 10px solid #D52939
         
.edit__tooltip
    display none
    position absolute
    top -3px
    right 110px  
    width 68px
    height 21px
    background-color #35bfae
    border-radius 10px 1px 1px 10px
    color #FFF
    font-size 14px
    line-height 20px
    padding-left 3px
    &:after
        content ''
        border 11px solid transparent
        border-left 10px solid #35bfae
        margin-right -21px
        margin-top -0.5px
        display inline-block
        vertical-align top
        width 0
        height 0
        

  