.diagnostics-record
	position relative
	z-index 1
	margin 0 -10px 
	@media phone
		.header-styled
			margin-top 15px
			margin-bottom 6px 
		.h1
			font-size 22px
			font-weight bold
			text-align center
	&__header-wrap
		clearfix()
	&__inner
		// height 480px 
		padding-bottom 90px
		@media only screen and (max-width 768px)
			padding-bottom 90px  
	&__list
		font-size 0 
		margin-bottom 25px  
		@media only screen and (min-width 768px)
			margin 0 -5px 25px  
	&__item
		width 25%  
		display inline-block
		vertical-align top 
		min-height 50px 
		padding 0 15px 
		box-sizing border-box 
		@media only screen and (max-width: 768px)
			width 50% 
			margin-bottom 20px 
	&__item-title
		display inline-block
		font-size 18px
		font-weight bold
		color text_color
		&.item-title_mobile
			display none
			@media only screen and (max-width 768px)
				display inline-block

	&__inner-list 
		margin-top 15px 
	&__inner-list__item
		position relative
		margin-bottom 15px  
		padding-left 35px
		.inner-list__link
			font-size 16px
			font-weight 700
			text-decoration underline
			color blue_base 
			&:hover
				text-decoration none 
		.inner-list__quantity
			position absolute 
			top 2px
			left 0 
			font-size 17px  
			font-weight bold
			color green_base  

.diagnostics-record__items
	@media only screen and (max-width 768px)
		display none 
	.diagnostics-record__item-title
		display inline-block
		width 25%  
		vertical-align top 
		padding 0 15px 
		box-sizing border-box 
		font-size 18px
		font-weight bold
		color text_color
		

			
.diagnostics-record__item
	@media phone
		position relative
		width 100% 
		// height 44px 
		padding 0 20px 
		border-top 1px solid rgba(0,0,0, .18)
		margin-bottom 0  
		cursor pointer
		min-height auto 
		overflow hidden
		background #fff grey_texture
		&:last-child
			border-bottom 1px solid rgba(0,0,0, .18)
		.tab__header_open
			background green_texture 
			color #FFF 
			font-weight bold
		.diagnostics-record
			&__item-title
				display block
				margin 0 -20px  
				padding 12px 20px 
				padding-right 40px 
				vertical-align middle 
				min-height auto 
				font-size 18px
				font-weight normal 
				text-transform uppercase
			&__inner-list
				display none
				margin-top 0 !important
				padding-top 0
				background #fff
				margin 0 -20px 0px
				padding-bottom: 0
				margin-top 25px 
			&__inner-list__item
				position relative
				margin-bottom 0
				padding 10px 55px 12px 65px
				border-bottom 1px solid rgba(0,0,0, .18)
				&:after
					content ""
					position absolute
					top 16px
					right 25px
					sprite($arrow_right_green)
				&:last-child
					border-bottom 0
				.inner-list__quantity
					left 25px
					top 11px
			.inner-list__link
				text-decoration none
				&:hover
					text-decoration underline
		.btn__mobile
			position absolute 
			top 25px
			right 21px
			width 16px 
			height 8px  
			margin-top -4px
			background url("i/icons/arrow_tab_down.png") no-repeat  
		.btn__mobile_open
			background url("i/icons/arrow_tab_up.png") no-repeat  



.tab-active_info-index
	display block
