.menu
    float left
.main-menu
    width 100%
    height 48px
    margin 0 
    padding 0
    // padding-left 10px 
    list-style none
    font-size 0
    
    &__item
        display inline-block
        height 100%
        position relative 
        vertical-align top 
        &:last-child
            a
                margin-right 0 
        &-link
            position relative
            display block
            height 100%
            margin-right 65px
            // padding 0 33px
            font-size 16px
            line-height 3
            white-space nowrap
            color #5e6e71
            text-transform uppercase
            text-decoration none
            transition none
            &:before
                content attr(data) 
                position absolute
                top 0
                left 0
                font-size 16px
                color transparent
                font-weight 700
                transition all .1s ease-in-out
                @media only screen and (max-width: 790px)
                    font-size 14px
                    // padding 2px 5px 
            @media tablet
                // padding 0 8px
                font-size 15px
                &:before
                    font-size 15px
                    left 0px 
            @media only screen and (max-width: 1000px)
                margin-right 25px 
                padding-top 2px
                font-size 14px  
                &:before
                    top 2px
                    font-size 14px
            &:hover
                border-bottom 3px solid green_base 
                text-decoration none
                color blue_base 
            &:focus
                border-bottom 3px solid green_base 
                text-decoration none
            &:active:before
                color blue_base 
            &.disabled
                color #c0e2e6 
                cursor default
                &:hover, &:active
                    border-bottom 0
                    text-decoration none
                    color #c0e2e6 
                &:before
                    content none


        &.active
            a
                border-bottom 3px solid green_base 
                color blue_base
                font-weight 700

        // &:hover
        //     border-bottom 3px solid green_base 
