.main-menu
    width 100%
    height 48px
    margin 0
    padding 0
    list-style none
    font-size 0
    border-top 1px solid #f2f9fa
    
    &__item
        display inline-block
        height 100%
        position relative

        &-link
            position relative
            display block
            height 100%
            padding 0 20px
            font-size 16px
            line-height 3
            white-space nowrap
            color #5e6e71
            text-transform uppercase
            text-decoration none
            
            @media tablet
                padding 0 8px
                font-size 15px
                
            &:hover
                text-decoration underline
                color blue_base
            
        &:first-child
            a
                padding-left 10px
                
        &:last-child
            float right
            a
                padding 0 10px
                color green_base
        &.active
            &:after
                  border 1px solid blue_base
                  content ''
                  width 100%
                  height 0
                  position absolute
                  left 0
                  bottom -2px
                    
            a
                color blue_base
                font-weight 700
                &:before
                    content ""
                    position absolute
                    left 50%
                    width 0
                    height 0
                    bottom -8px
                    margin-left -10px
                    border-style solid
                    border-width 8px 10px 0 10px
                    border-color blue_base transparent transparent transparent
                &:after
                    content ""
                    position absolute
                    left 50%
                    bottom -6px
                    width 0
                    height 0
                    margin-left -6px
                    border-style solid
                    border-width 6px 6px 0 6px
                    z-index 2
                    border-color #fff transparent transparent transparent
                        