.partner-registration
    &__title
        color text_color
        font-style italic
        display inline-block
        font-size 22px
        font-weight bold
        max-width 290px
        line-height 1.2
        vertical-align middle
        @media tablet
            max-width 230px
            text-align center
        @media phone 
            display block 
            text-align center
            max-width 100%
            font-size 20px
            margin -10px 0 20px 0
    &__image 
        margin 0 20px 0 20px
        display inline-block      
        @media tablet
            margin 0
        @media phone_tablet
            margin 0
        @media phone 
            display none
    .partners-reg-mod
        background #e5f2f5 
        border 0
    