.statistics-item
    text-align center
    padding 10px 15px
    margin-bottom 0
    height 100px
    border-radius 3px
    @media phone_tablet
        height 105px
    @media phone
        margin-bottom 20px
    &__value
        font-size 36px
        line-height 40px
        font-weight bold
        color #00829b
    &__label
        font-size 15px
        line-height 20px
        @media phone_tablet
            font-size 14px
            line-height 16px
    &_simple
        height auto !important
        padding 0
        margin-bottom 8px !important
        .statistics-item
            &__label
                @media phone
                    height 32px
            &__value
                font-size 45px
                &-label
                    font-size 24px