.user-panel-auth
    .btn
        color #a8e3ee
        background-color transparent
        border-color #a8e3ee
        &:hover
            color #fff
        @media table
            display: none
            
    &__separator
        font-weight normal
        color #a8e3ee
        margin 0 5px