.user-panel-auth
    padding-left 10px
    .btn
        color #a8e3ee
        background-color transparent
        border-color #a8e3ee
        -webkit-border-radius 2px 
        border-radius 2px 
        &:hover
            color #fff
        @media table
            display: none
            
    &__separator
        font-weight normal
        color #a8e3ee
        margin 0 5px