.row
    +b.advantage.col-sm-4
        +e.icon
        +e.title
            | Наш сервис бесплатен
            br
            | для пациентов
        +e.desc
            | Мы гарантируем Вам конфиденциальность Ваших данных. Ваша персональная информация используется только для записи.

    +b.advantage.col-sm-4
        +e.icon
        +e.title
            | В нашем call-центре
            br
            | работают врачи
        +e.desc
            | Мы гарантируем Вам конфиденциальность Ваших данных. Ваша персональная информация используется только для записи.

    +b.advantage.col-sm-4
        +e.icon
        +e.title
            | Ваши данные в полной
            br
            | безопасности
        +e.desc
            | Мы гарантируем Вам конфиденциальность Ваших данных. Ваша персональная информация используется только для записи.
