$advantage_radius = 118px
.container-advantages
	padding-top 93px
	background grey_base
	.advantages
		padding-bottom: 10px
		.row
			background-color: white
			border-radius: 3px
			box-shadow: 0 2px 4px rgba(0, 64, 76, 0.15)	
			margin: 0	

.advantage
	position relative
	padding 69px 4% 34px
	text-align center
	&__icon
		position absolute
		left 50%
		top -($advantage_radius / 2)
		margin-left -($advantage_radius / 2)
		width $advantage_radius
		height $advantage_radius
		background #fff
		border 6px solid grey_base
		border-radius ($advantage_radius / 2)
		
		&:before
			content ''
			position absolute
			left 50%
			top 50%
	
	&:nth-child(1)
		.advantage__icon
			&:before
				sprite($advant_free)
				margin-left -($advant_free_width / 2)
				margin-top -($advant_free_height / 2)
	&:nth-child(2)
		border-left 1px solid grey_base
		border-right 1px solid grey_base
		.advantage__icon
			&:before
				sprite($advant_call)
				margin-left -($advant_call_width / 2)
				margin-top -($advant_call_height / 2)
	&:nth-child(3)
		.advantage__icon
			&:before
				sprite($advant_secure)
				margin-left -($advant_secure_width / 2)
				margin-top -($advant_secure_height / 2)
		
	&__title
		font-size 18px
		line-height 1.2
		font-weight 700
		margin-bottom: 5px
	&__desc
		font-size 14px
		line-height 1.25
	