$advantage_radius = 118px
.container-advantages 
	.advantages
		padding-bottom: 10px
		.row
			background-color: white
			border-radius: 3px
			// box-shadow: 0 2px 4px rgba(0, 64, 76, 0.15)	
			margin: 0	
.row_advantages
	padding-top 110px
	padding-bottom 50px 
.advantage 
	position relative
	padding 80px 4% 0
	text-align center
	&__icon
		position absolute
		left 50% 
		top -($advantage_radius / 2)
		margin-left -($advantage_radius / 2)
		width $advantage_radius
		height $advantage_radius 
		background #fff
		border 3px solid light_blue_text
		border-radius ($advantage_radius / 2)
		
		&:before
			content ''
			position absolute
			left 50%
			top 50%
	
	&:nth-child(1)
		.advantage__icon
			&:before
				sprite($advant_free)
				margin-left -33.5px
				margin-top -36px
	&:nth-child(2)
		// border-left 1px solid grey_base
		// border-right 1px solid grey_base
		.advantage__icon
			&:before
				sprite($advant_call)
				margin-left -30.5px
				margin-top -32.5px
	&:nth-child(3)
		.advantage__icon
			&:before
				sprite($advant_secure)
				margin-left -28px
				margin-top -28px
		
	&__title
		font-size 18px
		line-height 1.2
		font-weight 700
		margin-bottom: 10px
	&__desc
		font-size 15px
		line-height 1.25
	