- var linkPrefix = ''
- var modalToggle = ''

if showModals
    - linkPrefix = '#'
    - modalToggle = 'modal'
else
    - linkPrefix = '/modals.html#'
    - modalToggle = ''



+e("a").link._callback(href="#{linkPrefix}callback", data-toggle=modalToggle, title="Обратный звонок")
    span.dotted Обратный звонок
+e("a").link._feedback(href="#{linkPrefix}doc-request-schedule", data-toggle=modalToggle, title="Оставить заявку")
    span.dotted Быстрая заявка