.feedback
    float left
    @media phone
        clear: both
    &__link
        float left
        position relative
        &.mobile-none
            @media screen560
                display: none
        &:before
            content ''
            position absolute
            left 0
            top 4px
        &:first-child
            padding-left $navbar_callback_width + 5
            &:before
                sprite($navbar_callback)
        &:last-child
            padding-left $navbar_pencil_width + 5
            &:before
                sprite($navbar_pencil)
        &:hover
            color #fff
            border none
    &-mod
        .feedback__link
            &:before
                background-repeat: no-repeat
                background-position: center center 
            &:first-child
                padding-left 23px
                &:before
                    background-image: url("i/icons/fb-first.png") 
                    width: 18px
                    height: 12px
            &:last-child
                padding-left 20px
                &:before
                    background-image: url("i/icons/fb-second.png") 
                    width: 12px
                    height: 12px

.navbar-main .feedback__link
    color #fff
    
    &:hover
        color #fff