.med-lib-article
	background #fff
	margin-bottom 20px
	padding 38px 38px 5px 38px
	box-shadow 0 2px 4px rgba(0,64,76,.15)
	border-radius: 3px
	zoom 1
	@media phone
		padding 15px 15px 5px 15px
	&__content
		margin-bottom 30px 
	&__para
		margin-bottom 20px 
		font-size 15px 
	.header-styled_notopmargin
		margin-bottom 20px 
.load-med-articles
	display block
	padding 25px 110px 30px 60px
	border 1px dashed #c0d2d6	
	font-size 26px
	color #86a8af
	text-decoration none
	text-align center
	cursor pointer
	-ms-word-break break-word
	word-break break-word
	@media phone
		padding 10px 5px
		font-size 20px 
	&:active, &:focus, &:hover
		color #86a8af 
		text-decoration none
	&:hover
		color #86a8af
		box-shadow 0 10px 15px #e3e4ed
		border-color green_base
	span
		position relative
		display inline-block
		vertical-align baseline	
		&:after
			content ''
			position absolute
			right -($arrows_down2_width + 30)
			top 50%
			margin-top -8px 
			transform rotate(-90deg)
			sprite($arrows_down2)
			@media phone
				display none
.med-lib-description
	padding-right 80px 
	@media phone
		padding-right 0 
.med-short-description
	position relative
	@media phone
		padding 20px 
	&:after
		content ""
		position absolute
		top 0
		right -77px
		width 97px 
		height 100% 
		background-image url(i/bb-doc.png) 
		background-repeat no-repeat 
		@media phone
			display none 
.short-description
	&__list
		margin-bottom 0 
	&__item
		margin-bottom 20px 
		&:last-child
			margin-bottom 0 
	&__title
		display block
		margin-bottom 10px  
		font-size 18px 
		font-weight bold
		color blue_link  
		@media phone
			font-size 16px
	p
		font-size 15px
		margin-bottom 0
		@media phone
			font-size 14px

.med-lib-disease
	overflow hidden
	&__list-wrap
		margin 0 -15px 
	&__list
		position relative
		margin-right -10px 
		border-top 1px solid #c0d2d6	
		&:before
			content ""
			position absolute
			left 0
			right 0
			height 2px 
			bottom 0
			border-bottom 1px solid #fff	
		&:after
			content "" 
			display block
			clear both
	&__item
		margin 0 15px 
		padding 15px 0
		border-bottom 1px solid #c0d2d6
	&__link
		color blue_link
		font-size 15px 
		