+b("ul").offers
		+e("li").item.js-offers-tabs
			.offers-wrap
				+b.heading
					+e.left
						.names Пакет № 126: Повне обстеження здоров'я
						.btn-group.js-offers-btn
							span.btn-group__icon
							a(href="#" data-hidden="свернуть перечень анализов").js-change-text.dotted смотреть перечень анализов
					+e.right
						a(href="#").fillials Карта 
						.percent 
							b -100%
						.price-discount
							.old-price 980021 грн 
							.new-price 180021 грн 
						a(href="#").btn.btn-success.btn-hidden Получить скидку 
							span 15%
			+b.hide-content.js-offers-content  
				+b("ul").analysis-list
					+e("li").item 
						span 1004. 
						| Тиреотропний гормон (ТТГ)
					+e("li").item 
						span 1073. 
						| Холестерин
					+e("li").item 
						span 1079. 
						| Глюкоза (сироватка)
					+e("li").item 
						span 4001. 
						| Аналіз крові розгорнутий (ЗАК)
					+e("li").item 
						span 1001. 
						| Пероксидаза щитоподібної залози, антитіла (ATПO)
					+e("li").item 
						span 1019. 
						| Інсулін
					+e("li").item 
						span 2010. 
						| Вірус гепатиту B (HBV), HBcorAg, антитіла сумарні
					+e("li").item 
						span 1042. 
						| Аланінамінотрансфераза (АЛТ, ALT)
					+e("li").item 
						span 1043. 
						| Альбумін
					+e("li").item 
						span 1046. 
						| Аспартатамінотрансфераза (АСТ, AST)
					+e("li").item 
						span 1047. 
						| Білок загальний
					+e("li").item 
						span 1048. 
						| Білірубін загальний
					+e("li").item 
						span 1049. 
						| Білірубін прямий
					+e("li").item 
						span 1051. 
						| γ-глутаматтрансфераза (ГГТ, GGT)
					+e("li").item 
						span 1055. 
						| Креатинін
					+e("li").item 
						span 1064. 
						| C-реактивний білок (СРБ)
					+e("li").item 
						span 1068. 
						| Лужна фосфатаза (ЛФ, ALP)
					+e("li").item 
						span 1074. 
						| Ліпопротеїди високої щільності (ЛПВЩ, HDL)
					+e("li").item 
						span 1075. 
						| Ліпопротеїди низької щільності (ЛПНЩ, LDL)
					+e("li").item 
						span 1072. 
						| Тригліцериди
					+e("li").item 
						span 1080. 
						| Глікований гемоглобін (HbA1c)
					+e("li").item 
						span 2013. 
						| Вірус гепатиту C (HCV), антитіла сумарні
					+e("li").item 
						span 1076. 
						| Ліпопротеїди дуже низької щільності (VLDL)
					+e("li").item 
						span 1077. 
						| Коефіцієнт атерогенності (КА) 
					+e("li").item 
						span 1050. 
						| Білірубін непрямий
					+e("li").item 
						span 4017. 
						| Швидкість осідання еритроцитів (ШОЕ, ESR)
					+e("li").item 
						span 1156. 
						| Кальцій іонізований (сироватка)
					+e("li").item 
						span 1172. 
						| Розрахунок індексу НОМА
					+e("li").item 
						span 1228. 
						| Вітамін D загальний (D2+D3)
					+e("li").item 
						span 1716. 
						| Примітка
				.offers-color
					span Примечание: Какое-то примечание которое мы получаем автоматически из ЦЛА
		+e("li").item.js-offers-tabs
			.offers-wrap
				+b.heading
					+e.left
						.names Пакет № 126: Повне обстеження здоров'я
						.btn-group.js-offers-btn
							span.btn-group__icon
							a(href="#" data-hidden="свернуть перечень анализов").js-change-text.dotted смотреть перечень анализов
					+e.right
						a(href="#").fillials Карта 
						.percent 
							b -0%
						.price-discount
							.old-price 18820 грн 
							.new-price 18820 грн 
						a(href="#").btn.btn-success.btn-hidden Получить скидку 
							span 15%
			+b.hide-content.js-offers-content 
				+b("ul").analysis-list
					+e("li").item 
						span 1004. 
						| Тиреотропний гормон (ТТГ)
					+e("li").item 
						span 1073. 
						| Холестерин
					+e("li").item 
						span 1079. 
						| Глюкоза (сироватка)
					+e("li").item 
						span 4001. 
						| Аналіз крові розгорнутий (ЗАК)
					+e("li").item 
						span 1001. 
						| Пероксидаза щитоподібної залози, антитіла (ATПO)
					+e("li").item 
						span 1019. 
						| Інсулін
					+e("li").item 
						span 2010. 
						| Вірус гепатиту B (HBV), HBcorAg, антитіла сумарні
					+e("li").item 
						span 1042. 
						| Аланінамінотрансфераза (АЛТ, ALT)
					+e("li").item 
						span 1043. 
						| Альбумін
					+e("li").item 
						span 1046. 
						| Аспартатамінотрансфераза (АСТ, AST)
					+e("li").item 
						span 1047. 
						| Білок загальний
					+e("li").item 
						span 1048. 
						| Білірубін загальний
					+e("li").item 
						span 1049. 
						| Білірубін прямий
					+e("li").item 
						span 1051. 
						| γ-глутаматтрансфераза (ГГТ, GGT)
					+e("li").item 
						span 1055. 
						| Креатинін
					+e("li").item 
						span 1064. 
						| C-реактивний білок (СРБ)
					+e("li").item 
						span 1068. 
						| Лужна фосфатаза (ЛФ, ALP)
					+e("li").item 
						span 1074. 
						| Ліпопротеїди високої щільності (ЛПВЩ, HDL)
					+e("li").item 
						span 1075. 
						| Ліпопротеїди низької щільності (ЛПНЩ, LDL)
					+e("li").item 
						span 1072. 
						| Тригліцериди
					+e("li").item 
						span 1080. 
						| Глікований гемоглобін (HbA1c)
					+e("li").item 
						span 2013. 
						| Вірус гепатиту C (HCV), антитіла сумарні
					+e("li").item 
						span 1076. 
						| Ліпопротеїди дуже низької щільності (VLDL)
					+e("li").item 
						span 1077. 
						| Коефіцієнт атерогенності (КА) 
					+e("li").item 
						span 1050. 
						| Білірубін непрямий
					+e("li").item 
						span 4017. 
						| Швидкість осідання еритроцитів (ШОЕ, ESR)
					+e("li").item 
						span 1156. 
						| Кальцій іонізований (сироватка)
					+e("li").item 
						span 1172. 
						| Розрахунок індексу НОМА
					+e("li").item 
						span 1228. 
						| Вітамін D загальний (D2+D3)
					+e("li").item 
						span 1716. 
						| Примітка
				.offers-color
					span Примечание: Какое-то примечание которое мы получаем автоматически из ЦЛА
		+e("li").item.js-offers-tabs
			.offers-wrap
				+b.heading
					+e.left
						.names Пакет № 126: Повне обстеження здоров'я
						.btn-group.js-offers-btn
							span.btn-group__icon
							a(href="#" data-hidden="свернуть перечень анализов").js-change-text.dotted смотреть перечень анализов
					+e.right
						a(href="#").fillials Карта 
						.percent 
							b -15%
						.price-discount
							.old-price 1820 грн 
							.new-price 1820 грн 
						a(href="#").btn.btn-success.btn-hidden Получить скидку 
							span 15%
			+b.hide-content.js-offers-content 
				+b("ul").analysis-list
					+e("li").item 
						span 1004. 
						| Тиреотропний гормон (ТТГ)
					+e("li").item 
						span 1073. 
						| Холестерин
					+e("li").item 
						span 1079. 
						| Глюкоза (сироватка)
					+e("li").item 
						span 4001. 
						| Аналіз крові розгорнутий (ЗАК)
					+e("li").item 
						span 1001. 
						| Пероксидаза щитоподібної залози, антитіла (ATПO)
					+e("li").item 
						span 1019. 
						| Інсулін
					+e("li").item 
						span 2010. 
						| Вірус гепатиту B (HBV), HBcorAg, антитіла сумарні
					+e("li").item 
						span 1042. 
						| Аланінамінотрансфераза (АЛТ, ALT)
					+e("li").item 
						span 1043. 
						| Альбумін
					+e("li").item 
						span 1046. 
						| Аспартатамінотрансфераза (АСТ, AST)
					+e("li").item 
						span 1047. 
						| Білок загальний
					+e("li").item 
						span 1048. 
						| Білірубін загальний
					+e("li").item 
						span 1049. 
						| Білірубін прямий
					+e("li").item 
						span 1051. 
						| γ-глутаматтрансфераза (ГГТ, GGT)
					+e("li").item 
						span 1055. 
						| Креатинін
					+e("li").item 
						span 1064. 
						| C-реактивний білок (СРБ)
					+e("li").item 
						span 1068. 
						| Лужна фосфатаза (ЛФ, ALP)
					+e("li").item 
						span 1074. 
						| Ліпопротеїди високої щільності (ЛПВЩ, HDL)
					+e("li").item 
						span 1075. 
						| Ліпопротеїди низької щільності (ЛПНЩ, LDL)
					+e("li").item 
						span 1072. 
						| Тригліцериди
					+e("li").item 
						span 1080. 
						| Глікований гемоглобін (HbA1c)
					+e("li").item 
						span 2013. 
						| Вірус гепатиту C (HCV), антитіла сумарні
					+e("li").item 
						span 1076. 
						| Ліпопротеїди дуже низької щільності (VLDL)
					+e("li").item 
						span 1077. 
						| Коефіцієнт атерогенності (КА) 
					+e("li").item 
						span 1050. 
						| Білірубін непрямий
					+e("li").item 
						span 4017. 
						| Швидкість осідання еритроцитів (ШОЕ, ESR)
					+e("li").item 
						span 1156. 
						| Кальцій іонізований (сироватка)
					+e("li").item 
						span 1172. 
						| Розрахунок індексу НОМА
					+e("li").item 
						span 1228. 
						| Вітамін D загальний (D2+D3)
					+e("li").item 
						span 1716. 
						| Примітка
				.offers-color
					span Примечание: Какое-то примечание которое мы получаем автоматически из ЦЛА
		+e("li").item.js-offers-tabs
			.offers-wrap
				+b.heading
					+e.left
						.names Пакет № 126: Повне обстеження здоров'я + звіт з інтерпретацією показників, вен нижних конечностей и артерий нижних конечностей 
							span (1-й нижней конечности)
						.btn-group.js-offers-btn
							span.btn-group__icon
							a(href="#" data-hidden="свернуть перечень анализов").js-change-text.dotted смотреть перечень анализов
					+e.right
						a(href="#").fillials Карта 
						.percent 
							b -15%
						.price-discount
							.old-price 820 грн 
							.new-price 820 грн 
						a(href="#").btn.btn-success.btn-hidden Получить скидку 
							span 15%
			+b.hide-content.js-offers-content 
				+b("ul").analysis-list
					+e("li").item 
						span 1004. 
						| Тиреотропний гормон (ТТГ)
					+e("li").item 
						span 1073. 
						| Холестерин
					+e("li").item 
						span 1079. 
						| Глюкоза (сироватка)
					+e("li").item 
						span 4001. 
						| Аналіз крові розгорнутий (ЗАК)
					+e("li").item 
						span 1001. 
						| Пероксидаза щитоподібної залози, антитіла (ATПO)
					+e("li").item 
						span 1019. 
						| Інсулін
					+e("li").item 
						span 2010. 
						| Вірус гепатиту B (HBV), HBcorAg, антитіла сумарні
					+e("li").item 
						span 1042. 
						| Аланінамінотрансфераза (АЛТ, ALT)
					+e("li").item 
						span 1043. 
						| Альбумін
					+e("li").item 
						span 1046. 
						| Аспартатамінотрансфераза (АСТ, AST)
					+e("li").item 
						span 1047. 
						| Білок загальний
					+e("li").item 
						span 1048. 
						| Білірубін загальний
					+e("li").item 
						span 1049. 
						| Білірубін прямий
					+e("li").item 
						span 1051. 
						| γ-глутаматтрансфераза (ГГТ, GGT)
					+e("li").item 
						span 1055. 
						| Креатинін
					+e("li").item 
						span 1064. 
						| C-реактивний білок (СРБ)
					+e("li").item 
						span 1068. 
						| Лужна фосфатаза (ЛФ, ALP)
					+e("li").item 
						span 1074. 
						| Ліпопротеїди високої щільності (ЛПВЩ, HDL)
					+e("li").item 
						span 1075. 
						| Ліпопротеїди низької щільності (ЛПНЩ, LDL)
					+e("li").item 
						span 1072. 
						| Тригліцериди
					+e("li").item 
						span 1080. 
						| Глікований гемоглобін (HbA1c)
					+e("li").item 
						span 2013. 
						| Вірус гепатиту C (HCV), антитіла сумарні
					+e("li").item 
						span 1076. 
						| Ліпопротеїди дуже низької щільності (VLDL)
					+e("li").item 
						span 1077. 
						| Коефіцієнт атерогенності (КА) 
					+e("li").item 
						span 1050. 
						| Білірубін непрямий
					+e("li").item 
						span 4017. 
						| Швидкість осідання еритроцитів (ШОЕ, ESR)
					+e("li").item 
						span 1156. 
						| Кальцій іонізований (сироватка)
					+e("li").item 
						span 1172. 
						| Розрахунок індексу НОМА
					+e("li").item 
						span 1228. 
						| Вітамін D загальний (D2+D3)
					+e("li").item 
						span 1716. 
						| Примітка
				.offers-color
					span Примечание: Какое-то примечание которое мы получаем автоматически из ЦЛА
+b.load-more.load-more_cla
	+e('span').text 180 услуг диагностического центра
	+e('a').link(href="#") Посмотреть весь прайс-лист 
		