ul.footer-menu
  li.footer-menu__item.footer-menu__item-has_sub.col-sm-3.col-xs-6
    span.footer-menu__item-link Сервис
    |                                   
    ul.footer-sub-menu
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/about.html', title='О нас') О нас
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/about-rating.html', title='О рейтинге') О рейтинге
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/articles.html', title='Блог') Блог
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/rules.html', title='Правила сервиса') Правила сервиса
    |                                   
    .partners.hidden-xs
      fieldset.partners__fieldset
        legend.partners__title Наши партнеры:
        |                                           
        a.partners__item(href='http://chernovetskyiinvestments.com/', title='', target='_blank', rel='nofollow')
          img(src='/i/partner-1.png', alt='')
        |                                           
        a.partners__item(href='http://socpartnerstvo.org/', title='', target='_blank', rel='nofollow')
          img(src='/i/partner-2.png', alt='')
        |                                           
        a.partners__item(href='http://eda.ua/', title='', target='_blank', rel='nofollow')
          img(src='/i/partner-3.png', alt='')
  |                                 
  li.footer-menu__item.footer-menu__item-has_sub.col-sm-3.col-xs-6
    span.footer-menu__item-link Пациенту
    |                                   
    ul.footer-sub-menu
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/doctors.html', title='Врачи') Врачи
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/clinics.html', title='Клиники') Клиники
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/actions.html', title='Акции') Акции
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/', title='Памятка пациента') Памятка пациента
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/diseases.html', title='Справочник заболеваний') Справочник заболеваний
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/checker.html', title='Онлайн диагностика') Онлайн диагностика
  |                                 
  li.footer-menu__item.footer-menu__item-has_sub.col-sm-3.col-xs-6
    span.footer-menu__item-link Врачу и клинике
    |                                   
    ul.footer-sub-menu
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/partners.html', title='Преимущества') Преимущества
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/registration-doctor.html', title='Регистрация врача') Регистрация врача
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/registration-clinic.html', title='Регистрация клиники') Регистрация клиники
        