.footer-menu
    margin 0
    padding 0
    list-style none
    a:hover, a:focus
        color #fff
    &__item-link
        font-weight bold
        font-size 16px
        line-height 20px
        color #fff
        text-transform uppercase
        letter-spacing 1pt
    @media phone
        &__item
            float none
            width auto
            margin-bottom 10px
            &:nth-child(odd)
                clear left
            &-link
                position relative
                padding-right 15px
                &:hover
                    cursor pointer
                &:after
                    content ''
                    position absolute
                    right 0
                    top 9px
                    border-width 4px
                    border-style solid
                    border-color #fff transparent transparent
.footer-sub-menu
    margin 18px 0 0
    padding 0
    list-style none
    font-size 14px
    line-height 27px
    &__item-link
        color #fff
    @media phone
        display none
        margin-top 3px