ul.footer-menu
  li.footer-menu__item.footer-menu__item-has_sub
    span.footer-menu__item-link.footer-tab_header.js-tab__mobile-f Сервис
      span.btn__mobile.js-btn__mobile 
    ul.footer-sub-menu.tab-close.js-content_hide-index 
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/about.html', title='О нас') О нас
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/about-rating.html', title='О рейтинге') О рейтинге
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/articles.html', title='Блог') Блог
      |  
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/partners.html', title='Партнерам') Партнерам
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/rules.html', title='Правила сервиса') Правила сервиса
    |                                    
  li.footer-menu__item.footer-menu__item-has_sub
    span.footer-menu__item-link.footer-tab_header.js-tab__mobile-f Пациенту
      span.btn__mobile.js-btn__mobile 
    ul.footer-sub-menu.tab-close.js-content_hide-index.columnize(data-columns="4", data-balance-method="balanceCount")
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/doctors.html', title='Врачи') Врачи
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/clinics.html', title='Клиники') Клиники
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/diagnostic-center.html', title='Диагностические центры') Диагностические центры
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/', title='Спецпредложения') Спецпредложения


      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/med-library.html', title='Медицинская библиотека') Медицинская библиотека
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/diseases.html', title='Справочник заболеваний') Справочник заболеваний
      |                                         
      li.footer-sub-menu__item
        a.footer-sub-menu__item-link(href='/symptom-checker.html', title='Онлайн-диагностика') Онлайн-диагностика
