modal_font_size = 15px

.modal-title 
    font-size 20px
.modal-title__mod
    font-weight 400
.modals-a-color
    color #2b97ad    
.modals-offset-10
    margin 13px 0 0 -8px  
.modal-btn-190
    width 190px 
.modals-btn-220
    width 220px 
    font-weight 800        
.modal
    form, .form-horizontal
        .control-label
            font-size modal_font_size
            line-height 20px 
            padding-top 6px
    @media phone
        .select2-container .select2-choice>.select2-chosen
            max-width none
    a:focus, a:hover
        outline none
    .form-group
        @media phone
            div[class^="col-sm-"] + div[class^="col-sm-"]
                margin-top 15px
        &__last-child
            margin-bottom 0
            
    .form-group__modals
        margin-bottom 23px
    .form-group__modals-login
        margin-bottom 20px 
    &-dialog
        width 96%
        max-width 600px
        &.wide
            .modal-body.statistics-item__mod
                padding-left 30px
                padding-right 20px
    &.bs-modal-md
        .modal-dialog
            max-width 965px
    &.bs-modal-sm
        .modal-dialog
            max-width 372px
    
    .submits
        text-align center
    &-header
        position relative
        margin-bottom 15px
        padding 15px 20px 11px
        min-height 31.43px
        color #FFF 
        background grey_base
        background url("i/modals-header-bg.png") no-repeat
        -webkit-background-size cover 
        -o-background-size cover 
        background-size cover 
        // box-shadow 0 2px 4px #AFB1B2
        border-radius border_radius_sm border_radius_sm 0 0   
           
        p
            margin-bottom 0
        .close
            position absolute
            bottom 18px
            right 20px
            width 15px
            height 15px 
            opacity 1
            transition opacity .2s ease-in-out
            background url("i/modal_close.png") no-repeat
            outline none
            @media phone
                bottom 14px
            &:hover
                text-decoration none
                cursor pointer
                opacity .5
    
    &-header__mod 
        background none
        // min-height 77px
    &-header__btm
        margin-bottom 20px
    .modal-title__mod
        text-align center
        color #5e6e71
        font-size 30px
        font-weight 400
        line-height 51px
        @media phone
            font-size 24px
    .close__mod
        background url("i/modal_close-mod.png") no-repeat
        bottom 42px
        @media phone
            bottom 42px

    &-body
        padding 0 20px 20px 20px
        .modals-text
            font-size: 16px
            margin-bottom 17px
        .form-control__modals
            border 1px solid rgba(61, 160, 180, 0.27)
            border-radius 3px
            box-shadow inset 1.9px 2.3px 1px rgba(43, 151, 173, 0.15)
            resize none
            padding 6px 14px
            placeholder(rgba(#5e6e71, 0.75), 14px)
            color #86989b

        .modals-btn
            width 251px
    &-title
        margin 0
        padding-right 25px
        font-size 24px
        line-height 1.33
        font-weight 400


    &-footer
        &.footer-default
              position relative
              overflow hidden
              width 100%
              display block
              border-radius 0 0 (border_radius_sm * 2) (border_radius_sm * 2)
        
        .abs a
            cursor pointer
        .btn
            min-width 190px
            font-weight 400
            font-size 18px
            padding-top 7px
            padding-bottom 7px
            
    .footer-def__mod
        width 89%
        @media phone_tablet
            width 100%
    .btn-xs-block
        min-width 158px
        font-weight 400
        font-size 18px
        padding-top 7px
        padding-bottom 7px
        @media screen560
            margin-right 20px 
    &-span__mod
        padding 0 10px
        @media screen560
            display none
    
         
     .modal-footer
         .btn+.btn
             margin 0 0 10px
         .abs-helper
             @media phone
                 text-align center
                 display block
                 margin 10px 0 0 0 !important
                 .abs
                     position static

    .request
        &__card
            margin-bottom 20px
            &:after
                content " "
                display table
                clear both
            &-image
                width 75px
                height 100px
                border-radius 3px
                overflow hidden
                float left
                margin 3px 15px 0 0
                background-color #b2d9e1
                background-image url("i/no-photo-male-small.jpg")
                background-repeat no-repeat
                background-position 0 0
                img
                    height 100%
                &.female
                    background-image url("i/no-photo-female-small.jpg")
            &-content
                overflow hidden
            &-title
                font-size 16px
                line-height 20px
                font-weight bold
                margin-top 10px
                margin-bottom 10px
            &-location
                padding-left ($location_width + 8)
                position relative
                &:before
                    content ""
                    position absolute
                    left 0
                    top 0px
                    sprite($location)
                @media phone
                    overflow hidden
    form
        .row
            margin-bottom 10px
            .control-label
                margin-bottom 0
.modal
    @media phone
        &-header
            padding-left 10px
            padding-right 10px
        &-title
            font-size 18px
    .input-group
        width 100%

    .form-control
        height 30px
        &:focus
            border-color green_base
            box-shadow none
    textarea.form-control
        min-height 83px

    .services-list
        padding 10px
        list-style-type disc
        background-color #d7f2ef
        li
            margin-bottom 5px
            margin-left 20px
    .rating-block
        >.row >.col-sm-6
            padding-left 0
            padding-right 0
        .statistics-item__label
            font-size 14px
        .rating-info
            padding-left 10px
            span 
                color #4b89d3
    .rating-steps
        margin 16px 0 0 0
        &__item
            width 23%
            text-align left
            margin-right 40px
            padding-right 0 
            @media phone_tablet
                width 50%
                margin-right 0
                // display inline-flex
                // -moz-display inline-flex
                // -webkit-display inline-flex
                // -o-display inline-flex
                margin-bottom 10px
                &:before
                    display none
            @media phone
                float left
            @media screen560
                width 100%
            &:last-child
                width 13%
                margin-right 0
                @media phone_tablet
                    width 50%
                @media screen560
                    width 100%
            &:before
                width 162px
                top 18px
        &__icon
            width 60px
            @media phone_tablet
                display inline-block
        .rating-steps__title-mod
            
            @media phone_tablet
                padding-left 20px
                display inline-block
            @media phone
                padding-left 0
.modals-offset__mod
    @media phone
        margin 13px 0 0 0 
.margin-bottom-0
    margin-bottom 0 !important

#rating, #rating-clinic
    .modal-dialog
        max-width 811px
#select-area
#select-countries
#select-area-diagnostics
    .modal
        &-footer
            .abs-helper
                margin-left 20px
                font-size 16px
                
#select-area-diagnostics
    .modal
        &-body
            height 585px
            .jspContainer 
                padding 0 16px 40px 26px
                .jspPane
                    padding-bottom 30px
            .districts-check-list
                div
                    margin-bottom 75px
                    padding-right 15px
                    li 
                        margin 0
                    ul
                        padding-top 5px
                        li
                            padding-left 10px 
                            position relative
                            &:before
                               content ""
                               position absolute
                               left 0
                               top 9px
                               display inline-block
                               width 5px
                               height 5px
                               background url("i/district-point.png")
                           
#select-area, #select-other-area
    .modal-header
        padding-bottom 40px
        box-shadow none
        @media phone
            padding-left 20px
        @media screen560
            padding-left 10px
            .nav-pills
                padding-left 8px
                li:nth-child(1)
                    display none
        .close
            background url(i/modal_close.png) no-repeat
            right 25px
            bottom 48px
            @media phone
                bottom 43px
                    
        .nav-pills
            position absolute
            left 0
            bottom 0
            width 100%
            padding 0 0 10px 22px
            // border-bottom 2px solid green_base
            @media phone
                padding 0 0 10px 20px
            @media screen560
                padding 0 0 10px 10px
            li
                margin-bottom 0
                font-size 16px
                line-height 24px
                @media phone
                    font-size 18px
                a
                    position relative
                    top -2px
                    font-size 22px
                    color white
                    background-color transparent
                    padding 1px 4px
                    &:hover
                        text-decoration underline
                    @media phone
                        font-size 18px
                    @media screen560
                        padding 1px 0
                &.active
                    a
                        color white
                        font-weight 700
                        padding 1px 4px
                        @media phone
                            font-size 18px
                        @media screen560
                            padding 1px 0
                        &:before
                            content ""
                            position absolute
                            left 50%
                            width 0
                            height 0
                            bottom -19px
                            margin-left -10px
                            border-style solid
                            border-width 7px 10px 0 10px
                            border-color #2d535c transparent transparent transparent
                            @media screen560
                                border-color #153e48 transparent transparent transparent
#select-area
    .modal-body
        padding 0 12px 20px 0 
                            
#clinic-location-map
    .modal
        &-header
            margin-bottom 0
        &-body
            padding 0 
        &-footer
            padding 0 0 2px 0
#static-map
    .modal
        &-header
            margin-bottom 4px
        &-body
            padding 0 2px
        &-footer
            padding 0 0 2px 0

.info-modal
    .modal-attention
        margin-bottom 0
     .modal-title
        padding-right 0
    .close-attention
        bottom 42px
        @media phone
            bottom 42px 
    &__visual
        height 143px
        margin 0 -35px 20px
        padding 20px 35px 20px 150px
        background-image url("i/modals-body-bg.png")
        background-repeat no-repeat
        background-position center center
        background-color #3297a9
        background-size cover
        @media phone
            padding 15px
        &:after
            content ""
            display inline-block
            height 100%
            width 0
            vertical-align middle
        &-icon
            position absolute
            top 34px
            left 70px
            @media phone
                display none
        &-text
            position relative
            display inline-block
            vertical-align middle
            width 85%
            padding-left 20px
            font-size 18px
            line-height 1.2
            color #fff
            text-shadow 0 1px 3px rgba(0,0,0,.3)
            br
                @media phone
                    display none
    &__visual-mod
        @media phone
            height 115px 
        @media screen560
            height 143px
    &__text
        font-size 16px
        padding 0 4px 0 0px
        line-height 1.28
        text-align center
    &__message
        font-size 18px
        color green_base
        font-weight bold
        text-align center
        margin-top 10px
    .modal
        &-dialog
            // width 540px
            @media phone
                width 500px
            @media screen560
                width 300px
        &-body
            padding 0 35px 30px

.login-form-popup
    .remind-password-link
        display inline-block
        padding-top 15px
        font-size modal_font_size
    .remind-password-link__mod
        @media phone
            margin-top -15px    
    .abs-helper
        font-size modal_font_size
        @media phone
            position absolute
            left 50%
            margin-left -79px
            bottom -5px

.rating-modal
    .rating-block .rating-list
        padding-left 29% 
        @media phone
            padding-left 2%
    .likebox
        margin-left 9% 
        @media phone
            margin-left 2%
    .likebox__label-mod
        width 215px !important
        padding-left 78px
        @media phone
            padding-left 0
    .modal-footer
        text-align left
        padding 0 0 20px 22px 
        h4.modal-footer__title
            color #5e6e71
            font-size 16px
            font-weight 700
            margin 20px 0 0 0 
    .modal-header__rating
        margin-bottom 0
    .modal-body__rating
        padding 0
        .rating-block__modals
            padding 17px 30px 20px 20px 
        
        .statistics-item__mod
            text-align center
            margin-bottom 15px !important
            
            .value__mod
                padding-left 12px
.request_clinic
    .radio-inline
        @media phone
            padding-left 0
            padding-right 20px
            
.modal-header__thanks
    margin-bottom 10px
.modal-body__pad
    padding 0 0 35px 0
    margin-top -10px
.info-modal__thanks
    position relative
    margin 0 
    padding 0 35px 0 150px
    @media phone
        padding 30px 35px 0 150px
    @media screen560
        padding 15px
    .info-modal__text-mod
        width 100%
        padding-left 34px 
        margin-top -11px
        @media screen560
            padding-left 20px
.doctor-thanks
    position absolute
    left 43px
    top -39px 
    @media screen560
        display none
    
         
.modals-btn-big
    width 251px
    margin 0 0 13px 20px
    

.modal-body
.tab-pane
    &.js-list-scroll
        height 530px
        width 100% 
        overflow hidden
        outline none 
        padding 16px
        .jspVerticalBar
            left auto
            right 13px
            width 1px 
            .jspTrack
                background-color #d2e1e4
            .jspDrag
                width 5px
                left -2px
                border-radius 5px 
                background-color #d2e1e4
        
        .jspHorizontalBar
            display none
        .jspContainer
            padding 0 16px              
        .jspContainer:after
            content ''
            display inline-block
            position absolute
            left 3px
            bottom 0
            width 98%
            height 50px
            -webkit-box-shadow inset  0 -40px 70px 0 rgba(255, 255, 255, 1)
            -moz-box-shadow    inset  0 -40px 70px 0 rgba(255, 255, 255, 1)
            box-shadow         inset  0 -40px 70px 0 rgba(255, 255, 255, 1)
            @media phone
                width 94%
.tab-pane
    .jspContainer
        padding 0 
        .jspVerticalBar
            left auto
            right 3px
            width 1px 
                
#select-area-districts
#select-area-districts2 
    .district-list__mod
        padding 2px 30px 50px 14px
        
        div
            margin-bottom 30px
             
    .pill-group 
        @media phone
            width 45%
            display inline-block
            vertical-align top 
            margin-right 5%
            &:nth-child(even)
                margin-right 0
        @media screen560
            width 100%          
        li
            position relative
            font-size 14px
            padding-left 13px
            &:before
                content ""
                position absolute
                left 12px
                top 8px
                display inline-block
                width 5px
                height 5px
                background url("i/district-point.png")
        span
            span
                margin-right 11px
.metro-map-min
    background: url(i/metro-map-min.png) top left no-repeat;
    width 757px
    height 474px 
    margin-top 10px    
    .pill
        font-size 11px
.metro-map-min2
    background: url(i/metro-map-min.png) top left no-repeat;
    width 757px
    height 474px 
    margin-top 10px    
    .pill
        font-size 11px        

.tab-pane__mod
    margin 15px 0 60px 0
    padding 0 30px 0 22px
    @media tablet
        margin 15px 0 60px 0 
    

.body-branch
    .jspPane
        padding-bottom 40px !important
    .alphabet-list
        margin-left 22px 
        // padding-top  10px 
        padding 10px 0 0px 0
    .alphabet-list__item
        font-size 14px
        color #2b97ad
        margin-bottom 26px
        @media phone
            width 45%
            display inline-block
            vertical-align top 
            margin-right 5%
            &:nth-child(even)
                margin-right 0
        @media screen560
            width 100% 
    .alphabet-list__letter   
        background-color #2b97ad
        line-height 20px
        height 21px
    .alphabet-list__sub
        border-left 1px solid #2b97ad
        
    .alphabet-list__sub-item
        margin-bottom 5px
        padding-right 35px
        a
            color #2b97ad
         
.footer-branch
    padding 9px 21px 26px  
    text-align right
    @media phone
        text-align center
      
.multi-column
    column-count: 5
    -webkit-column-count 5 /* Chrome, Safari, Opera */
        -moz-column-count 3 /* Firefox */
#confirm-number
    .btn
        margin-bottom 20px 
    .modals-text_confirm
        margin-bottom 0
        p
            margin-bottom 0 
        @media only screen and (max-width: 320px)
            text-align center
            a
                display block 

.input-validation_modals
    position relative
    .input-validation__border
        border 1px solid #e74a37
        border-top-left-radius 4px
        border-top-right-radius 4px
        border-bottom-right-radius 0px
        border-bottom-left-radius 0px
.input-validation_message
    position absolute
    width 100% 
    bottom -20px
    background-color #e74a37
    color #fff
    font-size 13px
    line-height 20px 
    text-align center  
    border-radius 0 0 4px 4px 
    @media phone
        font-size 11px
    
#finishing-registration
    .modal-dialog
        max-width 410px 
    .form-registration_modals
        background-color transparent
        .form-group_radio
            line-height 1 
            .radio-inline_modals
                margin-bottom 15px 
                @media phone
                    margin-bottom 5px
                &:last-child
                    margin-bottom 0
    .modal-body
        h3
            font-size 22px 
            font-weight bold 
            @media phone
                font-size 18px
