.doc-widgets
	.doc-widgets__row 
		.doc-widgets__left
			.doc-widgets__title Расширенный (существующий размер)
			.doc-widget.doc-widget_large
				.doc-widget__logo
					img(src="i/widget-logo.png", alt="")
				.doc-widget__left
					a(href="#").doc-widget__img
						img(src="i/widget-img.png", alt="")
					.doc-widget__rating
						.doc-widget__value 4.9
						.doc-widget__stars
							.doc-widget__stars-active(style="width: 100%")
								div
					.doc-widget__review
						a(href="#").doc-widget__review-link 233 отзыва
						.doc-widget__review-icon i
					.doc-widget__schedule
						.doc-widget__schedule-icon
						.doc-widget__schedule-item
							.doc-widget__schedule-day Пн - Пт
							.doc-widget__schedule-time 9:00 - 21:00
						.doc-widget__schedule-item
							.doc-widget__schedule-day Сб
							.doc-widget__schedule-time 9:00 - 19:00
						.doc-widget__schedule-item
							.doc-widget__schedule-day Вс
							.doc-widget__schedule-time 9:00 - 15:00
				.doc-widget__right
					.doc-widget__main
						.doc-widget__title
							a(href="#").doc-widget__title-link Сити клиника
						.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство, Андрология, Венерология, Гастроэнтерология, Гинекология, Диетология, Дневной стационар, Кардиология, Маммология, Эндокринология
						.doc-widget__info
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-years
								.doc-widget__info-text 14 лет
									br
									| опыта
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-ppls
								.doc-widget__info-text Взрослые
									br
									| и дети
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-home
								.doc-widget__info-text Вызов
									br
									| на дом
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-wifi
								.doc-widget__info-text Wi-Fi
									br
									| зона
						.doc-widget__address.doc-widget__address-dashed
							.doc-widget__address-box.doc-widget__address-box-place
								.doc-widget__address-icon.doc-widget__address-icon-place
								.doc-widget__address-text.doc-widget__address-text-dotted
									div г. Киев, пр. Науки, 30
							.doc-widget__address-box.doc-widget__address-box-metro
								.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
								.doc-widget__address-text Димеевская
							.doc-widget__address-box.doc-widget__address-box-marker
								.doc-widget__address-icon.doc-widget__address-icon-marker
								.doc-widget__address-text Голосеевский, Саперная слободка
						.doc-widget__text СИТИ КЛИНИКА - это современный медицинский центр, основная специализация которого эндокринология и гинекология.  В клинике практикуется организация консилиумов, совместные осмотры нескольких врачей, клинические разборы и анализ историй болезни сложных пациентов значительно повышают эффективность оказанной медицинской помощи.
					.doc-widget__bottom
						a(href="#").doc-widget__button Записаться в клинику
		.doc-widgets__right
			.doc-widgets__title Расширенный (600px)
			.doc-widget
				.doc-widget__logo
					img(src="i/widget-logo.png", alt="")
				.doc-widget__left
					a(href="#").doc-widget__img
						img(src="i/widget-img.png", alt="")
					.doc-widget__rating
						.doc-widget__value 4.9
						.doc-widget__stars
							.doc-widget__stars-active(style="width: 100%")
								div
					.doc-widget__review
						a(href="#").doc-widget__review-link 233 отзыва
						.doc-widget__review-icon i
					.doc-widget__schedule
						.doc-widget__schedule-icon
						.doc-widget__schedule-item
							.doc-widget__schedule-day Пн - Пт
							.doc-widget__schedule-time 9:00 - 21:00
						.doc-widget__schedule-item
							.doc-widget__schedule-day Сб
							.doc-widget__schedule-time 9:00 - 19:00
						.doc-widget__schedule-item
							.doc-widget__schedule-day Вс
							.doc-widget__schedule-time 9:00 - 15:00
				.doc-widget__right
					.doc-widget__main
						.doc-widget__title
							a(href="#").doc-widget__title-link Сити клиника
						.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство, Андрология, Венерология, Гастроэнтерология, Гинекология, Диетология, Дневной стационар, Кардиология, Маммология, Эндокринология
						.doc-widget__info
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-years
								.doc-widget__info-text 14 лет
									br
									| опыта
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-ppls
								.doc-widget__info-text Взрослые
									br
									| и дети
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-home
								.doc-widget__info-text Вызов
									br
									| на дом
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-wifi
								.doc-widget__info-text Wi-Fi
									br
									| зона
						.doc-widget__address.doc-widget__address-dashed
							.doc-widget__address-box.doc-widget__address-box-place
								.doc-widget__address-icon.doc-widget__address-icon-place
								.doc-widget__address-text.doc-widget__address-text-dotted
									div г. Киев, пр. Науки, 30
							.doc-widget__address-box.doc-widget__address-box-metro
								.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
								.doc-widget__address-text Димеевская
							.doc-widget__address-box.doc-widget__address-box-marker
								.doc-widget__address-icon.doc-widget__address-icon-marker
								.doc-widget__address-text Голосеевский, Саперная слободка
						.doc-widget__text СИТИ КЛИНИКА - это современный медицинский центр, основная специализация которого эндокринология и гинекология.  В клинике практикуется организация консилиумов, совместные осмотры нескольких врачей, клинические разборы и анализ историй болезни сложных пациентов значительно повышают эффективность оказанной медицинской помощи.
					.doc-widget__bottom
						a(href="#").doc-widget__button Записаться в клинику
	.doc-widgets__row
		.doc-widgets__left
			.doc-widgets__title Стандартный (существующий размер)
			.doc-widget.doc-widget_normal
				.doc-widget__logo
					img(src="i/widget-logo.png", alt="")
				.doc-widget__left
					a(href="#").doc-widget__img
						img(src="i/widget-img.png", alt="")
					.doc-widget__rating
						.doc-widget__value 4.9
						.doc-widget__stars
							.doc-widget__stars-active(style="width: 100%")
								div
					.doc-widget__review
						a(href="#").doc-widget__review-link 233 отзыва
						.doc-widget__review-icon i
					.doc-widget__schedule
						.doc-widget__schedule-icon
						.doc-widget__schedule-item
							.doc-widget__schedule-day Пн - Пт
							.doc-widget__schedule-time 9:00 - 21:00
						.doc-widget__schedule-item
							.doc-widget__schedule-day Сб
							.doc-widget__schedule-time 9:00 - 19:00
						.doc-widget__schedule-item
							.doc-widget__schedule-day Вс
							.doc-widget__schedule-time 9:00 - 15:00
				.doc-widget__right
					.doc-widget__main
						.doc-widget__title
							a(href="#").doc-widget__title-link Сити клиника
						.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство, Андрология, Венерология, Гастроэнтерология, Гинекология, Диетология, Дневной стационар, Кардиология, Маммология, Эндокринология
						.doc-widget__info
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-years
								.doc-widget__info-text 14 лет
									br
									| опыта
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-ppls
								.doc-widget__info-text Взрослые
									br
									| и дети
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-home
								.doc-widget__info-text Вызов
									br
									| на дом
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-wifi
								.doc-widget__info-text Wi-Fi
									br
									| зона
						.doc-widget__address.doc-widget__address-dashed
							.doc-widget__address-box.doc-widget__address-box-place
								.doc-widget__address-icon.doc-widget__address-icon-place
								.doc-widget__address-text.doc-widget__address-text-dotted
									div г. Киев, пр. Науки, 30
							.doc-widget__address-box.doc-widget__address-box-metro
								.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
								.doc-widget__address-text Димеевская
							.doc-widget__address-box.doc-widget__address-box-marker
								.doc-widget__address-icon.doc-widget__address-icon-marker
								.doc-widget__address-text Голосеевский, Саперная слободка
					.doc-widget__bottom
						a(href="#").doc-widget__button Записаться в клинику
		.doc-widgets__right
			.doc-widgets__title Стандартный (600px)
			.doc-widget
				.doc-widget__logo
					img(src="i/widget-logo.png", alt="")
				.doc-widget__left
					a(href="#").doc-widget__img
						img(src="i/widget-img.png", alt="")
					.doc-widget__rating
						.doc-widget__value 4.9
						.doc-widget__stars
							.doc-widget__stars-active(style="width: 100%")
								div
					.doc-widget__review
						a(href="#").doc-widget__review-link 233 отзыва
						.doc-widget__review-icon i
				.doc-widget__right
					.doc-widget__main
						.doc-widget__title
							a(href="#").doc-widget__title-link Сити клиника
						.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство, Андрология, Венерология, Гастроэнтерология, Гинекология, Диетология, Дневной стационар, Кардиология, Маммология, Эндокринология
						.doc-widget__info
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-years
								.doc-widget__info-text 14 лет
									br
									| опыта
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-ppls
								.doc-widget__info-text Взрослые
									br
									| и дети
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-home
								.doc-widget__info-text Вызов
									br
									| на дом
							.doc-widget__info-box
								.doc-widget__info-icon.doc-widget__info-icon-wifi
								.doc-widget__info-text Wi-Fi
									br
									| зона
						.doc-widget__address.doc-widget__address-dashed
							.doc-widget__address-box.doc-widget__address-box-place
								.doc-widget__address-icon.doc-widget__address-icon-place
								.doc-widget__address-text.doc-widget__address-text-dotted
									div г. Киев, пр. Науки, 30
							.doc-widget__address-box.doc-widget__address-box-metro
								.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
								.doc-widget__address-text Димеевская
							.doc-widget__address-box.doc-widget__address-box-marker
								.doc-widget__address-icon.doc-widget__address-icon-marker
								.doc-widget__address-text Голосеевский, Саперная слободка
					.doc-widget__bottom
						a(href="#").doc-widget__button Записаться в клинику
	.doc-widgets__row
		.doc-widgets__left
			.doc-widgets__small
				.doc-widgets__title Стандартный компактный список(существующий размер)
				.doc-small-list
					.doc-widget.doc-widget_small
						.doc-widget__logo
							img(src="i/widget-logo.png", alt="")
						.doc-widget__left
							a(href="#").doc-widget__img
								img(src="i/medium-img.png", alt="")
							.doc-widget__rating
								.doc-widget__value 4.9
								.doc-widget__stars
									.doc-widget__stars-active(style="width: 100%")
										div
							.doc-widget__review
								a(href="#").doc-widget__review-link 233 отзыва
						.doc-widget__right
							.doc-widget__main
								.doc-widget__title
									a(href="#").doc-widget__title-link Клиника Доктора Валихновского
								.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство
							.doc-widget__address.doc-widget__address-mod
								.doc-widget__address-box.doc-widget__address-box-place
									.doc-widget__address-icon.doc-widget__address-icon-place
									.doc-widget__address-text.doc-widget__address-text-dotted
										div г. Киев, пр. Науки, 30
								.doc-widget__address-box.doc-widget__address-box-metro
									.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
									.doc-widget__address-text Димеевская
								.doc-widget__address-box.doc-widget__address-box-marker
									.doc-widget__address-icon.doc-widget__address-icon-marker
									.doc-widget__address-text Голосеевский, Саперная слободка
							.doc-widget__bottom
								.doc-schedule
									.doc-schedule__box
										.doc-schedule__box-day Пн - Пт:
										.doc-schedule__box-time 9:00 - 21:00
									.doc-schedule__box
										.doc-schedule__box-day Сб:
										.doc-schedule__box-time 9:00 - 19:00
									.doc-schedule__box
										.doc-schedule__box-day Вс:
										.doc-schedule__box-time выходной
								a(href="#").doc-widget__button Записаться в клинику
					.doc-widget.doc-widget_small
						.doc-widget__left
							a(href="#").doc-widget__img
								img(src="i/medium-img.png", alt="")
							.doc-widget__rating
								.doc-widget__value 4.9
								.doc-widget__stars
									.doc-widget__stars-active(style="width: 100%")
										div
							.doc-widget__review
								a(href="#").doc-widget__review-link 233 отзыва
						.doc-widget__right
							.doc-widget__main
								.doc-widget__title
									a(href="#").doc-widget__title-link Клиника Доктора Валихновского
								.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство
							.doc-widget__address.doc-widget__address-mod
								.doc-widget__address-box.doc-widget__address-box-place
									.doc-widget__address-icon.doc-widget__address-icon-place
									.doc-widget__address-text.doc-widget__address-text-dotted
										div г. Киев, пр. Науки, 30
								.doc-widget__address-box.doc-widget__address-box-metro
									.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
									.doc-widget__address-text Димеевская
								.doc-widget__address-box.doc-widget__address-box-marker
									.doc-widget__address-icon.doc-widget__address-icon-marker
									.doc-widget__address-text Голосеевский, Саперная слободка
							.doc-widget__bottom
								.doc-schedule
									.doc-schedule__box
										.doc-schedule__box-day Пн - Пт:
										.doc-schedule__box-time 9:00 - 21:00
									.doc-schedule__box
										.doc-schedule__box-day Сб:
										.doc-schedule__box-time 9:00 - 19:00
									.doc-schedule__box
										.doc-schedule__box-day Вс:
										.doc-schedule__box-time выходной
								a(href="#").doc-widget__button Записаться в клинику
					.doc-widget.doc-widget_small
						.doc-widget__left
							a(href="#").doc-widget__img
								img(src="i/medium-img.png", alt="")
							.doc-widget__rating
								.doc-widget__value 4.9
								.doc-widget__stars
									.doc-widget__stars-active(style="width: 100%")
										div
							.doc-widget__review
								a(href="#").doc-widget__review-link 233 отзыва
						.doc-widget__right
							.doc-widget__main
								.doc-widget__title
									a(href="#").doc-widget__title-link Клиника Доктора Валихновского
								.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство
							.doc-widget__address.doc-widget__address-mod
								.doc-widget__address-box.doc-widget__address-box-place
									.doc-widget__address-icon.doc-widget__address-icon-place
									.doc-widget__address-text.doc-widget__address-text-dotted
										div г. Киев, пр. Науки, 30
								.doc-widget__address-box.doc-widget__address-box-metro
									.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
									.doc-widget__address-text Димеевская
								.doc-widget__address-box.doc-widget__address-box-marker
									.doc-widget__address-icon.doc-widget__address-icon-marker
									.doc-widget__address-text Голосеевский, Саперная слободка
							.doc-widget__bottom
								.doc-schedule
									.doc-schedule__box
										.doc-schedule__box-day Пн - Пт:
										.doc-schedule__box-time 9:00 - 21:00
									.doc-schedule__box
										.doc-schedule__box-day Сб:
										.doc-schedule__box-time 9:00 - 19:00
									.doc-schedule__box
										.doc-schedule__box-day Вс:
										.doc-schedule__box-time выходной
								a(href="#").doc-widget__button Записаться в клинику
			.doc-widgets__small
				.doc-widgets__title Стандартный компактный список(существующий размер)
				.doc-widget.doc-widget_small
					.doc-widget__logo
						img(src="i/widget-logo.png", alt="")
					.doc-widget__left
						a(href="#").doc-widget__img
							img(src="i/medium-img.png", alt="")
						.doc-widget__rating
							.doc-widget__value 4.9
							.doc-widget__stars
								.doc-widget__stars-active(style="width: 100%")
									div
						.doc-widget__review
							a(href="#").doc-widget__review-link 233 отзыва
					.doc-widget__right
						.doc-widget__main
							.doc-widget__title
								a(href="#").doc-widget__title-link Клиника Доктора Валихновского
							.doc-widget__tags Терапия, Урология, Эндокринология, Акушерство
						.doc-widget__address.doc-widget__address-mod
							.doc-widget__address-box.doc-widget__address-box-place
								.doc-widget__address-icon.doc-widget__address-icon-place
								.doc-widget__address-text.doc-widget__address-text-dotted
									div г. Киев, пр. Науки, 30
							.doc-widget__address-box.doc-widget__address-box-metro
								.doc-widget__address-icon.doc-widget__address-icon-metro.doc-widget__address-icon-metro-blue
								.doc-widget__address-text Димеевская
							.doc-widget__address-box.doc-widget__address-box-marker
								.doc-widget__address-icon.doc-widget__address-icon-marker
								.doc-widget__address-text Голосеевский, Саперная слободка
						.doc-widget__bottom
							.doc-schedule
								.doc-schedule__box
									.doc-schedule__box-day Пн - Пт:
									.doc-schedule__box-time 9:00 - 21:00
								.doc-schedule__box
									.doc-schedule__box-day Сб:
									.doc-schedule__box-time 9:00 - 19:00
								.doc-schedule__box
									.doc-schedule__box-day Вс:
									.doc-schedule__box-time выходной
							a(href="#").doc-widget__button Записаться в клинику
			.doc-widgets__small
				.doc-widgets__title Тизер (600px)
				.doc-teaser
					.doc-teaser__logo
						img(src="i/widget-logo.png", alt="")
					a(href="#").doc-teaser__img
						img(src="i/compact-img.png", alt="")
					.doc-teaser__right
						a(href="#").doc-teaser__button Записаться в клинику
					.doc-teaser__main
						.doc-teaser__title
							a(href="#").doc-teaser__title-link Медицинская сеть “Добробут”
						.doc-teaser__tags Терапия, Урология,Эндокринология.
						.doc-teaser__info
							.doc-teaser__rating
								.doc-teaser__value 4.9
								.doc-teaser__stars
									.doc-teaser__stars-active(style="width: 100%")
										div
							.doc-teaser__review
								a(href="#").doc-teaser__review-link 155 отзывов
			.doc-widgets__small
				.doc-widgets__title Тизер (300px)
				.doc-teaser.doc-teaser_small
					.doc-teaser__logo
						img(src="i/widget-logo.png", alt="")
					a(href="#").doc-teaser__img
						img(src="i/compact-img.png", alt="")
					.doc-teaser__main
						.doc-teaser__title
							a(href="#").doc-teaser__title-link Медицинская сеть “Добробут”
						.doc-teaser__right
							a(href="#").doc-teaser__button Записаться
						.doc-teaser__tags Терапия, Урология,Эндокринология.
						.doc-teaser__info
							.doc-teaser__rating
								.doc-teaser__value 4.9
								.doc-teaser__stars
									.doc-teaser__stars-active(style="width: 100%")
										div
		.doc-widgets__right
			.doc-widgets__compacts
				.doc-widgets__compact
					.doc-widgets__title Компактный (240px)
					.doc-compact
						.doc-compact__logo
							img(src="i/widget-logo.png", alt="")
						.doc-compact__main
							.doc-compact__left
								a(href="#").doc-compact__img
									img(src="i/compact-img.png", alt="")
								.doc-compact__review
									a(href="#").doc-compact__review-link 233 отзыва
							.doc-compact__right
								.doc-compact__title
									a(href="#").doc-compact__title-link Медицинская сеть “Добробут”
								.doc-compact__text Терапия, Урология, Эндокринология, Гинекология
								.doc-compact__rating
									.doc-compact__value 4.9
									.doc-compact__stars
										.doc-compact__stars-active(style="width: 100%")
											div
							.doc-compact__bottom
								.doc-compact__button Записаться в клинику
				.doc-widgets__compact
					.doc-widgets__title Компактный (240px)
					.doc-compact
						.doc-compact__logo
							img(src="i/widget-logo.png", alt="")
						.doc-compact__main
							.doc-compact__left
								a(href="#").doc-compact__img
									img(src="i/compact-img.png", alt="")
								.doc-compact__review
									a(href="#").doc-compact__review-link 233 отзыва
							.doc-compact__right
								.doc-compact__title
									a(href="#").doc-compact__title-link Медицинская сеть “Добробут”
								.doc-compact__text Терапия, Урология, Эндокринология, Гинекология
								.doc-compact__rating
									.doc-compact__value 4.9
									.doc-compact__stars
										.doc-compact__stars-active(style="width: 100%")
											div
							.doc-compact__bottom
								.doc-compact__button Записаться в клинику
						.doc-compact__comments
							.doc-compact__comment
								.doc-compact__comment-name Карина
								.doc-compact__comment-date 21.01.2015
								.doc-compact__comment-text Небольшая клиника, там вполне комфортно, молодой, хороший персонал.
								.doc-compact__likebox.doc-compact__likebox-like
									.doc-compact__likebox-icon
									.doc-compact__likebox-text Рекомендует клинику
				.doc-widgets__compact
					.doc-widgets__title Компактный (240px)
					.doc-compact-list
						.doc-compact
							.doc-compact__logo
								img(src="i/widget-logo.png", alt="")
							.doc-compact__main
								.doc-compact__left
									a(href="#").doc-compact__img
										img(src="i/compact-img.png", alt="")
									.doc-compact__review
										a(href="#").doc-compact__review-link 233 отзыва
								.doc-compact__right
									.doc-compact__title
										a(href="#").doc-compact__title-link Медицинская сеть “Добробут”
									.doc-compact__text Терапия, Урология, Эндокринология...
										a(href="#").doc-compact__link еще 17
									.doc-compact__rating
										.doc-compact__value 4.9
										.doc-compact__stars
											.doc-compact__stars-active(style="width: 100%")
												div
								.doc-compact__bottom
									a(href="#").doc-compact__button Записаться в клинику
						.doc-compact
							.doc-compact__main
								.doc-compact__left
									a(href="#").doc-compact__img
										img(src="i/compact-img.png", alt="")
									.doc-compact__review
										a(href="#").doc-compact__review-link 233 отзыва
								.doc-compact__right
									.doc-compact__title
										a(href="#").doc-compact__title-link Медицинская сеть “Добробут”
									.doc-compact__text Терапия, Урология, Эндокринология...
										a(href="#").doc-compact__link еще 17
									.doc-compact__rating
										.doc-compact__value 4.9
										.doc-compact__stars
											.doc-compact__stars-active(style="width: 100%")
												div
								.doc-compact__bottom
									a(href="#").doc-compact__button Записаться в клинику
						.doc-compact
							.doc-compact__main
								.doc-compact__left
									a(href="#").doc-compact__img
										img(src="i/compact-img.png", alt="")
									.doc-compact__review
										a(href="#").doc-compact__review-link 233 отзыва
								.doc-compact__right
									.doc-compact__title
										a(href="#").doc-compact__title-link Медицинская сеть “Добробут”
									.doc-compact__text Терапия, Урология, Эндокринология...
										a(href="#").doc-compact__link еще 17
									.doc-compact__rating
										.doc-compact__value 4.9
										.doc-compact__stars
											.doc-compact__stars-active(style="width: 100%")
												div
								.doc-compact__bottom
									a(href="#").doc-compact__button Записаться в клинику
			.doc-widgets__smalls
				.doc-widgets__small
					.doc-widgets__title Компактный (320px)
					.doc-compact.doc-compact_large
						.doc-compact__logo
							img(src="i/widget-logo.png", alt="")
						.doc-compact__main
							.doc-compact__left
								a(href="#").doc-compact__img
									img(src="img/compact-img.png", alt="")
							.doc-compact__right
								.doc-compact__title
									a(href="#").doc-compact__title-link Медицинская сеть “Добробут”
								.doc-compact__text Терапия, Урология, Эндокринология, Гинекология
								.doc-compact__rating
									.doc-compact__value 4.9 
									.doc-compact__stars
										.doc-compact__stars-active(style="width: 100%")
											div 
								.doc-compact__review
									a(href="#").doc-compact__review-link 233 отзыва
							.doc-compact__bottom
								.doc-compact__button Записаться в клинику
				.doc-widgets__small
					.doc-widgets__title Компактный (320px)
					.doc-compact.doc-compact_large
						.doc-compact__logo
							img(src="i/widget-logo.png", alt="")
						.doc-compact__main
							.doc-compact__left
								a(href="#").doc-compact__img
									img(src="i/compact-img.png", alt="")
							.doc-compact__right
								.doc-compact__title
									a(href="#").doc-compact__title-link Медицинская сеть “Добробут”
								.doc-compact__text Терапия, Урология, Эндокринология, Гинекология
								.doc-compact__rating
									.doc-compact__value 4.9
									.doc-compact__stars
										.doc-compact__stars-active(style="width: 100%")
											div
								.doc-compact__review
									a(href="#").doc-compact__review-link 233 отзыва
							.doc-compact__bottom
								.doc-compact__button Записаться в клинику
						.doc-compact__comments
							.doc-compact__comment
								.doc-compact__comment-name Карина
								.doc-compact__comment-date 21.01.2015
								.doc-compact__comment-text Небольшая клиника, там вполне комфортно, молодой, хороший персонал.
								.doc-compact__likebox.doc-compact__likebox-like
									.doc-compact__likebox-icon
									.doc-compact__likebox-text Рекомендует клинику