// spritePosition($sprite, $deltaX = null, $deltaY = null){
//     @if($deltaX){
//         background-position: ($sprite[2] + $deltaX) ($sprite[3] + $deltaY);
//     }@else{
//         background-position: $sprite[2] $sprite[3];
//     }
// }