/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$action_label_ru_name = 'action_label_ru';
$action_label_ru_x = 0px;
$action_label_ru_y = 0px;
$action_label_ru_offset_x = 0px;
$action_label_ru_offset_y = 0px;
$action_label_ru_width = 78px;
$action_label_ru_height = 78px;
$action_label_ru_total_width = 341px;
$action_label_ru_total_height = 294px;
$action_label_ru_image = '/i/sprites-general.png';
$action_label_ru = 0px 0px 0px 0px 78px 78px 341px 294px '/i/sprites-general.png' 'action_label_ru';
$action_label_uk_name = 'action_label_uk';
$action_label_uk_x = 98px;
$action_label_uk_y = 0px;
$action_label_uk_offset_x = -98px;
$action_label_uk_offset_y = 0px;
$action_label_uk_width = 78px;
$action_label_uk_height = 78px;
$action_label_uk_total_width = 341px;
$action_label_uk_total_height = 294px;
$action_label_uk_image = '/i/sprites-general.png';
$action_label_uk = 98px 0px -98px 0px 78px 78px 341px 294px '/i/sprites-general.png' 'action_label_uk';
$arrows_down1_name = 'arrows_down1';
$arrows_down1_x = 214px;
$arrows_down1_y = 278px;
$arrows_down1_offset_x = -214px;
$arrows_down1_offset_y = -278px;
$arrows_down1_width = 11px;
$arrows_down1_height = 10px;
$arrows_down1_total_width = 341px;
$arrows_down1_total_height = 294px;
$arrows_down1_image = '/i/sprites-general.png';
$arrows_down1 = 214px 278px -214px -278px 11px 10px 341px 294px '/i/sprites-general.png' 'arrows_down1';
$arrows_down2_name = 'arrows_down2';
$arrows_down2_x = 179px;
$arrows_down2_y = 152px;
$arrows_down2_offset_x = -179px;
$arrows_down2_offset_y = -152px;
$arrows_down2_width = 24px;
$arrows_down2_height = 21px;
$arrows_down2_total_width = 341px;
$arrows_down2_total_height = 294px;
$arrows_down2_image = '/i/sprites-general.png';
$arrows_down2 = 179px 152px -179px -152px 24px 21px 341px 294px '/i/sprites-general.png' 'arrows_down2';
$arrows_up1_name = 'arrows_up1';
$arrows_up1_x = 326px;
$arrows_up1_y = 144px;
$arrows_up1_offset_x = -326px;
$arrows_up1_offset_y = -144px;
$arrows_up1_width = 15px;
$arrows_up1_height = 14px;
$arrows_up1_total_width = 341px;
$arrows_up1_total_height = 294px;
$arrows_up1_image = '/i/sprites-general.png';
$arrows_up1 = 326px 144px -326px -144px 15px 14px 341px 294px '/i/sprites-general.png' 'arrows_up1';
$calendar_name = 'calendar';
$calendar_x = 326px;
$calendar_y = 0px;
$calendar_offset_x = -326px;
$calendar_offset_y = 0px;
$calendar_width = 15px;
$calendar_height = 17px;
$calendar_total_width = 341px;
$calendar_total_height = 294px;
$calendar_image = '/i/sprites-general.png';
$calendar = 326px 0px -326px 0px 15px 17px 341px 294px '/i/sprites-general.png' 'calendar';
$checkbox_name = 'checkbox';
$checkbox_x = 326px;
$checkbox_y = 280px;
$checkbox_offset_x = -326px;
$checkbox_offset_y = -280px;
$checkbox_width = 13px;
$checkbox_height = 13px;
$checkbox_total_width = 341px;
$checkbox_total_height = 294px;
$checkbox_image = '/i/sprites-general.png';
$checkbox = 326px 280px -326px -280px 13px 13px 341px 294px '/i/sprites-general.png' 'checkbox';
$checkbox_checked_name = 'checkbox_checked';
$checkbox_checked_x = 326px;
$checkbox_checked_y = 247px;
$checkbox_checked_offset_x = -326px;
$checkbox_checked_offset_y = -247px;
$checkbox_checked_width = 13px;
$checkbox_checked_height = 13px;
$checkbox_checked_total_width = 341px;
$checkbox_checked_total_height = 294px;
$checkbox_checked_image = '/i/sprites-general.png';
$checkbox_checked = 326px 247px -326px -247px 13px 13px 341px 294px '/i/sprites-general.png' 'checkbox_checked';
$close_white_16_name = 'close_white_16';
$close_white_16_x = 230px;
$close_white_16_y = 245px;
$close_white_16_offset_x = -230px;
$close_white_16_offset_y = -245px;
$close_white_16_width = 13px;
$close_white_16_height = 13px;
$close_white_16_total_width = 341px;
$close_white_16_total_height = 294px;
$close_white_16_image = '/i/sprites-general.png';
$close_white_16 = 230px 245px -230px -245px 13px 13px 341px 294px '/i/sprites-general.png' 'close_white_16';
$date_grid_name = 'date_grid';
$date_grid_x = 181px;
$date_grid_y = 278px;
$date_grid_offset_x = -181px;
$date_grid_offset_y = -278px;
$date_grid_width = 13px;
$date_grid_height = 13px;
$date_grid_total_width = 341px;
$date_grid_total_height = 294px;
$date_grid_image = '/i/sprites-general.png';
$date_grid = 181px 278px -181px -278px 13px 13px 341px 294px '/i/sprites-general.png' 'date_grid';
$dcoma_name = 'dcoma';
$dcoma_x = 0px;
$dcoma_y = 152px;
$dcoma_offset_x = 0px;
$dcoma_offset_y = -152px;
$dcoma_width = 32px;
$dcoma_height = 26px;
$dcoma_total_width = 341px;
$dcoma_total_height = 294px;
$dcoma_image = '/i/sprites-general.png';
$dcoma = 0px 152px 0px -152px 32px 26px 341px 294px '/i/sprites-general.png' 'dcoma';
$district_name = 'district';
$district_x = 72px;
$district_y = 278px;
$district_offset_x = -72px;
$district_offset_y = -278px;
$district_width = 16px;
$district_height = 16px;
$district_total_width = 341px;
$district_total_height = 294px;
$district_image = '/i/sprites-general.png';
$district = 72px 278px -72px -278px 16px 16px 341px 294px '/i/sprites-general.png' 'district';
$expand_map_name = 'expand_map';
$expand_map_x = 263px;
$expand_map_y = 152px;
$expand_map_offset_x = -263px;
$expand_map_offset_y = -152px;
$expand_map_width = 20px;
$expand_map_height = 18px;
$expand_map_total_width = 341px;
$expand_map_total_height = 294px;
$expand_map_image = '/i/sprites-general.png';
$expand_map = 263px 152px -263px -152px 20px 18px 341px 294px '/i/sprites-general.png' 'expand_map';
$favorite2_name = 'favorite2';
$favorite2_x = 194px;
$favorite2_y = 245px;
$favorite2_offset_x = -194px;
$favorite2_offset_y = -245px;
$favorite2_width = 16px;
$favorite2_height = 13px;
$favorite2_total_width = 341px;
$favorite2_total_height = 294px;
$favorite2_image = '/i/sprites-general.png';
$favorite2 = 194px 245px -194px -245px 16px 13px 341px 294px '/i/sprites-general.png' 'favorite2';
$favorite2_favored_name = 'favorite2_favored';
$favorite2_favored_x = 158px;
$favorite2_favored_y = 245px;
$favorite2_favored_offset_x = -158px;
$favorite2_favored_offset_y = -245px;
$favorite2_favored_width = 16px;
$favorite2_favored_height = 13px;
$favorite2_favored_total_width = 341px;
$favorite2_favored_total_height = 294px;
$favorite2_favored_image = '/i/sprites-general.png';
$favorite2_favored = 158px 245px -158px -245px 16px 13px 341px 294px '/i/sprites-general.png' 'favorite2_favored';
$finder_aim_name = 'finder_aim';
$finder_aim_x = 0px;
$finder_aim_y = 198px;
$finder_aim_offset_x = 0px;
$finder_aim_offset_y = -198px;
$finder_aim_width = 27px;
$finder_aim_height = 27px;
$finder_aim_total_width = 341px;
$finder_aim_total_height = 294px;
$finder_aim_image = '/i/sprites-general.png';
$finder_aim = 0px 198px 0px -198px 27px 27px 341px 294px '/i/sprites-general.png' 'finder_aim';
$finder_clinic_name = 'finder_clinic';
$finder_clinic_x = 196px;
$finder_clinic_y = 108px;
$finder_clinic_offset_x = -196px;
$finder_clinic_offset_y = -108px;
$finder_clinic_width = 28px;
$finder_clinic_height = 24px;
$finder_clinic_total_width = 341px;
$finder_clinic_total_height = 294px;
$finder_clinic_image = '/i/sprites-general.png';
$finder_clinic = 196px 108px -196px -108px 28px 24px 341px 294px '/i/sprites-general.png' 'finder_clinic';
$finder_doctor_name = 'finder_doctor';
$finder_doctor_x = 47px;
$finder_doctor_y = 198px;
$finder_doctor_offset_x = -47px;
$finder_doctor_offset_y = -198px;
$finder_doctor_width = 24px;
$finder_doctor_height = 27px;
$finder_doctor_total_width = 341px;
$finder_doctor_total_height = 294px;
$finder_doctor_image = '/i/sprites-general.png';
$finder_doctor = 47px 198px -47px -198px 24px 27px 341px 294px '/i/sprites-general.png' 'finder_doctor';
$finder_location_name = 'finder_location';
$finder_location_x = 91px;
$finder_location_y = 198px;
$finder_location_offset_x = -91px;
$finder_location_offset_y = -198px;
$finder_location_width = 21px;
$finder_location_height = 27px;
$finder_location_total_width = 341px;
$finder_location_total_height = 294px;
$finder_location_image = '/i/sprites-general.png';
$finder_location = 91px 198px -91px -198px 21px 27px 341px 294px '/i/sprites-general.png' 'finder_location';
$green_clinic_name = 'green_clinic';
$green_clinic_x = 244px;
$green_clinic_y = 108px;
$green_clinic_offset_x = -244px;
$green_clinic_offset_y = -108px;
$green_clinic_width = 24px;
$green_clinic_height = 24px;
$green_clinic_total_width = 341px;
$green_clinic_total_height = 294px;
$green_clinic_image = '/i/sprites-general.png';
$green_clinic = 244px 108px -244px -108px 24px 24px 341px 294px '/i/sprites-general.png' 'green_clinic';
$green_doctor_name = 'green_doctor';
$green_doctor_x = 52px;
$green_doctor_y = 152px;
$green_doctor_offset_x = -52px;
$green_doctor_offset_y = -152px;
$green_doctor_width = 24px;
$green_doctor_height = 24px;
$green_doctor_total_width = 341px;
$green_doctor_total_height = 294px;
$green_doctor_image = '/i/sprites-general.png';
$green_doctor = 52px 152px -52px -152px 24px 24px 341px 294px '/i/sprites-general.png' 'green_doctor';
$info_name = 'info';
$info_x = 326px;
$info_y = 72px;
$info_offset_x = -326px;
$info_offset_y = -72px;
$info_width = 15px;
$info_height = 15px;
$info_total_width = 341px;
$info_total_height = 294px;
$info_image = '/i/sprites-general.png';
$info = 326px 72px -326px -72px 15px 15px 341px 294px '/i/sprites-general.png' 'info';
$like_name = 'like';
$like_x = 138px;
$like_y = 152px;
$like_offset_x = -138px;
$like_offset_y = -152px;
$like_width = 21px;
$like_height = 24px;
$like_total_width = 341px;
$like_total_height = 294px;
$like_image = '/i/sprites-general.png';
$like = 138px 152px -138px -152px 21px 24px 341px 294px '/i/sprites-general.png' 'like';
$location_name = 'location';
$location_x = 326px;
$location_y = 107px;
$location_offset_x = -326px;
$location_offset_y = -107px;
$location_width = 13px;
$location_height = 17px;
$location_total_width = 341px;
$location_total_height = 294px;
$location_image = '/i/sprites-general.png';
$location = 326px 107px -326px -107px 13px 17px 341px 294px '/i/sprites-general.png' 'location';
$metro_blue_name = 'metro_blue';
$metro_blue_x = 0px;
$metro_blue_y = 245px;
$metro_blue_offset_x = 0px;
$metro_blue_offset_y = -245px;
$metro_blue_width = 20px;
$metro_blue_height = 13px;
$metro_blue_total_width = 341px;
$metro_blue_total_height = 294px;
$metro_blue_image = '/i/sprites-general.png';
$metro_blue = 0px 245px 0px -245px 20px 13px 341px 294px '/i/sprites-general.png' 'metro_blue';
$metro_default_name = 'metro_default';
$metro_default_x = 40px;
$metro_default_y = 245px;
$metro_default_offset_x = -40px;
$metro_default_offset_y = -245px;
$metro_default_width = 20px;
$metro_default_height = 13px;
$metro_default_total_width = 341px;
$metro_default_total_height = 294px;
$metro_default_image = '/i/sprites-general.png';
$metro_default = 40px 245px -40px -245px 20px 13px 341px 294px '/i/sprites-general.png' 'metro_default';
$metro_green_name = 'metro_green';
$metro_green_x = 80px;
$metro_green_y = 245px;
$metro_green_offset_x = -80px;
$metro_green_offset_y = -245px;
$metro_green_width = 20px;
$metro_green_height = 13px;
$metro_green_total_width = 341px;
$metro_green_total_height = 294px;
$metro_green_image = '/i/sprites-general.png';
$metro_green = 80px 245px -80px -245px 20px 13px 341px 294px '/i/sprites-general.png' 'metro_green';
$metro_red_name = 'metro_red';
$metro_red_x = 271px;
$metro_red_y = 198px;
$metro_red_offset_x = -271px;
$metro_red_offset_y = -198px;
$metro_red_width = 20px;
$metro_red_height = 13px;
$metro_red_total_width = 341px;
$metro_red_total_height = 294px;
$metro_red_image = '/i/sprites-general.png';
$metro_red = 271px 198px -271px -198px 20px 13px 341px 294px '/i/sprites-general.png' 'metro_red';
$modal_close_name = 'modal_close';
$modal_close_x = 223px;
$modal_close_y = 152px;
$modal_close_offset_x = -223px;
$modal_close_offset_y = -152px;
$modal_close_width = 20px;
$modal_close_height = 21px;
$modal_close_total_width = 341px;
$modal_close_total_height = 294px;
$modal_close_image = '/i/sprites-general.png';
$modal_close = 223px 152px -223px -152px 20px 21px 341px 294px '/i/sprites-general.png' 'modal_close';
$navbar_cabinet_name = 'navbar_cabinet';
$navbar_cabinet_x = 326px;
$navbar_cabinet_y = 212px;
$navbar_cabinet_offset_x = -326px;
$navbar_cabinet_offset_y = -212px;
$navbar_cabinet_width = 13px;
$navbar_cabinet_height = 15px;
$navbar_cabinet_total_width = 341px;
$navbar_cabinet_total_height = 294px;
$navbar_cabinet_image = '/i/sprites-general.png';
$navbar_cabinet = 326px 212px -326px -212px 13px 15px 341px 294px '/i/sprites-general.png' 'navbar_cabinet';
$navbar_callback_name = 'navbar_callback';
$navbar_callback_x = 120px;
$navbar_callback_y = 245px;
$navbar_callback_offset_x = -120px;
$navbar_callback_offset_y = -245px;
$navbar_callback_width = 18px;
$navbar_callback_height = 13px;
$navbar_callback_total_width = 341px;
$navbar_callback_total_height = 294px;
$navbar_callback_image = '/i/sprites-general.png';
$navbar_callback = 120px 245px -120px -245px 18px 13px 341px 294px '/i/sprites-general.png' 'navbar_callback';
$navbar_favorites_name = 'navbar_favorites';
$navbar_favorites_x = 144px;
$navbar_favorites_y = 278px;
$navbar_favorites_offset_x = -144px;
$navbar_favorites_offset_y = -278px;
$navbar_favorites_width = 17px;
$navbar_favorites_height = 15px;
$navbar_favorites_total_width = 341px;
$navbar_favorites_total_height = 294px;
$navbar_favorites_image = '/i/sprites-general.png';
$navbar_favorites = 144px 278px -144px -278px 17px 15px 341px 294px '/i/sprites-general.png' 'navbar_favorites';
$navbar_pencil_name = 'navbar_pencil';
$navbar_pencil_x = 326px;
$navbar_pencil_y = 178px;
$navbar_pencil_offset_x = -326px;
$navbar_pencil_offset_y = -178px;
$navbar_pencil_width = 14px;
$navbar_pencil_height = 14px;
$navbar_pencil_total_width = 341px;
$navbar_pencil_total_height = 294px;
$navbar_pencil_image = '/i/sprites-general.png';
$navbar_pencil = 326px 178px -326px -178px 14px 14px 341px 294px '/i/sprites-general.png' 'navbar_pencil';
$navbar_phone_name = 'navbar_phone';
$navbar_phone_x = 326px;
$navbar_phone_y = 37px;
$navbar_phone_offset_x = -326px;
$navbar_phone_offset_y = -37px;
$navbar_phone_width = 15px;
$navbar_phone_height = 15px;
$navbar_phone_total_width = 341px;
$navbar_phone_total_height = 294px;
$navbar_phone_image = '/i/sprites-general.png';
$navbar_phone = 326px 37px -326px -37px 15px 15px 341px 294px '/i/sprites-general.png' 'navbar_phone';
$not_like_name = 'not_like';
$not_like_x = 96px;
$not_like_y = 152px;
$not_like_offset_x = -96px;
$not_like_offset_y = -152px;
$not_like_width = 22px;
$not_like_height = 24px;
$not_like_total_width = 341px;
$not_like_total_height = 294px;
$not_like_image = '/i/sprites-general.png';
$not_like = 96px 152px -96px -152px 22px 24px 341px 294px '/i/sprites-general.png' 'not_like';
$owl_next_name = 'owl_next';
$owl_next_x = 200px;
$owl_next_y = 198px;
$owl_next_offset_x = -200px;
$owl_next_offset_y = -198px;
$owl_next_width = 14px;
$owl_next_height = 23px;
$owl_next_total_width = 341px;
$owl_next_total_height = 294px;
$owl_next_image = '/i/sprites-general.png';
$owl_next = 200px 198px -200px -198px 14px 23px 341px 294px '/i/sprites-general.png' 'owl_next';
$owl_next_act_name = 'owl_next_act';
$owl_next_act_x = 288px;
$owl_next_act_y = 108px;
$owl_next_act_offset_x = -288px;
$owl_next_act_offset_y = -108px;
$owl_next_act_width = 14px;
$owl_next_act_height = 23px;
$owl_next_act_total_width = 341px;
$owl_next_act_total_height = 294px;
$owl_next_act_image = '/i/sprites-general.png';
$owl_next_act = 288px 108px -288px -108px 14px 23px 341px 294px '/i/sprites-general.png' 'owl_next_act';
$owl_prev_name = 'owl_prev';
$owl_prev_x = 132px;
$owl_prev_y = 198px;
$owl_prev_offset_x = -132px;
$owl_prev_offset_y = -198px;
$owl_prev_width = 14px;
$owl_prev_height = 23px;
$owl_prev_total_width = 341px;
$owl_prev_total_height = 294px;
$owl_prev_image = '/i/sprites-general.png';
$owl_prev = 132px 198px -132px -198px 14px 23px 341px 294px '/i/sprites-general.png' 'owl_prev';
$owl_prev_act_name = 'owl_prev_act';
$owl_prev_act_x = 166px;
$owl_prev_act_y = 198px;
$owl_prev_act_offset_x = -166px;
$owl_prev_act_offset_y = -198px;
$owl_prev_act_width = 14px;
$owl_prev_act_height = 23px;
$owl_prev_act_total_width = 341px;
$owl_prev_act_total_height = 294px;
$owl_prev_act_image = '/i/sprites-general.png';
$owl_prev_act = 166px 198px -166px -198px 14px 23px 341px 294px '/i/sprites-general.png' 'owl_prev_act';
$post_clinic_name = 'post_clinic';
$post_clinic_x = 108px;
$post_clinic_y = 278px;
$post_clinic_offset_x = -108px;
$post_clinic_offset_y = -278px;
$post_clinic_width = 16px;
$post_clinic_height = 16px;
$post_clinic_total_width = 341px;
$post_clinic_total_height = 294px;
$post_clinic_image = '/i/sprites-general.png';
$post_clinic = 108px 278px -108px -278px 16px 16px 341px 294px '/i/sprites-general.png' 'post_clinic';
$post_metro_name = 'post_metro';
$post_metro_x = 36px;
$post_metro_y = 278px;
$post_metro_offset_x = -36px;
$post_metro_offset_y = -278px;
$post_metro_width = 16px;
$post_metro_height = 16px;
$post_metro_total_width = 341px;
$post_metro_total_height = 294px;
$post_metro_image = '/i/sprites-general.png';
$post_metro = 36px 278px -36px -278px 16px 16px 341px 294px '/i/sprites-general.png' 'post_metro';
$post_service_name = 'post_service';
$post_service_x = 0px;
$post_service_y = 278px;
$post_service_offset_x = 0px;
$post_service_offset_y = -278px;
$post_service_width = 16px;
$post_service_height = 16px;
$post_service_total_width = 341px;
$post_service_total_height = 294px;
$post_service_image = '/i/sprites-general.png';
$post_service = 0px 278px 0px -278px 16px 16px 341px 294px '/i/sprites-general.png' 'post_service';
$rating_icon_big_name = 'rating_icon_big';
$rating_icon_big_x = 130px;
$rating_icon_big_y = 98px;
$rating_icon_big_offset_x = -130px;
$rating_icon_big_offset_y = -98px;
$rating_icon_big_width = 32px;
$rating_icon_big_height = 30px;
$rating_icon_big_total_width = 341px;
$rating_icon_big_total_height = 294px;
$rating_icon_big_image = '/i/sprites-general.png';
$rating_icon_big = 130px 98px -130px -98px 32px 30px 341px 294px '/i/sprites-general.png' 'rating_icon_big';
$search_name = 'search';
$search_x = 234px;
$search_y = 198px;
$search_offset_x = -234px;
$search_offset_y = -198px;
$search_width = 17px;
$search_height = 17px;
$search_total_width = 341px;
$search_total_height = 294px;
$search_image = '/i/sprites-general.png';
$search = 234px 198px -234px -198px 17px 17px 341px 294px '/i/sprites-general.png' 'search';
$share_fb_name = 'share_fb';
$share_fb_x = 0px;
$share_fb_y = 98px;
$share_fb_offset_x = 0px;
$share_fb_offset_y = -98px;
$share_fb_width = 110px;
$share_fb_height = 34px;
$share_fb_total_width = 341px;
$share_fb_total_height = 294px;
$share_fb_image = '/i/sprites-general.png';
$share_fb = 0px 98px 0px -98px 110px 34px 341px 294px '/i/sprites-general.png' 'share_fb';
$share_gp_name = 'share_gp';
$share_gp_x = 196px;
$share_gp_y = 54px;
$share_gp_offset_x = -196px;
$share_gp_offset_y = -54px;
$share_gp_width = 110px;
$share_gp_height = 34px;
$share_gp_total_width = 341px;
$share_gp_total_height = 294px;
$share_gp_image = '/i/sprites-general.png';
$share_gp = 196px 54px -196px -54px 110px 34px 341px 294px '/i/sprites-general.png' 'share_gp';
$share_tw_name = 'share_tw';
$share_tw_x = 196px;
$share_tw_y = 0px;
$share_tw_offset_x = -196px;
$share_tw_offset_y = 0px;
$share_tw_width = 110px;
$share_tw_height = 34px;
$share_tw_total_width = 341px;
$share_tw_total_height = 294px;
$share_tw_image = '/i/sprites-general.png';
$share_tw = 196px 0px -196px 0px 110px 34px 341px 294px '/i/sprites-general.png' 'share_tw';
$square_name = 'square';
$square_x = 263px;
$square_y = 245px;
$square_offset_x = -263px;
$square_offset_y = -245px;
$square_width = 13px;
$square_height = 13px;
$square_total_width = 341px;
$square_total_height = 294px;
$square_image = '/i/sprites-general.png';
$square = 263px 245px -263px -245px 13px 13px 341px 294px '/i/sprites-general.png' 'square';
$spritesheet_width = 341px;
$spritesheet_height = 294px;
$spritesheet_image = '/i/sprites-general.png';
$spritesheet_sprites = $action_label_ru $action_label_uk $arrows_down1 $arrows_down2 $arrows_up1 $calendar $checkbox $checkbox_checked $close_white_16 $date_grid $dcoma $district $expand_map $favorite2 $favorite2_favored $finder_aim $finder_clinic $finder_doctor $finder_location $green_clinic $green_doctor $info $like $location $metro_blue $metro_default $metro_green $metro_red $modal_close $navbar_cabinet $navbar_callback $navbar_favorites $navbar_pencil $navbar_phone $not_like $owl_next $owl_next_act $owl_prev $owl_prev_act $post_clinic $post_metro $post_service $rating_icon_big $search $share_fb $share_gp $share_tw $square;
$spritesheet = 341px 294px '/i/sprites-general.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
