li.how-its-made__item.col-xs-4
    img.how-its-made__icon(src="/i/how-its-made-1.png", alt="")
    if content[0].title
        .how-its-made__title= content[0].title
    if content[0].description
        .how-its-made__description
            != content[0].description
li.how-its-made__item.col-xs-4
    img.how-its-made__icon(src="/i/how-its-made-2.png", alt="")
    if content[1].title
        .how-its-made__title= content[1].title
    if content[1].description
        .how-its-made__description
            != content[1].description
li.how-its-made__item.col-xs-4
    img.how-its-made__icon(src="/i/how-its-made-3.png", alt="")
    if content[2].title
        .how-its-made__title= content[2].title
    if content[2].description
        .how-its-made__description
            != content[2].description